[2015-11-19 21:25] esisa commented on #2995
I am getting the same crash on a Sony Z2(5.1.1) and a Nexus 4(5.1.1).

[2015-11-19 22:22] friedbunny commented on #3076
Or, the ideal approach would be to import your KML data using [the new Mapbox Studio](https://www.mapbox.com/studio), which would create and host vector tiles that you could then use efficiently/worry-free in a GL style.

[2015-11-19 22:25] incanus commented on #320
Clustering is done client-side and is indeed still active in the iOS SDK 1.x (which is not based on Mapbox GL or OpenGL). So you should be fine to go there. You’ll want to look at the clustering-related properties on RMMapView.

[2015-11-19 22:36] picciano commented on #2956
This problem seems to come and go with different builds.

This started worked reliably in https://github.com/mapbox/mapbox-gl-native/tree/85ab48636c0f0cb5b1ec5c5b6b64a41dbd188e06

But has since regressed again. It's not working well in ios-v3.0.0-pre.9 at all. In fact, of the releases, I have to go back to ios-v3.0.0-pre.2 to find good working version.

[2015-11-19 23:23] mikemorris commented on #898
Started work on this again today in [`898-visibility-hidden`](https://github.com/mapbox/mapbox-gl-native/tree/898-visibility-hidden) in light of needs for smaller binaries on Android and iOS.

[2015-11-19 23:30] Sh1mor1nka commented on #320
@incanus Sorry, but can you share reference where i can download latest SDK 1.x version?

[2015-11-19 23:32] mikemorris commented on #898
Not seeing any reduction in iOS binary size from this yet, possible because we're still building a static library? Might need to revisit https://github.com/mapbox/mapbox-gl-native/issues/828

[2015-11-19 23:58] incanus commented on #320
:point_right: https://github.com/mapbox/mapbox-ios-sdk-legacy

It's also available in CocoaPods as `Mapbox-iOS-SDK` up to version 1.6.1.

[2015-11-20 00:41] YBthebest commented on #2956
I can confirm this issue. I have exactly the same for the pre.9 build.

[2015-11-20 00:49] incanus commented on #2939
Doing some tile fetching work over in https://github.com/incanus/TileCacher, which also serves as a good test of delegate render completion callbacks and could be used in future as a benchmarker once we have it hooked up directly to an atomic offline source, since we can measure render time given known local data.

[2015-11-20 00:52] incanus commented on #2939
![](https://github.com/incanus/TileCacher/raw/master/demo.gif)

[2015-11-20 01:53] jfirebaugh opened #3082 "MapContext::update should not reset updateFlags wholesale"
This leads to fragile updates -- if some precondition needed by the update (like the style being loaded) is not met, then the flag gets reset and lost unless there is _also_ code at the point where the precondition becomes met that reinstates the flag.

Instead, we should check and reset flags on an individual basis.

[2015-11-20 02:09] jfirebaugh opened #3083 "make annotation tests strict"
The annotation tests currently require manual verification. Predictably, they regressed without me noticing (my fault).

We need to:

* Port [pixelmatch](https://github.com/mapbox/pixelmatch) to C++ (`pixelmatch-cpp`?) /cc @mourner
* Use it to verify expected rendering in the annotation tests (and possibly elsewhere)

[2015-11-20 02:28] vfaSonnt commented on #3031
@zugaldia thank for the reply. I think I found the problem.
It crash in this method when bitmap width and height are differrent.
[code]

But it can run on android os JELLY_BEAN
[code]
This is bitmap info.
![screen shot 2015-11-19 at 7 15 03 pm](https://cloud.githubusercontent.com/assets/12553442/11290374/c8dfbbda-8f68-11e5-8f99-51928dccba25.png)

[2015-11-20 02:36] jfirebaugh commented on #3037
Please try out https://github.com/mapbox/mapbox-gl-native/commit/afa04de15286cdfa1cedc756d8fbe46a42e319a5 (`master`) or https://github.com/mapbox/mapbox-gl-native/commit/462af73b7eab4b568779fc3a13adcca009db84e1 (`release-ios-v3.0.0`) -- I believe that resolves the remaining issue.

[2015-11-20 02:39] jfirebaugh opened #3084 "Rename `Map::setSprite`"
The correct name for this method is `Map::addPointAnnotationIcon`.

[2015-11-20 04:25] vns-cuong opened #3085 "Improve or customize InfoWindow"
Please tell me if we can display an info window like this in Android with Mapbox.
![unsupportedmapbox2](https://cloud.githubusercontent.com/assets/15936707/11292012/69245360-8f7a-11e5-866e-a8b043810a9f.png)
https://drive.google.com/file/d/0B4_M3f30IWv0Zm5NYm9ON05yTnM/view?usp=sharing

Thanks in advance.

[2015-11-20 06:39] 1ec5 commented on #1581
@kdgwill, `-[MGLMapViewDelegate mapView:regionDidChangeAnimated:]` is already available; it gets called for both programmatic and user-initiated region changes. It is possible to chain animations using that callback, but of course the completion handlers proposed here would be more convenient for that use case.

[2015-11-20 06:42] tobrun commented on #3085
@vns-cuong

## InfoWindowAdapter
You can use the [InfoWindowAdapter](https://github.com/mapbox/mapbox-gl-native/blob/master/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/views/MapView.java#L480) to achieve this effect. This interface will be called when you click on a Marker and allows you to adapt the contents to a View instead of the default InfoWindow.

#### Example
An example o

[2015-11-20 07:29] vns-cuong commented on #3085
@tobrun Great! Thanks so much :+1:

[2015-11-20 09:13] tobrun opened #3089 "Expose setBearing in MapView"
Needed for parity with iOS.
Noticed this when implementing inter app communications in Sirius.
They allow setting the bearing value through Android equivalent of an Intent Filter.

[2015-11-20 09:37] vns-cuong commented on #3085
@tobrun Please help me again!
Does iOs support it as well? Please give me some trace for it.

Thank you in advance.

[2015-11-20 09:51] artemp commented on #2926
@Zakay - yes, see above ^ . Still, to access variant internally stored value safely consider `visitor` pattern

[2015-11-20 10:21] YBthebest opened #3091 "Annotations not showed on the Map"
Hi,

I am initialising the map like this:
[code]
If I add an annotation directly here in viewDidLoad, like this:
[code]
It doesn't appear on the map.

If I use the CLLocationManager, it doesn't appear either.

But if I do:
[code]
There is an annotation. It does exist: it just isn't displayed.
[code]
What am I missing here? Is this a real bug or an implementation error from my part?

[2015-11-20 10:27] 1ec5 commented on #3091
This bug was most likely fixed in #2322, which will make it into the next release of the Mapbox iOS SDK. In the meantime, please refer to this workaround: https://github.com/mapbox/mapbox-gl-native/issues/2693#issuecomment-150090842.

[2015-11-20 10:27] #3091 closed

[2015-11-20 11:04] mourner commented on #3083
Do we have to test in C++? The test suite for Native runs in JS after all.

[2015-11-20 13:00] tobrun commented on #2616
Picking this up again

[2015-11-20 13:22] winkelsdorf commented on #2172
Seems to be an iOS9 Bug, have a look at the Callstack ;)

    UIApplication _handleNonLaunchSpecificActions:forScene:withTransitionContext:completion:]
    ** unhandled action -> <FBSSceneSnapshotAction:

That's an internal iOS API (UIApplication._handleNonLaunchSpecificActions) called from an internal framework, the FrontBoard Services Framework (FBS). FBSSceneSnapshotAction is obviously responsi

[2015-11-20 14:21] tobrun commented on #2616
@bleege @zugaldia:
I created another approach to this based on `ListActivity` implementation in the Android SDK.
Would love some :eyes: on this hence changing this afterwards could impact users.

[MapActivity](https://github.com/mapbox/mapbox-gl-native/blob/3bb1f10d60c570c2541335d974b0c8fd541e9cef/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/MapActivity.java) itself and implemente

[2015-11-20 14:26] kkaefer opened #3092 "Offset lines"
We should support offsetting lines as a paint property. The difference to `line-translate` is that it offsets the overall line, while this feature is about an offset perpendicular to the line.

[2015-11-20 14:34] #2658 closed

[2015-11-20 14:40] thiagogcm commented on #822
Any updates on this issue ?

[2015-11-20 14:47] tobrun opened #3094 "Style load failed event handling"
When loading a invalid style through `setStyleUrl` on Android, I'm seeing a log message indicating the style load failed but I'm not able to hook into that event to show an error message.

Is iOS SDK exposing this functionality?

cc @friedbunny @1ec5

[2015-11-20 14:48] afathman commented on #3031
In my tests:
It crashes with the signal 6 (SIGABRT) error on Samsung Galaxy S6 running 5.1.1.
On the Nexus 5 running 6.0 same thing.
On the GT-I9I90 running 4.4.2, the maps will display the markers, but every marker will use the first resource I loaded (any attempt at using another picture for a marker will ignore the new resource I gave it).

[2015-11-20 14:48] tobrun commented on #3085
@friedbunny
How can you achieve this on iOS?

[2015-11-20 15:42] Zakay commented on #3037
@jfirebaugh This seems to fix the case I mentioned in above post (re-adding an annotation when tile layer is fully loaded).

But can happen still when tile layer hasn't yet loaded fully. I have a test case, where I switch tile layer, and remove and re-add annotations. These annotations are now hidden and were not before.

(Its not related to this issue #1488, as I have a patch locally to re-add sp

[2015-11-20 16:07] friedbunny commented on #3085
iOS doesn't support this level of callout customization yet, though #3013 might add it.

For now on iOS, it's only possible to customize the title/subtitle, and the left/right accessory views. See [`-[MGLMapView mapView:leftCalloutAccessoryViewForAnnotation:]`](https://www.mapbox.com/ios-sdk/api/2.1.2/Protocols/MGLMapViewDelegate.html#//api/name/mapView:leftCalloutAccessoryViewForAnnotation:) and

[2015-11-20 16:07] #3085 closed

[2015-11-20 16:14] friedbunny commented on #2378
Fixed by #2472.

[2015-11-20 16:14] #2378 closed

[2015-11-20 16:21] friedbunny commented on #3094
#2762 covers this — core mbgl doesn't yet emit a `MapChangeDidFailLoadingMap` event (and style loading failure is one time that we should).

[2015-11-20 16:33] brunoabinader opened #3095 "Avoid loading style source if its layer(s) are not shown"
Given https://github.com/mapbox/mapbox-gl-styles/blob/master/styles/satellite-hybrid-v8.json as example of a style containing 2+ sources, if all layers related to a specific source are either disabled (e.g. due to class selections) or invisible, we should avoid _loading_ the style source entirely. This saves processing time and network bandwidth.

When the layers related to a specific style source

[2015-11-20 16:53] jfirebaugh commented on #3037
@Zakay, the original issue here is fixed. Can you please file a new issue, and include your test case?

[2015-11-20 17:12] mdakram commented on #1753
Any update on this ?

[2015-11-20 17:17] jfirebaugh commented on #3035
This would require the main thread to have a `RunLoop`. That's coming with #2909, but then it all happens on one thread so `invokeWithCallback` will be unnecessary.

[2015-11-20 17:17] #3035 closed

[2015-11-20 17:33] 1ec5 commented on #3092
This would’ve been useful for a map I was designing where streetlamps were two dotted lines, each offset from the street. The effect currently only works on streets with a certain orientation, but styling them as parallel lines would address that shortcoming:

![indoors](https://cloud.githubusercontent.com/assets/1231218/11232497/d377f104-8d68-11e5-9bd1-3618993c8752.png)

[2015-11-20 17:34] jfirebaugh commented on #3083
Yes, we don't want to write node bindings for every internal thing we test.

[2015-11-20 18:27] mikemorris commented on #3083
We would likely need https://github.com/mapbox/mapbox-gl-native/issues/2161 before we could test annotations through Node @mourner.

[2015-11-20 19:19] #3050 closed

[2015-11-20 20:54] zugaldia commented on #898
FWIW I just did a `make android` for both `master` and https://github.com/mapbox/mapbox-gl-native/tree/898-visibility-hidden and these are the results size-wise:

[code]

I see a smaller size (784,360 bytes less) or is there a better way to measure this impact?

[2015-11-20 23:25] 1ec5 commented on #3038
Setting the GLKView’s `layer.opaque = NO` was all that was required to make this work. Here’s an MGLMapView inside a vibrant+blurry UIVisualEffectView atop an AVPlayerLayer playing an MP4 movie:

![UIVisualEffectView](https://cloud.githubusercontent.com/assets/1231218/11314409/20cf0bd0-8f9a-11e5-88ab-fa2c19e59e0c.PNG)

[2015-11-20 23:54] 1ec5 commented on #2457
Instead of overloading `-mapView:regionWillChangeAnimated:`, I think it would be better to have a `-mapView:shouldChangeToCamera:animated:` that takes an additional MGLMapCamera object, so that the implementer can make an informed decision about the animation that will take place. Or, following NSAnimationDelegate in AppKit, we could pass in an MGLMapAnimation object that encapsulates all the know

[2015-11-20 23:55] 1ec5 commented on #2457
#3090 would serve as a model for this method.

[2015-11-21 01:18] #2394 closed

[2015-11-21 01:56] incanus commented on #2939
Coming along on this. Using this hack script for carrying over GL cache format to MBTiles:

https://gist.github.com/incanus/9a47fcb4863459c1f0bf

Pushed a few commits to the branch around more than just tile resources. Just about got the pieces connected and will be pushing a self-contained demo soon, likely with iOS prototype API.

[2015-11-21 17:54] bmeyers43 commented on #2995
@tobrun, since you are able to repro on at least some devices now, when do you think this will get assigned/fixed?

[2015-11-21 18:05] tobrun opened #3098 "Upgrade gradle plugin to 1.5.0"

[2015-11-22 14:54] franckt commented on #2840
Hi,
any news ?

[2015-11-22 14:58] tobrun commented on #3071
^ will be adding more commits as above in the upcoming days. Will wait with rebasing until validated.

[2015-11-22 18:03] jfirebaugh commented on #2840
No definite timeline available, but we're still working on the style API.

[2015-11-22 19:49] tobrun commented on #2995
Looking into this:
Will use android 4.2.2 on x86 (nexus 7 genymotion):

Used following build command:

I'm getting following recurring stacktraces:

Result after symbolicating:

The reference of NativeMapView InitializeDisplay in JNI refers to this
[code]

That will call the underlying code in native_map_view.cpp:
[code]

[2015-11-22 19:50] tobrun commented on #2995
A difference I'm noticing between the working genymotion images versus non-working are the GL version:

Also I found this #573 from @ljbade,
it indicates problems related to getting OpenGL ES 2.0 working on emulators.

[2015-11-23 08:53] tobrun commented on #3094
@friedbunny
Thank you for linking that, I was able to find the android equivalent:
[code]

Will close this issue down,
I remember a ticket already being opened related to adding the not implemented ones.

[2015-11-23 08:53] #3094 closed

[2015-11-23 09:17] tobrun commented on #2995
I'm putting above as a works as designed, the SDK requires a minimum version of `OpenGL ES 2.0`, we can't enforce this ourselves while running from the IDE but Google Play will filter out devices not having this requirement. The reason why that virtual machine is not able to use the host machine GPU is very strange to me. Need to reach out to Genymotion to get more information.

[2015-11-23 10:01] tobrun commented on #2995
After investigating my startup crash I'm back at square one.
I will try to approach each mentioned problem above individually:

@iCyberon, @vkurchatkin: Could you add the stack trace @ljbade requested?
Without that trace it will be difficult to investigate the issue.

@bmeyers43: I stumbled on your [thread](http://forums.xamarin.com/discussion/56142/mapbox-sdk-component-crashes-on-launch-with-egl-

[2015-11-23 10:20] MrChaz commented on #3031
I'm seeing the same issue on 2.2.0
As best as I can tell it's a issue with truncating the width and height to an int.
MapView.java loadSprite() line 1664 does width / scale and truncates to int
SpriteImage.cpp line 17 then does width * scale

with a 590x290 image on a device with scale of 3.5 3 pixels are lost in the height causing an exception on line 25.

[2015-11-23 11:01] vkurchatkin commented on #2995
Here it goes: https://gist.github.com/vkurchatkin/1652ed747de48721ae80

[2015-11-23 11:37] Zakay commented on #3037
@jfirebaugh just got it working with removing and re-adding them with our own local patch. We of course look forwards remove our own patch when #1488 is fixed. Thanks for your solving this issue so quickly! Going to submit to Apple today, major release!

[2015-11-23 11:38] 1ec5 commented on #3043
@tkrajacic, please take a look at the [1ec5-osx branch](https://github.com/mapbox/mapbox-gl-native/tree/1ec5-osx) I just pushed. It adds a new MGLMapView class analogous to the MGLMapView for iOS, as well as a pure Cocoa osxapp. It’s exceptionally rough around the edges: in particular, it tends to spin up the fan even when idle, and annotations and the user dot aren’t yet implemented. But if you’r

[2015-11-23 11:46] tkrajacic commented on #3043
Wow, you guys are absolutely awesome! Setting aside even a few minutes to work on something that is clearly not the focus at all is ... well incredible. I'll buy you all a beer should I be in the area ;)

I'll take it for a spin, but I'm swamped with other work at the moment.
Thanks again!

[2015-11-23 12:15] tkrajacic commented on #3043
Had to include SystemConfiguration.framework as well and create a bridging-header since I am using Swift.
I am getting a lot of duplicate symbols error on linking though like:

    duplicate symbol _uv__udp_send in:
    .../libMapbox.a(udp.o)
    .../libMapbox.a(libuv_la-udp.o)

Seems that `make xpackage` should not include both object files (there is always a `libuv_la` variant for the duplicates

[2015-11-23 12:31] 1ec5 commented on #3043
I forgot to mention that Bitcode is enabled, in case you're still using Xcode 6.x. Not sure if that's related at all to this error, though.

[2015-11-23 12:36] tkrajacic commented on #3043
I am using latest Xcode 7.1.1

I thought Bitcode wasn't available for OS X targets. No setting in `Build Settings`

[2015-11-23 13:04] tobrun commented on #2995
@vkurchatkin

Thank you, this is the result after symbolicating the crash:

Build fingerprint: 'samsung/goya3gxx/goya3g:4.2.2/JDQ39/T111XXUAOE1:user/release-keys'
pid: 5147, tid: 5186, name: Map  >>> com.mapbox.mapboxgl.testapp <<<
signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr deadbaad
Stack frame #00  pc 0001ad02  /system/lib/libc.so
Stack frame #01  pc 000180a0  /system/lib/libc.so (abor

[2015-11-23 13:15] vkurchatkin commented on #2995
@tobrun but doesn't it happen AFTER `eglMakeCurrent` returns an error? this seems to be the root of the problem

[2015-11-23 13:32] n1n3b1t commented on #2995
Samsung Galaxy s4 5.1.1
[code]

[2015-11-23 14:06] tobrun commented on #2995
@vkurchatkin I believe you are right,

`eglMakeCurrent` is currently returning `EGL_BAD_ACCESS`

**From Romain Guy:**
Two possible reasons for this failure:

 - If ctx is current to some other thread, or if either draw or read are bound to contexts in another thread, an EGL_BAD_ACCESS error is generated.

- If binding ctx would exceed the number of current contexts of that client API type supporte

[2015-11-23 14:08] mappy-mobile opened #3099 "[iOS] Compass does not receive touch events if its frame changes"
If the user of the iOS framework changes the frame of the compass view (e.g. if part of the map is covered by UI elements) , the end user cannot tap on the compass to reset the north position.
The touch zone is still the default compass view position.

expected : update touch zone when changing compass view frame.

[2015-11-23 14:13] vkurchatkin commented on #2995
does this mean that nothing can be done about it?

[2015-11-23 15:28] tobrun commented on #3099
@mappy-mobile
is this issue related to Android or iOS?
In case of Android, how are you altering the location of the CompassView?
By using `mMapView.setCompassMargins(int left, int top, int right, int bottom)`?

[2015-11-23 16:01] mappy-mobile commented on #3099
@tobrun oh sorry I forgot to specify it's related to the iOS lib. I'm adding a label.

[2015-11-23 16:15] 1ec5 commented on #3043
Ah, you’re right. :smile:

[2015-11-23 16:45] 1ec5 commented on #3099
I don’t see anything that explicitly favors the compass tap gesture recognizer over the single tap gesture recognizer. On top of that, the compass tap recognizer should be attached to the compass view, not its container. An argument in favor of #1830 perhaps.

[2015-11-23 16:58] brunoabinader opened #3100 "Tile timestamp information in debug mode"
Besides tile identification and status, I believe it would be a nice feat to have the associated tile _timestamp_ information.

By _timestamp_ I refer to the time point used together with expiry date to calculate if the cached tile data is still valid.

/cc @mapbox/gl

[2015-11-23 17:31] incanus commented on #3099
We saw problems with this before related to a) constraints updating properly and b) taps on container vs. compass image as @1ec5 states. Also possibly related to clipping settings for the container vie.w

[2015-11-23 17:39] 1ec5 commented on #3099
It’s unlikely to be an issue with the constraints updating, though, because (unless I’m missing something) the compass still appears in the right place.

[2015-11-23 17:47] 1ec5 commented on #1041
I’m working on some changes that will unblock a better fix for this issue, including #3086.

[2015-11-23 17:50] 1ec5 commented on #3043
I’m not getting those warnings after a full `make clean && make distclean && rm -rf gyp/build/`. I did forget to mention that `-ObjC` is required in `OTHER_LD_FLAGS`, however.

[2015-11-23 18:16] tomtaylor opened #3101 "Prevent black flash when loading styles"
I've set a background colour on my `MGLMapView`, to the background of the Streets style, so it looks a little less jarring when loading. However, it still flashes black while loading the map for the first time. It'd be great if it could keep the background colour until the style is fully loaded.

[2015-11-23 18:25] 1ec5 commented on #3101
This would be fixed by #3096 I believe.

[2015-11-23 18:26] tomtaylor commented on #3101
Ah ha, thanks.

[2015-11-23 18:45] tomtaylor opened #3102 "Reloading a failed MGLMapView"
If a `MGLMapView` fails to load (due to not being able to fetch the styles, usually for network reasons), is there a recommended way of trying again, other than unsetting and setting the `styleURL`?

[2015-11-23 18:46] 1ec5 commented on #3102
If MGLMapView fails to load the style due to network issues, it uses Reachability to try again when the network connection comes back. Is that not working for you?

[2015-11-23 18:49] tomtaylor commented on #3102
I've seen situations where I end up with a blank, black map, and no way of explicitly retrying. Temporary DNS outages, etc. It might be handy to have an explicit method to retry for situations Reachability can't cover?

[2015-11-23 19:01] 1ec5 commented on #3102
A general-purpose reload method could be helpful, especially in light of the offline features that @incanus is working on for #584.

[2015-11-23 19:14] incanus commented on #3046
Also useful here is `git tag --sort=-v:refname` to combat the semantic versioning problem, but that still puts something like `ios-v3.0.0-pre.10` ahead of `ios-v3.0.0` final.

[2015-11-23 19:33] tomtaylor commented on #3102
Mostly for my own memory: to reproduce this, start a `MGLMapView` on a device in airplane mode, wait for it to log that the internet connection appears to be offline, and then disable airplane mode. The map doesn't attempt to load the style.

@1ec5 is this expected? I'd have thought Reachability would cover this.

[2015-11-23 19:34] tentrr-de opened #3103 "Annotation callout view dissappears when centering map within mapView:didSelectAnnotation delegate"
I am trying to center the map when the annotation image is clicked. However, `mapView:setCenterCoordinate:` call within the `didSelectAnnotation` delegate hides the annotation from the mapview.

[code]

[2015-11-23 19:35] tkrajacic commented on #3043
The cleaning before building did the trick and got rid of the duplicate symbols.
Now the view stays black though and the console displays `loading style failed: HTTP status code 401`.
ATS is disabled.
I tried a local URL, and a style URL from my mapbox account, but neither worked so far.
Where does the MGLMapView look for a style?

[2015-11-23 19:42] 1ec5 commented on #3043
MGLMapView supports style from various locations. If you designed a style in Mapbox Studio, the “style ID” that begins with mapbox:// should work. If you want to load a local style, a relative URL or one beginning with asset:// would be relative to your application’s Resources folder. (Drag the JSON file into your project’s Supporting Files group.)

If you’re using a Mapbox-hosted style, make sure

[2015-11-23 19:44] tkrajacic commented on #3043
Yeah I thought the access token still had to be set via environment variable. Setting it via the manager works now.

[2015-11-23 21:02] mikemorris commented on #2926
Ooh, is it possible that https://github.com/mapbox/geojson-vt-cpp/blob/v2.1.6.3/src/geojsonvt_convert.cpp#L301 is making an unsafe assumption that rings will never be deeply nested and should call `calcBBox(min, max, member.get<ProjectedGeometryContainer>());` instead of `calcRingBBox`?

[2015-11-23 22:05] incanus commented on #3046
We may want to grab something like [node-semver](https://github.com/npm/node-semver) as a packaging dependency rather than reinvent the wheel for version comparisons.

[2015-11-23 22:40] brewin opened #3104 "[Android] Double-tap zoom should not be called when quickzooming"
When trying to quickzoom out (double-tap and drag up), the double-tap gesture is detected and the map immediately zooms in. This makes it nearly impossibly to quickzoom out.

[2015-11-23 23:00] tobrun commented on #3104
@brewin: I believe you are referring this iOS feature https://github.com/mapbox/mapbox-gl-native/pull/2153?
Currently this is not yet supported on Android.

[2015-11-23 23:06] Sh1mor1nka opened #3105 "[ios] how do I use two annotation images?"
I'm trying to present 20 pins in with different images in viewDidLoad, actually i see only two pins on my map and this warnings in log.

[code]

how do i setting image:
[code]

iPhone 5 simulator, iOS 8.4, SDK version ios-v3.0.0-rc.1

[2015-11-23 23:08] brewin commented on #3104
Yes, that's the same feature. It actually does mostly work on Android, except for this small bug. I'm currently working on a fix for it.

[2015-11-23 23:09] incanus commented on #2939
Ok, as of 53aa43671b6b30ad94b30d9e16f0fc54878694e3 we have a rudimentary iOS API for interfacing with a singular MBTiles as so:

[code]

Lots to do here still, including:

- [ ] Build out core API for safely adding/removing multiple file sources (will get tricky with request cancellations)
- [ ] Automatic disabling of `DefaultFileSource` and associated attempted caching when offline. Seems to be c

[2015-11-23 23:11] tobrun commented on #3104
:+1:

[2015-11-23 23:19] incanus commented on #2939
A bit more about the MBTiles format thus far.

Right now I'm storing tiles in the `tiles` table per the spec.

All of the other GL resources are stored in `metadata`, which is the only other spec'd table in the schema, and which is well-suited for such assets as:

- It's just an indexed key-value store.
- These are not numerous resources (~10 rows).

Current system is just to naively prepend `gl_<

[2015-11-23 23:33] incanus commented on #2939
Some stats: the region above of 341 tiles (1 `z11` tile and all of its children down to `z15`, capable of rendering completely down to `z18`, our current framework max) is:

- About 100 sq km of area
- 352 database rows (341 tiles + 11 metadata assets)
- 22mb

This should take probably less than a minute to download on decent cellular data service.

This is not at all compressed, so this could be

[2015-11-23 23:40] incanus commented on #2939
Ok, performance concerns are alleviated now that I've:

- Removed SQLite debug logging.
- Built for `Release`.
- Turned off rendering debug.

I am feeling mostly good about the MBTiles format as the base for offline, given the above and the fact that it's easily writable. At very least, SQLite seems a shoe-in for the backing store regardless of schema. So I'm going to work next on the core C++ API

[2015-11-24 09:08] mappy-mobile commented on #3099
Yes I'm using explicit values to change the frame of the compass view, my point was only about tap events registered in the wrong bounds.

[2015-11-24 09:54] friedbunny commented on #3105
The `MGLAnnotationImage` portions of your code look fine, I'd guess there's something wrong with how you're trying to identify individual `listing` objects.

The marsh sprite warnings are unrelated (and should have been fixed in #1885).

[2015-11-24 11:03] tobrun opened #3107 "SpriteFactory.fromResource returns null for XML drawables"
Code that currently returns a `null` sprite for xml drawable `ic_flag`:
[code]
Step into that code:

[code]
It seems that decodeResource doesn't work for drawables defined in xml. It is trying to directly load the referenced file instead of loading the files referenced by the xml. See this [SO-post](http://stackoverflow.com/questions/8370316/android-decoderesource-returns-null-for-xml-bitmap-api-l

[2015-11-24 11:18] tobrun opened #3108 "SpriteFactory.fromDrawable crashes"
When trying to work around the issue mentioned in #3107 with:
[code]

It's crashing with:
[code]

I believe this issue is related to the usage of a VectorDrawable which was introduced in the stable version of Android Gradle Tools 1.5.0.

[2015-11-24 11:20] Sh1mor1nka commented on #3105
@friedbunny You were almost wright !)
My problem was that some annotations have the same coordinates, so MapBox should have feature to present stack of calloutViews if there are few annotations in one coordinate, because now i see only last annotation and it's callout.

[2015-11-24 11:20] YBthebest commented on #3091
Hi,

I added the new release but the issue is still there. Am I missing something?

Thanks a lot

[2015-11-24 11:23] tobrun commented on #3108
Just tried with a normal BitmapDrawable and it crashes.

[2015-11-24 11:29] tobrun commented on #3031
I have noticed this issue also, I created #3108, will close that one down in favor of this one:

Referencing symbolicated stacktrace from that issue:

[code]

[2015-11-24 11:29] tobrun commented on #3108
This is already being tracked in #3031, closing this down in favor of that one

[2015-11-24 11:41] tobrun commented on #2641
Will close this down for now, SDK was released and this would break compatibility.

[2015-11-24 11:41] #2641 closed

[2015-11-24 11:42] #3108 closed

[2015-11-24 15:08] Sh1mor1nka opened #3109 "[ios] Using different images for each annotation results crash"
here how i'm trying to use different images, also it can be the same images for annotations but at most they are different
[code]

here is error i got:

"Nov 24 16:57:40 CyberMac.berloga.lan Project[16143] <Error>: CGContextDrawImage: invalid context 0x0. This is a serious error. This application, or a library it uses, is using an invalid context  and is thereby contributing to an overall degradat

[2015-11-24 15:16] 1ec5 commented on #3099
OK, that explains it. MGLMapView intercepts tap events on the compass view's invisible container view with a gesture recognizer. I think #1830 is the way to go here; we just need to make the button trigger the action on touch down rather than touch up inside.

[2015-11-24 15:22] 1ec5 commented on #3091
Thanks for the report. This sounds like the regression we're tracking in #2956. In the meantime, the workaround above should work.

[2015-11-24 15:32] YBthebest commented on #3091
Yep it does work. The only thing that still doesn't work is the showAnnotations method, that seems to randomly zoom in somewhere, way too close to earth, not taking into account the annotations at all...

[2015-11-24 15:38] 1ec5 commented on #3109
What does `image` report its width and height as?

[2015-11-24 15:40] 1ec5 commented on #3109
Same with the other call to `+[UIImage imageNamed:reuseIdentifier:]` – can you verify that these images have nonzero area?

[2015-11-24 15:46] 1ec5 commented on #3091
Please open a separate bug about showAnnotations (with details on how to reproduce the issue). Thanks!

[2015-11-24 15:58] RomainQuidet commented on #3099
Hi,
Romain, from Mappy team, dedicated to mapbox SDK. I wonder why is there a container here for the compass ? It's a bit overkill for the memory. The compass view can itself handle the tap recognizer. And when not visible, the interaction can also be turned off with userInteractionEnabled property of the compass UIImageView. So when users modify the compass frame.

What happened here is that the

[2015-11-24 16:05] YBthebest opened #3110 "[iOS] showAnnotations not working with two points"
When I add multiple annotations using dispatch_asynch, all the annotations are correctly added to the Map, and the basic zoom level shows the whole world map.

![simulator screen shot 24 nov 2015 17 03 38](https://cloud.githubusercontent.com/assets/1565896/11372393/8388f2c8-92cd-11e5-94f1-f838c33e3058.png)

Yet when I try to use:
```[mapBox showAnnotations:mapBox.annotations animated:YES];```

It

[2015-11-24 16:39] incanus commented on #3099
The reason the compass has a container is due to jitter and performance with constraints directly against it, holding to the right and the top layout guide, while rotating. We hit this problem back in the raster SDK days (as well as this tap issue) and having a container solved this. See https://github.com/mapbox/mapbox-ios-sdk-legacy/pull/315 for backstory.

[2015-11-24 16:49] bsudekum commented on #2161
Bi-monthly bump, flagging this is important:

[2015-11-24 16:54] friedbunny commented on #3105
Ah, so you were expecting clustering (#320), essentially. That's not supported yet.

This already partially works. Tapping repeatedly on a group of annotations (within the same tap hitbox) will iteratively select and present the callout for each annotation. The z-ordering of the annotations can't change yet, however.

Subclassing is the valid way to add identifying properties to annotations — as i

[2015-11-24 16:54] #3105 closed

[2015-11-24 16:56] Sh1mor1nka commented on #3109
Image with zero size, that's it, thank you!

[2015-11-24 16:56] #3109 closed

[2015-11-24 17:02] incanus commented on #2161
Great, let's /cc @twbell on how this fits into overall product priorities. Note the P0, P1, and P2 [labels](https://github.com/mapbox/mapbox-gl-native/labels) already existing on this project with nearly 30 issues between them. How does this fit in?

[2015-11-24 17:56] 1ec5 commented on #3110
In #3111, I modified iosapp to similarly add annotations using `dispatch_async()` then show annotations on the main thread. Are there any differences in how you’re adding and showing the annotations?

[2015-11-24 17:56] skajake opened #3112 "Crash on launch if Core Telephony is linked — -[CTTelephonyNetworkInfo init]"
I added the SDK using Cocoapods.  I added the access key to the plist.  I added the Settings bundle for metrics opt out.

Upon running the application I get the following stack trace:

![Stack Trace](http://i.imgur.com/obpLjQ7.png)

[2015-11-24 17:58] incanus commented on #3112
What's the exception thrown?

[2015-11-24 17:58] 1ec5 commented on #3110
Correction: in that PR, iosapp is still adding the annotations on the main thread. But if you move that line into the surrounding block, it still zooms in to the right area.

[2015-11-24 18:01] skajake commented on #3112
No exception, just a bad access:

![Bad Access](http://i.imgur.com/tmvubei.jpg)

[2015-11-24 18:03] incanus commented on #3112
Hmm. This functionality should be fine @skajake, so could you email help@mapbox.com since it's probably specific to your token string and we'll go from there?

[2015-11-24 18:05] 1ec5 commented on #3112
What device is this? MGLMapboxEventsData attempts to get the network connection type using Core Telephony, but we’ve had problems with this on some devices in the past: #2687.

[2015-11-24 18:06] incanus commented on #3112
Sorry about that @skajake — I may have jumped to a conclusion. Are you using the 3.0.0 version we released to CocoaPods yesterday? It fixes https://github.com/mapbox/mapbox-gl-native/issues/2687.

[2015-11-24 18:09] skajake commented on #3112
This is happening in an Ipad Air 2 simulator.  Also happens on a hardware Ipad Air device.

Cocoapods pulled in version 3.0.0  hash:

   Mapbox-iOS-SDK: 5e7bafc554a15ebfc615d8b0fa0a0b5d31faac70

[2015-11-24 18:33] bsudekum commented on #2821
This has been fixed in pre16

[2015-11-24 18:33] #2821 closed

[2015-11-24 18:44] jfirebaugh commented on #2161
This is P1 in my mind after the styles API.

[2015-11-24 18:54] tmcw commented on #2161
Is P0 higher or lower than P1

[2015-11-24 18:56] jfirebaugh commented on #2161
Higher, P0s are "working on it now".

[2015-11-24 19:38] incanus opened #3113 "Interface Builder doesn't recognize classes without -ObjC linker flag"
Discovered by @friedbunny and applies to any manual binary install method. You can't use `MGLMapView` from IB without referencing it elsewhere in code.

Should be able to fix this with a combo of `+load` and calling `MGLMapView` from our category loader from #2967.

/cc @friedbunny @1ec5

[2015-11-24 19:42] 1ec5 commented on #3113
This issue was introduced in #2967. The call to `+[MGLCategoryLoader loadCategories]` should move from `+[MGLAccountManager sharedManager]` to `+[MGLAccountManager load]`, so that it runs before the storyboard loads, even if the access token isn’t set in the Info.plist.

[2015-11-24 20:05] zugaldia opened #3115 "Allowing multiple InfoWindows to be visible at a time"
At the moment, only one InfoWindow can be visible at a time. We want to be able to show multiple at once.

[2015-11-24 20:14] incanus opened #3116 "platform views vs. core GL sprites for annotations & callouts"
In chatting with @zugaldia about Android needs for what we call the "info window" there and "callouts" or "popups" on iOS, I wanted to clarify my thinking around https://github.com/mapbox/mapbox-gl-native/issues/1125 (and some in https://github.com/mapbox/mapbox-gl-native/issues/1784) and where we are or aren't blocked right now. I think there is some misunderstanding of next steps and potential f

[2015-11-24 20:18] zugaldia commented on #3116
Related: https://github.com/mapbox/mapbox-gl-native/issues/3115

[2015-11-24 20:24] 1ec5 commented on #3116
One of the salient points of #1582 is that the SMCalloutView can be animated around the screen without much of a performance penalty, even without the view-based animations explored in that PR, now that we time our screen updates properly via #3005 and #3009.

[2015-11-24 20:31] incanus commented on #3115
To analog (verb?) the iOS side, the `selectAnnotations:` API there allows for multiple annotations to be passed to selection but, like Apple Maps, to only set `selected` state on the first one (see [here](https://www.mapbox.com/ios-sdk/api/3.0.0/Classes/MGLMapView.html#//api/name/selectedAnnotations)).

I think it's best on iOS to probably stick to that, but since on Android we have some needs for

[2015-11-24 20:39] incanus commented on #3110
Yeah, I would ensure that you are calling UI code on the main thread/queue, as well as possibly post your setup code here @YBthebest if you are still seeing problems.

[2015-11-24 20:45] #2305 closed

[2015-11-24 20:45] zugaldia commented on #3115
In that case, and to mimic `selectedAnnotations` we could just move from a `private Marker mSelectedMarker;` to a `private List<Marker> mSelectedMarkers  = new ArrayList<>();` and change the internal `MapView` logic accordingly. API-wise, `public Marker getSelectedMarker()` will become `public List<Marker> getSelectedMarkers()`.

I'll try that approach in https://github.com/mapbox/mapbox-gl-native

[2015-11-24 20:51] leofarage opened #3118 "Unable to generate android-arm-v7 libs"
Hello,

I'm trying to use the latest stable version of mapbox in Android. The first thing I noticed was that gradle doesn't download the necessary **.so** file.

Following INSTALL.md (https://github.com/mapbox/mapbox-gl-native/blob/master/INSTALL.md) I was able to generate the **x86** lib, but not the **arm-v7** one. It accuses a missing header called **uv.h**.

The error I get when running *make

[2015-11-24 21:21] tmcw commented on #2828
Implemented in #2848

[2015-11-24 21:21] #2828 closed

[2015-11-24 21:35] YBthebest commented on #3110
[code]

This is my code. I have deleted some of the code that isn't important here.
What is your idea? Where should I put the showAnnotations line to be sure that it is called correctly after all the annotations are added?

Thanks

[2015-11-25 01:33] incanus commented on #352
Beginnings of this in https://github.com/mapbox/mapbox-gl-native/commit/139b9e7a60acadadaef80eea1cd07811e00f2cfb. Right now it's just inserting feature names (actually, `name_en` or `unknown` if not present) at tile parse time for style layers starting with `poi` (as an alternative to parsing `interactive: true` for now).

I realize we eventually want this to be style-aware (which it could fairly

[2015-11-25 08:55] tobrun opened #3119 "Rename access_token resource"
Been thinking a bit about this and it might be a good idea to rename `access_token` resource:

[code]

to

[code]

Their is always the possibility that the end user or another library, that the end user is using, is overriding the resource by using resource merging. By prepending mapbox to the key we are making a more unique identifier.

[2015-11-25 09:35] franckt opened #3120 "Increase viewport max zoom to render indoor osm data"
Hi,
I want to render indoor osm data, so zoom 18 is not enough
I put max_scale to zoom 22 instead of zoom 18 for the maximum viewport zoom in
https://github.com/mapbox/mapbox-gl-native/blob/adfac6f0615b7f79da2c80d0580428a92e9f0089/src/mbgl/map/transform_state.hpp#L81
On IOS, It introduce some lag or freeze when panning or zooming the map for a few second when over zoom 18, after it works well, and

[2015-11-25 09:56] tobrun opened #3121 "Allow InfoWindow to be open while panning"
We’re hearing of the need to improve our InfoWindow setup.

We identified two improvements:
 - Showing multiple InfoWindows at the same time (handled in #3115)
 - Having the InfoWindow remain opened while panning (handled in this issue)

I'm working on the same branch as #3115 to be able to identify performance problems early on.

cc @zugaldia @incanus @bleege

[2015-11-25 10:09] tobrun commented on #3121
I was able to sync `SurfaceView` changes to the overlain default `InfoWindow` while still being performant. Now I need to investigate if it is still performant to sync a repositioned InfoWindow as landed in #2273.

The code required to reposition in #2273 is more complex as used in current progress, because this is a hot code path we need to watch out for performance loss.

Current progress can be

[2015-11-25 11:19] tobrun commented on #3121
I was able to also sync the repositioned InfoWindow from #2273

Progress can be viewed [here](https://youtu.be/NTZZDQfKbfA)

Just need to clean up the code and will PR.

[2015-11-25 11:33] franckt opened #3122 "[Android] Perspective view"
Hi,
Is perpective view available on Android ?

[2015-11-25 12:33] tobrun commented on #3121
@zugaldia I already pushed the code to your branch. So we can have :eyes: on progress and you can continue your work. Will clean up / optimise later today

[2015-11-25 12:33] tobrun commented on #3121
@zugaldia I already pushed the code to your branch. So we can have :eyes: on progress and you can continue your work. Will clean up / optimise later today

[2015-11-25 12:52] tobrun commented on #2268
Obsolete due #3098

[2015-11-25 12:52] #2268 closed

[2015-11-25 12:53] tobrun commented on #2443
Going to close this down for now, will be on the lookout if anything changes in this space

[2015-11-25 12:53] #2443 closed

[2015-11-25 12:58] tobrun commented on #3122
@franckt
do you mean the [Tilt](https://www.mapbox.com/blog/ios-sdk-2.1.0/) feature that iOS is currently exposing?
For Android we have this ticket https://github.com/mapbox/mapbox-gl-native/issues/2805

[2015-11-25 13:03] 1ec5 commented on #3120
There’s some additional discussion in #509. The lagging hasn’t been reported before.

[2015-11-25 13:04] franckt commented on #3122
Yes exactly, is it working ?

[2015-11-25 13:13] vosst opened #3123 "Compilation with gcc5 fails due to ABI break"
When trying to build mapbox-gl-native with gcc/g++5 or later, the build fails with a linker error:
[code]
The issue is likely caused by the ABI break introduced by gcc/g++5 for supporting C++11 and the respective adjustments to std::string/std::list. The respective symbol names are mangled with a std::__cxx11 prefix. The geojsonvt static library managed via mason is likely built with gcc/g++ 4.9 a

[2015-11-25 14:37] tobrun commented on #3122
It hasn't been implemented yet, it is on our priority list, closing this down in favor of #2805

[2015-11-25 14:37] #3122 closed

[2015-11-25 15:04] mikemorris commented on #3123
The mason `GeoJSONVT` lib is actually built with clang, so yes, an ABI conflict is possible. We were able to work around this in GCC 4.9 builds by setting [`-fabi-version=0`](https://github.com/mapbox/mapbox-gl-native/blob/146533e377ad5ae205a52d37f98771da3f39a547/gyp/common.gypi#L50) ("newest"), which [should be the default on GCC5](https://github.com/mapbox/mapbox-gl-native/issues/2502#issuecomme

[2015-11-25 15:08] RomainQuidet commented on #3099
Hi,
It seems that the bug is not corrected... we set the compassView frame to something else, the touch is not working.
If a view is positioned by layout constraints, modifying its frame is forbidden, and result in unknown behavior.  This is what happen here.
We need have have the possibility to change the compass position (as well as logo position). Adding an external API (ex: setOffset) will all

[2015-11-25 15:19] zugaldia commented on #3115
Good progress on both keeping the InfoWindow open and also [allowing an InfoWindow to be open while panning](https://github.com/mapbox/mapbox-gl-native/issues/3121).

* It works for default InfoWindows: https://www.dropbox.com/s/yj6kzmmjvichkp4/movie1.mp4?dl=0
* As well as for custom InfoWindows: https://www.dropbox.com/s/kthg70njitwqm2l/movie2.mp4?dl=0

Before having a PR ready we need to do some

[2015-11-25 15:19] zugaldia commented on #3121
@tobrun Great job, let's clean up the code and make sure we aren't creating any unexpected leaks and then we're ready for a PR.

[2015-11-25 15:20] kkaefer commented on #3118
@leofarage I can't reproduce this. What version of the code are you running? Can you post any other output that might be related to installing libraries (they should be installed automatically)?

[2015-11-25 15:33] kkaefer opened #3126 "Implement standalone geometry drawing tests"
We should have standalone tests for geometry drawing: Tests that create individual buckets, load custom data that is not from a vector tile, then draw those buckets to a blank canvas. This

* enforces good separation between individual components of the renderer
* allows easier testing of edge cases of polygon rendering
* allows implementing a visual debug mode for adding new features

[2015-11-25 15:43] mb12 commented on #3119
Or we can just add namespace map box to all sdk strings.
<resources>
    <mapbox name="access_token">null</mapbox>
</resources>

[2015-11-25 16:32] zugaldia commented on #2616
Another possibility is to follow [Google's approach](http://android-developers.blogspot.com/2015/04/android-support-library-221.html) to `AppCompatActivity` (`MapActivity`) for consistency with the rest of the Android framework.

The idea is not just having a base class but also a `AppCompatDelegate` (`MapDelegate`?):

[2015-11-25 16:50] leofarage commented on #3118
So, I found the apklib file in the website from which I was able to retrieve **.so** files needed. So that's out of the way. I really don't know what I was doing wrong -- I cloned the repository and executed the **make android** from the terminal and it stops at the error I mentioned in the OP.

Now I'm having troubles using the Map on 64 bits devices -- every time I go into the map screen it thro

[2015-11-25 17:27] jfirebaugh commented on #3120
Let's track in #509. We can investigate the lag when we test the fix there.

[2015-11-25 17:27] #3120 closed

[2015-11-25 17:32] jfirebaugh commented on #3123
https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html

Although mason GeoJSONVT was compiled with clang against libstdc++, it's probably not complied with `_GLIBCXX_USE_CXX11_ABI` set. We may need to change that.

[2015-11-25 17:46] friedbunny commented on #3112
I was able to replicate this crash with the iPad Air 2 simulator by manually linking CoreTelephony in a new v3.0.0 CocoaPods project. I'll look in to this, but, in the meantime, this can be avoided by simply not linking CoreTelephony.

[code]

[2015-11-25 18:13] davidbroza commented on #3112
Not linking CoreTelephony does not seems to work for me. Issue is still present.

[2015-11-25 18:14] skajake commented on #3112
As best as I can tell, I am not linking CoreTelephony, but I am investigating further. Crash still occuring.

[2015-11-25 18:29] skajake commented on #3112
So I was able to get the project to run by removing a specific pod dependency from my project.  Namely:  https://github.com/vfr/Reader

Its podspec pulls in the following frameworks: "UIKit", "Foundation", "CoreGraphics", "QuartzCore", "ImageIO", "MessageUI"

[2015-11-25 18:33] jfirebaugh commented on #3126
Do you see the "standalone" part of this as essential? The way I would probably go about this is to implement GeoJSON sources in native and then add geometry tests to mapbox-gl-test-suite using GeoJSON sources with inline data. That way both native and js could benefit.

[2015-11-25 18:34] friedbunny commented on #3112
@skajake Interesting, looks like MessageUI probably pulls in CoreTelephony.

[2015-11-25 18:43] skajake commented on #3112
i stripped out MessageUI from Reader and it is now working.  So that was the culprit.

[2015-11-25 19:25] friedbunny commented on #3112
Packaged builds of v3.0.0 crash on all devices when CoreTelephony is linked. `ios-app` does not crash on phones or simulators with CoreTelephony, however — this makes me believe it has to do with our packaging process.

[2015-11-25 20:00] 1ec5 commented on #3112
iosapp doesn’t link CoreTelephony as far as I can tell.

[2015-11-25 20:06] leofarage opened #3128 "Missing arm64 lib"
I'm trying to use MapBox's version 2. in my project but when I try to show the Map an **UnsatisfiedLinkError** is thrown.

```java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.whittl.whittl.debug-1/base.apk"],nativeLibraryDirectories=[/data/app/com.whittl.whittl.debug-1/lib/arm64, /vendor/lib64, /system/lib64]]] couldn't find "libmapbox-gl.so"```

I

[2015-11-25 20:10] #3104 closed

[2015-11-25 20:10] Dwar3xwar opened #3130 "Memory leak with V3.0.0 iOS SDK"
I've noticed a memory leak while using ```MGLMapView``` within a navigation controller.

To Recreate:
1) Create 2 view controllers in a navigation controller, with VC A segueing to VC B, containing a ```MGLMapView```.
2) Go back to the original view controller, VC B is deinitialized but memory is not freed at all.

Instruments:

![screen shot 2015-11-25 at 3 09 10 pm](https://cloud.githubuserconte

[2015-11-25 20:15] 1ec5 commented on #3130
@adam-mapbox, `SpriteAtlas` is being leaked. Would #3049 address this issue?

[2015-11-25 20:15] tobrun opened #3131 "Quickzooming on Android causes onLongMapClickListener to be called"
Quickzooming is a feature that allows the user to zoom the map with just one hand.
You can activate quickzooming by double tapping and holding you finger on the screen after second tap.
Moving your finger vertically will now scale the map.

While testing the PR from #3106, I noticed that onLongMapClickListener is called when activating QuickZooming. This should not be the case.

Example see [here]

[2015-11-25 20:36] vosst commented on #3123
I'm using gcc (Ubuntu 5.2.1-22ubuntu2) 5.2.1 20151010 (@Ubuntu wily).
The flag is set (output from `V=1 make linux`):
[code]

I'm not sure whether clang supports dual abis at all (see http://clang-developers.42468.n3.nabble.com/GCC-5-1-ABI-GLIBCXX-USE-CXX11-ABI-td4045387.html). For Ubuntu, we pretty much recompiled the C++ world when handling the GCC 5 transition.

[2015-11-25 20:50] fezzik21 commented on #3130
I'm not sure.  If anything, https://github.com/mapbox/mapbox-gl-native/compare/tmpsantos-1488_annotations_survive_style_change would perhaps fix it; but I think that only deals with leaking the SpriteAtlas that was created for that PR.  So it wouldn't fix existing issues.  It makes me think though that something very similar to what @tmpsantos fixed for #3049 is going on here.

[2015-11-25 21:04] brewin opened #3132 "[Android] Double-taps are sometimes mistaken for quickzooms"
With ad0b37f I've noticed double-tap zooming is a little more difficult than it is on Google Maps. I think Google Maps measures the distance between double-tap ACTION_DOWN and ACTION_UP. If it's under a certain threshold (maybe getScaledTouchSlop) then it doesn't count as a quickzoom. Right now, if your finger strays a few pixels after ACTION_DOWN, it's considered a quickzoom even though it was pr

[2015-11-25 21:12] friedbunny commented on #3112
`iosapp` doesn't (and shouldn't) link CoreTelephony, but manually linking it does not crash and works as expected.

[2015-11-25 21:25] brewin opened #3133 "[Android] Quickzooming doesn't work pre-Kitkat"
`ScaleGestureDetectorCompat.setQuickScaleEnabled` is being used in MapView, but it doesn't seem to have any effect.

[2015-11-25 22:47] #112 closed

[2015-11-25 23:13] #2204 closed

[2015-11-25 23:13] #2313 closed

[2015-11-25 23:13] #3062 closed

[2015-11-25 23:22] friedbunny opened #3134 "Document `asset://` URL scheme for MGLMapView.styleURL"
[`MGLMapView.styleURL`](https://www.mapbox.com/ios-sdk/api/3.0.0/Classes/MGLMapView.html#//api/name/styleURL) should additionally state that `asset://localStyle.json` is accepted.

[MGLMapView.h#L230-L235](https://github.com/mapbox/mapbox-gl-native/blob/e3992c41c354e70f2c6762690b428f0ebbe362f4/include/mbgl/ios/MGLMapView.h#L230-L235)

/cc @1ec5 @incanus

[2015-11-25 23:24] 1ec5 commented on #3134
And point out that relative URLs are relative to the application bundle. It’s more natural to use relative URLs than asset: URLs with NSURL. On the other hand, styles can only refer to sprites by asset: URLs rather than relative URLs, because the conversion from relative to asset: happens in MGLMapView rather than mbgl.

[2015-11-25 23:39] #1581 closed

[2015-11-26 00:04] jfirebaugh commented on #1541
@kkaefer Can you test this again? I think it was fixed by either always running headless tests in node, or by #3083.

[2015-11-26 02:50] incanus commented on #352
Getting close here. Current blocker is the fact that we postpone parsing of symbol layers until dependencies are loaded, and thus far I've just been adding to a tile's feature tree during `!partialParse`. We also need to possibly expose style bucket features to the `TileWorker`, as this is where and when we build up tile feature trees during tile parse. Right now our native API can only add featur

[2015-11-26 02:55] incanus commented on #352
The downside to having buckets build up their own feature trees is duplication of code in each bucket type.

[2015-11-26 14:12] RomainQuidet commented on #2210
FYI I'm working on it. Will send a pull request soon

[2015-11-26 19:57] incanus commented on #352
Also of note here: what does a native `featuresAt` actually return? Unlike JavaScript, styles and features as JSON (or GeoJSON) is not necessarily useful or efficient here, and there are so many strongly-typed objects involved on the native side that exposing all of those to platform clients doesn't necessarily make sense either.

[2015-11-27 00:00] brunoabinader opened #3140 "Collision debug does not properly repaint upon toggling"
Collision debug toggling should trigger a repaint once the symbol buckets have been updated. This doesn't seem to be the case as the collision boxes are only visible e.g. when enabling collision debug after a second call to `MapContext::update()`.

Current behavior _feels_ correct because usually we are causing more repaints due to e.g. mouse gestures. In GLFW example, if we keep pressing `C` key

[2015-11-27 12:32] kristfal opened #3141 "Composite sources with custom data"
Hey,

Short version:

Composite sources for custom data does not seem to be honored by gl-native. Gl-js handles composite sources for custom data (but in a rather unexpected way), see https://github.com/mapbox/mapbox-gl-js/issues/1764 for details.

Long version:

Looking at a few of the Mapbox styles, composite sources (one source layer from multiple data sets) seems to be supported in the client,

[2015-11-27 18:56] incanus commented on #3010
This doesn't sound right @beev. You are adding annotations? Are you sure you're not replacing them? Can you share some of you add code?

[2015-11-27 20:29] hallahan commented on #352
For OpenMapKit, returning GeoJSON or vector data is not of particular use, since it's been simplified and lacks original OSM topology.

Feature selection that returns OSM node, way, and relation IDs baked into the vector tiles would be required for use in an OSM related application.

When selecting a feature, we need:

1. The node / way ID of the feature selected.
2. The IDs of the relations that

[2015-11-28 01:47] incanus commented on #352
I'm going to spend some more time thinking about this later, but right now I'm thinking of providing the layer name as a string and then a small dictionary of the properties out of the vector tile. For Mapbox sources, this would include most of the OSM data.

[2015-11-28 01:51] incanus commented on #352
For the (optional per JS `featuresAt`) feature geometries, I'm considering either GeoJSON or maybe a simple typed nested set of geo coordinates mirroring GeoJSON, allowing the platform (iOS/Android/etc.) to natively type it if desired.

[2015-11-28 18:37] iCyberon commented on #2929
Hey guys, any news?

cc @1ec5 @incanus

[2015-11-28 20:02] 1ec5 commented on #2929
@iCyberon, we’re actively working on #837. Once that work is finished and we have an Objective-C API for runtime style manipulation, you’ll be able to configure point annotations in [a number of ways](https://www.mapbox.com/mapbox-gl-style-spec/#symbol).

[2015-11-28 21:47] skajake commented on #3112
Update:  I am still getting the crash, but only when running on physical hardware (iPad Air 2).  Only seems to happen when pulling in https://github.com/yapstudios/YapDatabase via Cocoapods.  Can't seem to figure out what in YapDatabase is linking in telephony.

[2015-11-28 23:38] corydolphin commented on #2167
@incanus can you please provide an example of this workaround?

[2015-11-29 05:27] 1ec5 commented on #2250
On iOS, you could composite two images: a “template image” that the system can automatically color with the system tint color, and another image that supplies any shadow and shading.

[2015-11-29 05:49] 1ec5 commented on #1504
Annotation images frequently have shadows or other ornamentation that shouldn’t be considered part of the hit target. The most natural way to handle this detail on iOS would be to set the image’s alignment rectangle; `-[MGLMapView handleSingleTapGesture:]` would then filter the results from `getPointAnnotationsInBounds()` by whether a given annotation’s image’s alignment rect intersects with the t

[2015-11-29 22:35] bleege commented on #2616
@tobrun @zugaldia  The more I think about this, the more I'm not sure that `MapActivity` is a useful thing for developers using the Mapbox SDK.  It appears to shoe horn developers into a preset settings for Activities (having to use App Bar, etc) that may be difficult for them to change / customize.  Granted if everyone is using Google recommend Material Design constructs these days then it's like

[2015-11-29 22:39] bleege commented on #3071
@tobrun Let's not make perfect the enemy of the good.  We can start with getting the `OnMapChangeListener` code in now (avoid painful rebases later) and add to this effort with a new branch and PR for other Enums in the code that need similar treatment.  Sound good?

[2015-11-29 22:53] bleege commented on #3115
@zugaldia @tobrun FWIW, let's leave the "default" mode to be just 1 `InfoWindow` open at a time per MapView as this is likely to be the majority of desired use cases for developers.  This means that we'll want to have a flag of some sort on the `MapView` to enable multiple visible `InfoWindow` support.  Something like `setAllowConcurrentMultipleOpenInfoWindows(boolean allow)`.  Thoughts?

[2015-11-30 00:28] 1ec5 commented on #2151
In #3135 for OS X, I’ve eschewed the mbgl::Map methods for looking up the annotation images’ alignment rects directly. Eventually, I’d like to reverse it so that MGLAnnotationImage keeps an `anchorPoint` and `calloutEdge`, by analogy with `-[NSCursor hotspot]`.

[2015-11-30 00:32] iceman201 commented on #1877
I got same problem as [INFO] {Worker}[Sprite]: Can't find sprite named 'dot.sdf'
Do you guys know how to fix it?

[2015-11-30 01:31] 1ec5 commented on #1877
@iceman201, what version of the iOS SDK are you using, and what style? In the past, the Satellite style (specifically, [satellite-v7](https://github.com/mapbox/mapbox-gl-styles/blob/master/styles/satellite-v8.json)) has been known to trigger this console output. However, in recent versions of the iOS SDK, satellite-v8 no longer refers to dot.sdf.

[2015-11-30 09:22] kkaefer commented on #1877
@iceman201 these messages are informational (hence `INFO`) telling you that you might be referencing a sprite that can't be found; the map should be displayed regardless of these messages.

[2015-11-30 09:59] kkaefer commented on #3141
Composite sources are not a feature that is supported by the client; they're implemented by the server infrastructure. If you want to use custom data alongside Mapbox-supplied data, you'll have to upload the data to the Mapbox.com hosting infrastructure so that the server can combine the tiles on-the-fly. The fact that these tiles consist of more than one tile is completely hidden from the client

[2015-11-30 09:59] #3141 closed

[2015-11-30 10:12] kkaefer commented on #3126
Not sure whether it's essential; I find it easier to work on shaders and geometry debugging if I cut out the map part in between and have a 1:1 relation between the vertices I use and the ones displayed on the screen.

[2015-11-30 10:29] RomainQuidet commented on #2210
Code is working, cleaning up and pull request coming soon

[2015-11-30 11:11] #2862 closed

[2015-11-30 11:15] tobrun commented on #2616
Closing this down for now, will create a separate issue for introducing MapboxMap.

[2015-11-30 11:15] #2616 closed

[2015-11-30 11:19] tobrun opened #3145 "Integrate MapboxMap class"
Copies GoogleMap implementation as indicated by @bleege in https://github.com/mapbox/mapbox-gl-native/issues/2616#issuecomment-160478281.
This will boil down to applying composition/delegation to our current MapView class.
This is the first step towards making the project more modular and testable.

[2015-11-30 11:35] tobrun commented on #3115
@bleege seems logical, I consider having multiple open to be a special kind of requirement.
@zugaldia can you take this up? currently not on the project.

[2015-11-30 13:31] RomainQuidet commented on #2210
Pull request sent : (#3146)
Just get your annotationImage and update the image property

[2015-11-30 14:12] beev commented on #3010
Thanks very much for the reply. It turns out I was trying to reuse the same ivar for the two routes, so one was always replacing the other and the two could never exist at the same time. All sorted now :)

[2015-11-30 14:41] zugaldia commented on #3115
@bleege @tobrun I like it and it changes the API in a consistent way. I'll give it a pass today.

[2015-11-30 16:03] RomainQuidet commented on #2517
related to #2210
Solved by pull request #3146
Waiting for code review.
annotation will be updated by modifying its annotationImage.image property which is no more read only (based on native MapKit interface)

[2015-11-30 16:31] RomainQuidet opened #3147 "[iOS] MGLAnnotationImage reuseIdentifier incorrectly implemented"
MGLAnnotationImage reuseIdentifier should not be mandatory and should be common to several annotations.
Internal code shows that this identifier is deeply linked to the annotation sprite and annotation itself. For the moment it is not possible to add several annotation with the same annotation image.
The mapView does not handle a bucket of unused annotation images for the dequeueReusableAnnotation

[2015-11-30 16:35] zugaldia commented on #3115
Flag implemented in https://github.com/mapbox/mapbox-gl-native/commit/e9d749b775e2284b6866d362d4588a847a178e98.

You can test it on TestApp's `InfoWindowActivity` and `InfoWindowAdapterActivity` commenting out the following line in `onCreate`:

[code]

[2015-11-30 16:48] tobrun commented on #3115
@zugaldia :rocket:

[2015-11-30 16:48] friedbunny opened #3148 "TileBorders debug mode warns: "Buffer doesn't contain elements""
When `mbgl::MapDebugOptions::TileBorders` (#3100) is enabled by itself, the console quickly fills up with this warning as one pans around:

[code]

I saw this on iOS.

/cc @brunoabinader

[2015-11-30 17:00] dbrant opened #3149 "Allow setting custom User-Agent for HTTP requests."
It would be great if the SDK allowed the developer to set a custom user-agent to be used with the HTTP requests that the SDK makes. (e.g. to measure proportions of traffic coming from different versions of our app)

[2015-11-30 17:02] #3010 closed

[2015-11-30 17:18] picciano commented on #1792
This crash has come back.

[code]

[2015-11-30 17:31] friedbunny commented on #3149
For reference: iOS includes the app name and version in the user agent automatically.

/cc @bleege @zugaldia @tobrun

[2015-11-30 17:44] incanus commented on #3115
We'll need some thinking about the UI interactions here. For example, I'm guessing that when one or more info windows are up and you tap on a non-interactive part of the map, all are dismissed? We should probably keep it that way for simplicity.

[2015-11-30 17:48] zugaldia commented on #3115
@incanus that's right, tapping on a non-interactive part of the map dismisses them all. It feels pretty natural right now, but we can definitely learn with usage.

[2015-11-30 18:56] 1ec5 commented on #1792
Possibly introduced by #2988. Which version of iOS are you seeing this on?

[2015-11-30 18:59] picciano commented on #1792
This was from an iPhone 6 running iOS 9.1.0.

[2015-11-30 19:09] jfirebaugh commented on #352
I think the output types are going to be in flux until we get a Style API and GeoJSON source API. When those are in place, the output features should use the same types as the GeoJSON source API, with an additional `layer` property that uses the same layer types as the Style API.

[2015-11-30 19:47] zugaldia opened #3150 "Can't inherit from final MapView class"
The `MapView` class is declared as `final`. This prevents the override of some useful methods like `onSizeChanged()` or `setZoomLevel()`. Unless there's a good technical reason not do so, we should make the class non-final.

[2015-11-30 19:48] zugaldia commented on #3150
/cc: @tobrun

[2015-11-30 20:06] bleege commented on #2805
Looking at the how iOS implemented tilt in https://github.com/mapbox/mapbox-gl-native/pull/2159/files and https://github.com/mapbox/mapbox-gl-native/pull/2193/files it appears that the Core GL has the necessary API for Android implementation.  We _should_ be able to wire this up with JNI and have what we need for the Android bindings API.

The outstanding question is going to be how much will the

[2015-11-30 20:19] 1ec5 commented on #2805
On iOS, we modeled MGLMapCamera after MKMapCamera, since the goal is to more or less match MapKit. The APIs there are intent-driven. You don’t need a lesson on zoom levels and viewing angles to come up with the right values; instead, you decide how high the viewpoint is and what it’s looking at. But if the Google Maps SDK provides literal access to zoom levels and tilt, I think it’d be perfectly r

[2015-11-30 20:22] zugaldia opened #3151 "Include multiple InfoWindows sample in TestApp"
That functionality was implemented on https://github.com/mapbox/mapbox-gl-native/issues/3115.

[2015-11-30 20:32] incanus commented on #2167
Ah, yes, this would require something like the GeoJSON source in #2161 in order to modify runtime data for the circle layer(s). In that case, I would recommend instead adding `UIView` objects atop the map for now and modifying [this routine](https://github.com/mapbox/mapbox-gl-native/blob/48504baa9134020c57bb899f290557b4249a2d6d/platform/ios/MGLMapView.mm#L2997-L3021) to update each's placement us

[2015-11-30 20:54] iceman201 commented on #1877
@1ec5 Mapbox-iOS-SDK (3.0.0) is the version I using now

I setup up as mapView = MGLMapView(frame: view.bounds, styleURL: MGLStyle.hybridStyleURL())
just this one

[2015-11-30 21:01] iceman201 commented on #1877
@1ec5 it's mapbox://styles/mapbox/satellite-hybrid-v8

[2015-11-30 21:01] incanus opened #3153 "Android token not picked up"
[code]

[2015-11-30 21:07] 1ec5 commented on #1877
Ah, the Hybrid style does [refer to dot.sdf](https://github.com/mapbox/mapbox-gl-styles/blob/68deb34b1daa34dfdb0d22b452b00abf08185848/styles/satellite-hybrid-v8.json#L1262).

@kkaefer, although that console message is harmless, it’d be nice to eliminate any unnecessary console output. Does the style need to be modified, or gl-native?

[2015-11-30 21:10] iceman201 commented on #1877
how can I refer a sprite by swift coding?
[INFO] {Worker}[Sprite]: Can't find sprite named 'dot.sdf'

[2015-11-30 21:10] incanus opened #3154 "Annotation callout closes automatically when changing the viewport"
Android now does this.

Complicated by the fact that `SMCalloutView` doesn't support a move API, just a placement/initial layout. On raster we used to use this repeatedly during viewport changes to sync up, but it became non-performant as of last check.

Refs https://github.com/mapbox/mapbox-gl-native/issues/1125 https://github.com/mapbox/mapbox-gl-native/pull/2412

[2015-11-30 21:20] 1ec5 opened #3155 "Telemetry logging"
The iOS SDK should have a debug mode that writes the following information to a file accessible via iTunes:

* Each launch due to a background location update
* Each request the SDK makes against the events API

This will help us better diagnose and verify fixes for bugs such as #1792.

/cc @incanus @friedbunny @bleege @lxbarth

[2015-11-30 21:26] zugaldia opened #3156 "onSingleTapConfirmed() logic needs to be updated"
After implementing the ability to [allow multiple InfoWindows to be visible at a time](https://github.com/mapbox/mapbox-gl-native/issues/3115) the method `onSingleTapConfirmed()` to respond to a single tap has to be either updated or simplified.

The current solution covers the basic case (select the first marker) but doesn't seem to include other cases that the previous implementation was handlin

[2015-11-30 21:29] 1ec5 commented on #3154
Also leave it open when the user location changes: #2618.

[2015-11-30 21:33] 1ec5 commented on #1877
@iceman201, the reference to dot.sdf can’t be accessed from Swift (or Objective-C); it’s baked into the style you’re using. It may be possible to modify the Hybrid style to stop referring to this sprite, using Mapbox Studio.

[2015-11-30 22:12] kkaefer commented on #1877
The style needs to be modified, by changing the name of the referenced image to one that actually exists, or by adding the image.

[2015-11-30 22:14] iceman201 commented on #1877
@kkaefer mapView = MGLMapView(frame: view.bounds, styleURL: MGLStyle.hybridStyleURL())
in this sentence? or how?

[2015-11-30 22:26] bleege commented on #3031
Thanks for reporting this @vfaSonnt!

@afathman @MrChaz can you confirm this too with your apps?

If we can settle on this we can then move forward with a either a fix to ensure that width and height are always the same size and/or build out support for different sizes.

[2015-11-30 22:27] 1ec5 commented on #1877
It looks like the style in the mapbox/mapbox-gl-styles project needs to be corrected. For now, the easiest fix is to design your own custom style:

1. In [Mapbox Studio](https://www.mapbox.com/studio), create a new style based on the “Satellite Streets” template.
1. Judging from where “dot.sdf” occurs in the [style’s JSON code](https://github.com/mapbox/mapbox-gl-styles/blob/68deb34b1daa34dfdb0d22

[2015-11-30 22:34] bleege commented on #3031
Discussed with @1ec5 @friedbunny @jfirebaugh and this appears to be an issue with the common Core GL as [it's impacting iOS too](https://github.com/mapbox/mapbox-gl-native/issues/2198).  Work is being done at that level to address an issue with integer / float conversions.

[2015-11-30 23:05] friedbunny commented on #3155
I've done something similar to this for my own debug purposes, was definitely useful. I went as far as showing the log in app, which we could think about implementing in `iosapp` or elsewhere.

[2015-11-30 23:56] jfirebaugh commented on #858
Stale.

[2015-11-30 23:56] #858 closed

[2015-11-30 23:58] jfirebaugh commented on #851
Based on the last few releases, I think we want to allow the platform SDKs to bump their versions independently, though they may be kept roughly in sync as a function of our overall development and release cycle.

[2015-11-30 23:58] #851 closed

[2015-11-30 23:58] jfirebaugh commented on #818
This is part of #837.

[2015-11-30 23:58] #818 closed

[2015-11-30 23:59] #635 closed

[2015-12-01 00:01] iceman201 commented on #962
I got this error as well in my swift coding
[ERROR] {Map}[OpenGL]: stencil mask overflow

[2015-12-01 00:06] jfirebaugh commented on #1803
I think this will be hard to do now that parsing has been more modularized and spread out. Let's punt.

[2015-12-01 00:06] #1803 closed

[2015-12-01 00:09] jfirebaugh commented on #2113
This may be fixed after 0c1e378bc9555f6cf826bb38b1a36fa742f8ce9b.

[2015-12-01 00:10] jfirebaugh commented on #2521
Fixed in 36581f3d3015d525db92248004e9dc7477705694.

[2015-12-01 00:10] #2521 closed

[2015-12-01 01:14] afathman commented on #3031
Yea, it crashes whether or not the dimensions are the same or different. Can confirm the issue is with the integer/float conversion.

[2015-12-01 02:52] bleege commented on #2805
I've started building out the CameraPosition API bindings.  There's still a bit more work to be done on them, but once finished I'll then look to create the JNI bindings and then tie the two layers together.

[2015-12-01 04:06] bleege commented on #3028
@miccolis Thanks for hooking up CloudFormation to AWS and for the CLI command.  I see the `BitriseUser` user in IAM and it's Access Key, however I don't see the Secret Access Key.  [According to the AWS Docs](http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSGettingStartedGuide/AWSCredentials.html) it says I should click `Create Access Key` and then it'll tell me both the Access Key and t

[2015-12-01 06:42] incanus commented on #2167
I take that back — this could also be accomplished with the existing annotations API, with the slight downside that unlike a true `MGLCircle`, it must be layered atop all the other map layers (and below any point annotations). However, that aside, it's pretty trivial to do. [Here's a sample project](https://github.com/incanus/CircleAnnotationStopgap/blob/master/circle/ViewController.swift) that pu

[2015-12-01 06:53] incanus commented on #2167
Of course the other main hack here is that circle radii are only valid for a single zoom since they don't scale as the map does. You could combat this by pre-generating circles of varying radii for given integer zoom levels and only allowing external control to zoom to each, or else disallowing map zoom once you've added a particular image. Either way you'd be using `MGLMapView.metersPerPixelAtLat

[2015-12-01 07:07] cowgp commented on #2167
@incanus - Thanks for showing a functional work around - helpful for sure.  The performance hit when zooming is significant - and disabling zoom is not an option for me.  That loops me back to your original suggestion, I haven't tried it yet, but I was about to - mutating the style that is.  You've made subsequent suggestions here and a POC workaround that did not head down that path.  Is there an

[2015-12-01 11:39] 1ec5 opened #3159 "MGLMapView should map annotation IDs to annotation metadata"
MGLMapView holds an NSMapTable mapping MGLAnnotation objects to dictionaries containing IDs and other metadata. The problem is that IDs aren’t metadata; they’re the unique key. So many operations that should be simple lookups end up requiring expensive loops or are simply impossible. For example, [this loop through all annotation metadata](https://github.com/mapbox/mapbox-gl-native/blob/e7b6d72cd1

[2015-12-01 11:40] 1ec5 commented on #1504
The OS X port in #3135 has a fix for this issue, but porting the fix back to iOS is blocked by #3159.

[2015-12-01 13:38] tobrun commented on #3153
@incanus
How did you set up the env. variable?

The first time compiling the project, a couple of months ago, I initially defined an entry in my `.bash_profile`. Android studio was not able to read out that value, it would always return `null`. I found some resources that indicate that not all env. vars are automatically [available in GUI applications](http://stackoverflow.com/questions/135688/set

[2015-12-01 13:41] miccolis commented on #3028
@bleege the credentials are available as "Outputs" for the Cloudformation stack. To find them go to the  [Cloudformation console](https://console.aws.amazon.com/cloudformation/home?region=us-east-1#/stacks?filter=active&tab=outputs) and filter for `travis-mapbox-gl-native`. You'll need to click  the stupid "View More Stacks" button twice to see it, but it's there. Click on the stack name and you s

[2015-12-01 14:21] tobrun commented on #3132
Closed with https://github.com/mapbox/mapbox-gl-native/commit/60b0e78e0ef7357cf6ef260a6df4241b2c5503db

[2015-12-01 14:21] #3132 closed

[2015-12-01 14:21] tobrun commented on #3131
Closed with https://github.com/mapbox/mapbox-gl-native/commit/60b0e78e0ef7357cf6ef260a6df4241b2c5503db

[2015-12-01 14:21] #3131 closed

[2015-12-01 14:45] zugaldia commented on #3128
Thank you @leofarage for the report. Just to clarify, you're only seeing this message on 64bits devices, right?

I just tried a fresh build on a Nexus 6p which is a 64 bits device and I couldn't reproduce the issue (see screenshot below). Could you tell us the steps you follow to reproduce this crash? That'd help us troubleshoot the root cause of it. Also, are you seeing this crash with every run,

[2015-12-01 14:45] zugaldia commented on #3128
/cc: @bleege @tobrun

[2015-12-01 15:38] bleege commented on #3028
Ah ha!  There they are!  I'll plug 'em into Bitrise as Secret Variables and give the whole process a spin this morning.

[2015-12-01 16:18] vkurchatkin commented on #2995
@tobrun ping. (sorry for being annoying)

[2015-12-01 16:28] tobrun commented on #2995
@vkurchatkin no issue! I really want to get to the bottom of this.
Would you be possible to share the code where you are setting up the MapView?

[2015-12-01 17:31] bleege commented on #3028
That did the trick!  I was able to have Bitrise run it's build and publish workflow and it worked great.  Thanks for making this happen and for the AWS education @miccolis!

[2015-12-01 17:58] #1488 closed

[2015-12-01 18:10] incanus commented on #1488
:tada:

This should land in iOS 3.1.0 (next feature release) so no need to cherry-pick the fix anywhere just yet, as that will be based off of `master`.

[2015-12-01 18:25] vkurchatkin commented on #2995
@tobrun I can reproduce the issue with MapboxGLAndroidSDKTestApp

[2015-12-01 19:10] zugaldia commented on #3115
I'm reopening this issue. Although the basic functionality is there and performing well for a low number of InfoWindows, there're still a few related things that need to be addressed:

* [Layering issues](https://github.com/mapbox/mapbox-gl-native/pull/3152#issuecomment-160765293) when doing position syncing as shown by @incanus.
* `onSingleTapConfirmed()` logic needs to be updated: #3156
* Follow

[2015-12-01 19:45] tobrun commented on #3119
namespace strings are now a supported feature in build.gradle

<img width="1055" alt="screen shot 2015-12-01 at 20 42 42" src="https://cloud.githubusercontent.com/assets/2151639/11511993/5af159aa-986c-11e5-9a07-04f51d535e25.png">

[2015-12-01 20:23] 1ec5 opened #3160 "Automate access token setup when installing via CocoaPods"
To eliminate any friction that might arise from having to set an access token, the Mapbox iOS SDK should automate the recommended process for completely private access tokens.
1. In the podspec’s [`prepare_command`](https://guides.cocoapods.org/syntax/podspec.html#prepare_command), run a script that opens the [access token manager](https://www.mapbox.com/studio/account/tokens/), prompts for an acc

[2015-12-01 20:29] incanus opened #3161 "explore framework install for iOS"
We have a framework script as of https://github.com/mapbox/mapbox-gl-native/commit/01b4f160d40b5899ed455e02bd673deca96b3a36. If we were to modify our CocoaPods spec to allow install from this framework, could we:

1. Provide symbolicated/stripped `Mapbox.framework` zips instead of our current static library zips?
1. Avoid use of `use_frameworks!` in users' `Podfile` because we already have a names

[2015-12-01 21:04] zugaldia commented on #2805
I just added a sample `TiltActivity` to the `TestApp` to help test this functionality once is ready. For now it's just a basic map ready to enable a tilt based on the [API decisions](https://github.com/mapbox/mapbox-gl-native/issues/2805#issuecomment-160743475) described above.

[2015-12-01 21:44] 1ec5 commented on #3160
CocoaPods purposely doesn’t provide a way to add a build phase to the application target (CocoaPods/CocoaPods#2326), but it might be possible to do it ourselves [via the `xcodeproj` gem](http://stackoverflow.com/a/20505234/4585461).

[2015-12-01 23:17] jfirebaugh opened #3162 "fill-pattern areas flash black during load"
![fill-pattern-flash](https://cloud.githubusercontent.com/assets/98601/11517482/957f10ea-983e-11e5-9ce6-ed1da19e9d3d.gif)

[2015-12-01 23:27] incanus commented on #3153
Not a high priority here, and not sure of repro, but let's look into this again (perennial issue on both mobile platforms, it seems).

[2015-12-01 23:27] incanus commented on #3153
Oh, and simply:

[code]

Per above.

[2015-12-01 23:29] jfirebaugh commented on #3162
Bisected to e1091db45ea5e921337f1cfccb36f46ab01dd54e (#3049). @adam-mapbox had noted we should be on the lookout for issues triggered by lazy creation of the GL texture, and I suspect this might be exactly what we're seeing.

[2015-12-01 23:32] jfirebaugh commented on #2755
Closing; not actionable.

[2015-12-01 23:32] #2755 closed

[2015-12-01 23:38] jfirebaugh commented on #2455
This was likely a race condition with adding an annotation icon while the style was loading. With #3049, annotations have their own sprite atlas and the race condition has been eliminated, so I'm pretty confident it is fixed. This will be part of the 3.1.0 SDK release.

[2015-12-01 23:38] #2455 closed

[2015-12-02 00:38] bleege commented on #3128
@leofarage Yep, the Mapbox Android SDK don't ship an `arm64` .so as [part of the Android Library based on information from Google](https://github.com/mapbox/mapbox-gl-native/issues/1956#issuecomment-137496217).  Could you tell us more about how your project is setup?  Are there other native code bases / dependencies as part of it?

As some background, we regularly develop and test using 64 bit And

[2015-12-02 00:44] incanus commented on #256
Piggybacking off of @adam-mapbox's work in this branch in https://github.com/mapbox/mapbox-gl-native/commit/c788cea7927e4377204524e654a4dbe9046b12f2 and some chat discussion, we might look into temporarily disabling compression in our SQLite caching backend to see if it helps with drawing after jumps. Profiling would probably be in order too, just to see what _is_ the bottleneck (if possible).

[2015-12-02 00:45] incanus commented on #256
That'd be around [here](https://github.com/mapbox/mapbox-gl-native/blob/8afa14fa78e628007a983d00efa336674e499735/platform/default/sqlite_cache.cpp#L187) and [here](https://github.com/mapbox/mapbox-gl-native/blob/8afa14fa78e628007a983d00efa336674e499735/platform/default/sqlite_cache.cpp#L126).

[2015-12-02 00:47] jfirebaugh commented on #3007
Enabled and passing in e326d4972f6320c53be6ac0c696688f4918d4614.

[2015-12-02 00:47] #3007 closed

[2015-12-02 01:14] jfirebaugh opened #3163 "Storage.HTTPCancelMultiple test occasionally fails"
https://travis-ci.org/mapbox/mapbox-gl-native/jobs/94300803#L1439

[code]

[2015-12-02 01:32] incanus commented on #256
Per some chat discussion, we could also look into loading 1/4 as many parent tiles or even 1/16 as many grandparent tiles for the destination as a way to quickly warm the cache so that _something_ could be drawn closer to as soon as we land.

[2015-12-02 01:43] incanus commented on #352
Ok as of b1e3da9055a54b9af9ec72d7f6654205f5c31fd7 we have `featuresAt` functionality logging properly any properties from the layer parsing buckets. However, I'm not quite sure why we don't see all of the properties like we do in JS (e.g. `osm_id`) so taking a look at that.

This needs some refactoring to push things closer down to the style source instead of in `MapContext`, but it's got all the

[2015-12-02 01:46] jfirebaugh commented on #1007
Changing the pixel ratio of the map is no longer supported, so this isn't applicable.

[2015-12-02 01:46] #1007 closed

[2015-12-02 01:57] jfirebaugh opened #3164 "never scale images when copying them into the SpriteAtlas"
Currently we bilinearly scale images that are not at the native pixel ratio up or down when adding them to the SpriteAtlas. This has led to code that is more complex than necessary and produced issues like #3031 and #2198.

Instead, we should copy images into the SpriteAtlas pixel-for-pixel, and let up/down sampling happen in the shaders.

@kkaefer @ansis -- am I missing anything that would make t

[2015-12-02 02:24] incanus commented on #352
- [ ] Move stuff down into `Source`
- [ ] Figure out why only some feature attributes are coming through
- [ ] Figure out why very occasionally initially-shown tiles don't have features indexed yet

[2015-12-02 03:11] ansis commented on #3164
I agree that we should do it this way. This is what we're still doing in -js. The scaling was never ported. relevant discussion: https://github.com/mapbox/mapbox-gl-js/issues/1124

[2015-12-02 05:37] erichoracek commented on #1623
For anyone interested in a temporary way to include Mapbox via Carthage until #828 is resolved, I've created a mirror using the [Rome](https://github.com/neonichu/Rome) CocoaPods plugin at https://github.com/erichoracek/Mapbox.

[2015-12-02 07:24] leofarage commented on #3128
My project has a few other libraries that are being used -- possibly forcing the use of 64 bits .so?

I tested on the Samsung Galaxy S6 and S6 Edge and both crashed. I'm attaching in the end of the comment the libraries used in the project.

Both devices crashes on entering the project's MapActivity. The map Activity's layout is made of 2 fragments -- one fragment containing the MapView defined us

[2015-12-02 08:32] 1ec5 commented on #828
I got this working for the OS X SDK in #3135. It now looks pretty straightforward to move the iOS SDK over to a proper framework too.

[2015-12-02 10:20] kkaefer opened #3165 "Use ccache"
We should use ccache to get faster incremental compiles.

- [ ] Enable on **Linux + node.js** builds

  Should be as simple as changing the `CXX` variable

- [ ] Enable on **Xcode** builds ([blog post](https://pspdfkit.com/blog/2015/ccache-for-fun-and-profit/))

- [ ] Enable on **Android** builds

  Caveat: Android NDK r10e [uses shell scripts](https://code.google.com/p/android/issues/detail?id=18

[2015-12-02 12:59] Mizuki123 opened #3166 "How to set Openstreetmap layer"
Hi everyone.

I'm working on an android application using Mapbox android sdk 2.2.0.

I want to use openstreetmap for layer source of my MapView but i don't know how to set this source without the WebSourceTileLayer that seems to be deleted in this new sdk version. Is anyone know the way to set openstreetmap source for my mapview ?

In addition, I want to add another layer over my openstreetmap lay

[2015-12-02 13:32] foffer opened #3167 "Thread 1 BAD ACCESS Crash when run on device iOS 9.1"
I get a pretty nonsensical crash when I run my app on my device (no crash in the simulator). I'm using the latest SDK version and running iOS 9.1.

Below screenshot shows the error I get, although it doesn't tell you much. I'd be happy to provide more info if instructed how to do so

<img width="2250" alt="screen shot 2015-12-02 at 13 30 28" src="https://cloud.githubusercontent.com/assets/1674650/

[2015-12-02 14:08] foffer commented on #3167
Adding the framework manually seems to work fine. Would this have something to do with not adding the frameworks listed under https://www.mapbox.com/ios-sdk/#binary when installing via cocoapods?

[2015-12-02 15:43] jfirebaugh commented on #3167
Duplicate of #3112.

[2015-12-02 15:43] #3167 closed

[2015-12-02 15:46] jfirebaugh commented on #3166
For creating map styles, including using OpenStreetMap data and your own data, the best method is to use [Mapbox Studio](https://www.mapbox.com/mapbox-studio/).

If you have further questions, check out https://www.mapbox.com/help/. Thanks for using Mapbox!

[2015-12-02 15:46] #3166 closed

[2015-12-02 15:48] RomainQuidet commented on #2151
Hi,
I'd like to work on this feature.

[2015-12-02 16:11] Mizuki123 commented on #3166
Thanks for your answer.

But I need to access my maps from one of my custom web service. Is there a way to set the MapView with my maps without using Mapbox Studio ?

Best regards

[2015-12-02 16:13] bleege commented on #3128
Ah...  one thing to check is to make sure that a germane ABI .so is being generated for the device / emulator that it'll run on.  They'll show up in the `jniLibs` directory of `MapboxGLAndroidSDK` (see screenshot).

![screen shot 2015-12-02 at 10 04 56 am](https://cloud.githubusercontent.com/assets/989928/11536101/a2335e10-98dc-11e5-86a7-35cbdb751ced.png)
_Possible ABI In Project_

ABI are created

[2015-12-02 16:19] friedbunny commented on #3166
@Mizuki123 If you're looking to show OSM raster tiles, check out this example: https://www.mapbox.com/android-sdk/custom-raster-style/

[2015-12-02 17:59] mikemorris commented on #828
@1ec5 want to check if the resulting framework gets any smaller when rebasing onto [`898-visibility-hidden`](https://github.com/mapbox/mapbox-gl-native/tree/898-visibility-hidden)?

[2015-12-02 19:09] bmeyers43 commented on #2995
@tobrun, my fault, you're right -- calling OnCreate() eliminated the EGL_BAD_DISPLAY error. It would be nice if some code inside the Mapbox SDK checked the state initialized by OnCreate *before* calling eglCreateWindowSurface, and throw a more helpful error if that state has not been initialized yet.

[2015-12-02 19:31] incanus commented on #2167
@cowgp It should work, the trick is updating your vector tile source data rapidly enough. You would put `circle` primitives in your style JSON directly and reapply the `mapView.styleURL` to update the appearance (which itself would be a little dramatic visually, but could work for a prep, load, then reveal scenario). The trick is you can only put those circles where there are data points in the ti

[2015-12-02 19:39] dino368 commented on #3031
I had the same issue! I found out that the image has to be 72x72! Try it out and replay.

[2015-12-02 21:02] jfirebaugh commented on #3164
@kkaefer @ansis Is there any significance to the use of `2` here:

https://github.com/mapbox/mapbox-gl-js/blob/abe3512815032f02a0edefe38c732b4431535b3a/js/symbol/sprite_atlas.js#L114

While 1 is used everywhere else:

https://github.com/mapbox/mapbox-gl-js/blob/abe3512815032f02a0edefe38c732b4431535b3a/js/symbol/sprite_atlas.js#L91
https://github.com/mapbox/mapbox-gl-js/blob/abe3512815032f02a0edefe

[2015-12-02 21:41] ansis commented on #3164
I'm not sure, but I think the `2` means 1px padding on each of the two sides. I think it's correct but not clear.

[2015-12-02 21:57] incanus commented on #3165
Neat, this sounds cool. The Xcode setup directions look simple enough. The flip side risk here is weird cache-related issues, but we get those anyway half the time in Xcode :confused:

[2015-12-02 22:33] franckt opened #3169 "Show / Hide a layer programmatically"
Hi,
Is it possible to show or hide a layer at runtime identified by an id ?

for example this style by "landcover_crop"
               {
               "id": "landcover_crop",
               "type": "fill",
               "source": "composite",
               "source-layer": "landcover",
               "filter": [
                          "==",
                          "class",

[2015-12-02 22:38] 1ec5 commented on #3169
Not yet, but we’re working on it for #837.

[2015-12-02 22:38] #3169 closed

[2015-12-02 22:46] 1ec5 commented on #828
Will do. For now, I’ve tested setting `GCC_OPTIMIZATION_LEVEL=-Os` (per the value in Xcode’s framework template), and that has taken the OS X framework size down to 5 MB in Release, compared to 35 MB with `-O3`. So I expect the iOS framework to be smaller than the static library’s 55 MB regardless.

[2015-12-02 22:53] jfirebaugh commented on #3164
native definitely uses 1 at the [equivalent spot](https://github.com/mapbox/mapbox-gl-native/blob/2a0d2b7f0bb655607f4104b1d22b23d4cd1d6e2b/src/mbgl/sprite/sprite_atlas.cpp#L34-L35).

[2015-12-03 00:22] cesards commented on #3031
+1 here

[2015-12-03 01:33] cesards commented on #2995
+1 here!

[2015-12-03 04:22] #3112 closed

[2015-12-03 04:59] friedbunny commented on #3165
This does look good, we should give it a go.

[2015-12-03 10:12] kkaefer commented on #3165
This turns out to be more complex, largely due to Travis:

The cache produced is dependent on the actual build, so we only should cache the objects for the respective Travis job.

We're currently using `language: android` because we need the Android SDK in some builds (and Travis doesn't support per-build language, and [doesn't](https://github.com/travis-ci/travis-ci/issues/1014) [seem](https://gi

[2015-12-03 10:13] kkaefer opened #3173 "Automate clang-tidy"
We should automatically run clang-tidy with a recent version (e.g. 3.7 or 3.8) on our code to discover bad patterns.

[2015-12-03 16:19] kkaefer opened #3174 "Make redoPlacement faster"
With https://github.com/mapbox/mapbox-gl-native/commit/bafbf6c04b1bfd5da84411f52a72e26783f3bcb7, label placement is very slow. Label placement occurs when the map is rotated or tilted (but not on zoom or pan). It's slow because we're creating a copy of the StyleLayer* objects on essentially every frame when rotating.

/cc @jfirebaugh

[2015-12-03 17:12] bmeyers43 commented on #3041
I also ran into this limitation. My current workaround is to maintain my own dictionary mapping the auto-generated [annotation](https://www.mapbox.com/android-sdk/api/2.2.0/com/mapbox/mapboxsdk/annotations/Annotation.html) `id` to my user-defined marker ID.

For parity, note that a Mapbox GL JS marker implemented as a [GeoJSON feature](http://geojson.org/geojson-spec.html#feature-objects) can have

[2015-12-03 18:19] jfirebaugh commented on #1555
This is apparently no longer an issue in gl-js, now that it's using headless-gl 2.0. It's still a problem in gl-native.

[2015-12-03 18:28] jfirebaugh commented on #1600
No longer happening in js since the switch to headless-gl 2.0. Still happens in native.

[2015-12-03 19:14] jfirebaugh opened #3175 "icon alignment differences in tests"
Moved from https://github.com/mapbox/mapbox-gl-js/issues/1569 now that this happens only in native.

icon-offset/literal:

http://mapbox.s3.amazonaws.com/mapbox-gl-native/render-tests/8219.6/index.html

![image](https://cloud.githubusercontent.com/assets/98601/11576748/e444e890-99cd-11e5-8e92-f124a58ef964.png)

[2015-12-03 19:24] jfirebaugh commented on #3174
gl-js avoids this cost by keeping the necessary data cached on the worker side. gl-native should do something similar.

[2015-12-03 20:28] bobmeyers5 opened #3176 "MarkerClick event is only raised once"
The concept of a tap/click input _event_ and the default _response_ to that event (select the marker and show info window) seem conflated in the current implementation. This causes problems when the input events are important, but the "selection" state is not.

The most critical problem is that a tap/click on a marker _always_ moves the marker into the "selected" state (regardless of the `MarkerCl

[2015-12-03 21:04] bleege commented on #2805
From chat earlier today @zugaldia and I decided to punt on full Camera API support for the time being.  Instead the focus of this ticket / feature will be the Gesture support and the stock `getTilt()` and `setTilt(Double pitch, Long duration)` methods on `MapView`.

[2015-12-03 23:05] bleege commented on #2805
Rebase, Merge, Done.

[2015-12-03 23:05] #2805 closed

[2015-12-03 23:11] zugaldia commented on #2805
Bravo.

[2015-12-03 23:26] mikemorris opened #3178 "upgrade gyp"
We're already using a newer version of gyp to build the Node.js bindings - let's upgrade the version of gyp we use to build everything else and review [our existing patches](https://github.com/mapbox/mapbox-gl-native/commits/master/deps/gyp).

/cc @1ec5

[2015-12-03 23:26] daniel-j-h opened #3179 "Daniel J H's Code Review: Master Ticket"
I'm in Berlin this week, where @joto @kkaefer and I are co-working for a couple of days, exchanging knowledge, tricks and sharing the pain. Today was mapbox-gl-native day for me.

The following is what I found looking over the code base (master@ e5f136a). I started with the platform specific code and could finish that in a handful of hours. There's more to come, as soon as I can spare some time an

[2015-12-03 23:47] incanus opened #3180 "bring back -ObjC linker flag for iOS"
We've decided to keep this to continue IB support prior to having referenced any class methods in code, and Twitter Fabric will make use of our category loader from https://github.com/mapbox/mapbox-gl-native/commit/423cfc11e5ddc3c0464264c876c74f63c456ce5d anyway.

[2015-12-03 23:52] #3113 closed

[2015-12-03 23:52] #3180 closed

[2015-12-04 00:02] incanus opened #3181 "experiment with vendored framework for CocoaPods"

[2015-12-04 00:50] incanus commented on #3181
This looks good with local testing against:

- Swift project deploying to iOS 8
- Objective-C project deploying to iOS 7

[2015-12-04 01:19] incanus commented on #3179
Great review @daniel-j-h, can't wait to go over it in a bit more detail.

[2015-12-04 03:44] skajake opened #3185 "If there are too many annotation images, some annotation images are invisible"
My use case:
I have 19,000 annotations spread across the US.
Each annotation has a unique image.
I only show 20 annotations at a time as the user pans.

Problem:
After panning for awhile and loading a few hundred annotations (not all at once), it fails to show any more.

Here is how I remove and add annotations as the user pans:

[code]

To be clear, the imageForAnnotation method fires, and a vali

[2015-12-04 04:30] 1ec5 commented on #3185
Oh, good catch. Please feel free to submit a pull request with that functionality.

The iosapp demo application loads up to 10,000 points more or less simultaneously, and the only real limit I’m aware of is `UINT32_MAX` (due to the type used for annotation IDs internally). So it sounds like this might be related to the overall number of additions and removals over time. Another possibility is that

[2015-12-04 04:41] hsavit1 opened #3186 "Crash on main thread iOS, Swift"
I've been able to replicate this on multiple projects.

I'm just trying to create a new project with swift. Installed with cocoapods

CoreFoundation`CFStringCompare:
    0x182c9e5a0 <+0>:   stp    x22, x21, [sp, #-48]!
    0x182c9e5a4 <+4>:   stp    x20, x19, [sp, #16]
    0x182c9e5a8 <+8>:   stp    x29, x30, [sp, #32]
    0x182c9e5ac <+12>:  add    x29, sp, #32
    0x182c9e5b0 <+16>:  mov    x19,

[2015-12-04 05:46] jfirebaugh commented on #3185
I think this is a duplicate of #1883.

[2015-12-04 06:22] AdamBCo commented on #3099
Any progress on this issue?

@RomainQuidet were you able to fix this issue?

[2015-12-04 07:24] friedbunny commented on #3186
This is a dupe of #3112 — until v3.0.1 is released, make sure CoreTelephony.framework is not linked in your project.

[2015-12-04 11:33] adamszeptycki opened #3187 "iOS Crash on start after updating to Mapbox-iOS-SDK 3.0.0"
After updating project to Mapbox-iOS-SDK app keeps crashing in `CoreFoundation`CFStringCompare:`
Crash is before `application:didFinishLaunchingWithOptions` is called. Project is in Swift.

Do you have any ideas how to solve that problem?

[2015-12-04 11:55] adamszeptycki commented on #3187
I used cocoapods and your tutorial to integrate map box.

[2015-12-04 13:39] YBthebest commented on #3110
Hi,

I am still having this issue with multiple annotations.
When I use one single annotation, it actually works perfectly.

But whenever I use TWO annotations, I get zoomed in just like I showed in the picture above.

[code]

This works fine. If I add a second annotation, it does the weird zoom in thing.

Are you able to reproduce this?

[2015-12-04 15:12] zugaldia opened #3188 "Save tilt value under a change in device orientation"
The work in https://github.com/mapbox/mapbox-gl-native/issues/2805 doesn't include saving the tilt value in the `outState` bundle, only if tilt is enabled/disabled. We should include it so that when an user changes the device orientation they can still see the map under the same tilt.

/cc: @bleege

[2015-12-04 15:22] tobrun commented on #2954
@bleege

One thing I have discussed with @ljbade was to decouple Location updates from the MapView by introducing a LocationService. The end user is responsible for adding the service to the AndroidManifest (as he is now already responsible for adding relevant locational permissions).

All the components (MapView, Metrics, etc.) who want to receive location updates can bind to this service. Also e

[2015-12-04 15:24] 1ec5 opened #3189 "Tilt user dot on Android"
The user dot or at least its accuracy circle should be transformed to appear flat against the map. See #2233 for the iOS equivalent.

/cc @zugaldia @friedbunny

[2015-12-04 15:28] zugaldia commented on #3189
@1ec5 Yes.

Also, related: Is iOS doing the same thing with InfoWindows (callouts), i.e. those farther look smaller, closer InfoWindows look bigger? I noticed we aren't changing those either and we might extend this ticket to native (as in Android) annotations.

[2015-12-04 15:30] hsavit1 commented on #3186
It has nothing to do with the core telephony framework. that framework isnt
linked at all.

The only thing i have done is added the settings bundle and installed
MapBox via Cocoapods. _That's it_

On Fri, Dec 4, 2015 at 2:24 AM, Jason Wray <notifications@github.com> wrote:

[2015-12-04 15:31] tobrun commented on #3189
@zugaldia
I have been thinking about introducing a generic system around the whole View versus GL interaction..
The most of these Android Views will support the same behaviour.

[2015-12-04 15:32] 1ec5 commented on #3099
This was fixed in #3099, which is in 3.0.0.

[2015-12-04 15:33] 1ec5 commented on #3099
Oh never mind, I missed @RomainQuidet's comment above.

[2015-12-04 15:46] 1ec5 commented on #3189
It probably doesn't make sense for the InfoWindows to shrink into the distance, becoming illegible. #2186 tracks shrinking the iOS user dot and its accuracy circle as it goes farther away. Ideally the Android version would too. This would be a good opportunity to introduce a "pixels per meter at distance from center" method in mbgl along the lines of the existing metersPerPixelAtLatitude().

[2015-12-04 15:46] tobrun opened #3191 "Double direction state"
Currently when the MapView is recreated with a savedstate.
We are setting the direction twice as noticed by @zugaldia [here](https://github.com/mapbox/mapbox-gl-native/blob/3188-save-tilt/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/views/MapView.java#L812).

The correct way to handle this is to take in account the different tracking modes:
 - MyLocationTracking
 - MyLocationBeari

[2015-12-04 15:49] tobrun commented on #3189
@1ec5
thank you for adding the `pixels per meter at distance from center` explenation, will get back to you if I can't figure it out on myself using `metersPerPixelAtLatitude()` as an example.

[2015-12-04 15:52] bleege commented on #3189
Related to #2233 (user puck / hoverdot)

[2015-12-04 15:59] 1ec5 commented on #3186
Can you provide the full crash log (in a gist if it's too long)? Also, which devices/simulators are you seeing this on?

[2015-12-04 16:01] #3188 closed

[2015-12-04 16:01] 1ec5 commented on #3187
Dupe of #3186. Would you mind providing a full crash log for this issue? Thanks.

[2015-12-04 16:01] #3187 closed

[2015-12-04 16:09] bleege commented on #3098
This was done in #3125

[2015-12-04 16:09] #3098 closed

[2015-12-04 16:25] adamszeptycki commented on #3187
It looks exactly the same as here:
http://stackoverflow.com/questions/34083200/mapbox-and-parse-ios-api-compatibility/34087004#34087004

[2015-12-04 16:52] #3115 closed

[2015-12-04 16:53] #3121 closed

[2015-12-04 16:53] #3151 closed

[2015-12-04 16:57] bleege opened #3192 "Release Android 2.3.0"
Now that Tilt and multiple open InfoWindows and panning support has landed @gundersen requested that we release `2.3.0` today.

### New Highlights

* [Tilt](https://github.com/mapbox/mapbox-gl-native/issues/2805)
* [Keep InfoWindow Open When Panning](https://github.com/mapbox/mapbox-gl-native/issues/3121)
* [Concurrent Multiple Open InfoWindows](https://github.com/mapbox/mapbox-gl-native/issues/31

[2015-12-04 18:14] 1ec5 commented on #3187
Are you linking Core Telephony in any way (for example, by linking some other package that requires Core Telephony)? If so, you’re actually seeing #3112, which is fixed and will make it into 3.0.1. In the meantime, the workaround is unfortunately to ensure that you aren’t using Core Telephony. Sorry for the inconvenience.

[2015-12-04 18:17] syedhali commented on #3130
Hey guys, I'm also experiencing this (just updated from 2.1.2 to 3.0.0). Really love the release, but we've rolled back our app to 2.1.2 because the leak is too large for now.

[2015-12-04 18:45] 1ec5 commented on #3130
Any idea what could’ve caused this @jfirebaugh? If not, I can bisect later today.

[2015-12-04 19:12] bleege commented on #3192
Confirmed that `2.3.0` is now live on [Maven Central's repo1](https://repo1.maven.org/maven2/com/mapbox/mapboxsdk/mapbox-android-sdk/2.3.0/).  It'll still take a few hours before it gets indexed and is searchable by http://search.maven.org/ but the library is publicly available as of now.

[2015-12-04 19:23] jfirebaugh commented on #3130
Please do. I don't immediately see any issues in the code.

[2015-12-04 19:36] bleege commented on #3192
Confirmed tag --> https://github.com/mapbox/mapbox-gl-native/releases/tag/android-v2.3.0

[2015-12-04 19:37] #3192 closed

[2015-12-04 19:41] bleege opened #3194 "Merge Android 2.3.0 Release Branch Back In To Master"
https://github.com/mapbox/mapbox-gl-native/tree/release-android-v2.3.0 needs to rejoin `master` now that the [2.3.0 release is done](https://github.com/mapbox/mapbox-gl-native/issues/3192).

[2015-12-04 20:32] #3194 closed

[2015-12-04 20:54] friedbunny commented on #3110
No, I'm not able to reproduce — `-[MGLMapView showAnnotations:animated:` works as expected, with any number of annotations.

Here's my test case, adapted from your code:

[code]

[2015-12-04 21:09] adamszeptycki commented on #3187
I don't use core CoreTelephony. This is what I'm getting:

[code]
I think it is the same thing as #3186.

[2015-12-04 21:48] friedbunny commented on #3187
Try using `v3.0.1-pre.1` in your `Podfile`:

[code]

[2015-12-04 22:41] dagatsoin commented on #2939
Is there a branch already on github for testing?

[2015-12-04 23:12] scottfoltz opened #3196 "Multiple Custom Icons"
Trying to add two different markers with different icons, but every time I try both markers are set to the same image.. Don't know why this is happening...

[2015-12-04 23:13] scottfoltz opened #3197 "Multiple Custom Markers"
Trying to add two different markers with different icons, but every time I try both markers are set to the same image.. Don't know why this is happening...

[2015-12-04 23:14] 1ec5 commented on #3197
Duplicate of #3196.

[2015-12-04 23:14] #3197 closed

[2015-12-04 23:14] 1ec5 commented on #3196
Hi @scottfoltz, first of all, this repository covers a variety of platforms, including iOS and Android. Which Mapbox SDK are you using (and which version)?

[2015-12-04 23:15] scottfoltz commented on #3196
Android, sorry for not specifying.

On Fri, Dec 4, 2015 at 5:15 PM, Minh Nguyễn <notifications@github.com>
wrote:

[2015-12-04 23:17] 1ec5 commented on #3196
No problem. (@zugaldia @bleege, could you help here? I’m not really familiar which questions to ask for Android. :smile:)

[2015-12-05 00:39] scottfoltz commented on #3196
Nevermind fixed it. thanks anyways

[2015-12-05 00:40] #3196 closed

[2015-12-05 02:14] skajake commented on #3185
I tried using the same reuseIdentifier (and by extension image) and it has no trouble showing as many annotations as I want.   Is there a way to disable caching, or whatever the reuse identifier is used for?

[2015-12-05 11:51] adamszeptycki commented on #3187
@friedbunny It's working ;)

When version 3.0.1 will be released? Will it be this year?

[2015-12-05 16:26] friedbunny commented on #3187
Should be coming officially early next week.

[2015-12-05 18:17] YBthebest commented on #3110
I really don't get it. I am using the very last release and copying your exact code and I have the same issue...completely zoomed in onto nothing. I literally copied your code. What could go wrong?

[2015-12-05 22:26] zugaldia commented on #3196
Scott and I were in touch via the tweets. Glad to hear this was fixed, ping us again if you run into any issues.

[2015-12-06 02:56] AdamBCo opened #3201 "Disable annotationCanShowCallout for userLocation"
I looked through the documentation and couldn't find a way to specifically disable the annotationCanShowCallout for the userLocation annotation.

Could someone please help me achieve this result?

Thank you

[2015-12-06 04:31] 1ec5 commented on #3201
Your map view delegate can check whether the passed-in annotation is the `userLocation` annotation:

[code]

[2015-12-06 04:31] #3201 closed

[2015-12-06 04:34] AdamBCo commented on #3201
@1ec5 Thank you!

[2015-12-06 05:17] kkaefer commented on #3178
Maybe it's time to change our build to CMake? The only reason we're stuck on gyp are so that integration with node bindings is easer (by building it in one build step, rather than first building a library, then adding that library to node). We're working around gyp's deficiencies in https://github.com/mapbox/mapbox-gl-native/blob/master/scripts/node/create_npm_scheme.sh has well to add direct run

[2015-12-06 05:24] 1ec5 commented on #3178
The node bindings already seem to be using a different copy of gyp. Or at least there’s a separate copy being installed in node_modules, in addition to the much older copy in deps that we’re thinking of upgrading.

[2015-12-06 23:41] 1ec5 commented on #1420
Implemented in #3203.

[2015-12-06 23:56] 1ec5 commented on #2117
It’s more likely that we’ll end up switching to jazzy: #3203.

[2015-12-07 00:05] 1ec5 commented on #1426
This will be moot once we move to a dynamic framework in #3182 and/or #3183.

[2015-12-07 02:39] bleege commented on #3031
The underlying issue is being addressed in #3164.

[2015-12-07 03:17] vyshane opened #3204 "MGLMapView leaks in v3.0.0 of the iOS SDK"
I've created a [minimal iOS project](https://github.com/vyshane/mapbox-leak) to observe the leak. The app uses a navigation controller to navigate between two view controllers. The root view controller has a button to push a view controller that contains an MGLMapView onto the navigation stack.

To observe the leak:

 1. Clone the project: `git clone https://github.com/vyshane/mapbox-leak.git`
 2.

[2015-12-07 09:38] RomainQuidet commented on #3099
Hi,
Sorry no I did not work on that as @1ec5 was on it. I can work on it if right now.

[2015-12-07 09:56] syedhali commented on #3204
This is the same as #3130

[2015-12-07 12:01] rvmirror opened #3205 "shape_annotation_impl.cpp:109: undefined reference to `mapbox::util::geojsonvt::Convert::create"
$ make linux
make[1]: Entering directory '/disk/src/mapbox-gl-native'
build: linux/x86_64
host: linux/x86_64
libs: headless=glx  platform=linux  asset=fs  http=curl  cache=sqlite
* Recreating project...
* Building target linuxapp...
make[2]: Entering directory '/disk/src/mapbox-gl-native/build/linux-x86_64'
  LINK(target) Release/mapbox-gl
./Release/obj.target/gyp/libmbgl-core.a(shape_annotation_i

[2015-12-07 14:15] RomainQuidet commented on #2151
center offset for annotations is done, need to offset the touch event and the callout too.

[2015-12-07 14:55] johnnewman opened #3206 "Crash when tapping on disabled map annotations"
In the Mapbox iOS SDK 3.0.0, tapping a map annotation that has its `MGLAnnotationImage`'s `enabled` property set to `NO` sometimes causes a crash.  Using the default of `YES` never crashes.  FWIW: we mix enabled and disabled annotations on the map, with the disabled ones being much smaller pin images.

Trace:
[code]

[2015-12-07 16:24] 1ec5 commented on #3206
For what it's worth, this code is due to be rewritten as part of #3159. I haven't seen this crash in the OS X port, from which I intend to backport the new version.

[2015-12-07 17:09] mudar opened #3207 "onMapChanged() called repeatedly when enabling MyLocation"
Hi,

I have noticed that `onMapChanged(int change)` is called repeatedly (never stops) if you enable MyLocation.
[code]
It gets about 100 calls per second, a sequence of `WILL_START_RENDERING_FRAME` followed by `DID_FINISH_RENDERING_FRAME_FULLY_RENDERED`. So that's 8,10,8,10...
And this happens when I'm not touching the screen. And the map is not updating because of the MyLocation blue dot, since

[2015-12-07 17:10] mudar commented on #3207
simplified log, with 2 long sequences of about 100 calls per second.
[code]

[2015-12-07 17:19] afathman commented on #3108
Now being tracked in #3164. Also, missed target of v2.3.0.

[2015-12-07 17:43] mikemorris commented on #3205
Looks possibly related to https://github.com/mapbox/geojson-vt-cpp/pull/15 - are you building with a compiler that doesn't support `__attribute__ ((visibility ("default"))) ` by any chance?

[2015-12-07 17:47] jfirebaugh commented on #3164
This is getting bumped from my priorities.

[2015-12-07 17:50] mudar commented on #3207
One more note about `onMapChanged()`, the call sequence stops if you pan MyLocation out of the map (with its accuracy circle). If not, the sequence never stops.

I've been struggling for a while with the OpenGLRenderer crash issue on the Xperia M4, so the `onMapChanged()` issue is just my latest guess!

- It doesn't crash on Nexus 6, HTC One Mini or Galaxy S3.
- It doesn't crash without enabling M

[2015-12-07 17:55] kkaefer opened #3208 "Reverse line-offset"
As per https://github.com/mapbox/mapbox-gl-style-spec/issues/386, we're reversing the direction of line-offset.

Master ticket: https://github.com/mapbox/mapbox-gl/issues/3#issuecomment-162607343

[2015-12-07 18:06] mikemorris commented on #3178
Is this something we could possibly upstream into gyp? Is CMake really a more attractive build system?

Yep, this was to land `make xnode` support for Node.js v0.10.x in https://github.com/mapbox/mapbox-gl-native/commit/36a8fb32d5e4fd58d5ea04f45a4cabdbab9ed920. Previously `make node` builds were just using the default `node-gyp` bundled with whichever version of Node.js was active when compiling.

[2015-12-07 18:11] kkaefer commented on #3178
@mikemorris There's a half-baked branch at https://codereview.chromium.org/385963006/ that adds schemes, but gyp is pretty much unmaintained, as Google is moving away from `gyp` to `gn` or `bazel`.

[2015-12-07 18:36] mikemorris commented on #3178
@kkaefer Given the current state of gyp/gn/bazel I'm sold on moving to CMake if we can nail [nan](https://github.com/nodejs/nan) support, I could work on patching anything upstream if needed.

[2015-12-07 19:17] incanus commented on #3178
Possibly useful: https://github.com/mapbox/mapbox-gl-native/issues/18

[2015-12-07 19:39] incanus commented on #1792
Going to push this from 3.0.1 release and move to 3.1.0 to continue to investigate post-release.

[2015-12-07 20:11] kkaefer opened #3209 "Remove Android tests from Travis"
Android tests are now run on Bitrise, so we can remove them from Travis builds.

This enables https://github.com/mapbox/mapbox-gl-native/issues/3165

/cc @zugaldia @bleege @tobrun

[2015-12-07 20:15] #1426 closed

[2015-12-07 20:15] #3181 closed

[2015-12-07 20:32] tobrun commented on #3189
Been looking into titling the `UserLocationView` itself without suggested methods.
Currently facing the problem that the height and width of `UserLocationView` is match_parent.
The normal way of calling setRotationX will not work in that case.

[2015-12-07 21:03] #3099 closed

[2015-12-07 22:47] kkaefer opened #3210 "Clean up C++ usage"
C++ code cleanup based on https://gist.github.com/kkaefer/ff61027d3efcbf5c06f8

[2015-12-07 23:59] tobrun opened #3212 "Test CI unit test integration"
I'm using this issue to test out per commit unit test integration on Bitrise.

[2015-12-08 00:11] mikemorris commented on #3178
Fixed in #3193, let's open a new ticket for discussion around switching build systems to CMake or something else.

[2015-12-08 00:11] #3178 closed

[2015-12-08 01:23] zugaldia opened #3213 "Null exception in onResume() when mocking GPS"
This exception is found when setting a background service that mocks the GPS position for a route by using Android's `LocationManager.addTestProvider()`. If we have this enabled and following a route then we get  the following exception:

[code]

[2015-12-08 01:38] tobrun commented on #3212
It worked!

[2015-12-08 01:38] #3212 closed

[2015-12-08 01:57] bleege commented on #2954
The difference is that the permissions are Android wide and not specific to a 3rd Party library like Mapbox in this case.  I'm not totally against this, but I'd prefer a route that didn't require developers to have to add configuration stuff to make Mapbox features work.

[2015-12-08 02:04] tobrun opened #3215 "Add Unit test for Marker"
Need to add tests for the Annotation package.
Will add some basic java utility methods while I'm at it eg. toString()

[2015-12-08 02:55] kkaefer opened #3217 "Switch clang-tidy job to libstdc++-5"

[2015-12-08 14:13] yanaperhun commented on #2995
I have same error (nexus 5)

12-08 17:09:06.750 27089-27089/? E/libEGL: validate_display:255 error 3008 (EGL_BAD_DISPLAY)
12-08 17:09:06.750 27089-27089/? E/mbgl: {Main}[OpenGL]: eglCreateWindowSurface() returned error 12296
12-08 17:09:06.751 27089-27089/? A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 27089 (com.CatTaxi)
12-08 17:09:06.852 201-201/? A/DEBUG: *** *** *** *** *** *** *** *** ***

[2015-12-08 14:42] tmpsantos commented on #3210
Nice. BTW, are you using any static analysis tool to help you flag these errors?

[2015-12-08 14:45] tmpsantos commented on #3179
We an probably remove the `AsyncQueue` from node and replace it with `util::WorkQueue` that does basically the same.

[2015-12-08 14:58] tmpsantos commented on #3210
Dup of #3179?

[2015-12-08 15:04] tmpsantos opened #3219 "[core] Better C++ usage on RunLoop"
Follow-up of #3179

[2015-12-08 15:54] RomainQuidet commented on #2151
checkout pull request #3220 for this to work (core + iOS code)

[2015-12-08 16:14] RomainQuidet commented on #3027
Globally tapping annotation should not only suppose user tapped near the annotation's coordinate. As with annotationImage offset, it should take it into account too.
Internal code should be reworked for that.

[2015-12-08 16:25] 1ec5 commented on #3027
This is fixed in the OS X port. Backporting to iOS is blocked on #3159.

[2015-12-08 17:32] #3215 closed

[2015-12-08 17:35] tobrun opened #3221 "Add unit tests for the annotations package"
Already covered Marker class in #3216, will add other classes to be unit tested as well.

[2015-12-08 17:53] mikemorris commented on #3179
Yea, that sounds like a good idea. `AsyncQueue` was originally in mbgl core when it was pulled into Node bindings as a dependency, then later moved to `platform/node` when it was removed from core.

[2015-12-08 18:04] jfirebaugh commented on #3179
`AsyncQueue` will no longer be necessary once #2909 is finished. Let's just leave it for now.

[2015-12-08 18:07] tobrun commented on #3221
Currently in scope are PolyLine and Polygon.
Other classes as Sprite and InfoWindow have a lot of dependencies to the Android system and due to limited visibility of constructor etc. these are currently very hard to test..

[2015-12-08 18:10] tobrun commented on #3221
Will PR current progress for PolygonTest and PolylineTest

[2015-12-08 18:45] mourner commented on #2926
We still didn't manage to find a geometry test case to reproduce this crash in pure `geojson-vt-cpp` (likely producing some type of invalid geometry that doesn't fit GeoJSON spec), but https://github.com/mapbox/geojson-vt-cpp/pull/22 should help tracking down crashes like this with more predictable error messages.

[2015-12-08 19:34] incanus commented on #2939
Yeah @dagatsoin, you want [`2939-jrm-offline-file-source`[(https://github.com/mapbox/mapbox-gl-native/compare/2939-jrm-offline-file-source). Picking work back up on this soon.

[2015-12-08 19:54] tobrun opened #3224 "Update Android Espresso UI tests for CI integration"
Current scope:
 -  [x] add test for `TiltActivity`
 - [x] ~~add newly introduced test rules as showcased in [Automated Performance Testing codelab](https://www.code-labs.io/codelabs/android-perf-testing/index.html?index=..%2F..%2Findex#0)~~
 - [x] add more test logic to the tests, currently most tests are just `sanity` checks

[2015-12-08 20:44] tobrun commented on #3224
FYI:

New test rules:
[code]

and you need to anotate the class + the method with:
[code]

[2015-12-08 20:53] tobrun commented on #3224
This will generate the following items in the build folder:

<img width="548" alt="screen shot 2015-12-08 at 12 52 34" src="https://cloud.githubusercontent.com/assets/2151639/11668190/9e3ba164-9daa-11e5-9f30-fcdfe6f017c4.png">

[2015-12-08 21:36] parrots opened #3225 "Changing styles causes annotation images to fail"
I've been prototyping a map that can switch between a terrain map style and a satellite style. On that map I draw a bunch of overlays, and then annotations which are backed by UIImages. The initial draw works perfectly fine. However, once I change the styleURL on the map view the backing tiles change OK, but all of the annotations are now not visible.

My log does fill up with messages like `Can't

[2015-12-08 21:37] 1ec5 commented on #3225
Dupe of #1488.

[2015-12-08 21:37] #3225 closed

[2015-12-08 22:55] #2672 closed

[2015-12-08 23:06] #3221 closed

[2015-12-08 23:22] tobrun commented on #3224
Will postpone the new test rules integration, currently not stable enough

[2015-12-08 23:33] tobrun commented on #2049
I'm working on this again, because I have noticed 2 bugs on current progress that need to fixed asap

[2015-12-08 23:57] tmpsantos opened #3229 "[core] Shaders get recompiled on every build"
Two consecutive builds are showing the results below as the second should not.

[code]

[2015-12-09 00:01] tmpsantos commented on #3229
This regression was caused by d467ae6e7867044b8d7b466776fb37089292c52b.

/cc @mikemorris

[2015-12-09 01:31] jfirebaugh commented on #3205
Duplicate of #3123.

[2015-12-09 01:31] #3205 closed

[2015-12-09 01:38] jfirebaugh commented on #678
pause/resume is going away with #2909 so this isn't that important anymore.

[2015-12-09 01:38] #678 closed

[2015-12-09 01:41] jfirebaugh commented on #489
I've since learned that we can't increase the size beyond 1024x1024 without changing how sprite alas coordinates are packed in vertex attributes. (Icons are aligned to multiples of 4 pixels, each coordinate is packed into a single byte, and multiplied by 4 in the shader.)

[2015-12-09 02:06] tobrun opened #3231 "Add support for tinting UserLocationView and Attribution icon"
iOS currently exposes a feature that allows tinting the UserLocationView and the Attribution Icon.

On Android we can support automatic tinting by using:
[code]

cc @bleege @zugaldia

[2015-12-09 02:12] kkaefer opened #3232 "Upgrade to GeoJSON VT 3"
Once GeoJSON VT 3 is released, we should upgrade to it. This pull request tracks the API changes required.

[2015-12-09 09:38] RomainQuidet commented on #2600
Apple MapKit uses 2 APIs for this using insets:
- (void)setVisibleMapRect:(MKMapRect)mapRect
              edgePadding:(UIEdgeInsets)insets
                 animated:(BOOL)animate

and

- (MKMapRect)mapRectThatFits:(MKMapRect)mapRect
                 edgePadding:(UIEdgeInsets)insets

[2015-12-09 09:55] 1ec5 commented on #2600
We have `-setVisibleCoordinateBounds:edgePadding:animated:` already; a `-coordinateBoundsThatFits:edgePadding:` would certainly complement it. But I think this request is more about having MGLMapView offset the center when _automatically_ panning due to user location tracking.

One thing I’m stuck on is how best to present this option to developers: should it be a percentage or an absolute pixel?

[2015-12-09 10:26] RomainQuidet commented on #2600
Ok, it's something not available on Apple MapKit. We have this feature on our map at Mappy, we just expose a property to users in the framework:
@property (nonatomic, assign) UIEdgeInsets insets;

This inset is used when centering the map at coordinates or at the user position or when setting the region.
This allow users to offset the center easily, add others view above the map and keep the map's

[2015-12-09 11:01] 1ec5 commented on #2600
So if you have course tracking on and want to push the puck down to the bottom, as depicted in https://github.com/mapbox/mapbox-gl-native/issues/2600#issue-111168753, you’d set a very large top inset, correct? That sounds reasonable. In fact, under the hood, we’ll want methods like `-setCenterCoordinate:` to respect an implicit top or bottom inset whenever there’s a top or bottom layout guide.

[2015-12-09 11:13] RomainQuidet commented on #2600
Yes, it's working like that.
User defines a mapView frame, and then sets an inset. The frame displays a full map, centered on the inset rectangle center.

[2015-12-09 14:51] RomainQuidet commented on #3116
We've got a story here at Mappy where we need to animate an annotation (Dropping, or jumping around on the map). Doing so in GL is quite difficult (I easily see how to do in iOS native). Am I wrong ?

[2015-12-09 16:33] dagatsoin opened #3233 "How to expose the camera and compile a special version?"
I am trying to get the camera exposed to React Native but the current version of MapboxGL does not seem to expose the MGLMapCamera. So I am trying to modify the source to expose it.
But What scheme do I have to compile and what resulting file I have to import in the React Native project?
Plus, do you know what file I have to tweak to expose the camera properties?

[2015-12-09 16:34] mudar commented on #3207
The `onMapChanged()` issue is very probably related to ticket #2049
I've replaced these lines
[code]
by the following, to see if the issue is related to the comapss
[code]
And there it was: the compass arrow keeps constantly spinning around. Mapbox doesn't seem to find MyBearing, while it looks ok in google maps (no calibration request). I then tried to explicitly disable the compass bearing
[code

[2015-12-09 17:04] millenbop commented on #2761
Thanks for fixing this! Just integrated 3.0 and works like a charm.

[2015-12-09 17:27] leofarage commented on #3128
Hi, sorry for taking so long to answer -- I was out of the office.

Anyhow, I found out that the **Card.IO** library packs the 64 bits libs, consequently it creates a **arm64-v8a** folder inside the **libs** folder of the app.

After removing it from the app the **UnsatisfiedLinkError** disappeared, instead a new error appeared:

This test was done using a *Samsung Galaxy S6 Edge*

Thanks for all

[2015-12-09 17:35] 1ec5 commented on #3233
MGLMapCamera should definitely be visible, as should the -camera, -setCamera:, and -setCamera:animated: (etc.) methods on MGLMapView. MGLMapCamera is defined in MGLMapCamera.h. Do you have this project checked out directly, or the version that react-native-mapbox-gl pulls down?

/cc @bsudekum

[2015-12-09 17:41] #3213 closed

[2015-12-09 17:56] dagatsoin commented on #3233
To be more precise: I need a reference to the camera for binding it to React Native. I need to use pitch and maybe other properties from the MGLView always in sync with other part of my React Native code.

[2015-12-09 18:26] dagatsoin commented on #3233
Ho. I think I am wrong. Indeed the reference is passed correctly. The nil value is caused by the camera initialization. So it is OK I don't need to dig in the MapboxGL Native project.

[2015-12-09 18:26] #3233 closed

[2015-12-09 19:23] kkaefer opened #3234 "Make Xcode run the test-suite directly to enable debugging"
Our Xcode scheme currently uses `npm` to invoke the test suite, but that breaks debugging because npm runs as a subcommand (and seemingly doesn't `execv`). Instead, we should execute the script directly to enable breakpoints in Xcode.

[2015-12-09 19:25] jfirebaugh commented on #3130
I suspect that `SpriteAtlas` is a symptom of a larger, parent object being leaked.

[2015-12-09 19:35] jfirebaugh opened #3235 "Implement gl::Value::reset as operator=(T::Default)"
[code]

This will:

* avoid making a no-op change
* ensure `dirty` is `false`, which is correct (the GL state winds up set to a known value)

I tried this briefly as part of #3223 but there was a compilation error and I moved on.

cc @brunoabinader

[2015-12-09 20:04] leofarage commented on #3128
Hi, I realized that the accessToken was missing from the **Manifest** file -- that solved the issue mentioned above.

I guess this issue is *resolved*. The best solution would be the lib packing a 64bits **.so** but since this is not planned for the near future we'll have to decided what to do about the **Card.IO** lib.

Thank you for all the help!

[2015-12-09 20:05] tobrun commented on #3224
Will PR current progress on `TiltActivityTest` due to prioritisation

[2015-12-09 20:37] zugaldia opened #3238 "Inconsistent package name for TestApp"
In `AndroidManifest.xml` we're using `com.mapbox.mapboxsdk.testapp` as the package name, while the `build.gradle` file uses `com.mapbox.mapboxgl.testapp`.

I found out about this when manually launching the app using `adb`, which needs something like this:

[code]

Any reason for this? Otherwise, we should decide on just one.

/cc: @bleege @tobrun

[2015-12-09 20:40] leofarage commented on #3128
So I found out that **gradle** supports targeting platforms. I found it in this [SO question](http://stackoverflow.com/a/30799825).

Using that I forced my project to not attach the 64 bits **.so**. I guess this is a good solution while Mapbox doesn't support 64 bits.

[2015-12-09 20:46] bleege commented on #2954
Rebased and Merged.

[2015-12-09 20:46] #2954 closed

[2015-12-09 20:53] mikemorris commented on #1223
-> https://github.com/mapbox/mapbox-gl/issues/4

[2015-12-09 20:53] mikemorris commented on #1259
-> https://github.com/mapbox/mapbox-gl/issues/4

[2015-12-09 20:53] #1259 closed

[2015-12-09 21:26] tobrun opened #3239 "Multiple markers with/without a sprite, not showing correct one"
### Problem and output
When you add a marker for the second time to a map, it still shows the sprite from the previous one.

When trying to do so I'm seeing this log message:

### Use cases
I have tested and verified following workflows:

- First add a default marker than add a marker with a sprite
  - add a marker with no sprite shows the default marker
  - remove that marker
  - adding a marker

[2015-12-09 21:34] tobrun commented on #3238
@zugaldia
Nice catch, I believe it should be `com.mapbox.mapboxsdk.testapp`, the `com.mapbox.mapboxgl.testapp` is an artefact from prior the decision reusing the raster SDK package.

[2015-12-09 21:59] tobrun commented on #3207
@mudar
Thank you reaching out and reporting these problems.

#### Too many updates:
The `UserLocationView` is a basic Android View versus our MapView which is GL based.
We need to keep both the View location and GL elements in sync, this will probably be the cause of these updates. Will have to look into it where this is happening and if we can optimise this.

#### Spinning UserLocationView:
I rec

[2015-12-09 22:09] friedbunny commented on #1319
Fixed back in #2153.

[2015-12-09 22:09] #1319 closed

[2015-12-09 22:12] heyitsgarrett commented on #1319
:smile:

[2015-12-09 22:27] bleege commented on #3238
Yep, this is the one to use.  `com.mapbox.mapboxgl.testapp` was the original package name that we used before we refactored it to fit into the existing raster Mapbox Android SDK package name.

[2015-12-09 22:29] abpopov commented on #3101
I solve this by this code
 mapView.layer.backgroundColor =[[UIColor clearColor] CGColor];

[2015-12-09 22:37] zugaldia commented on #2954
@bleege great to see this landing. What would be the best place to get sample code of the new behavior?

[2015-12-09 22:56] #3224 closed

[2015-12-09 23:03] bleege commented on #2954
@zugaldia For now the best spot is in UserLocationView in `toggleGPS()` and `onLocationUpdated()`.

[2015-12-09 23:58] tobrun opened #3240 "UserLocationView is spinning around"
As mentioned in #3207, the user location view keeps spinning around when compass bearing is enabled.

[2015-12-10 00:02] tobrun commented on #3240
I reimplemented the compass logic for non locational tracking, issue seems to be resolved for that.
Up next is fixing locational tracking.

[2015-12-10 00:30] tobrun commented on #3240
That is also done, next up is fixing some issues related to switching tracking modes

[2015-12-10 00:43] tobrun commented on #3240
Switching between location tracking modes doesn't reposition the user dot correctly

[2015-12-10 00:52] adam-mapbox commented on #477
https://github.com/mapbox/mapbox-gl-native/tree/adam_477_pbo_read_pixels

[2015-12-10 00:53] adam-mapbox commented on #477
After talking with @mikemorris , it's not clear that doing `readStillImage` asynchronously is a win for us.  The current context where this is used is already "asynchronous" in a sense; we don't have useful work to do while we wait for the image that we're getting on that thread.

[2015-12-10 01:25] kkaefer opened #3243 "Only rebuild shaders when something changed"
We're currently rebuilding shaders no matter what.

[2015-12-10 11:29] nicolasfavier commented on #2840
Hi @franckt ,
I am currently stuck in the same kind of problem.
Did you found any solution or work around?

[2015-12-10 15:53] #3240 closed

[2015-12-10 15:55] bleege opened #3244 "Android Camera API"
The next iteration of the map interaction API should be to add a Camera API.  The Camera API will be modeled on the Google Maps Android API to maximize familiarity.  Key classes will be:

* [CameraUpdate](https://developers.google.com/android/reference/com/google/android/gms/maps/CameraUpdate)
* [CameraUpdateFactory](https://developers.google.com/android/reference/com/google/android/gms/maps/Camer

[2015-12-10 16:12] tobrun opened #3245 "Reverse tilt gesture direction"
For parity with iOS we need to switch the direction of the tilt gesture.

cc @zugaldia @bleege

[2015-12-10 16:18] bleege commented on #3244
Related to #2805

[2015-12-10 18:11] tobrun opened #3246 "Disable the manual zoom button by default in the SDK"
Related to the UI control in the bottom:

![device-2015-12-10-100858](https://cloud.githubusercontent.com/assets/2151639/11724023/4849248e-9f26-11e5-8487-c976bd35c18d.png)

[2015-12-10 18:23] niedzielski opened #3247 "Android crash when displaying map on Samsung Galaxy Tab (SM-T230NU)"
Hello! One of users was able to produce a native crash and sent in the appended logcat. This is likely on version SDK v2.2.0 but possibly v2.3.0. We're working to obtain more information. Is a symbol archive available for each release? I've built the SDK but would be more confident using symbols recorded in the original release.

    I/DEBUG   (  142): *** *** *** *** *** *** *** *** *** *** *** *

[2015-12-10 20:21] tobrun opened #3248 "Enforce usage of ApplicationContext in LocationServices"
When instantiating a Singleton with a Context, we should enforce the usage of ApplicationContext:

Replace:
[code]
With:
[code]

This will prevent leaking the Activity and corresponding view hierarchy.

[2015-12-10 20:45] #1892 closed

[2015-12-10 21:34] bleege commented on #3244
Basic classes, method stubs, and a TestApp activity are built.  The next step is wiring up Core GL to the method stubs and verifying via TestApp activity.

[2015-12-10 21:56] tobrun commented on #2386
This is already in place with #3125

[2015-12-10 21:56] #2386 closed

[2015-12-10 23:52] 1ec5 opened #3249 "-[MGLMapView selectAnnotation:animated:] does not pan map to fit callout view"
When YES is passed into `-[MKMapView selectAnnotation:animated:]`, MKMapView automatically pans so that the entire callout view fits in the viewport. Instead, `-[MGLMapView selectAnnotation:animated:]`’s `animated` parameter controls whether the callout view fades in.

A fix for this discrepancy may have to wait until we fix #3154 and #2618.

/cc @incanus @friedbunny

[2015-12-11 00:25] bleege opened #3251 "Directions Example In TestApp"
To help people better self serve let's build a simple Directions activity in the TestApp.  All it needs to do is draw markers for the starting and stopping points and a polyline for the route.  The data can be cached JSON from an actual request to [Mapbox Directions](https://www.mapbox.com/developers/api/directions/).

/cc @zugaldia @tobrun @mapbox/support

[2015-12-11 00:55] tobrun opened #3252 "Autohide CompassView should be optional"
As discussed with @bleege:

If CompassView is facing north, it is automatically hiding the Compass after a second.
The default configuration should not remove the CompassView.
This should be made optional without breaking current api.

cc @zugaldia

[2015-12-11 01:13] tobrun commented on #2791
I have been running at this issue this morning but feel that I have not much wiser at this point.

I have investigated following trajectories:
 - Multiple setCenterCoordinates as @1ec5 indicated
 - Multiple location updates
 - Revisited cancelTransitions approach

[2015-12-11 02:39] jfirebaugh opened #3254 "private-implementation pattern"
With the [styles API](https://github.com/mapbox/mapbox-gl-native/issues/837), a lot more API surface area will be publicly exposed:

* `Style`
* `Source` and future subclasses for specific source types
* `StyleLayer` and subclasses for specific layer types
* Paint and layout properties for all layer types

So far, we've been using the following technique for separating public APIs from private imp

[2015-12-11 02:45] jfirebaugh commented on #3254
Here's a second option:

**include/mbgl/map.hpp**

[code]

**src/mbgl/map.cpp**

[code]

**src/mbgl/impl/map.hpp**

[code]

[2015-12-11 02:48] jfirebaugh commented on #3254
Here's a second option, without an `impl` namespace/subdirectory. I think I like this better. It's similar to our pattern for `Thread`.

**include/mbgl/map.hpp**

[code]

**src/mbgl/map.cpp**

[code]

**src/mbgl/map_impl.hpp**

[code]

[2015-12-11 03:13] tobrun commented on #3089
We are exposing `setDirection` instead of setBearing... closing this down

[2015-12-11 03:13] #3089 closed

[2015-12-11 05:44] tmcw commented on #2650
@bleege I can help out with this. Are there docs on running JavaDoc with the right config for gl-native?

[2015-12-11 06:38] vfaSonnt commented on #3247
This 's happened on my Nexus 7, the error seem to like yours. Are you use the custom image for sprite marker? If so I think you should try to reduce the size of that image. After I did that, it doesn't crash anymore.

[2015-12-11 07:31] 1ec5 opened #3259 "Incorrect colors at startup"
As of bde07c8f0edcc890efd7fd6993f5309d6881c402, I’m seeing iosapp occasionally launch with a corrupted Streets style:

![img_0926](https://cloud.githubusercontent.com/assets/1231218/11738209/784b0372-9f95-11e5-8d63-660ffc4f4ea2.PNG)

![osxapp](https://cloud.githubusercontent.com/assets/1231218/11797763/36bbe146-a27a-11e5-9203-d131a1042ea6.png)

Everything goes back to normal upon the very next red

[2015-12-11 11:23] ells1231 commented on #2995
Same here, tried in GenyMotion nexus 5, android emulator nexus 5, Samsung s5, and OnePlus One. All crash with the same error.
[code]

[2015-12-11 15:46] bleege commented on #3244
The initial `animateCamera()` API is complete as of 08b5c1771ef1465bfd60155835411990c8e0c9b5.  The final 2 `animateCamera()` methods to build are related integrating Callback support and setting Animation duration.  Will investigate the new `flyTo()` API in Core GL ( #3171 ) to see if that makes sense for these methods at this time.

[2015-12-11 15:56] mmuelder commented on #3128
I am getting the exact same libmapbox-gl.so error as soon as I add `compile 'io.realm:realm-android:0.85.0'` to my dependencies. (HTC One M9)

[2015-12-11 16:28] BFTE opened #3260 "[iOS] Distorted polygons at certain zoom level"
Below some zoom level I add to map view set of MGLPolygon objects (sometimes more than 50) with correct GeoJSON. Everything works great until I start zooming in/out. At certain zoom level some polygons are getting distorted, when I zoom out polygons back to correct shape. I did screenshots for better understanding. It does not happen every time when I zoom in, but sometimes and I have no idea what

[2015-12-11 17:12] #3238 closed

[2015-12-11 17:15] #3248 closed

[2015-12-11 17:24] #3246 closed

[2015-12-11 17:27] #3245 closed

[2015-12-11 17:29] jfirebaugh commented on #3260
Can you provide the coordinates for one of these examples?

[2015-12-11 17:50] tobrun commented on #3150
Yes I would like to see this happen, but we need to take into account how this will affect our refactor to a more loosely coupled architecture. Linking issue #3145 for that.

[2015-12-11 18:02] tobrun opened #3262 "Stop listening to bearing when we change to state to none"
mBearingChangeListener.onStop() is not being called for MyBearingTracking.NONE

[2015-12-11 19:04] 1ec5 commented on #2956
I’m unable to reproduce the issue in the MissingMapMarkers sample application using Mapbox iOS SDK 3.0.1.

[2015-12-11 19:12] tobrun commented on #2791
I'm starting to believe that this problem is bigger only the animation. There is a huge difference in log ouput when comparing a Map without the `UserLocationView` versus a Map with the `UserLocationView`.
This is probably related to keeping the `UserLocationView` in sync with the map, a confirmation of this can be found in https://github.com/mapbox/mapbox-gl-native/issues/3207

[2015-12-11 19:25] jfirebaugh commented on #3254
Bleah... this is going to be a drag no matter how it's implemented: c510c680c059a7b28530603220c65af11a5b934a.

[2015-12-11 19:34] picciano commented on #2956
I'll check that out, thanks for the update

[2015-12-11 20:21] BFTE commented on #3260
Sure, for the second one (lat, long):
(42.656797, -73.763816),
(42.654142, -73.766568),
(42.654698, -73.767577),
(42.654556, -73.767748),
(42.653984, -73.766778),
(42.652931, -73.767700),
(42.652509, -73.766981),
(42.656529, -73.763216),
(42.656797, -73.763816)

[2015-12-11 21:01] jfirebaugh opened #3265 "convert Android Bitrise build to bitrise.yml"
CI build workflows should always be governed by scripts under source control, not externally. We need to move the Android build logic out of the Bitrise "workflow" and into `bitrise.yml`, like the iOS build.

[2015-12-11 21:05] incanus commented on #3265
iOS work was done in https://github.com/mapbox/mapbox-gl-native/issues/2898.

[2015-12-11 21:29] picciano commented on #2956
I agree, 3.0.1 is working great. No missing point or line annotations.
Do we know what caused this?

[2015-12-11 21:44] daniel-j-h commented on #3254
@jfirebaugh approaching the pimpl idiom by means of `std::unique_ptr` and `std::make_unique` in the ctor initializer list is great! Just wanted to leave this Meyers advice here:

The item is too many pages to repeat here in detail; please look it up in your local Effective Modern C++ copy or get one asap :) The tl;dr is this: you have to declare the special member functions like copy ctor and copy

[2015-12-11 22:22] incanus commented on #2939
Working on rebasing the branch against https://github.com/mapbox/mapbox-gl-native/pull/3033 changes in `master`, which I missed. Once that's set, I can address:

[2015-12-11 22:28] jfirebaugh opened #3266 "document ANDROID_HOME in DEVELOP_ANDROID_OSX.md"
The `ANDROID_HOME` environment variable needs to be set for `make android` to work. This should be documented.

[2015-12-11 22:46] tobrun commented on #2995
@cesards
Could you share some details about the device? are you able to run it on another emulator/device?

@ells1231 @yanaperhun
Could you share the code where you're setting up the MapView? I believe this issue is related a misconfiguration of the MapView, I have it running on a Nexus 5 here without an issue.

[2015-12-11 22:51] tobrun opened #3267 "Add limiting user input example to the sample app"
I'm thinking about updating the `VisibleCoordinateBoundsActivity` example to reflect the use-case described in this [SO-question](http://stackoverflow.com/questions/34035373/mapbox-android-gl-bounding). Limiting user input is not yet showcased in the sample app.

[2015-12-11 23:03] XemaCobra commented on #1784
I was wondering when do you expect this to be implemented as it is the only thing blocking me from using MapBox over MapKit in my current project even if t only supports a couple of hundred markers instead of thousands. Thanks

[2015-12-11 23:33] tobrun commented on #2791
I'm going to whip up a simple View and see if I'm able to animate that one instead

[2015-12-11 23:45] adam-mapbox commented on #1702
FYI I have a Galaxy S3, running 4.4.2, and I can't reproduce any of these issues with the latest master.  Not sure if we fixed it, or if it's the Android version, or what.

![device-2015-12-11-154422](https://cloud.githubusercontent.com/assets/14084862/11758301/28d1c52c-a01e-11e5-8a88-136db5ce5d22.png)

[2015-12-11 23:55] adam-mapbox commented on #1702
It's been a while since we've heard much noise about this particular issue, and we haven't been able to reproduce it in-house.  Can we get a status check on this @mb12 @erf and see if things are still wonky?  A lot has changed in the meantime and it's possible that either we fixed this inadvertently or that it only shows up on very old Android versions.

[2015-12-12 00:07] mb12 commented on #1702
@adam-mapbox It consistently reproduces on Galaxy Nexus S. @ljbade also purchased one from ebay and confirmed that he was able to reproduce the issue. This issue no longer reproduces on S3.

[2015-12-12 00:21] incanus commented on #2939
Ok, whew, did this in dbb6c7802a2590f4f83c03604afb5a8d4f3da514.

Next up: start to make this async.

[2015-12-12 00:28] incanus commented on #2939
BTW, current state of this branch is able to be demo'd by:

1. Cloning as of https://github.com/mapbox/mapbox-gl-native/commit/dbb6c7802a2590f4f83c03604afb5a8d4f3da514.
1. Taking your machine or device offline.
1. Running the iOS test app. It will start in a part of Portland, OR that is pre-cached in the app's `cache.mbtiles` bundle resource.

[2015-12-12 00:36] incanus commented on #2939
One thing we might do here, which I'm not going to do yet to avoid more conflicts, is rename `FrontlineFileSource` to `OfflineFileSource` and `DefaultFileSource` to `CacheBackedFileSource`.

[2015-12-12 00:55] tobrun commented on #2791
I whipped up the most simple example possible, a marker centered in the map and a location listener setting `setCenterCoordinate(latLng, true /*animated*/)`. This results in following [clip](https://photos.google.com/share/AF1QipOX9VDdAJv8FI4shP_NfHS1TGMs85yb3oEc98WFDYgSnBdbbMx22ZAJtbv1a3kZww?key=Y1BZSFg5Rzd0dFFHQjNCYmtNUEg4VEZDSFR2VThR) where you can see it is not animating.

[2015-12-12 01:41] tobrun opened #3270 "Add sample Activity with animated coordinate change"
We need to have an `Activity` to test the currently broken: `mMapView.setCenterCoordinate(getCoordinate(), true);`

This will help to resolve the issue #2791 and prevent regression.

[2015-12-12 02:38] tobrun opened #3273 "Add Android Bitrise CI integration for per commit workflow"
Currently when you create a PR, it is only showing Travis and Bitrise-iOS:

<img width="803" alt="screen shot 2015-12-11 at 18 29 43" src="https://cloud.githubusercontent.com/assets/2151639/11759712/403844a8-a036-11e5-8fba-832eb0257a35.png">

We are missing the `per commit` workflow for Android Integration on Bitrise.

cc @incanus

[2015-12-12 04:39] bleege commented on #1702
@mb12 Can you confirm what version of Android (API level would be ideal) that the Galaxy Nexus S is running?  According to [Wikipedia it's running 2.3.3](https://en.wikipedia.org/wiki/Nexus_S).

[2015-12-12 17:10] #3267 closed

[2015-12-12 17:13] #3270 closed

[2015-12-12 17:16] #3191 closed

[2015-12-12 17:18] #3262 closed

[2015-12-12 21:48] niedzielski commented on #3247
@vfaSonnt, we are using custom markers but they're only 24dp[0].

[0] https://phabricator.wikimedia.org/diffusion/APAW/browse/master/app/src/main/res/drawable-mdpi/ic_map_marker.png;r/2.1.136-r-2015-12-09

[2015-12-12 23:37] andrewcar commented on #1877
I've deleted all of the missing sprites such as "marsh-16," "dot-9," "dot-10," "circle-12," "airport-11" and "us-interstate-3-small" in various Icon tab -> Image fields or Pattern fields indicated by the warnings in orange. I still get a bunch of logs after publishing and building now for some new missing sprites I've never heard of such as "park-11," "us-interstate-2-small," "rail-11," "cemetery-

[2015-12-13 03:06] benmarte commented on #3186
I'm having the same issue with SDK 3.0.1 I'm following [this](https://www.mapbox.com/help/first-steps-ios-sdk/) tutorial and when I click on build on the Adding A Map section the app crashes on an ipad pro.

What's weird is that it works in the simulator but when I try to test it in the actual device it crashes here is a screenshot so you can see what I encounter when testing on the ipad pro.

Any

[2015-12-13 04:37] 1ec5 opened #3275 "Migrate iOS targets to checked-in Xcode projects"
Currently, on OS X, all libraries and executables are built by Xcode projects generated by gyp. This system is ill-suited for iOS and OS X development: for instance, to add a file to the iOS SDK, you need to move the file to the right folder, `git add` the file, and finally edit the appropriate .gypi file to include it. The process gets even more involved when adding a new target, such as a test b

[2015-12-13 11:22] cesards commented on #2995
@tobrun I used two real devices: Moto G 3th generation and Galaxy S6. You should have a look because it looks like it's something that's not related to the device.

[2015-12-13 16:17] s0meone commented on #3185
I'm having the same issue. Just built from source (d11d53d).

The workaround described in https://github.com/mapbox/mapbox-gl-native/issues/2693#issuecomment-150090842 is not working for me. It looks like it's the same issue as #1883 or #2956.

I'm clustering around 16k annotations and only show 16 annotations at the same time, which are removed and added every time the map region changes. Everyth

[2015-12-13 16:53] ells1231 commented on #2995
@tobrun
I've only added the MapView to the layout file as per the guide:

[code]

And I'm using gradle with this in the build.gradle:

[code]

I've also tried with the snapshot version.

[2015-12-13 17:51] s0meone commented on #3185
Tried to debug this some more. The problem only seems to exist when there are a lot of different reuse ids. It doesn't matter if the image is drawn using `UIGraphicsGetImageFromCurrentImageContext` or loaded from file with `UIImage(named: "test")`.

[2015-12-13 17:54] cesards commented on #2995
I did the same

[2015-12-14 00:34] 1ec5 commented on #3206
This will be fixed in #3261.

[2015-12-14 00:35] 1ec5 commented on #3027
This will be fixed in #3261.

[2015-12-14 00:35] 1ec5 commented on #1504
This will be fixed in #3261.

[2015-12-14 00:53] tobrun commented on #2995
@ells1231 @cesards
Are you hooking into the Activity Lifecycle methods as shown [here](https://www.mapbox.com/android-sdk/examples/)?

@danswick @bleege
I'm noticing that the  [landing page](https://www.mapbox.com/android-sdk/) do not shown these or indicate that these are required. Can we add a note to that page? and maybe link the example directly?
I believe most problems reported here originate

[2015-12-14 01:05] #1504 closed

[2015-12-14 01:05] #3027 closed

[2015-12-14 01:05] #3159 closed

[2015-12-14 01:05] #3206 closed

[2015-12-14 01:31] tobrun opened #3276 "Expose a generic Android View Marker API"
Current Marker API on android is fairly limited because Markers are Gl-drawn components. I'm hearing about requests for animating markers or having the ability to do more typical Android SDK visual things with it (animations, selectors etc.).

`Concurrent InfoWindows` from #3127 and `UserLocationView` showcased that we are able to sync Android Views with the underlying MapView. The logic is their

[2015-12-14 01:35] tobrun opened #3277 "Update support libraries, improve configuration"
Going to add following configuration:

[code]

Which can be used as:
[code]

[2015-12-14 04:26] bleege commented on #2650
Thanks @tmcw!  Here's how to generate and then view them locally in a Web browser:

[code]

[2015-12-14 04:33] #8 closed

[2015-12-14 04:34] 1ec5 commented on #3043
#3135 landed.

[2015-12-14 04:34] #3043 closed

[2015-12-14 04:37] 1ec5 commented on #2016
The OS X have been completely rewritten in #3135. Please let us know if you’re still seeing this error. Thanks!

[2015-12-14 04:37] #2016 closed

[2015-12-14 09:16] ells1231 commented on #2995
@tobrun
Cheers that's fixed it

[2015-12-14 10:11] mfkj commented on #1631
Unity3D is a powerful cross-platform 3D engine and a user friendly development environment. Significant number of 3D Architecture are made in unity3d, please consider it also because maps are use in architecture where we place our 3d models on glob (map).

[2015-12-14 10:23] dagatsoin opened #3279 "event for camera changing"
Is there an event which fires at each camera change (coordinate, pitch, ...) BEFORE the render ?
My goal is to sync the camera of another view with the mapbox camera.

[2015-12-14 12:59] dagatsoin commented on #3279
Maybe by emplementing `mapViewWillStartRenderingFrame` which is still in todo state?
If so, I bet I have to build a special version of MBGL binary. Could someone explain which scheme I have to use to compile the binary and where is the output path? (newbie in xcode here)

[2015-12-14 13:26] vkurchatkin commented on #2995
@tobrun just to make things clear, if this is the reason for this crash, does this mean that `mapbox-gl-native` will never work on such devices?

[2015-12-14 13:52] stephensilber commented on #1784
Also waiting on this feature to migrate from MKMapKit to Mapbox for 2 separate projects of mine!

[2015-12-14 14:20] DejanRistic opened #3280 "Map crashes in airplane mode (iOS v3.0.1)."
The map will crash every time when initializing when in airplane mode if the map has been loaded at least once. The map is just black if its a fresh install with airplane mode, but if its been loaded once before we get a crash.

Error:
[code]

StackTrace:
[code]

[2015-12-14 15:07] iCyberon commented on #2995
@vkurchatkin +1

[2015-12-14 15:48] adamszeptycki opened #3281 "mapbox.png missing on upgrade to 3.0.1 with CocoaPods"
I did update from version 2.2.1 to 3.0.1.
And I'm getting a crash on start with this Exception:

[code]

Any ideas how to approach that issue?

Framework was installed using cocoa pods.

[2015-12-14 15:52] bleege commented on #3128
Thanks for all the insight into `arm64` question (and the [Gradle filtering option on StackOverflow](http://stackoverflow.com/a/30799825)).  For some context / history [we looked into this issue in September 2015 and discovered](https://github.com/mapbox/mapbox-gl-native/issues/1956#issuecomment-137496217) that [Google is still only recommending 32 bit `.so` files](http://developer.android.com/tra

[2015-12-14 16:12] Mizuki123 opened #3282 "How to display map image as background using json file style - Android Mapbox SDK"
Hi everyone,

I'm working on a simple Android application that should display a simple map as background using Mapbox SDK.

For this, I edited a json file that defines the mapbox style of my Android MapView object according this documentation : https://www.mapbox.com/mapbox-gl-style-spec/. Then, I stored this stylesheet in my own http server (nodejs).

Althought my application can access my style

[2015-12-14 16:17] RomainQuidet commented on #1490
I don't see this behavior anymore, the tracking back on keep user tracking.

[2015-12-14 16:24] tobrun opened #3283 "setCenterCoordinate doesn't animate"
While investigating #2791 I noticed that `setCenterCoordinate(latLng, true /*animated*/)` doesn't work. I have added an example feature activity to help out debug this in https://github.com/mapbox/mapbox-gl-native/issues/3270. I created this separate feature activity because their are too many moving parts in user location tracking to debug this efficiently.

[2015-12-14 16:25] friedbunny commented on #1490
In `ios-app`, longpressing to add an annotation will disable the tracking mode. Tapping on an annotation will also disable tracking — e.g., tapping on the user dot.

[2015-12-14 16:27] tobrun commented on #3283
cc @bleege @zugaldia

[2015-12-14 16:33] RomainQuidet commented on #3103
it's working on current version on master for me

[2015-12-14 16:41] friedbunny commented on #3281
`mapbox.png` is the watermark at the bottom left of every map and is distributed as part of our SDK.

@adamszeptycki This seems like a CocoaPods issue. Nuking your project's CocoaPods install is always good place to start: `rm -rf Pods/ && rm Podfile.lock && pod install`

If the issue still persists, post your `Podfile` contents and we can go from there.

[2015-12-14 16:48] RomainQuidet opened #3284 "[iOS] random crash on annotation selection"
Use the demo app, long press to add dropped annotations. After 3/4 annotations added, a selection went wrong and crashed:

[code]

[2015-12-14 16:52] friedbunny commented on #3284
/cc @1ec5

[2015-12-14 17:02] friedbunny commented on #3282
We don't yet have full support for the style spec — image sources are not currently implemented. This is covered by #1350.

This error should be much clearer, sorry about that.

[2015-12-14 17:02] #3282 closed

[2015-12-14 17:06] friedbunny commented on #3282
As a workaround, you might try [`background-pattern`](https://www.mapbox.com/mapbox-gl-style-spec/#paint-background-pattern), which does support images.

[2015-12-14 17:11] Mizuki123 commented on #3282
Thanks you for your answer. I will try with this.

In addition, I wondering if I could have a background with raster type for the source json attribute

[2015-12-14 17:13] 1ec5 commented on #1490
What I'm seeing now is that selecting an ordinary annotation turns off tracking, but selecting the user dot does not.

[2015-12-14 17:27] friedbunny commented on #3282
The `raster` type expects `XYZ` tiled images, as provided by Mapbox or other tile services. Check out [the custom raster style example](https://www.mapbox.com/ios-sdk/examples/raster-styles/) and the two included style JSON files for how to implement this.

[2015-12-14 17:28] 1ec5 commented on #3279
-[MGLMapViewDelegate mapView:regionWillChangeAnimated:] is called before the camera changes. Let us know if that isn't working as expected.

If you'd like to build the iOS SDK from source, see:

https://github.com/mapbox/mapbox-gl-native/blob/master/INSTALL.md
https://github.com/mapbox/mapbox-gl-native/blob/master/docs/DEVELOP_IOS_OSX.md
https://github.com/mapbox/mapbox-gl-native/blob/master/docs/

[2015-12-14 17:40] dagatsoin commented on #3279
@1ec5 I need something called at each frame. Because I will have to track changes even if camera does not move.
I will try to implement `mapViewWillStartRenderingFrame` but I am a bit confused where to write it. Do you know where ? (I am using the IOS SDK.)

[2015-12-14 17:55] 1ec5 commented on #3279
Ah, we have -mapViewRegionIsChanging:, whoch gets called immediately after every incremental frame in an animated camera change, but nothing before it.

Since you're interested in all redraws, not just those caused by camera changes, -mapViewWillStartRenderingFrame:fullyRendered: is the callback you want. It turns out that this delegate method is implemented, but fullyRendered isn't. See #2775 and

[2015-12-14 17:57] 1ec5 commented on #3279
(The TODO in this case seems to indicate that the method isn't implemented completely, but it should be good enough for your use case.)

[2015-12-14 18:08] friedbunny commented on #3280
I can't reproduce this with `ios-app` on `master` d2d722a5757367fa056f224ef092203ec96d2803 — killing and reloading the app while in airplane mode with a warmed cache shows the cached resources where available and the style's background color where missing.

(I do see some strange flashing/stuttering while zooming and the marker image does not load, though.)

Until offline support is implemented, t

[2015-12-14 18:32] dagatsoin commented on #3279
perfect :)

[2015-12-14 18:32] #3279 closed

[2015-12-14 18:56] kkaefer commented on #3260
/cc @mourner

[2015-12-14 19:35] 1ec5 commented on #2600
Both the iOS and OS X versions of MGLMapView need this functionality regardless of the user tracking mode, because it’s common for there to be a translucent top bar overlay. On iOS, MGLMapView’s center should account for the top and bottom layout guides; on OS X, if the MGLMapView occupies the entire content view and the content view is full size, the center should account for the toolbar.

[2015-12-14 19:55] mourner commented on #3260
@kkaefer earcut is not merged into master yet, so this must be libtess/clipper-related, right?

[2015-12-14 20:03] jfirebaugh commented on #3260
Or geojson-vt-cpp related.

[2015-12-14 20:18] mourner commented on #3260
For the record, these coords work fine on GL JS. Now need to dig into native...

[2015-12-14 20:47] zugaldia commented on #3276
Related: https://github.com/mapbox/mapbox-gl-native/issues/3116

[2015-12-14 20:48] mourner commented on #3260
GeoJSON-VT C++ debug viz also seems fine on these coordinates.

[2015-12-14 21:46] jfirebaugh commented on #3204
Closing as duplicate of #3130.

[2015-12-14 21:46] #3204 closed

[2015-12-14 21:46] jfirebaugh commented on #3130
#3204 has a test app.

[2015-12-14 21:47] #2767 closed

[2015-12-14 21:48] jfirebaugh commented on #2761
Great! We didn't knowingly do anything to fix this for 3.0, but it's possible it got fixed as a side effect of something else.

[2015-12-14 21:51] bleege commented on #3259
There are similar issues in the Android TestApp as well.

/cc @mapbox/mobile

[2015-12-14 21:51] zugaldia commented on #3259
We're also seeing this on Android, including during transitions: https://www.dropbox.com/s/3c2qzlxftogmyld/weird.mp4?dl=0

[2015-12-14 22:21] jfirebaugh commented on #2886
Upstream issue; not much we can do about this other than bug Bitrise.

[2015-12-14 22:21] #2886 closed

[2015-12-14 22:30] jfirebaugh commented on #2956
This probably settled down with 7669e02062ccab9e3d908a9eab04f5d13a7b89c0.

[2015-12-14 22:30] #2956 closed

[2015-12-14 22:36] 1ec5 commented on #3259
This regression was caused by 93c000dd18f5896b6d0c5b3f1670c999489c2f12 for #3066. The viewport isn’t being set on Android, iOS, or OS X anymore – only on GLFW and HeadlessView.

/cc @kkaefer

[2015-12-14 22:37] jfirebaugh commented on #3259
As always, there may be multiple issues -- for me this bisected to 45c7b472adb78600ab9f9c8f82082d6b0af21ba2, which was also my guess beforehand.

[2015-12-14 22:51] jfirebaugh opened #3285 "osx: sometimes double clicking zoom buttons drops a marker"

[2015-12-14 22:55] jfirebaugh opened #3286 "osx: sometimes resets view to null island"
Launch OS X, maximize the window on a largeish monitor, zoom all the way out, quit. Relaunch the app.

Expected behavior: shows the view you were looking at when you quit.
Actual behavior: resets to null island at z4.

[2015-12-14 22:56] BFTE commented on #3260
It's hard to reproduce in a clear way and give you some path. Maybe more details will be helpful. In my case map view has many filled polygons. Usually there is one big polygon which represents some kind of city area. Inside that polygon are placed smallest polygons like the ones I presented above. Above certain zoom level inner polygons are OK, but when I zoom in, some of them changes their shape

[2015-12-14 22:58] jfirebaugh opened #3287 "osx: resets debug options"
If I turn on "Show Tile Boundaries" and "Show Tile Info", they get turned off again when I relaunch the app.

[2015-12-14 23:07] tmcw opened #3288 "What is MultiPoint"
Something seems off about this

https://github.com/mapbox/mapbox-gl-native/blob/master/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/MultiPoint.java
- The docs refer to it as being a 'polyline'
- There's a MultiPoint.java, but not a Point.java
- Besides geometry, it also manages alpha, but just alpha.

What's up with this?

[2015-12-14 23:09] tmcw commented on #3288
Reading into this, yeah, it's a coordinate-container abstract class that's extended by Polygon and Polyline. That shouldn't be the case, it should be named something else and more obviously documented.

[2015-12-14 23:12] tmcw opened #3289 "No clear way for Polygon to support inner rings"
MultiPoint supports a singly-nested array of coordinates; this is not enough for a Polygon with rings. Most (all) geographical formats supports inner rings, so we should too.

[2015-12-14 23:17] 1ec5 commented on #3289
Also on iOS: #1729.

[2015-12-14 23:29] mourner commented on #3260
Interesting. @BFTE does the same thing (plus the crash) happen with the master version of mapbox-gl-native?

[2015-12-14 23:51] kkaefer opened #3290 "Switch RapidJSON to CrtAllocator"
Unfortunately, the MemoryPoolAllocator which is the default has issues on ARM: https://github.com/miloyip/rapidjson/issues/388, https://github.com/miloyip/rapidjson/issues/200, https://github.com/miloyip/rapidjson/issues/301, https://github.com/rethinkdb/rethinkdb/issues/4839

GeoJSON VT 3.1.0 also uses the CrtAllocator

[2015-12-14 23:51] jfirebaugh commented on #3259
@zugaldia @1ec5 Can you check if 9b8f5d3be1d25a0eefe7f9f22544d439f54d92b1 fixes the issue?

[2015-12-14 23:59] jfirebaugh opened #3292 "don't use glClear optimization for layers that aren't the bottommost"
#2024 results in mis-rendered styles where a background layer is used to implement a semi-transparent overlay on top of other layers.

[2015-12-15 00:06] zugaldia commented on #3259
@jfirebaugh can't reproduce the issue on the Android test app anymore after applying https://github.com/mapbox/mapbox-gl-native/commit/9b8f5d3be1d25a0eefe7f9f22544d439f54d92b1

[2015-12-15 00:08] mourner commented on #2926
@picciano @Zakay could you please try again with the master version of `mapbox-gl-native`?

[2015-12-15 00:18] picciano commented on #2926
Sorry, but I do not have a way to reliably reproduce this. I will continue to watch for it and report back if we see it again.

[2015-12-15 00:38] jfirebaugh commented on #3259
Great, merged. @1ec5 please reopen if this doesn't also fix the issue on iOS.

[2015-12-15 00:38] #3259 closed

[2015-12-15 00:39] 1ec5 commented on #3259
Looks good in iosapp. Thanks for taking care of this one.

[2015-12-15 00:46] 1ec5 opened #3293 "make osx builds OS X framework without Xcode, fails"
`make osx` attempts to build the OS X framework using make instead of `xcodebuild`. The framework target relies on Xcode-specific build settings, so it fails to build under make:

[code]

If `make osx` is useful in its own right, it should avoid building the framework and osxapp and limit itself to just the headless parts. Otherwise, we should remove the target because we already have `make ipacka

[2015-12-15 00:55] brunoabinader opened #3294 "`make linux` should work on OSX"
OSX also supports GLFW, which is the base for `linux` build target.

Extra: @kkaefer and @1ec5 spoke about changing that target name to `glfw` if that makes sense.

/cc @tmpsantos

[2015-12-15 01:10] jfirebaugh commented on #3280
The error is coming from [this line](https://github.com/mapbox/mapbox-gl-native/blob/4a803f1a78d6d9adc603129c369cb75592c408b7/src/mbgl/style/style.cpp#L369). [`SpriteLoadingException`](https://github.com/mapbox/mapbox-gl-native/blob/d5fb535058d4d97567b08064e0203f45c2c8370f/include/mbgl/util/exception.hpp#L39-L39) does inherit from `std::exception`, via `Exception` ⇢ `std::runtime_error`, so should

[2015-12-15 01:20] friedbunny opened #3295 "Re-enable CoreTelephony.framework telemetry"
Linking CoreTelephony.framework was broken in v3.0.0 and removed entirely in v3.0.1. Cellular carrier and network statistics are still useful, so let's bring it back.

We never pinned down exactly why it was crashing (#3112), but I suspect the situation will be improved by moving to a dynamic framework distribution (#3183) and we should reinvestigate after that happens.

[Last included code.](http

[2015-12-15 01:21] jfirebaugh commented on #2021
Is this still an issue?

[2015-12-15 01:24] 1ec5 opened #3296 "flyTo launches into geosynchronous orbit"
If I start out at zoom level _A_ and invoke `mbgl::Map::flyTo()` with a zoom level _B_, such that _B_ > _A_, the viewpoint ends up at zoom level _A_. Moreover, the trajectory isn’t capped at the minimum zoom level. So when flying from San Francisco at about z7 to Washington, D.C., at z18, the zoom level quickly goes into NaN territory:

[code]

/cc @adam-mapbox

[2015-12-15 01:25] jfirebaugh commented on #3289
Let's track full multipolygon/holed polygon support across all platforms at #1729.

[2015-12-15 01:25] #3289 closed

[2015-12-15 01:27] jfirebaugh commented on #1729
[GeoJSON sources](https://github.com/mapbox/mapbox-gl-native/pull/2161) support the full range of GeoJSON geometries. However if we want to continue expanding the annotations API, we could support this there too.

[2015-12-15 01:28] jfirebaugh commented on #2245
Tracking fuller geometry support for annotations at #1729.

[2015-12-15 01:28] #2245 closed

[2015-12-15 01:29] jfirebaugh commented on #256
#3171

[2015-12-15 01:29] #256 closed

[2015-12-15 01:31] 1ec5 opened #3297 "flyTo doesn’t call transition frame/finish callbacks"
`flyTo()` doesn’t call `transitionFrameFn` and `transitionFinishFn`, so the completion handler parameter of `-[MGLMapView flyToCamera:withDuration:completionHandler:]` is never called.

/cc @adam-mapbox

[2015-12-15 01:38] 1ec5 commented on #3284
I haven’t encountered this crash yet, but it seems to indicate that `AnnotationManager::getPointAnnotationsInBounds()` returned a bogus annotation ID.

[2015-12-15 03:24] cellininicholas opened #3299 "MGLMapCamera negative heading doesn't rotate correctly"
I'm animating from heading=0, and want my destination heading to be in the range -180>heading>=180 so there is never more than 180deg of rotation from 0.

But when I set the map camera when the camDir<0
MGLMapCamera *camera = [MGLMapCamera cameraLookingAtCenterCoordinate:camCoord fromDistance:camDist pitch:0 heading:camDir];

The map doesn't rotate in it's animation.

[2015-12-15 03:28] lucacorti opened #3300 "Error building after installing via CocoaPods — Include of non-modular header inside framework module 'Mapbox'"
Hello,

I am not able to use the Cocoapods pckages framework with Xcode 7.2 and Swift. When building the application I get:

```Pods/Mapbox-iOS-SDK/Mapbox.framework/Headers/Mapbox.h:16:9: Include of non-modular header inside framework module 'Mapbox'```

![screen shot 2015-12-15 at 04 24 46](https://cloud.githubusercontent.com/assets/1076999/11801198/f6068510-a2e3-11e5-82d7-4582b8a12070.png)
![scr

[2015-12-15 04:38] cellininicholas commented on #3299
MGLMapView.mm
[code]

[2015-12-15 04:44] 1ec5 commented on #3300
Pretty sure this is CocoaPods/CocoaPods#4420, which is fixed in CocoaPods master. It’s tripping up because we now include a module map that’s redundant with the one CocoaPods creates for us.

/cc @incanus

[2015-12-15 05:18] 1ec5 commented on #3299
`MGLMapCamera.heading` is of type [`CLLocationDirection`](https://developer.apple.com/library/ios/documentation/CoreLocation/Reference/CoreLocationDataTypesRef/#//apple_ref/c/tdef/CLLocationDirection). According to the documentation, a negative `CLLocationDirection` indicates an invalid direction. You should specify a value between 0° and 180°; MGLMapView will take the shortest path around the cir

[2015-12-15 05:18] #3299 closed

[2015-12-15 08:01] Zakay commented on #1729
+1 really need this!

[2015-12-15 09:08] Buminta opened #3302 "Using own tiles"
Hi pro.
I'm used Mapbox SDK for my projects.
And now, Your have Tiles vector for SDK. I'm very happy.
However i hope using own tiles for display map.
I had api for tiles with response JSON.
I can using it? Can u help me? Thank so much.

[2015-12-15 09:13] tobrun commented on #3276
Internally linking: https://github.com/mapbox/gl-internal/issues/284
Publicly linking: #1125

[2015-12-15 10:00] adamszeptycki commented on #3281
Reinstalling pods, cleaning simulator and derived data helped.

[2015-12-15 10:03] RomainQuidet commented on #2211
Hi, we need this feature at Mappy, I'm working on adding an API to set a custom callout view

[2015-12-15 10:18] adamszeptycki commented on #3281
It happened again.
After few successful runs I decided to clean simulator (I wanted to try out the app on clean build). And I have exactly the same error. Reinstalling pods once more didn't help. Any ideas?

[2015-12-15 13:47] vijay765 opened #3303 "Instead of setTileResource which method used in mapbox-android-sdk 2.3.0"
please give me reply as possible as fast

[2015-12-15 13:53] franckt commented on #2840
Hi @nicolasfavier,

i currently use multiple styles, one layer per floor so i duplicate layer for all floors with a filter per floor

and i use classes to display or not a layer

for example a fill layer with

      "filter": [
                "all",
                [
                 "==",
                 "floor",
                 "0"
                 ]
                ],
      "paint": {

[2015-12-15 14:38] millenbop commented on #2761
I'm sorry, I was a bit fast there, it still tries to load tiles for zoom levels that doesn't exist. So please reopen!

![img_1195](https://cloud.githubusercontent.com/assets/12835674/11813400/8bc76d46-a341-11e5-986f-daa0e1d4f95b.PNG)
![img_1196](https://cloud.githubusercontent.com/assets/12835674/11813401/8bccc1d8-a341-11e5-9143-4b904468c795.PNG)

Did some work on the map parts in the app today an

[2015-12-15 15:15] jfirebaugh commented on #3302
Yes, see [this example](https://www.mapbox.com/ios-sdk/examples/raster-styles/).

[2015-12-15 15:15] #3302 closed

[2015-12-15 15:22] bleege commented on #3259
I rebased on my working branch for #3244 (Camera API) and retested.  The colors seem to be back on track, although there appears to still be an issue with `MapView.setCenterCoordinate()` not immediately drawing.  I'll keep working on it there though.

[2015-12-15 15:22] bleege commented on #3259
Forgot to say... great job diagnosing and solving this yesterday @jfirebaugh @1ec5!

[2015-12-15 15:26] BFTE commented on #3260
I could not check, I got some errors building static lib from sources (e81f3f37) using *make ipackage*:
make: *** [ipackage] Error 65

[code]

[2015-12-15 15:26] tmcw opened #3304 "Are Android Sprites actually sprites?"
It looks like the Sprite concept in android represents a _single_marker, which is a very different thing than the packed spritesheets of GL Native itself.

[2015-12-15 15:31] tmcw opened #3305 "Are spans useful?"
We have a bunch of methods like:

* BoundingBox.getLatitudeSpan
* BoundingBox.getLongitudeSpan
* BoundingBox.getSpan

These methods aren't used in any of the example code and don't appear to be mirrored from a Google Maps API. They're tested, but otherwise it's not clear if they're necessary. Can we remove these methods?

[2015-12-15 15:44] mikeringrose opened #3306 "[Android] Custom Markers Clickable Region"
I have created custom markers from a Bitmap and the entire marker is not clickable. Only the bottom portion of the marker is able to be clicked.

[2015-12-15 15:52] tmcw opened #3308 "Should there be a default BoundingBox constructor?"
https://github.com/mapbox/mapbox-gl-native/blob/ba3608ba3ed65f71c2c9909c2b3201652a130100/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/geometry/BoundingBox.java#L60-L66

Right now if you create a `new BoundingBox()`, it'll give you an invalid bbox around null island. Is this ever useful? Can we remove the no-argument constructor?

[2015-12-15 15:53] friedbunny commented on #3281
Is there anything unusual in your `Podfile`?

[2015-12-15 15:58] tmcw opened #3309 ""LatLngZoom" & "Coordinate": do they mean the same thing?"
Our external-facing API has `Map.setCenterCoordinate(LatLngZoom)` that dispatches to `Map.setLatLng` and `Map.setLatLngZoom`. We don't have a class called 'Coordinate' anywhere.

Should LatLng be derived from a Coordinate class? Should it be renamed Coordinate? The two names seem to correspond to the same thing.

[2015-12-15 16:02] bleege commented on #3244
I refactored the CameraActivity in the TestApp to provide a visual test harness for the 3 `animateCamera()` methods that do the work (aka move the map) of the Camera API.  The next steps will be seeing if the existing Core CL API (`setCenterCoordinate()`, `setZoomLevel()`, `setTilt(new Double()`, `setBearing()`) will be enough to implement the "move the map" part of it we'll need to wait for the `

[2015-12-15 16:12] bleege commented on #3244
Confirmed that the "null island ghosting" is still happening when "Animate" button is originally pressed.  This appears to be an issue of `setCoordinate()` getting stomped on.  Will review @1ec5's `flyTo` fixes from last night in #3301 to see if that can address it.

![device-2015-12-15-100852](https://cloud.githubusercontent.com/assets/989928/11816044/3f364e3e-a314-11e5-8229-7a9f17d37e20.png)
_Fi

[2015-12-15 16:14] tmcw commented on #3305
Nevermind, this is mentioned in #1948. Fwiw I wish there was more indication of where functions are derived from, whether they're compatibility with iOS or Google.

[2015-12-15 16:14] #3305 closed

[2015-12-15 16:20] bleege commented on #3244
Just did some quick testing and was able to isolate the "ghost issue" to `setZoomLevel()` in `animateCamera()`.

[code]

[2015-12-15 16:24] Mizuki123 commented on #3282
Ok thank you.

I finally used the raser type method fo display my map. However, I eventually want to center my map in a specific longitude and latitude (eg. latitude = -6.2488 and longitude = 53.3330 for Dublin).

I used the center attribute with this values to set the center in Dublin. But, when my map is displayed, the center is not Dublin but the default center in lat = 0 and lon = 0.

Is cente

[2015-12-15 16:45] DejanRistic commented on #3280
@jfirebaugh We aren't doing anything custom actually. We are just using pods to pull in the iOS SDK. The crash above happens on either:
[code]
or
[code]
I assume those are the same at this point. The weird thing is that the crash does not happen when using:
[code]

Doing the same steps in 3.0.0 results in the following errors in the console but no crashes.
[code]
But when on 3.0.1 or master the cr

[2015-12-15 16:46] tobrun opened #3311 "Fix unit test configuration"
Packaging within unit test package is not automatically picked up by the Android Studio.
Going to move them to one package for now.
Will have :eyes: on this if something changes with Android Studio 2.0.

[2015-12-15 16:54] jfirebaugh commented on #3280
cc @1ec5

[2015-12-15 16:54] adamszeptycki commented on #3281
It looks like this:
[code]

[2015-12-15 17:00] friedbunny commented on #1754
This would also be useful for polylines.

[2015-12-15 17:06] #3266 closed

[2015-12-15 17:07] bleege commented on #3266
Thanks @jfirebaugh @tmcw!

[2015-12-15 17:16] 1ec5 commented on #3280
As @DejanRistic points out, we did switch to a static framework in 3.0.1 and start stripping more aggressively, as a stopgap until I land the dynamic framework in #3183. I don't know how just stuffing the static library inside a framework bundle would make any difference here, but perhaps the stripping that takes place in framework.sh effectively changes symbol visibility? (cc @incanus)

[2015-12-15 17:27] jfirebaugh commented on #3273
@incanus Any hints on this? Is it in the workflow somewhere? That's the only place where the iOS and Android projects differ as far as I can tell.

[2015-12-15 18:10] lucaswoj commented on #3296
![na](https://cloud.githubusercontent.com/assets/281306/11819306/ff785a4e-a313-11e5-8baf-2c976216c963.png)

[2015-12-15 18:16] jfirebaugh opened #3313 "osx build takes 25-30 mins on travis"
With #3135, our build time on Travis for OS X went from ~11 minutes to 25 minutes+. OS X builds are now by far the critical path. We need to get those back to a reasonable time -- via #2776 or other means.

cc @1ec5

[2015-12-15 18:22] mikemorris commented on #2894
Hit this again with iOS 9.2 @springmeyer https://github.com/mapbox/mapbox-gl-native/pull/3301#issuecomment-164820040

[2015-12-15 18:38] jfirebaugh commented on #1732
Any particular reason? I'm not sure this is going to possible or desirable with the style API.

[2015-12-15 18:40] JordanHamel opened #3314 "Android SDK crashes if map activity is open on screen, but untouched, for several hours"
I left my app open to the map activity overnight and saw this crash ~16 hours later:

    Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mapbox.mapboxsdk.views.NativeMapView.update()' on a null object reference
           at com.mapbox.mapboxsdk.views.MapView.update(MapView.java:2179)
           at com.mapbox.mapboxsdk.views.UserLocationView.updateOnNex

[2015-12-15 18:46] kkaefer commented on #1732
Yeah, that's correct; instead, we should think about how we're going to bundle variant with the headers so that users don't have to install them manually.

[2015-12-15 18:49] kkaefer commented on #3293
It's fine to remove that now that we have made the packt with the devil^H^H^H use Xcode.

[2015-12-15 18:55] bleege commented on #3244
I tested @1ec5's [`flyTo` refactored code from last night](https://github.com/mapbox/mapbox-gl-native/pull/3301) this morning and think it'll be the route we should go for building out the `animateCamer()` methods in the Java API.  @zugaldia and I discussed this and we're agreed that we'll go this route once @1ec5's PR is merged in `master` we will start building using it.  This should happen late

[2015-12-15 19:07] #3313 closed

[2015-12-15 19:08] 1ec5 commented on #3293
Hey now. :wink:

[2015-12-15 19:40] tentrr-de commented on #3103
Sorry - I was reffering to the annotaion call out view, not the annotation.

On Mon, Dec 14, 2015 at 8:33 AM -0800, "Romain Quidet" <notifications@github.com> wrote:

it's working on current version on master for me

—
Reply to this email directly or view it on GitHub.

[2015-12-15 19:45] #3287 closed

[2015-12-15 19:53] 1ec5 commented on #3284
The assertion message was using the wrong format specifier. I corrected that in c3fe62fd3a4a3d54f1661a145f7d1d4e9a86f226; I think that’ll help us understand (for instance) how many annotations mbgl thinks got added.

[2015-12-15 20:29] lucacorti commented on #3300
Is there any workaround to make it work right now? The Pod is unusable in its current state and the Cocoapods fix is not released yet.

[2015-12-15 20:38] #3311 closed

[2015-12-15 21:05] 1ec5 commented on #2890
If this hasn’t gone away with the switch to a static framework and more aggressive stripping in 3.0.1, the switch to a dynamic framework in #3183 probably will.

[2015-12-15 21:51] #3297 closed

[2015-12-15 21:58] brunoabinader commented on #3294
`make linux` is working mostly fine in OSX, with exception to these interesting warning messages (might be specific to my environment):

[2015-12-15 21:59] brunoabinader commented on #3293
We're handling `make linux` build on OSX in #3294.

[2015-12-15 22:17] 1ec5 commented on #3294
That’s similar to mapbox/mapbox-gl-native#1707. In #3135, I changed the minimum OS X deployment target from 10.9 to 10.10. It’s possible that I missed a spot.

[2015-12-15 22:31] friedbunny commented on #3281
With 3.0.0 we do support bitcode, so you're able to get rid of that if you like.

The bundling of the various resources should be managed entirely by CocoaPods, but you might make sure that the files in `Pods/Mapbox-iOS-SDK/Resources/` are members of the `Mapbox-iOS-SDK-Mapbox` target:

<img width="960" alt="screen shot 2015-12-15 at 5 28 02 pm" src="https://cloud.githubusercontent.com/assets/1198

[2015-12-15 22:37] friedbunny commented on #3281
Also, make sure you're using the latest version of CocoaPods (v0.39):
[code]

[2015-12-15 22:41] jfirebaugh commented on #3265
Done :white_check_mark: for per-commit builds. Still needs to be done for scheduled builds. I can't find any Bitrise UI for editing scheduled builds though.

[2015-12-15 22:47] tnightingale opened #3317 "First sprite is ignored when creating multiple marker icon sprites with SpriteFactory"
Platform: Nexus 5, Android 6.0.1
Versions: Master (as of today) and 2.3.0

When creating markers with custom icons, the first sprite created via the SpriteFactory's fromDrawable() or fromAsset() methods doesn't render. Instead the default icon is displayed. The following warning is logged:

    com.mapbox.mapboxsdk.testapp W/mbgl: {Map}[Sprite]: Can't change sprite dimensions for 'com.mapbox.sprit

[2015-12-15 22:48] tnightingale commented on #3317
I think this is a duplicate of #3239.

[2015-12-15 22:54] tnightingale commented on #3317
Another observation: If the first marker you add to the map has a custom icon, any subsequent markers added without an icon set will use the same custom icon and **not** the default 'red marker' icon.

Can be seen if you comment out [these lines](https://github.com/tnightingale/mapbox-gl-native/blob/cf20421e67215a751bdc0d33da7ec997fd74c9b0/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox

[2015-12-15 23:24] tnightingale commented on #3317
Looks like this problem is the result of using two different SpriteFactory instances.

If [MapView.getSpriteFactory()](https://github.com/mapbox/mapbox-gl-native/blob/8a208133db3e8b6530373f1b5974548bbd0db46d/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/views/MapView.java#L1835-L1840) is used instead of creating a new one (the approach used in the [custom markers example code](http

[2015-12-15 23:35] jfirebaugh commented on #3265
From Bitrise chat:

[2015-12-15 23:51] tnightingale commented on #3239
I suspect this bug is the result of MapView having a reference to its own SpriteFactory instance which is different to the one created in the code snippet above. The MapView has no knowledge of the new SpriteFactory and continues to refer to it's internal instance when rendering/managing markers.

A fix *might* be to update the MapView's local SpriteFactory reference?

Though I suspect that would

[2015-12-16 00:51] brunoabinader opened #3318 "Map::isFullyLoaded should be called Map::isLoaded"
This matches `Style`, `Source` and GL JS.

/cc @jfirebaugh

[2015-12-16 00:52] bleege commented on #3265
What part are you looking to edit?  The scheduled build should point to a name of workflow so changing the workflow steps shouldn't impact the schedule.

[2015-12-16 00:56] jfirebaugh commented on #3265
Ok, all set.

https://github.com/mapbox/mapbox-gl-native/blob/dc4fa1c52e3869396039af00734ef9cc91a116c5/platform/android/bitrise.yml

The GUI workflows just do `bitrise trigger primary` and `bitrise trigger scheduled`, respectively.

[2015-12-16 00:56] #3265 closed

[2015-12-16 02:36] bleege commented on #3244
@1ec5's `flyTo()` fix was merged this afternoon.  As of 334f08255a4e0a2cc1f4fe7a8082043c5de9e7d4 the basic JNI wiring of the method has been implemented and the the `MapView`'s anitmateCamera() methods have been refactored to use it.  Testing proved no crashes.

The next part will be [generating the proper CameraOptions](https://github.com/mapbox/mapbox-gl-native/blob/334f08255a4e0a2cc1f4fe7a80820

[2015-12-16 02:44] jfirebaugh commented on #3273
Could it be that Bitrise pushes status updates with some sort of static key, and when iOS and Android builds are running simultaneously, the iOS one somehow always wins? This seems far-fetched because we'd expect the Android one to win the race _sometimes_, and I never have seen that, but it's my only hunch right now.

[2015-12-16 02:46] jfirebaugh commented on #2927
I think we should avoid the Bitrise workflow as much as possible, in favor of running shell scripts checked into to the repo. This keeps things simple and avoids CI vendor lock in.

[2015-12-16 02:46] #2927 closed

[2015-12-16 04:41] Sh1mor1nka commented on #3300
I also have issue with mapbox imports, fix it by ```#import <Mapbox/Mapbox.h>```

[2015-12-16 08:15] lucacorti commented on #3300
I tried importing the header in the the Objective-C bridging header. Stile gettoni the dame error though.

[2015-12-16 11:43] esisa commented on #3317
Thank you @tnightingale! Changing to getSpriteFactory() fixed this for me. This issue was driving me crazy :-)

The Android examples should be updated.

[2015-12-16 11:45] tobrun commented on #3317
@tnightingale
Thank you for investigating this for us!
I will look into this the following days and see if how we can optimise both the code and documentation.

[2015-12-16 14:29] Mizuki123 opened #3321 "How to set map boundaries in android ?"
Hi everyone,

I'm working on an android application that display a portion of world map (including part of United Kingdom, part of France and part of Span) and I want to restrict the moving on the map to only this portion of map.

In my android code, I used setVisibleCoordinateBounds to define Porto as south-west bounds and Utrecht to north-east bounds but I can still moving out of this bounds.

I

[2015-12-16 15:24] bleege commented on #3265
@jfirebaugh I just verified that 2 SNAPSHOTS were made in the last 12 hours.  The first one (Number 8) was made around 7 PM Central / 5 PM Pacific (see screenshot) which I'm thinking was about the time you made the adjustments to "build and publish" workflow and likely fired off a test run of it which resulted in this.

The second one (Number 9) looks like it completed 2:30 AM Central / 12:30 AM P

[2015-12-16 16:09] RomainQuidet commented on #2211
new pull request done: #3322

[2015-12-16 16:23] tikimcfee commented on #584
Hey there!

I'd like to put in the similar +1 from @hallahan, @erf, @leimingdu, et al. MapBox is a proven and core asset in the production of our team's software solution. We cache tiles for offline use in iOS to great success, and have been pushing to implement the same feature set on Android. One of our biggest gating factors for this, though, is our clarity in what we can expect this GL push to

[2015-12-16 17:02] jfirebaugh commented on #3265
Yep, the first one was a test run and the second one was the scheduled build. Thanks for confirming that this is working.

[2015-12-16 17:05] bleege commented on #2957
This looks like @danswick finished this.

[2015-12-16 17:05] #2957 closed

[2015-12-16 17:26] bleege commented on #3265
Heads up @zugaldia @tobrun that Android Bitrise Configs are now in Git.

[2015-12-16 20:20] twbell commented on #584
Copy that @tikimcfee.

1. Our approach here on the Mobile side is for broad feature parity between iOS and Android.  We expect this to be a stepping-stone approach where one platform leads and the other follows -- which leads first depends on te

[2015-12-16 20:32] twbell commented on #584
Copy that @tikimcfee.

Our approach on the Mobile side here is for broad feature parity between iOS and Android.  We expect this frequently to be a stepping-stone approach where one platform leads and the other follows in short order -- which leads first will vary depending on internal business priorities, but the goal is to minimize feature lag between the two platforms.

We want our mobile dev i

[2015-12-16 21:12] bleege commented on #3244
Status Update:  The math conversion and wiring from the Java based developer API to the C++ Core GL is mostly in.  All three `animateCamera()` test methods render in their test harnesses as expected (animation, pitch, target location, bearing of MapView).  There are only 2 more issues to resolve that I can see.  The first is getting `zoom` to be respected by Core GL.  The second is getting the Com

[2015-12-16 21:48] zugaldia opened #3325 "2-finger rotation is off axis"
On Android, two finger rotation is not rotated around the center point of the fingers. Sometimes it is nowhere near the location of the two fingers.

[2015-12-16 22:22] #3325 closed

[2015-12-16 22:31] 1ec5 commented on #2117
Bitrise is running appledoc 2.2.1. I just upgraded my machine from 2.2.0 and the templates are broken, which means we’ve been building broken documentation on Bitrise all this time. 2.2.1 comes with an impressive [58 commits](https://github.com/tomaz/appledoc/compare/v2.2-963...2.2.1).

[2015-12-16 22:51] 1ec5 commented on #2117
The template breakage is tomaz/appledoc#561.

[2015-12-16 23:39] 1ec5 opened #3327 "Android is inconsistent about “zoom” versus “zoomLevel”"
`MapView` has [`getZoomLevel()`](https://github.com/mapbox/mapbox-gl-native/blob/13d5b18ebaeb330f05c4abfc04e0247222e038ba/platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/views/MapView.java#L1293), while `NativeMapView` and `LatLngZoom` both have [`getZoom()`](https://github.com/mapbox/mapbox-gl-native/blob/13d5b18ebaeb330f05c4abfc04e0247222e038ba/platform/android/MapboxGLAnd

[2015-12-16 23:56] 1ec5 commented on #3296
As @adam-mapbox pointed out, we aren’t calculating quite the right zoom levels. After removing the zoom level clamp I added in #3301, I was able to fly from California to D.C., causing the zoom level to vary from 6.475008 to -8.283377 to 23.004506.

[2015-12-17 00:26] bleege commented on #3244
So the best way to understand the current zoom issue is to see if play out in the TestApp.  When the `CameraActivity` (just "Camera" in the Navigation Drawer) loads it starts with the MapView in it's default state high above Null Island.  When tapping on the `Animate` button (which triggers a 0 nanosecond animation) the rendered display is as it should be (see Screenshot 1 below).  When tapping th

[2015-12-17 02:27] jfirebaugh commented on #2696
Tried this briefly. For some reason, the mason-installed copy of glfw 3 is not picked up, causing compiler errors on `#include <GLFW/glfw3.h>`.

Also @kkaefer says that these images do not support caching with ccache, which we used to speed up builds.

[2015-12-17 04:24] 1ec5 opened #3331 "MGLDistanceFormatter"
MapKit provides a handy subclass of NSFormatter, MKDistanceFormatter, for turning `CLLocationDistance`s into display-appropriate strings with units. The default unit is selected based on the system locale. Developers shouldn’t have to import MapKit for this functionality.

This is a `starter-task` because it has no dependencies on MGLMapView or mbgl.

/ref #949
/cc @friedbunny

[2015-12-17 08:50] adamszeptycki commented on #3281
I have done fresh install with 3.0.1 (without that bitcode configuration).
I have newest version of CocoaPods (0.39).
And still app is crashing.
I did check and `mapbox.png` is member of `Mapbox-iOS-SDK-Mapbox` target.

It's weird since it works without any problems with version 2.1.2

[2015-12-17 13:59] TangoJLabs opened #3332 "Map Thread Crashing Repeatedly - Fatal signal 6 (SIGABRT)"
I have tried adding a mapview to both an activity and a fragment and I am consistently getting the following error:

    A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 23944 (Map Thread)

When the activity reloads (automatically), I get these error messages:

    E/GMPM: getGoogleAppId failed with status: 10
    E/GMPM: Uploading is not possible. App measurement disabled

I am not sure if those

[2015-12-17 14:47] oguzbabaoglu opened #3333 "[Android] MapFragment null pointer exception in onCreateView"
Code below fails with a null pointer exception in some use cases with the `<fragment>` tag.

[code]

This is because of `container` being null in these cases.

It is marked as **`@Nullable`**, and docs also state _"If **non-null**, this is the parent view that the fragment's UI should be attached to."_
See: http://developer.android.com/reference/android/app/Fragment.html

`inflater` can be used in

[2015-12-17 14:51] friedbunny commented on #3331
Good idea. :bulb:

[2015-12-17 14:57] tobrun commented on #3308
@tmcw
I also see no added value for having this,
If @bleege and @zugaldia do not object to this,
I will remove it in next few days.

[2015-12-17 15:01] tobrun commented on #3317
I'm suggesting refactoring `SpriteFactory` to be a singleton instance. This will also introduce the requirement of making SpriteFactory context safe -> we need to replace the `MapView` argument with a `Context` and calling `context.getApplicationContext()` in the `getInstance(context)`.

When this is done, we will also need to update our documentation

cc @bleege @zugaldia