[2015-10-13 21:21] ljbade opened #2608 "Markers across the date line behave strangely"
@BergWerkGIS discovered a bug when markers are placed across the date line.

Android:
![image](https://cloud.githubusercontent.com/assets/4549888/10306972/1d453e9a-6c2b-11e5-9dfc-43f6e061bd64.png)

after panning around the world:

![image](https://cloud.githubusercontent.com/assets/4549888/10306990/37f8abe6-6c2b-11e5-8ee4-70706158ed73.png)

Again `Clear annotations` is somewhat inconsistent:
* all

[2015-10-13 21:24] ljbade commented on #2002
Hmm I wonder if we can turn warnings off for the R package, or skip in in JavaDoc completely.

[2015-10-13 21:26] ljbade commented on #630
@jfirebaugh Ah excellent, will try that out.

[2015-10-13 21:31] ljbade commented on #2606
Good idea!

[2015-10-13 21:36] ljbade commented on #2600
/cc @1ec5

[2015-10-13 21:36] ljbade commented on #2602
I'll look into it.

[2015-10-14 00:40] incanus opened #2610 "fall back to bundled default marker for MGLAnnotationImage"
We should make use of the iOS bundled images from https://github.com/mapbox/mapbox-gl-native/pull/2440 and fall back to them when the delegate isn't implemented. Providing `nil` in an existing delegate method works fine (and is presumably what we tested already).

This should have tests written for it since the test app doesn't hit this use case.

[2015-10-14 00:44] jfirebaugh commented on #2610
I was under the impression that this was already implemented, but if not: :+1:.

[2015-10-14 00:45] incanus opened #2611 "add long press to exercise default marker on iOS"
Refs https://github.com/mapbox/mapbox-gl-native/issues/2610

[2015-10-14 00:51] incanus commented on #2610
This works if you implement the delegate method and return `nil`, but not if you don't implement it.

[2015-10-14 08:43] #2273 closed

[2015-10-14 09:58] tobrun commented on #2049
I added a extra user tracking mode that combines the compass and GPS bearing. As @ljbade indicated we should expose them separately but users will also expect to have a fine tuned combined version.

[2015-10-14 10:11] #2606 closed

[2015-10-14 10:39] petaren commented on #509
Is there an estimated time as to when an increase in max zoom level might be available? We would need a max zoom level of around 20 in my current project. Without it, it's unfortunately useless for us :(

[2015-10-14 14:00] tobrun opened #2616 "MapActivity in SDK"
Acknowledged by both @bleege and @ljbade that this would be a nice addition to the SDK.
Current setup requires overriding multiple lifecycle methods of Activity.
In the past I forgot to add one or I had overridden the wrong one.. imo this setup is error prone.
Besides that I would also simplify the code in the test application, which makes it easier to understand,

Proposition:
 - in similar fashi

[2015-10-14 14:12] bleege commented on #2606
@tobrun :+1:

[2015-10-14 14:18] kkaefer opened #2617 "Request again when obtained data expires"
We're currently treating a request as a one-time thing. We should change this to have "Request" mean "monitor this resource and send me updates about it". This means that the file source needs to keep track of when the resource expires, and issue a new request once it expires. This solves the following cases:

- Tiles with a very short TTL will display stale content, especially in situations where

[2015-10-14 14:49] 1ec5 opened #2618 "User dot callout view dismisses when user location changes slightly"
On iOS, the user dot's callout view is automatically dismissed whenever the user location changes. It should not be dismissed when the location change is small, because that's usually just the result of Core Location refining its location.

/cc @friedbunny

[2015-10-14 14:52] 1ec5 commented on #2618
Keeping the callout view open in this case does not expose any view syncing performance issues, because the user dot itself isn't animated (see #1582).

[2015-10-14 15:35] friedbunny commented on #2618
Sounds good to me. We show the accuracy pulse (`haloLayer`) [when location accuracy is <10 meters](https://github.com/mapbox/mapbox-gl-native/blob/5b9deae95709ea557f28e4a5dcbe3ac8fd47023e/platform/ios/MGLMapView.mm#L2776-L2777), but I'm thinking perhaps an additional screen distance threshold may be better for the callout — unless potentially jumping all the way across the screen doesn't look that

[2015-10-14 16:10] picciano opened #2619 "Crash in font_stack.cpp line 38"
Saw a new type of crash in our logs today. User is running iOS9 on an iPhone 6. App was in foreground at time of crash.

[code]

[2015-10-14 16:15] mikemorris commented on #2619
Related to https://github.com/mapbox/mapbox-gl-native/pull/2598 perhaps?

/cc @1ec5

[2015-10-14 16:30] picciano opened #2620 "Build error: 403 Forbidden"
Running the command line build is giving an error attempting to download binary package ios-9.0/libuv/1.7.5.tar.gz.

[code]

[2015-10-14 16:40] incanus commented on #2610
I'm currently working through a local setup caching issue, I think. The GL code looks correct as far as falling back if the delegate isn't implemented or returns `nil` for a point.

[2015-10-14 16:45] incanus commented on #2610
Yep; all good here, sorry about the false alarm.

[2015-10-14 16:45] #2610 closed

[2015-10-14 16:48] mitchellporter opened #2621 "Creating and implementing custom map styles"
Hi,

I'm trying to create and implement a custom style for my map inside of an iOS app. A designer I work with followed a tutorial, downloaded Mapbox Studio Classic, created a map style, and then uploaded it to our account.

For some reason, I can't for the life of me find this page anymore, but when researching how to implement the map style for iOS I came across a page that said something along

[2015-10-14 16:48] 1ec5 commented on #2620
The “403 Forbidden” is a red herring; it just means that no pre-built Mason binary was available for your iOS version, so Mason will attempt to build locally. The build appears to be failing because you don’t have some required command line tools. Try installing them via Homebrew. I don’t think the [installation instructions](https://github.com/mapbox/mapbox-gl-native/blob/master/INSTALL.md#depend

[2015-10-14 16:50] friedbunny commented on #2620
Which build command are you using? The 403 error is expected and the build should continue, just with the extra step of compiling the missing binary locally.

[code]

[2015-10-14 17:04] picciano commented on #2620
Ah, yeah, the `403 Forbidden` threw me off, stopped reading after that.
Running these fixed it if anyone else runs into this today.

[code]

[2015-10-14 17:25] 1ec5 commented on #2619
Not sure. #2598 was confined to `lineWrap()`, which does get called at the end of `getShaping()`.

@picciano, based on the logs, would the application have incorporated #2598, which landed in master only yesterday? If so, the next step would be to find out what text may have caused the crash.

[2015-10-14 17:42] picciano commented on #2619
It looks the build would have included #2598. This was our build from just yesterday afternoon. And this was the first occurrence of this crash that we have seen.

[2015-10-14 17:54] picciano commented on #2619
More info from user...
User was between 34.125545,-118.215896 and 34.123593,-118.226423 on York Ave. (Los Angeles) likely at zoom level 16.

Maybe that will help narrow down the problem label?

[2015-10-14 17:58] jfirebaugh commented on #2620
@mikemorris Should the mason prebuild matrix for libuv include ios-9?

[2015-10-14 18:16] mikemorris commented on #2620
Ah, didn't notice that was missing, yea it should @jfirebaugh.

[2015-10-14 18:35] jfirebaugh commented on #1734
Updating title to reflect that this is not specific to shape annotations -- markers could also benefit from style properties like `icon-size` and `icon-rotate`.

[2015-10-14 18:35] 1ec5 commented on #2619
Using iosapp, I attempted to reproduce the crash by following the entire length of York Blvd., in either direction, with rotation and/or pitch. I tried both Streets and Emerald at ≈z16. Only [two](https://www.openstreetmap.org/node/358855537) [POIs](https://www.openstreetmap.org/way/258034131) ever came into view that contain any characters included in #2598, but `lineWrap()` never ends up wrappin

[2015-10-14 18:41] mikemorris commented on #2620
Pushed an [updated build matrix](https://github.com/mapbox/mason/commit/24004673ebd2b4a75ecc921d8181aa97fb2ab570) for libuv-1.7.5, iOS 9 (and Android) binaries should be available now.

[2015-10-14 19:02] friedbunny commented on #2620
Yup, prebuilt binary is good to go! Some discussion of how to communicate dependencies in #2622.

[2015-10-14 21:08] picciano commented on #2620
Working great now, thanks!

[2015-10-14 21:32] friedbunny commented on #2621
Raster tiles are images that must be loaded entirely before they can be displayed, hence the black voids you're observing. Maps that are exported from Mapbox Studio Classic are rasters, generally speaking.

Mapbox GL focuses on vector maps. While raster tiles are supported (mostly for the satellite use case), as static pixels they inherently lack the flexibility of [vector tiles](https://www.mapbo

[2015-10-14 21:32] #2621 closed

[2015-10-14 21:45] jfirebaugh commented on #2621
@mitchellporter If you email help@mapbox.com referencing this ticket, we'll get you access to the [Mapbox Studio beta](https://www.mapbox.com/mapbox-studio/).

[2015-10-14 21:50] bleege opened #2624 "Use Maki Icon In TestApp"
The project claims that ["Developers can still use the Maki sprites from the styles just like Sirius does."](https://github.com/mapbox/mapbox-gl-native/issues/2506#issuecomment-145298477), however Sirius is only using the `default_marker` sprite.  In order for this claim to be true, [Maki icons](https://www.mapbox.com/maki/) should be loadable.  Let's add a test / example of this in the TestApp.

[2015-10-14 22:06] tmpsantos commented on #509
Not on the roadmap AFAIK, but you can change that on the code for now.

[2015-10-14 22:37] bleege commented on #2506
Just to clarify, that for Android this means loading a Style specific sprite from the sprite style sheet.  For example, with Emerald style this means that the image has to be in https://github.com/mapbox/mapbox-gl-styles/blob/mb-pages/sprites/emerald.json.

[2015-10-14 22:43] ljbade commented on #2049
@tobrun Perfect, gives developers complete control over how they want there app to behave.

[2015-10-14 22:45] ljbade commented on #2616
So the idea is that for a quick map activity one just uses our `MapActivity` or possibly subclass/custom XML to adapt it to their specific needs.

[2015-10-14 22:47] incanus commented on #2506
No, this API is what the platform clients use to set runtime marker imagery, i.e. rasters as textures outside of the stock style resources.

[2015-10-14 22:49] 1ec5 commented on #2506
I think the confusion is that the iOS SDK _used_ to allow you to name a sprite from the style’s sprite sheet. That’s no longer the case and to my knowledge no longer supported by mbgl.

[2015-10-14 22:51] bleege commented on #2506
Agreed @incanus.  The confusion was around the statement that "Developers can still use the Maki sprites from the styles just like Sirius does."  This means using Style Specific Sprites that are in the Style Sprite JSON Sheets and not [Maki icons](https://www.mapbox.com/maki/) in their traditional sense.

[2015-10-14 22:55] ljbade commented on #2506
@1ec5 Wait a minute, you mean iOS no longer allows you to specify a String as the sprite? It only allows loading from a provided Bitmap?

[2015-10-14 23:00] 1ec5 commented on #2506
@ljbade: see https://github.com/mapbox/mapbox-gl-native/pull/941/files#r34008986.

[2015-10-14 23:06] ljbade commented on #2506
Ah I see. @bleege from ^ it looks like when we fix this issue we will have to make a breaking refactor to Marker/MarkerOptions to remove String and replace with Bitmap in `.sprite()`. We will need to remember to update the code examples at the same time.

[2015-10-14 23:24] ljbade commented on #2602
Been looking into it, it freezes in `nativeGetTopOffsetPixelsForAnnotationSymbol()` at the first `addMarker` in the `InfoWindowAdapterActivity`.

[2015-10-14 23:25] ljbade commented on #2602
I think this is a bug not specific to my changes in the ref'd commit, but a more general bug. If you clicked on a Marker fast enough with the old code you could trigger this freeze too.

[2015-10-15 01:18] mitchellporter commented on #2621
Just sent in that email thanks for the help guys!

[2015-10-15 03:15] ljbade commented on #2002
@bleege Not sure how to fix the `R` class errors. JavaDoc has an `-exclude` option for this, but it sounds like Gradle does not expose it. See http://stackoverflow.com/questions/32785002/javadoc-exclude-causing-errors-on-import

If I try to use gradle's `exclude` I get import errors as that person from Stackoverflow notes.

[2015-10-15 03:19] ljbade commented on #2002
I fixed the other warnings. However the annotations classes need some serious TLC, a lot of the functions are simply "unimplemented".

[2015-10-15 03:55] ljbade commented on #2002
I implemented an `overview.html` mirroring the iOS one.

Things that need to be improved:
- An Android version of this image - https://raw.githubusercontent.com/mapbox/mapbox-gl-native/master/ios/screenshot.png
- Fill out the Changelog - @bleege Not sure about your preference on where the Android changelog should live, iOS has it on the SDK reference homepage (see https://www.mapbox.com/ios-sdk/ap

[2015-10-15 03:58] ljbade commented on #2002
@bleege Can you generate a JavaDoc set and check if the homepage is as you would like it.

[2015-10-15 04:03] ljbade commented on #2002
@bleege Also I should mention that to get JavaDoc to correctly link to the online Android docs for the Android classes, you need to make sure you have a valid `ANDROID_HOME` environment variable set to the SDK location - and that you have the latest Android SDK reference package installed.

[2015-10-15 04:36] ljbade commented on #2602
So far I suspect the https://github.com/mapbox/mapbox-gl-native/blob/master/src/mbgl/map/map_context.cpp#L265 line is where it is freezing. `getSprite` obtains a lock in `SpriteStore`

[2015-10-15 05:34] ljbade commented on #2602
I worked it out, issue is in `map.cpp`.

`Map::getTopOffsetPixelsForAnnotationSymbol` uses `invokeSync` which will hang if the map is paused (which it is during an Activity's `onCreate()`)

@jfirebaugh This is one of only 5 `Map` functions that use `invokeSync` (all getters). Whose responsibility is it to check `isPaused()`? The code calling `getTopOffsetPixelsForAnnotationSymbol` (in this case th

[2015-10-15 05:43] brunoabinader opened #2626 "MapContext setStyle{URL,JSON} should ignore redundant calls"
Our engine should be robust enough to ignore redundant calls and avoid triggering a whole style update if the style URL and/or JSON are the same.

/cc @mapbox/mobile @mapbox/gl

[2015-10-15 05:53] ljbade commented on #630
Got it working, thanks @jfirebaugh

[2015-10-15 08:58] petaren commented on #509
Okey, L87 in transform.hpp is blank. So what do I need to change to get it to work?

[2015-10-15 09:10] mourner commented on #509
It's hardcoded here now: https://github.com/mapbox/mapbox-gl-native/blob/e63fb444993c16b158cf833ba4c4e66f81943fba/src/mbgl/map/transform_state.hpp#L76-L77

I think we should address this issue sooner, shouldn't be hard and is an often requested feature.

[2015-10-15 10:42] petaren opened #2628 "Remove styleID property; replace with style URL inspectable"
I'm trying to use a custom map in the iOS SDK. I have tried typing out the styleID in interface builder like this:
![interfacebuilder image](https://cloud.githubusercontent.com/assets/3486895/10511502/ecc17b4c-7339-11e5-9dd2-580c497f5048.png)

But that gives me the error message: `[ERROR] {Map}[Setup]: loading style failed: HTTP status code 404`

I have tried setting it in code too with the same e

[2015-10-15 12:31] tobrun commented on #2624
@bleege
So far I was able to identify the code example in Sirius:
[code]
For different styles this will give me different icons, which makes me think that these icons aren't packaged with the aar but are fetched on the fly. I was able to identify a default_marker entry in [emerald.json](https://github.com/mapbox/mapbox-gl-styles/blob/mb-pages/sprites/emerald.json).

I tried replacing "default_mark

[2015-10-15 13:47] bleege commented on #630
I'm moving this back to `android-v2.2.0` due to timing.  While this is a useful feature there won't be sufficient enough time to finish building it nor testing it before we need to ship.

[2015-10-15 13:59] bleege commented on #2624
@tobrun Yep, I went through the same fun yesterday afternoon and [came to the same conclusion](https://github.com/mapbox/mapbox-gl-native/issues/2506#issuecomment-148223279).  This turned out to be a communications / expectations issue.  What this means for now is:

1. Only Style Specific Sprites are supported for `android-v2.1.0`
  1. Ex: Only Sprites from [emerald.json](https://github.com/mapbox

[2015-10-15 14:51] 1ec5 commented on #2628
The style ID should be just `moggen/9c5b2248`. Note that the iOS SDK only supports styles created in the new, vector-based Mapbox Studio, not Mapbox Studio Classic.

[2015-10-15 15:11] petaren commented on #2628
Still doesn't work. Just getting another error:
`[ERROR] {Map}[Setup]: loading style failed: HTTP status code 403`

[2015-10-15 15:28] jhoughjr commented on #1707
Any news on this? I'm using Mapbox-ios-sdk 2.1.2 as a cocoa pod and still get these tons of warnings for all the object files.

I'd also add that warnings are not harmless and ignoring them has many disadvantages.

[2015-10-15 15:52] friedbunny commented on #2628
Couple things:

1. As @1ec5 said, `moggen.9c5b2248` is a raster map that is not directly compatible with the [GL style spec](https://github.com/mapbox/mapbox-gl-style-spec). If you want to use this map as-is, it can be [loaded as a raster source in a GL style](https://www.mapbox.com/ios-sdk/examples/raster-styles/).
1. Presuming this was a GL style, access tokens must have access to the style you'

[2015-10-15 15:56] bsudekum commented on #2628
@1ec5 wouldn't it makes sense that the method `setStyleUrl` and this input field accept the same values? eg: `mapbox://styles/user/id`

[2015-10-15 16:09] changcode opened #2629 "How to draw MKCirlcle on Mapbox GL"
I have migration MKMapView to Mapbox GL in one project recently, But I didn't find some class like MKCirlcle for drawing circle on map. Is there some way to draw circle on map?

[2015-10-15 16:31] friedbunny commented on #2629
`MGLCircle` hasn't been implemented yet (#2167), though the [circle layer type exists in the spec](https://www.mapbox.com/mapbox-gl-style-spec/#circle) and in the renderer. If you don't need to draw circles dynamically, adding them in the style is a viable option.

[2015-10-15 16:31] #2629 closed

[2015-10-15 16:33] incanus commented on #2628
`setStyleUrl` = style URL
`styleID` = style ID part of style URL

More correct would probably be to change the IB field to be a style URL.

[2015-10-15 16:43] bsudekum commented on #2628
Yes

[2015-10-15 16:57] changcode commented on #2629
Thanks firedbunny, what I want to implement are each markers with different radius circle on map view, is that possible to do that through edit render style?

[2015-10-15 17:06] 1ec5 commented on #2628
Interface Builder doesn’t support NSURLs as inspectables. That’s why the style ID property exists. We could have a “style URL string” property instead, but I don’t think that really solves any problems. You’d have to know the URL syntax, but the UI wouldn’t have any affordance to help you get it right.

[2015-10-15 17:16] jfirebaugh commented on #2628
The UI doesn't have any affordance to help you get the ID right either. I think we should make it a URL string, for consistency with the API.

[2015-10-15 17:18] petaren commented on #2628
Since I don't have access to our projects mapbox account I tried creating my own just to play around with and get working.

I have now registered a new account. In the web UI I have created a new project. In my Xcode project I have switched out the access token to my new accounts token.
The new projects settings looks like this:
![projsettings](https://www.dropbox.com/s/61t53vy20rw2q7l/Screenshot%

[2015-10-15 17:40] incanus commented on #2629
Yep @changcode, here's the spec doc: https://www.mapbox.com/mapbox-gl-style-spec/#circle

[2015-10-15 17:47] 1ec5 commented on #2628
@petaren, that’s the raster editor. As @friedbunny explained, you’ll need to create a GL style instead. The raster editor’s vector-based replacement, [Mapbox Studio](https://www.mapbox.com/mapbox-studio/), is currently in beta.

@jfirebaugh, for an Interface Builder user, the API should ideally be an implementation detail; it isn’t particularly important that the UI matches any programmatic API ex

[2015-10-15 17:53] mikemorris commented on #898
https://gcc.gnu.org/wiki/Visibility has an example of macros with Windows support

[2015-10-15 17:57] petaren commented on #2628
@1ec5 Ah! That explains it, I thought the web editor was the GL editor and that the Classic one was the raster. Do you guys happen to have any influence over who gets beta invitations to the GL editor or is there any other way for us to create a GL map?

[2015-10-15 18:13] incanus opened #2630 "allow for iOS annotation selection even without title"
MapKit allows you to programmatically set point annotation(s) as selected, even if they don't show a callout. We currently require a `title` property so that we can show a callout for selection annotations.

Refs https://github.com/mapbox/mapbox-gl-native/issues/2082

[2015-10-15 18:22] 1ec5 commented on #2628
@petaren, please sign up at https://www.mapbox.com/mapbox-studio/#start-designing.

[2015-10-15 18:29] incanus commented on #2630
Whoops, confirmed that we do this already.

[2015-10-15 18:29] #2630 closed

[2015-10-15 18:47] 1ec5 commented on #1707
@jhoughjr, I’m not seeing the warnings anymore with 2.1.2 when building in Xcode 7 with the iOS 9 SDK. In the warnings you’re seeing, is the iOS version 9.0 and the linked version 8.2, or something else?

[2015-10-15 19:12] friedbunny commented on #1707
Indeed, I cannot reproduce these warnings with the [recommended podfile](https://www.mapbox.com/ios-sdk/#cocoapods).

[2015-10-15 19:23] #2611 closed

[2015-10-15 19:41] bleege opened #2631 "AnnotationOptions.alpha Needs To Return SuperType"
Currently `AnnotationOptions.alpha()` [returns an `AnnotationsOptions` object](https://github.com/mapbox/mapbox-gl-native/blob/074d61a55e32e83173ec12b2eb34b78ddaaf0ef1/android/java/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/annotations/AnnotationOptions.java#L9).  While this is functional, it requires casting to be applied in common Builder patterns which isn't good.  For example:

[cod

[2015-10-15 21:01] mikemorris commented on #898
Attempted setting this up in [`898-visibility-hidden`](https://github.com/mapbox/mapbox-gl-native/tree/898-visibility-hidden), seeing the follow two linker errors from Boost when running `make run-osx` that I'm attributing to the cross-lib exceptions issue with hidden symbols, but trying to track this down I can't find anywhere that we're using `boost::throw_exception`?

[code]

[2015-10-15 21:12] mikemorris commented on #898
Uh, my pull request unexpectedly passed CI when I assumed it wouldn't. Anyone want to review and see if it's actually doing what I think it is?

[2015-10-15 21:16] bleege commented on #2002
This is looking better @ljbade!  The only warnings thrown during compilation were:

[code]
_I cut out about 300 more `@attr` lines to make this shorter_

As for the error loading `http://docs.oracle.com/javase/7/docs/api/package-list` I also couldn't load it via Web browser so I'm thinking it's a network issue / problem on Oracle's side.  oracle.com loaded just fine FWIW.  All in all I think this

[2015-10-15 21:38] mikemorris commented on #898
Rebasing [`geojsonvt-2.1.6-rapidjson`](https://github.com/mapbox/mapbox-gl-native/tree/geojsonvt-2.1.6-rapidjson) onto this branch doesn't solve the linker warnings during iOS tests - is visibility not actually set correctly here, or could the issue be that mason packages (like GeoJSONVT) are only built with `-fvisibility-inlines-hidden`?

[2015-10-15 22:03] friedbunny opened #2633 "CATransformLayer: changing property masksToBounds in transform-only layer, will have no effect"
Warning shows up three times in the iOS 9.0 iPad Retina simulator, around the same time as the user location annotation is being setup with a simulated location. May have something to do with the simulator not reporting heading, which is where we use masking.

[code]

As of: a422a1d3763e7acfa5f82041f727037b4399c991

[2015-10-15 22:10] ljbade commented on #630
Fair enough

[2015-10-15 22:33] ljbade commented on #2631
Interesting, the other options support this. Also core GL marker don't support alpha, so only needed for lines and polygons.

[2015-10-15 22:37] ljbade commented on #2002
@bleege yeah I made comment ^ about that image, if we can get an Androidy one in time for launch, otherwise cut it, and make a ticket for 2.2.0.

Did you check out the very rough Changelog? I assume you will edit to have more detail?

As for removing R and BuildType I was having issues due to Gradle in comment ^

[2015-10-15 23:00] incanus opened #2634 "iOS callout now tappable like button all the time"
As of https://github.com/mapbox/mapbox-gl-native/pull/2596 the whole callout taps like a button, including dimming. This should default to off somehow.

[2015-10-15 23:01] incanus commented on #2618
We should just ensure that the dot isn't in fact moving perceptibly, since we can't yet reposition callouts (or other views) synced to the map yet (https://github.com/mapbox/mapbox-gl-native/issues/1125).

[2015-10-15 23:02] incanus commented on #2600
Just to clarify, this is in their own user-facing apps, not their developer-facing frameworks.

But agree.

[2015-10-15 23:08] jfirebaugh commented on #2602
Right now it's the Mapbox programmer's responsibility to avoid calling `invokeSync` while the map is paused. :) Can you avoid doing that? It looks like `getTopOffsetPixelsForAnnotationSymbol` is used to determine the y-offset for an annotation callout -- seems like that should only be happening while the map is unpaused, no?

[2015-10-15 23:27] ljbade commented on #2602
@jfirebaugh Yeah I added a check in Java for `isPaused()` and will use a zero offset, until such time as the initial map has finished loading which case there will be valid value.

[2015-10-15 23:28] 1ec5 commented on #2618
@incanus, I don't think that's a problem in this case: https://github.com/mapbox/mapbox-gl-native/issues/2618#issuecomment-148074417.

[2015-10-15 23:33] incanus commented on #2618
Right, so I guess we use `-[MGLMapView metersPerPixelAtLatitude:]` combined with changes of < 1 pixel.

[2015-10-16 00:18] ljbade commented on #2002
PR made that:
- removes `R`, `BuiltType` and `com.almeros.*` from the JavaDoc
- removes the iOS image, pending a similar one for Android

[2015-10-16 00:44] ljbade opened #2636 "InfoWindow tip sometimes has a 1 pixel gap"
Sometimes (must depend on rounding somewhere) there is a small but noticeable 1 pixel gap between the InfoWindow tip triangle and the main rectangle.

I have attached a screenshot showing this, but you need to zoom in to see it clearly:
![device-2015-10-16-114002](https://cloud.githubusercontent.com/assets/1215089/10531242/2be0a99e-73fb-11e5-923e-7c1e8f25b205.png)

I noticed this on my Samsung S6.

[2015-10-16 00:44] ljbade commented on #2602
This is solved in https://github.com/mapbox/mapbox-gl-native/pull/2627

[2015-10-16 00:44] #2602 closed

[2015-10-16 00:55] ljbade commented on #630
After discussion with @jfirebaugh the PR https://github.com/mapbox/mapbox-gl-native/issues/2599 will only implement the start and successful load events.

Failure event needs some work due to interaction with how `setStyleUrl` clears the set JSON but doesn't trigger an `update()`.

So going to leave this issue open until then.

@1ec5 or @incanus: Is there any work needed on iOS side now that the s

[2015-10-16 01:25] ljbade commented on #2628
@jfirebaugh @1ec5 Just making a note that on Android I decided to use only setStyleUrl (and not ID) so in Sirius the custom style dialog just takes the full `mapbox://` URL just like the method.

[2015-10-16 01:48] 1ec5 commented on #630
The methods do need to be documented still so that they show up in the API documentation.

[2015-10-16 01:54] ljbade commented on #630
@1ec5 some tests would be good too. Does iOS/core have any tests for the existing map change events?

[2015-10-16 01:56] 1ec5 commented on #2628
#2632 removes the styleID property in favor of the styleURL property and an inspectable that looks like it's called styleURL. The change makes sense because Mapbox Studio consistently displays the full URL, never just the ID. Otherwise I would've preferred more concise input in IB.

[2015-10-16 02:07] #2599 closed

[2015-10-16 02:19] ljbade commented on #2546
Moving this to 2.2.0 as I don't think we have enough time to make all these changes. It is looking like the next version will include a number of refactors anyhow.

@bleege Do you agree?

[2015-10-16 02:20] ljbade commented on #2585
@bleege What are we going to do with this ticket? I think we will just have to move it to 2.2.0 as we need #2506 before we can update the pin.

[2015-10-16 02:23] ljbade commented on #2546
On second thought now that we have #2631 I might as well roll a fix for that into this branch.

[2015-10-16 03:46] ljbade commented on #2546
Pending https://github.com/mapbox/mapbox-gl-native/issues/2538 I have marked all the public methods that should only be used internally by the SDK with JavaDoc that says "Do not use this X. Used internally by the SDK."

Only way to prevent this is to move to a single package SDK.

[2015-10-16 04:27] ljbade commented on #2448
Hitting this in https://github.com/mapbox/mapbox-gl-native/issues/2546

[2015-10-16 05:33] ljbade commented on #2546
This branch ended up being quite a bit of work.

Full details in the PR.

[2015-10-16 06:22] ljbade opened #2638 "Make AnnotationOption objects Parcelable"
We should implement `Parcelable` on all the `AnnotationOptions` classes. This will enable the TestApp and Sirius to save added markers and annotations for screen rotation.

This provides parity with the Google Maps API.

/cc @tobrun

[2015-10-16 06:45] SunithaSenthil commented on #2633
Once Close and execute again in same simulator.

[2015-10-16 06:49] ljbade opened #2639 "Update to Android support v23.1.0"
Update to Android support v23.1.0

[2015-10-16 07:10] ljbade commented on #2639
Getting a warning about conflicting `support-annotations` versions between the app and the "test app".

[2015-10-16 07:32] ljbade commented on #2639
Fixed the conflict.

[2015-10-16 07:53] kristofvanlandschoot commented on #2012
I think I've done everything required, double checked it all, but still I get:

    2015-10-16 09:49:53.040 playground-winterinapen[5806:1671178] [ERROR] {Map}[Style]: Failed to load [mapbox://mapbox.mapbox-terrain-v2,mapbox.mapbox-streets-v6]:

Is there anybody with the sample project as a zip that I can just paste my access token in to check if it is in my setup or server side?  (Xcode 7.0.1, Si

[2015-10-16 07:57] ljbade commented on #2639
iOS job failed. Merging as this is android only.

[2015-10-16 07:58] #2639 closed

[2015-10-16 07:59] ljbade commented on #2639
Just realised I forgot to make a PR ticket!

[2015-10-16 09:14] tobrun commented on #2631
@bleege didn't the generic builder pattern solve this?

[2015-10-16 09:14] tobrun commented on #2636
@ljbade well spotted ;)

[2015-10-16 10:25] tobrun opened #2640 "Add merge tag to InfoWindowView"
When fixing #2601,  a new View class **InfoWindowView** was introduced.
Below I have added the the xml definition:

[code]

Because InfoWindowView extends RelativeLayout and inflates xml show above, this setup will result in 2 nested RelativeLayouts. The RelativeLayout tags above should be replaced with merge tags.

[2015-10-16 10:47] tobrun opened #2641 "InfoWindowAdapter parity"
This ticket is created to discuss parity on Google's implementation of InfoWindowAdapter.

#### Our current setup:
An interface definition that fetches a View object provided by the end developer to be shown as the  PopUpWindow, the clicked marker is passed in as parameter.

[code]

#### Google setup:
An [interface definition](https://developers.google.com/android/reference/com/google/android/gms/

[2015-10-16 12:45] muZZkat commented on #1041
In Map kit, the user location view is fixed on the screen and the map moves under it, This is not really related to any entity interpolation of the current users location.

[2015-10-16 13:53] bleege commented on #2002
@ljbade

* No Android image for `2.1.0`
* No Change Log for now (this is release 1)

[2015-10-16 14:01] bleege commented on #2585
Let's bump this to `android-v2.2.0` so that we can work with the API as @jfirebaugh suggests.  In the mean time, [I'm still of the idea](https://github.com/mapbox/mapbox-gl-native/issues/2585#issuecomment-147128702) that we "make sure that the proper version of the styles submodule is loaded for `android-v2.1.0`".

[2015-10-16 14:08] bleege commented on #2546
@ljbade This is a LARGE change and rushing it doesn't make sense.  Let's put this back into `android-v2.2.0` so that we have time to test it properly.

[2015-10-16 14:11] bleege commented on #2631
@tobrun I didn't have time to finish yesterday afternoon so I just created this issue to make sure this was known.  Hoping to get it to today.

[2015-10-16 14:25] 1ec5 commented on #1041
@muZZkat, the behavior you describe would still require entry interpolation or dead reckoning, except only to pan the map smoothly, rather than move the user dot (thus causing the map to pan), as #1582 does.

[2015-10-16 15:15] kkaefer opened #2644 "~Actor<O> is blocking"
When canceling a `WorkTask`, we block until that task has completed its entire invocation. This isn't something we should do. You can make this behavior more visible when adding a `sleep(4)` in a worker task, (e.g. in `TileWorker::parse()`). Panning fast now stalls heavily, as partial work requests are getting canceled.

/cc @jfirebaugh

[2015-10-16 16:06] jfirebaugh commented on #2644
This is by design. `WorkTask`s typically have references to objects which need to outlive the task, whose owner is in turn owning the task. If the task isn't canceled, then these lifetime invariants will not hold: the objects will be destroyed along with their owner, while the work task will continue running with dangling references.

[2015-10-16 16:23] 1ec5 commented on #1707
Agreed. In this case, I was only recommending to be patient for mapbox/mason#110 to make it into a build, not to ignore the warnings indefinitely.

@jhoughjr, did you upgrade the Mapbox iOS SDK pod or install it into a fresh project? If you upgraded it, be sure to fully clean your project before rebuilding: hold down ⌥, then go to Product ‣ Clean Build Folder.

[2015-10-16 16:49] 1ec5 commented on #2332
So far I’ve been looking at producing a fat binary that has Bitcode enabled or disabled all the way down to Mason, but the main holdup has been explicitly disabling Bitcode in the gyp-generated projects when built in Xcode 7 – the `ENABLE_BITCODE` setting doesn’t seem to make it through to the project when specified in the .gypis.

We’re now looking at a simpler route, which is to distribute two c

[2015-10-16 17:35] incanus commented on #2226
We should hit this now as we are still running a GeoJSON VT in `master` that has [nine commits](https://github.com/mapbox/geojson-vt-cpp/tree/83bffbcc6ad75ff59c7640036567820c8932161b) instead of `master`'s 62.

@kkaefer @jfirebaugh @mikemorris

[2015-10-16 19:11] 1ec5 commented on #2139
#2259 covers the `fitBounds` work that needs to take place. Let’s see if we can get @ansis’ work on the perspective-continued branch into master.

[2015-10-16 19:11] 1ec5 commented on #2259
To recap: `fitBounds` does not account for the trapezoidal shape of the bounds when the map is tilted. As a result, the map’s camera fails to round-trip correctly (tending to zoom out) when the map starts out tilted.

[2015-10-16 19:35] friedbunny commented on #630
We have [region change delegate tests for iOS](https://github.com/mapbox/mapbox-gl-native/blob/6c49f8a5789698225442430737b5b4b083edea77/test/ios/MapViewTests.m#L454-L609), but they've been flaky and are mostly disabled at the moment. We should add add new tests for map change, see what happens. :boom:

[2015-10-16 20:02] jfirebaugh commented on #2506
@ljbade What `scale` parameter are you referring to? Can you link to code? Also, can you post a stack trace of the crash?

[2015-10-16 20:50] jfirebaugh commented on #1542
Fixed by using pixelmatch-based comparison.

[2015-10-16 20:50] #1542 closed

[2015-10-16 20:52] jfirebaugh opened #2646 "dasharray renders slightly differently from js"
![image](https://cloud.githubusercontent.com/assets/98601/10553080/287d27de-740d-11e5-82e8-27b227e01efc.png)
![image](https://cloud.githubusercontent.com/assets/98601/10553083/2d486cce-740d-11e5-9a57-36c145872e27.png)
![image](https://cloud.githubusercontent.com/assets/98601/10553086/310488ac-740d-11e5-83d0-87fdeb03fe5e.png)

[2015-10-16 20:56] jfirebaugh commented on #1600
Also happens in js.

[2015-10-16 20:58] mikemorris commented on #2226
Working on this in https://github.com/mapbox/mapbox-gl-native/pull/2584, but completely stumped dealing with mason-installed RapidJSON linker warnings in the iOS test suite.

[2015-10-16 21:08] bleege commented on #2448
This is being moved to `android-v2.2.0` per https://github.com/mapbox/mapbox-gl-native/issues/2546#issuecomment-148726940

[2015-10-16 22:01] adam-mapbox commented on #1975
Hello all.  I’m hoping someone can help with this bug.  @incanus @kkaefer

As I investigated, the bug began to morph and change and I was led a bit far afield.  I have many ideas about what may be going on, but I’m hoping that with more eyes on it, someone will look at the failure profile and have an “aha” moment.

The original bug talks about differences between 0.5.2 and 0.5.3 and labels redrawi

[2015-10-16 22:12] bleege commented on #2631
Looking at Google's implementation they avoided this problem all together by keeping [PolygonOptions](https://developers.google.com/android/reference/com/google/android/gms/maps/model/PolygonOptions), [PolyLineOptions](https://developers.google.com/android/reference/com/google/android/gms/maps/model/PolylineOptions), and [MarkerOptions](https://developers.google.com/android/reference/com/google/an

[2015-10-16 22:18] incanus commented on #1975
Tagging @jfirebaugh @mourner as well.

[2015-10-16 22:27] bleege commented on #2631
Doing some R&D on this shows that the `AnnotationsOptions` abstract class came as part of clean up / refactoring in #1716.  In other words this [was introduced in Mapbox](https://github.com/hallahan/mapbox-gl-native/commit/9e3f60756f6e70fa8f4b0d5827127bd404b1baf6) and not needed as part of the Google API (confirms previous statement on API).

[2015-10-16 22:29] jfirebaugh opened #2647 "circle rendering differences"
This is visible in all the circle rendering tests, but only actually fails the opacity ones. It looks like native is rendering a few circles that js isn't. Filing here, but need to verify which of the two is correct.

![image](https://cloud.githubusercontent.com/assets/98601/10554691/bb3e947e-741a-11e5-9075-e72166b7746a.png)

[2015-10-16 22:31] incanus commented on #1975
Per chat, I wasn't seeing this, but I was also making sure to test the (rather old) 0.5.2 in Xcode 6.4 and on iOS 8 (sim or device).

[2015-10-16 22:32] jfirebaugh opened #2648 "line pattern rendering difference"
Native renders much differently than js:

![image](https://cloud.githubusercontent.com/assets/98601/10554725/102b5ec2-741b-11e5-90ea-f12f05eefa76.png)

[2015-10-16 22:35] ljbade commented on #2631
@bleege Does the same apply to the `Marker`, `Polyline`, `Polygon` classes? If we split these up we will need to do a bit of re-factoring in `MapView`.

Also should point out this was an easy fix in my large PR, I just pushed `.alpha` to the concrete classes.

[2015-10-16 23:00] bleege commented on #2631
I decided to remove `AnnotationsOptions` and `MultiPointOptions` as they were for abstract classes that are not part of the Google Maps API.  I moved their features to concrete implementations which mirrors Google and also solves this issue.  Tests (see below) look good.  I also added an explicit usage of `.alpha()` to the Polygon Annotation.  Was able to confirm that the builder pattern worked co

[2015-10-16 23:28] ljbade commented on #2002
Changelog hidden.

[2015-10-16 23:51] ljbade commented on #2002
I think we are done here for v2.1.0 now we are locking down the release.

I'll close this and open a new v2.2.0 ticket to continue documenting the remaining classes after our initial release.

[2015-10-16 23:51] #2002 closed

[2015-10-16 23:52] bleege commented on #2631
Rebased and merged.

[2015-10-16 23:52] #2631 closed

[2015-10-16 23:53] ljbade opened #2650 "Finish off JavaDocs for v2.2.0"
Continuing from #2002 where we got to in v2.1.0.

Remaining work:
- [x] document annotations
- [x] document geometry
- [x] document constants
- [x] document MapFragment

[2015-10-16 23:53] bleege commented on #2002
Awesome!  Way to make this happen @ljbade!  :+1:

[2015-10-17 01:16] ljbade commented on #2546
Further work could be to make setId/getId, set/getMapView etc private by directly accessing them in JNI where needed.

To do this nativeAddMarker could be refactored to take a MarkerOptions and return a Marker.

[2015-10-17 01:25] ljbade opened #2652 "Anchor and InfoWindowAnchor points not implemented"
Only noticed this after merging https://github.com/mapbox/mapbox-gl-native/pull/2651

The anchor and InfoWindow anchor properties on Marker are not currently implemented. To implement anchor as per the Google Maps API where they use normalised UV texture coords, will require some JNI work.

Going to make these functions private for the moment.

Also noting that InfoWindow anchor in Google Maps API

[2015-10-17 01:28] ljbade commented on #2546
Going to need to remove anchor per https://github.com/mapbox/mapbox-gl-native/issues/2652 in this 2.2.0 PR.

[2015-10-17 01:46] #2652 closed

[2015-10-17 01:47] ljbade commented on #2636
I found a quick fix (nothing else seemed to work) of setting the `topMargin` for the tip view to -1 px.

[2015-10-17 01:55] ljbade commented on #2577
I'm going to make a PR for the release branch that comments out the compass sensor so we avoid memory church and battery use. This is in-case the user location tracking #2049 does not make it into 2.1.0

[2015-10-17 01:59] ljbade opened #2655 "Remove android.permission.WRITE_EXTERNAL_STORAGE from TestApp"
Just noticed in the TestApp manifest there is an unused `android.permission.WRITE_EXTERNAL_STORAGE` permission.

I tried commenting it out and it didn't break anything.

[2015-10-17 02:03] ljbade commented on #2577
In the PR I'll also include the fix for the location marker not being in the right place.

[2015-10-17 02:09] 1ec5 commented on #1108
To be clear, this ticket is about dynamically showing labels in whatever system language is being used at runtime. Currently that would require a large number of styles or a large number of classes in a single style (although we don't currently expose style classes to iOS SDK clients), to be toggled manually by client code. This is because label text is baked into the Mapbox Streets source, rather

[2015-10-17 02:12] ljbade commented on #2577
@tobrun Quick heads up about the last two comments ^
This is only in case your #2049 doesn't make it in so we at least fix the two existing bugs.

@bleege If #2049 isn't ready in time for v2.1.0, merge this PR into the release branch before your next Sirius SNAPSHOT builds.

[2015-10-17 02:18] #2636 closed

[2015-10-18 10:13] tobrun opened #2657 "OnMarkerClick not called after returning to Activity"
When you navigate back from another Activity, it seems that marker clicks are broken.
Debugged that selectMarker in MapView is not called in that case.

[2015-10-18 11:18] tobrun commented on #2636
@ljbade
Setting margins to negative values is considered bad practice..
Personally I find it acceptable to get 2.1.0 out the door but should be fixed in 2.2.0.
I'm thinking about creating 1 shape for the whole background,
then we can also implement same rounded bordes as iOS.

[2015-10-18 11:23] tobrun opened #2658 "Improve InfoWindow background"
Currently our background of the InfoWindow is constructed out of 2 objects:
 - White background of the LinearLayout wrapping the content of InfoWindow
 - InfoWindowTipView

I'm suggesting to create 1 background object to solve issue (#2636)
While doing this we also can add rounded corners (cfr. iOS)

[2015-10-18 17:03] tobrun opened #2659 "While zooming location change is incorrect"
When zooming the GPS marker position was not correctly adjusted
See #2049

[2015-10-18 17:37] tobrun opened #2661 "Improve configuration location updates"
Adjusted configuration of LOST location updates
See #2049

[2015-10-18 17:46] tobrun opened #2663 "Animate user dot when location changes"
See #2049
When not in bearing tracking mode and NativeMapView is not undergoing changes, Using Android animator framework to animate location change.

[2015-10-18 18:03] tobrun opened #2666 "Cleanup bearing for milestone 2.1.0"
Remove bearing for milestone 2.1.0

[2015-10-18 19:29] jfirebaugh commented on #1108
@1ec5 Not sure I understand your comment. Did you look at how the example works? It doesn't use multiple styles or style classes.

[2015-10-18 19:32] jfirebaugh commented on #1108
Oops, I thought this was a gl-js ticket. For gl-native, the upshot is that once we have a [style API](https://github.com/mapbox/mapbox-gl-native/issues/837) in native, we can do the same as the [gl-js example](https://www.mapbox.com/mapbox-gl-js/example/language-switch/) -- changing the feature property used for the label.

[2015-10-18 21:48] #2666 closed

[2015-10-18 21:48] #2663 closed

[2015-10-18 21:49] #2661 closed

[2015-10-18 21:49] #2659 closed

[2015-10-18 21:53] tobrun commented on #2577
@ljbade @bleege
I did some more cherry picking from that user location branch.
I left bearing out for now.

[2015-10-18 21:53] #2577 closed

[2015-10-18 22:05] ljbade commented on #2636
@tobrun Yeah I did some Googling on negative margins, and found a comment from one of the Android engineers that it is supported on relative layout.

I agree correct way to address this would be to combine everything into just one custom view.

[2015-10-18 22:06] tobrun commented on #2049
I moved some things out of this branch needed for android 2.1.0.
Currently moved this to 2.2.0 milestone.

What is required to finish this ticket:
  - smooth animation when calling setBearing(degrees, true /* animated */)
    - @incanus indicated that we need to sync. frames. @ljbade could you help me out with this?
  - correct image + rotation for bearing

[2015-10-18 22:10] tobrun commented on #2636
@ljbade Didn't know about support for relative layout. Interesting.
Do we want the same design for our InfoWindow as iOS?

[2015-10-18 22:12] ljbade commented on #2049
@tobrun Excellent work!

Yeah I can help you with frame sync, I digged into this a while ago but still havn't come a good solution yet. Part of the problem is that TextureView seems to add a one frame lag, and various methods to sync with that that I have tried so far did not work.

[2015-10-18 22:13] ljbade commented on #2636
@tobrun Hmm, not sure can you take screenshots that compare our current InfoWindows with iOS and Google Maps?

[2015-10-18 23:16] ljbade commented on #2657
@tobrun Can you give more details on how to reproduce this? (or a video)

Testing current master on my Samsung with this:
- add a few long press markers to main activity
- open InfoWindow acitivity, press the markers
- click the back arrow
- click on the long pressed markers

When I do that I still get the InfoWindow popup, and the Custom Marker Click Listener

[2015-10-19 01:15] ljbade commented on #2049
@tobrun I have been playing with Android systrace to get an idea of what happens in our app.

Below is a screen shot with annotations showing our current process to draw a frame to the screen. To record this I had the map open at location with GPS marker, I then rotated the map, started recording, and tapped the compass to start the reset to north animation. Thus there is no gestures involved in t

[2015-10-19 01:26] ljbade commented on #2049
Comparing iOS to Android's flow, iOS updates the user location after `renderSync`, but on Android we are calling it before. Going to switch this around to see what happens.

[2015-10-19 01:30] ljbade commented on #2049
Switching the order to match iOS did not seem to make much difference.

[2015-10-19 02:09] ljbade commented on #2049
I did an experiment with the Android screen video recorder. I'll post a Dropbox link to the video once it finishes uploading.

I set the app to rotate the map by 90 degrees every frame with the GPS marker on.

What I observe is that the compass and user location marker are synced correctly with the map after switching the order to match iOS (see above comments).

However we are only outputting eve

[2015-10-19 02:14] ljbade opened #2668 "Update GPS marker after renderSync"
While investigating why the GPS marker does not sync with the map in https://github.com/mapbox/mapbox-gl-native/issues/2049 I notice the order we update the GPS marker and call `renderSync` is reversed from iOS.

[2015-10-19 04:59] ljbade commented on #2049
Been trying a few things. First I made the `new Runnable` only happen once per app to reduce memory churn.

I tried removing the `mDirty` check and this causes core GL to start pumping out at 120fps, but holds up UI thread so much not many of these frames ever make it to the screen.

[2015-10-19 05:23] ljbade commented on #2049
Decided to try just calling renderSync at 60 times per second, but it still only renders every second frame.

[2015-10-19 05:56] ljbade commented on #2049
Aha I think I'm on to something here. If I run renderSync on a loop on another thread then post an updateCompass/updateGpsMarker function to the UI thread I get smooth panning and properly synced GPS marker.

[2015-10-19 06:59] ljbade commented on #2049
So far I have got `renderSync` on a new thread. After each render the thread then posts on the UI thread.

Initially the render thread was uncapped and rendering at 200fps with no lag between the map and the marker. However this heats the phone up and reduces battery life.

I then implemented a 60fps cap using Choreographer. This reduces CPU use, but now there is the occasional jump in the GPS mar

[2015-10-19 07:02] ljbade commented on #2049
@tobrun I have an idea for how to smoothly animate marker updates. The trick will be to animate the lat/lng coords of the marker, not the screen position. Then when we update the marker position each frame with the map transform we will be animating the marker and responding to gestures at the same time.

[2015-10-19 07:10] tobrun commented on #2049
:+1:
Great finds and excited to get this in!
I'm curious about how this will look in code.

[2015-10-19 08:36] tomtaylor commented on #1975
@adam-mapbox @incanus thanks for exploring this. If it helps, I'd be happy to share the full source code of the app with you privately, but it sounds like you're already able to reproduce it.

[2015-10-19 09:12] ljbade commented on #2411
Some refactoring I have been working over in #2049 seems to have fixed the worst of this. Gestures are smooth again.

[2015-10-19 09:17] ljbade commented on #2668
Closed the original PR, implemented this as part of https://github.com/mapbox/mapbox-gl-native/pull/2670

[2015-10-19 09:37] ljbade commented on #2049
@tobrun First I think we need to create a separate GPSMarkerView. Then we can implement various methods in it for using the Android animation interpolation classes to update the lat/lng it holds. Then just use the lat/lng in toScreenPosition as part of updateGpsMarker.

[2015-10-19 10:14] ljbade commented on #2049
Improvements based on my findings above is in #2670

Been thinking more about getting the marker sync.

Basic Android code flow (from `Choreographer` class source code):
1. vsync event fires (hardware based on screen refresh)
2. Android collects, processes and delivers all touch events - we call various functions on NativeMapView to update the map's "transform" - ie the current view
3. Android pro

[2015-10-19 11:39] ljbade commented on #2049
Here is the new systrace from #2670
![screenshot from 2015-10-19 21 54 36](https://cloud.githubusercontent.com/assets/1215089/10576747/6e8d89d4-76b1-11e5-85b7-17f715864a5a.png)

This contradicts my thoughts from the last comment :-/

First, notice how long the core GL rendering takes, this would explain why we were getting 30fps before as waiting for core GL on the UI thread was pushing us over on

[2015-10-19 12:52] tobrun commented on #2657
@ljbade I noticed this in Sirius, since you are not able to reproduce this in a general setup. Makes me believe this bug may be caused by something else. As a result I'm lowering the priority and moving this back to 2.2.0 hence most implementations will not have this problem.

[2015-10-19 14:07] ljbade commented on #2049
Another issue is when using a gesture there are quite a few frame hitches. It appears to be something to do with "queueBuffer" and "dequeueBuffer" which I think is from SurfaceTexture.

[2015-10-19 15:14] ljbade commented on #2049
Found an even simpler solution to 60fps.

I enable `onDraw` in `MapView` via `setWillNotDraw(false)` (since by default `ViewGroup` classes do not draw).

Then I run `renderSync` and `updateGpsMarker` inside the `onDraw`. As `MapView` is higher in the hierachy then the `TextureView`, compass, and GPS marker it will get called first.

There is still a 1 frame lag between the map and GPS marker howev

[2015-10-19 15:33] MathieuBrousse opened #2671 "Can't build static library"
I've got an error when i try to build the static library for iOS with "make ipackage"

The terminal indicate ; libtool:   error: unrecognised option: '-static'

I updated libtool and autoconf to the latest version but the result is the same.

Here are some info about the configuration :
host-triplet:   x86_64-apple-darwin14.5.0
       shell:          /bin/sh
       compiler:       gcc
       compi

[2015-10-19 16:07] friedbunny commented on #2671
This appears to happen when a non-Apple `libtool` is used; we want the one that's placed automatically at `/usr/bin/libtool.

[2015-10-19 16:14] MathieuBrousse commented on #2671
That's it /usr/local/bin was the first line in /etc/paths causing the issue.
There is an error when generating the doc but not related with libtool, i'm closing the issue.

Thank you!

[2015-10-19 16:14] #2671 closed

[2015-10-19 16:18] mikemorris opened #2672 "Document EventEmitter on Node bindings"
- [`EventEmitter`](https://github.com/mapbox/mapbox-gl-native/blob/aaf090b87dbc96f7a09e783833c10d0b88a16d39/platform/node/src/node_mapbox_gl_native.cpp#L51-L62)
- [Listening for events](https://github.com/mapbox/mapbox-gl-native/blob/aaf090b87dbc96f7a09e783833c10d0b88a16d39/platform/node/test/js/map.test.js#L200-L205)

[2015-10-19 18:54] bleege commented on #2666
:+1:

[2015-10-19 19:23] bleege commented on #2049
Documenting that @incanus is experimenting with this over https://github.com/mapbox/mapbox-gl-native/pull/2307

[2015-10-19 20:09] picciano commented on #2417
Looks like the same issue, but slightly different stack trace.

[code]

[2015-10-19 21:29] adam-mapbox commented on #1975
@tomtaylor I am able to repro certain things, but I would still love your source code if you can give it!  A quick question: can you verify that this was a regression between 0.5.2 and 0.5.3?  I'm having some trouble *not* repro'ing in 0.5.2.

[2015-10-19 23:59] ljbade opened #2674 "Use frame time for map animations"
I want to bring back something along the lines of https://github.com/mapbox/mapbox-gl-native/issues/2410

Basically a way to pass into the `Map` the current "frame time" that it uses for all animations instead of `Clock::now()`. This will help ensure animations like map pans are smooth and not jerky.

I will explain why using `now()` is bad for animations:

To get a smooth animation between point

[2015-10-20 00:12] ljbade commented on #2674
From discussion with @1ec5 and @incanus it seems on iOS it is not as easy to get the "frame time" as on Android without requiring end developers to jump some extra hoops.

[2015-10-20 00:30] incanus commented on #2419
Close.

[code]

[2015-10-20 00:33] ljbade commented on #2674
On Android we can use the Choreographer class' FrameCallback:

On iOS it seems we can use the `CADisplayLink` callback: http://www.bigspaceship.com/ios-animation-intervals/

The idea is in the callback we just "capture" the frame time, and use it later on when we draw. We don't need to actually run any rendering or such in the call back.

[2015-10-20 04:27] ljbade commented on #2049
For some reason ^ is not reliable, still getting 30fps.

I found https://wiki.mozilla.org/Platform/GFX/Gralloc#How_Android_is_using_Gralloc useful. It seems the problem is by default TextureView creates an async buffer queue thus we don't really know when it updates the displayed frame, and which one it used.

We do get `onSurfaceTextureUpdated()` which is called inside TextureViews draw code afte

[2015-10-20 04:35] ljbade commented on #2049
Good news, updating the UI in `onSurfaceTextureUpdated` has got the marker syncing, including when it skips frames (we now also skip a UI frame to match).

Now I need to work on getting smooth 60fps.

[2015-10-20 05:44] ljbade commented on #2049
Trying to combine `onSurfaceTextureUpdated` with a seperate render thread causes the sync to drop out occasionally.

Going to have to renderSync on the UI thread, but figure out why it skips every second frame.

[2015-10-20 06:55] ljbade opened #2675 "Check for View leaks"
Was catching up on the Android performance videos.

This one is on leaking Views: https://www.youtube.com/watch?v=BkbHeFHn8JY

I think we hold referenced to MapView in NativeMapView, and possibly inside the JNI.

We should change these to weak references.

[2015-10-20 07:10] ljbade opened #2676 "Use onTrimMemory"
From https://www.youtube.com/watch?v=x8Hddx1eOZo

We use onLowMemory, but should also support onTrimMemory.

We should also look at the settings we use for the cache memory size.

[2015-10-20 07:10] ljbade opened #2677 "Use setFastestInterval"
From https://www.youtube.com/watch?v=81W61JA6YHw

Stops other apps bombarding us with location updates

[2015-10-20 07:53] tobrun commented on #2677
This is already in [place]( https://github.com/mapbox/mapbox-gl-native/blob/release-android-v2.1.0/android/java/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/views/MapView.java#L634) for 2.1.0.

[2015-10-20 07:53] #2677 closed

[2015-10-20 07:56] tobrun commented on #2675
Yep, good catch.

An example of a weak reference can be found in [CompassClickListener](https://github.com/mapbox/mapbox-gl-native/blob/ddc4a8193e775d9cd9280ad7d9bb6975b4a323ee/android/java/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/views/CompassView.java#L144)

[2015-10-20 08:02] tobrun commented on #2676
Some extra info from the docs:

[2015-10-20 08:12] pecheriere commented on #1784
Hey @incanus, do you have any news about this ?

[2015-10-20 08:39] ljbade opened #2678 "onMapChanged churns memory"
Noticed that onMapChange creates a lot of new `Runnable` object.

If we ensure we only call `renderSync` from the UI thread, we can ditch the `post()`.

[2015-10-20 08:43] ljbade commented on #2674
Quick note for myself: Choreographer callbacks can leak the MapView. Somehow need to ensure they get cancelled and any recursive post loop breaks when onPaused.

[2015-10-20 08:58] ljbade commented on #2675
Found one leak in the code I was using to test Choreographer.

Something else is leaking too.

[2015-10-20 08:58] ljbade commented on #2678
It seems the `iterator()` for the list of event listeners also churns memory when using gestures.

[2015-10-20 09:07] ljbade commented on #2676
There is also a function they mention in the video for determining low memory devices.

[2015-10-20 11:48] ljbade commented on #2668
I created a branch with many performance fixes including proper GPS marker sync in the `2668-render-sync` branch. I can't merge until 2.1.0 is released and the release branch merged back into master.

@tobrun You might want to give the branch a test.

It still runs at 30fps however so further work will be needed.

[2015-10-20 11:57] ljbade commented on #2677
@tobrun Ah nice! I missed that. Do we not also need setInterval? or does setFastestInterval also set that?

[2015-10-20 13:51] Zakay opened #2681 "Crashes when removing and adding annotations on regionDidChangeAnimated"
Purpose of adding/removing annotations on regionDidChange is very clear, user pans the map and we update the result set for that region.

With a simple test, I can reproduce a crash every time.

Patch included, repositions the map on viewDidLoad, and then on regionDidChange is removes all annotations and re-adds a random amount of annotations.

Steps to reproduce:
1. Start the app, wait till annot

[2015-10-20 13:56] XienenTWC opened #2682 "Map View Zoom Limitations"
You guys are probably already working on this, but I ran into something that seemed inconsistent to me. While trying to limit the zooming for our MGLMapView to values greater than 0.5, I was attempting to set the zoomLevel property to 0.5, but it kept jumping to 3. I eventually tracked down the constant MGLMinimumZoom, which I reduced to 0.5 instead of 3 and that resolved the issue for me. The inc

[2015-10-20 15:47] friedbunny commented on #2681
@Zakay Would you mind posting the crash log here, as well? Thanks.

[2015-10-20 16:28] picciano opened #2683 "MGLMapboxEventsData crashes on launch with simulator"
Crashes on every launch when using simulator. It seems to be trying to get the carrier name, which may not exist on the simulator.

https://github.com/mapbox/mapbox-gl-native/blob/master/platform/ios/MGLMapboxEvents.m#L80-L89

Commit:
https://github.com/mapbox/mapbox-gl-native/commit/28be82c1c19505abb47ca1c03fd069cc4a015ec6

[2015-10-20 16:41] kelleyduran commented on #2328
libc++abi.dylib: terminating with uncaught exception of type mbgl::util::SpriteLoadingException: Failed to load [https://www.mapbox.com/mapbox-gl-styles/sprites/dark@2x.json]: The request timed out.  Mapbox SDK version iOS 2.1.2

any tips on how to prevent this from crashing the app?

[2015-10-20 16:45] friedbunny commented on #2419
What's failing?

[2015-10-20 16:54] incanus commented on #2419
Currently:

[code]

[2015-10-20 17:01] bleege opened #2684 "Social"
/cc @incanus

[2015-10-20 17:29] 1ec5 commented on #2419
Sounds like it might be running in a simulator for a different device than expected (or a resizable simulator for a non-standard size).

[2015-10-20 17:37] incanus commented on #2419
You can check it out using the secondary Bitrise account (credentials in Meldium), but I had picked iPhone 6. You can see this also in the log:

[code]

[2015-10-20 17:39] incanus commented on #2419
The stack trace in https://github.com/mapbox/mapbox-gl-native/issues/2419#issuecomment-149631515 seems to indicate it's related to `acknowledgeSystemAlert`.

[2015-10-20 17:45] incanus commented on #2419
I think I can just make our location services prompt handling more robust as in other testing instances we've done.

[2015-10-20 18:01] 1ec5 commented on #2379
`-[MGLMapView notifyMapChange:]` currently prefills `regionChangeDelegateQueue` with a `didChangeAnimated` operation at the time the `regionWillChangeAnimated` operation is queued, ensuring that the two calls have the same value for `animated`. But that’s incorrect. Whenever a gesture recognizer initiates a drift animation, it should cancel the prefilled `didChangeAnimated` operation and create a

[2015-10-20 18:03] incanus commented on #2379
Is that how MapKit works? In past I've thought of "animated" as meaning "programmatically-induced"; that may be incorrect though.

[2015-10-20 18:12] 1ec5 commented on #2379
I stand corrected: MapKit reports a non-animated change at the end of a drift. It does report an animated change for a double-tap, and so do we. So we’re good here.

[2015-10-20 18:12] #2379 closed

[2015-10-20 18:31] tomtaylor commented on #1975
@adam-mapbox you've got mail!

[2015-10-20 18:34] incanus commented on #2419
Ok, got this passing on Bitrise (and Travis). Rebased & squashed down to https://github.com/mapbox/mapbox-gl-native/commit/6eee72e677bbac34af5203d6c80ada2275027c8a. Will do one more run, then merge, then try to configure GitHub/Bitrise for iOS.

[2015-10-20 18:36] incanus commented on #2419
Are we cool with getting Bitrise running in parallel for a while on `master`, and **then** dropping the iOS slice on Travis? @1ec5 @friedbunny @jfirebaugh

[2015-10-20 18:36] 1ec5 commented on #2259
This issue tracks the work to make `Map::cameraForLatLngs()` visually fit to the passed-in bounds when the map is tilted. To illustrate the problem, I rigged iosapp to:

1. Start out unrotated and untilted, and note the map view’s `visibleCoordinateBounds`
1. Add a polygon annotation that covers those bounds
1. Tilt the map by 60° (by taking the current `camera`, adjusting its `pitch`, and setting

[2015-10-20 18:38] incanus commented on #2419
BTW we should also be able to build a Bitrise workflow that builds the package on OS X as we are doing now on Travis, so we could also eventually drop that slice if desired.

[2015-10-20 18:41] jfirebaugh commented on #2419
Sounds good to me.

[2015-10-20 19:18] #2419 closed

[2015-10-20 19:21] incanus commented on #2419
Web hook integrated for pushes and PRs now on Bitrise. Keep in mind that the `README` badge for Bitrise links to the app's page at https://www.bitrise.io/app/7514e4cf3da2cc57, which currently is private due to Bitrise's lack of support for public apps. Go vote for this feature! https://bitrise.uservoice.com/forums/235233-general/suggestions/8795035-allow-public-or-publicly-viewable-apps

[2015-10-20 19:33] 1ec5 opened #2687 "Crash on startup in Simulator — -[MGLMapboxEventsData init]"
#2581 introduced a crash on startup in the iPhone 6s Simulator. `carrierVendor` is nil but is being [dereferenced](https://github.com/mapbox/mapbox-gl-native/blob/28be82c1c19505abb47ca1c03fd069cc4a015ec6/platform/ios/MGLMapboxEvents.m#L88):

[code]

/cc @friedbunny

[2015-10-20 19:35] picciano commented on #2687
Also https://github.com/mapbox/mapbox-gl-native/issues/2683

[2015-10-20 20:49] friedbunny commented on #2687
For reasons unknown to me, the simulator always runs [the conditional CoreTelephony code](https://github.com/mapbox/mapbox-gl-native/blob/28be82c1c19505abb47ca1c03fd069cc4a015ec6/platform/ios/MGLMapboxEvents.m#L80-L90), whether or not CoreTelephony is linked. It should never need this code, either way.

This'll fix it, but it's not a cure:

[code]

[2015-10-20 20:50] friedbunny commented on #2683
Thanks for the report, going to lead this up in #2687.

[2015-10-20 20:50] #2683 closed

[2015-10-20 20:51] friedbunny commented on #2687
Hrm, this is likely to fail on tvOS, too, if it has to do with `CTTelephonyNetworkInfo` being marked as unavailable.

[2015-10-20 20:54] #2405 closed

[2015-10-20 21:01] picciano commented on #2687
FYI...on the iPhone simulator, I am getting an object for `telephonyNetworkInfo`, but carrierVendor comes back as `nil`. So, it does appear that the simulator is linking to CT.

[2015-10-20 22:00] ljbade commented on #2549
@tobrun this will be in my UserLocationView refactor

[2015-10-20 22:35] jfirebaugh commented on #2644
Worker tasks should be designed to check a flag in inner loops and exit early if the flag indicates the task has been cancelled. Most do; the exception I see is `SymbolBucket`, which has no early exit for the loops in `needsDependencies` and `addFeatures`.

[2015-10-20 22:35] bleege opened #2689 "Release Android 2.1.0"
This will be Mapbox for Android's initial release.

### Primary Features

* Core Styles
  * Mapbox Streets
  * Emerald
  * Light
  * Dark
  * Satellite
* Annotations / Markers API that mirrors the Google Maps API
* User Location Dot
* Compass

[Full Change Log for 2.1.0](https://github.com/mapbox/mapbox-gl-native/issues?q=is%3Aissue+milestone%3Aandroid-v2.1.0)

### Here's the TODO list for making

[2015-10-20 22:43] ljbade commented on #2566
This was quite easy: http://stackoverflow.com/questions/27912656/moving-floating-action-button-up-and-down-to-avoid-getting-blocked-by-a-snackbar

We even had the `CoordinatorLayout` already. Will be in UserLocationView refactor.

[2015-10-20 22:48] ljbade commented on #2689
:rocket:

[2015-10-20 22:49] ljbade commented on #2689
@bleege Don't forget last task will be merging of release branch.

[2015-10-20 22:53] ljbade opened #2690 "Add xxxhdpi for compass"
Noticed compass image is missing xxxhdpi.

We are also missing ldpi for a number of the other images too.

[2015-10-20 22:55] ljbade commented on #2690
Also we are missing the different Mapbox logo densities.

[2015-10-20 23:04] 1ec5 commented on #2139
The perspective-continued branch appears to have been deleted. @ansis, can you re-push your work towards this issue? Thanks.

[2015-10-20 23:52] friedbunny commented on #2139
I have re-pushed `perspective-continued` from my local copy, feel free to delete if unnecessary.

[2015-10-21 03:37] ljbade opened #2692 "getMetersPerPixelAtLatitude does not take into account the screen density"
The `getMetersPerPixelAtLatitude` does not account for the screen density.

[2015-10-21 03:37] ljbade commented on #2692
Working on this in the UserLocationView branch

[2015-10-21 03:57] ljbade commented on #2049
@tobrun @bleege Made a lot of progress today in `2668-sync-marker` branch.

First I refactored to create a new `UserLocationView`.

Then I changed the user location dot to be hand drawn adding a direction arrow and accuracy circle.

Here is a screenshot:
![device-2015-10-21-145441](https://cloud.githubusercontent.com/assets/1215089/10627346/ff49456e-7803-11e5-883b-9c999b0814bf.png)

[2015-10-21 03:59] ljbade commented on #2049
Next up will be animating the marker:
- location
- direction
- accuarcy
- fade in/out of the different components (and the marker itself?)

[2015-10-21 06:49] Jtango18 opened #2693 "MGLPointAnnotation's do not appear when added asynchronously"
Utilising the example for drawing a GeoJSON shown on the MapBox maples page (https://www.mapbox.com/ios-sdk/examples/line-geojson/) I wanted to add functionality to add an annotation at the start and end of the line. I've discovered that adding annotations through asynchronous background->foreground dispatch calls causes the annotations not to be rendered until the map is zoomed and thus redrawn

[2015-10-21 07:18] tobrun commented on #2690
I would hold this off until we have vector support and replace all images
with SVGs?
These densities will be automatically generated at build time.

2015-10-21 0:55 GMT+02:00 Leith Bade <notifications@github.com>:

[2015-10-21 09:33] ljbade opened #2694 "Grey out and remove accuracy circle and direction when no location updates received for a while"
Been experimenting with Google Maps.

If you enable location settings, open maps, then disable location settings after getting a fix:
- after a while google maps greys the user location out
- it also removes the accuracy ring, the outer translucent ring, and removes the direction arrow

I presume it will also do this if is gets a stale Location from getLastLocation.

[2015-10-21 10:29] ljbade commented on #2690
@tobrun Yeah I was having a look at the vector stuff, too bad they still haven't released the 1.4 gradle plugin!

It should also reduce the size of our aar.

[2015-10-21 10:29] ljbade commented on #2386
Should fix https://github.com/mapbox/mapbox-gl-native/issues/2690

[2015-10-21 10:44] ljbade commented on #2506
@jfirebaugh Sorry `sprite` is the parameter on the Java side.

In C++ side it is the `pixelRatio` of `SpriteImage` class.

[2015-10-21 11:15] ljbade commented on #2506
@jfirebaugh here is the stack trace:
[code]

[2015-10-21 11:58] ljbade commented on #2506
After looking closer at the crash log ^ I realised C++ was throwing an exception because the expected pixel data size, and actual size did not match.

Turns out there was a bug in the JNI for `setSprite`.

After fixing I now get the default sprite marker loading correctly:
![device-2015-10-21-225458](https://cloud.githubusercontent.com/assets/1215089/10635786/0e619c34-7847-11e5-8cbf-fd9b29c77fc7.p

[2015-10-21 12:09] ljbade commented on #2506
The fix:
https://github.com/mapbox/mapbox-gl-native/commit/e149fb8a53c9fb3b18536b551333b8e2e6f8656f

[2015-10-21 14:47] bleege commented on #2684
Integrated with Mapbox for Android 2.1.0.

[2015-10-21 14:47] #2684 closed

[2015-10-21 14:50] bleege commented on #2689
Released!

[2015-10-21 14:50] #2689 closed

[2015-10-21 15:31] tmcw opened #2695 "Make URL normalization safe"
https://github.com/mapbox/mapbox-gl-native/blob/master/src/mbgl/util/mapbox.cpp#L87-L90

All of the normalization methods in this file assume that `pathname` has the right arity before using parts of it constructing URLs. When it doesn't - when it's just a style id or something, or missing some chunk - then concatenating the strings leads to a malloc, as seen in http://stackoverflow.com/questions/

[2015-10-21 15:43] kkaefer commented on #1688
This will be a lot easier after #2617 has landed, it introduces updatable tiles. We have to refactor Annotations so that the tiles themselves remain, but only their content is updated.

[2015-10-21 15:44] kkaefer commented on #2481
Subsumed by #2617.

[2015-10-21 15:44] #2481 closed

[2015-10-21 15:48] #1724 closed

[2015-10-21 15:49] twbell commented on #2689
"Any other fucking questions?"

cc/ @pdgoodman

[2015-10-21 16:50] friedbunny commented on #2693
This looks like an issue that was fixed in #2289 — can you confirm that you're using >=v2.1.0, @Jtango18? The code here works as expected for me.

[2015-10-21 17:07] mikemorris opened #2696 "Use Travis Ubuntu Trusty 14.04 build env"
If you just want to get started using our Trusty beta, then add the following to your `.travis.yml`.

[code]

http://blog.travis-ci.com/2015-10-14-opening-up-ubuntu-trusty-beta/

[2015-10-21 18:56] jfirebaugh commented on #2506
@ljbade So can this be closed?

[2015-10-21 20:09] 1ec5 commented on #2278
That’s a reasonable consideration. Perhaps built-in gesture recognizers should be exposed publicly, so you can implement your own gesture recognizer and have it depend on the built-in one failing.

[2015-10-21 21:53] tmcw opened #2701 "Improve testing documentation"
The testing documentation currently states

This doesn't seem to work:

the suggestion:

[code]

just make test:

[code]

trying to run a platform of tests:

[code]

[2015-10-21 22:22] mikemorris commented on #2701
+1, I've never found a way to specify individual tests either.

[2015-10-21 22:23] bleege commented on #2684
Officially announced today that the Mapbox iOS and Android SDKs will be [available via Twitter Fabric](https://www.mapbox.com/blog/fabric/).

![21718459683_996d47d486_b](https://cloud.githubusercontent.com/assets/989928/10651967/92c2fc4c-7807-11e5-9535-58d4643fdf6a.jpg)

[2015-10-21 22:25] 1ec5 commented on #2684
:icecream:

[2015-10-21 22:39] Jtango18 commented on #2693
I'm using 2.1.2 as pulled down using Cocoapods. Perhaps there's an issue with pod. I'll have a go at using the latest binary/src and see if the issue is resolved for me.

[2015-10-21 23:03] 1ec5 commented on #2139
I don’t think that was the tip of perspective-continued. Hopefully @ansis has the fixes described in https://github.com/mapbox/mapbox-gl-native/issues/2139#issuecomment-135178162 around locally still.

[2015-10-21 23:21] ljbade opened #2703 "Add public string resouces with style URLs"
In the SDK you can set the style either via the `setStyle` function, or in the layout XML with the `style_url` property.

For code ease of use (as well as automatic migration to correct style spec when apps update the SDK) we provide `Styles` which has a set on String constants for the bundled styles.

We do not provide anything for XML use.

Thus we should add some XML string values and mark them

[2015-10-21 23:25] ljbade commented on #2049
Animations are done in the branch.

[2015-10-21 23:30] #2687 closed

[2015-10-22 01:22] ljbade commented on #2506
@jfirebaugh Once I get that branch merged. Currently waiting on 2.1.0 release branch to be merged into master.

[2015-10-22 01:47] Jtango18 commented on #2693
Just created a brand new project and added MapBox via Binary linking method. Same problem.

Before Zooming
![simulator screen shot 22 oct 2015 12 46 24 pm](https://cloud.githubusercontent.com/assets/801539/10654848/f2d377f2-78ba-11e5-8ff7-003f283c01cb.png)

After Zooming
![simulator screen shot 22 oct 2015 12 46 34 pm](https://cloud.githubusercontent.com/assets/801539/10654847/f276ccaa-78ba-11e5-9

[2015-10-22 02:39] friedbunny opened #2706 "Test and document `willStartLoading` & `didFinishLoading` delegate methods"
With #630 and #2627, the map loading notifications should be being sent from core MBGL, which means that the `mapViewWillStartLoadingMap` & `mapViewDidFinishLoadingMap` delegate methods that already exist in `MGLMapViewDelegate` should be ready for use.

- [ ] Make sure the current delegate methods [are actually hooked up](https://github.com/mapbox/mapbox-gl-native/blob/17121563ac807fbc68a203ac08c

[2015-10-22 02:44] friedbunny commented on #630
It looks like `willStart` and `didFinish` landed in master via #2627 last week, and in Android v2.1.0 via 66c3fe2e1f0b8a2f8ca4db4e8ec3555ceed60705.

What is left to do? `failedToLoad` probably deserves its own ticket and we can close here.

iOS next steps are in #2706.

@bleege @ljbade This belongs on the `android-v2.1.0` milestone, no?

[2015-10-22 02:49] friedbunny commented on #2693
It appears my local test project was using a newer version than 2.1.2, which indicates this has been fixed in master by some aspect of the recent annotation refactoring.

Until the 2.2.0 release, the solution here is to load annotations only after the map has finished loading itself, which, coincidentally, is also difficult to wrangle until 2.2.0. This is a sloppy hack, but...

[code]

[2015-10-22 03:30] Jtango18 commented on #2693
Thanks for all the help. I've been looking at MapBox as a crop in replacement for MapKit. Might stick with MapKit until 2.2.0

[2015-10-22 03:30] #2693 closed

[2015-10-22 03:41] ljbade commented on #630
@friedbunny Yes, put this issue on v2.1.0 make a new ticket for `failedToLoad` where can be assigned a milestone at some stage.

[2015-10-22 03:54] ljbade commented on #2695
@tmcw Yeah can we support this, I have tried to do it before on Java but was getting too complicated.

Also we need a way to return an error back via JNI instead of normal C++ exception which just crashes the app on Java with no way to provide a useful error message to developers.

Something like a `isStyleUrlValid()` function, or even some sort of `bool` or otherwise return from `setStyleUrl()`.

[2015-10-22 03:54] ljbade commented on #2695
/cc @bleege @tobrun

[2015-10-22 03:57] ljbade commented on #1688
Once this is implemented we can expose the `set` methods in the Android API, and wire them up to update existing annotations.

/cc @bleege @tobrun

[2015-10-22 04:07] ljbade opened #2707 "Implement recent transition getters on Android"
Expose the new methods in https://github.com/mapbox/mapbox-gl-native/pull/2697 via JNI for use in Android.

[2015-10-22 04:13] ljbade opened #2708 "Merge v2.1.0 release branch"
After https://github.com/mapbox/mapbox-gl-native/issues/2689 and https://github.com/mapbox/mapbox-gl-native/issues/2684 the remaining task is to merge the release branch into master.

I'm going to attempt this so I can start merging my post 2.1.0 branches.

/cc @bleege

[2015-10-22 04:14] ljbade commented on #2708
I'm going to create a special merge branch which rebases the release branch onto master, so that I can verify via Travis that everything still builds nicely.

Then I can make a PR and fast forward merge it.

[2015-10-22 04:17] ljbade commented on #2708
Following commands worked with no merge conflicts, perfect!

[code]

By creating a temp rebase branch we can leave release branch in "as released" state incase we need to make a point release.

[2015-10-22 04:18] ljbade commented on #2708
Now going to make PR and wait for Travis.

[2015-10-22 04:19] ljbade commented on #2708
Also going to test rebase on my phone.

[2015-10-22 04:27] ljbade commented on #2708
No issues found on my phone.

[2015-10-22 04:45] ljbade commented on #2585
I managed to find a fix for https://github.com/mapbox/mapbox-gl-native/issues/2506 so once that lands I will look at updating the style pin. I will set it to whatever the latest "release" tag in styles is.

[2015-10-22 05:05] ljbade commented on #2708
After some issues with iOS tests failing:
- hang on Travis, but Travis was not loading the build log even after restart - chalking this as Travis issue
- one of two Bitrise tests failed (the pull one), likely because the v2.1.0 release branch is old?

Merging anyway. Hopefully @incanus can figure out what happened.

[2015-10-22 05:05] #2708 closed

[2015-10-22 05:40] #2506 closed

[2015-10-22 06:05] #2703 closed

[2015-10-22 06:42] #2411 closed

[2015-10-22 06:42] #2549 closed

[2015-10-22 06:42] #2566 closed

[2015-10-22 06:42] #2572 closed

[2015-10-22 06:42] #2668 closed

[2015-10-22 06:42] #2675 closed

[2015-10-22 06:42] #2678 closed

[2015-10-22 06:42] #2692 closed

[2015-10-22 06:57] tobrun commented on #2658
#### Google Maps:

![infowindow_gmaps](https://cloud.githubusercontent.com/assets/2151639/10658674/5f51aea2-7899-11e5-9833-d608bd65a2da.png)

@ljbade:

#### Mapbox iOS:

![untitled](https://cloud.githubusercontent.com/assets/2151639/10658738/e16f5bdc-7899-11e5-9c80-ca62f6fc66b7.png)

@tobrun:

[2015-10-22 07:52] iDevelopper opened #2713 "iosapp: Failed to load [mapbox://mapbox.mapbox-terrain-v2,mapbox.mapbox-streets-v6]"
When i try to execute the iOS application, i can see this error in the console :

2015-10-22 09:49:06.221 Mapbox GL[43335:2498349] [ERROR] {Map}[Style]: Failed to load [mapbox://mapbox.mapbox-terrain-v2,mapbox.mapbox-streets-v6]:

What i'm doing wrong ?

[2015-10-22 08:04] tobrun commented on #2443
Reopening this because I believe we can do more than just enforcing a checkstyle.

#### Codestyle:
We are enforcing the same [codestyle](https://source.android.com/source/code-style.html) as for Android platform development. One thing this will fix:
- Code generation setup doesn't respect the default naming conventions of the Android platform eg. a setter for `String mText` will be generated as `s

[2015-10-22 08:22] tobrun commented on #2443
I created my own [codestyle](https://gist.github.com/tobrun/08e0761850a5b4ea5771) and ran it over the whole project in https://github.com/mapbox/mapbox-gl-native/commit/497f7ebf5f50b4ea2ad6c277229f69584bfc57c7

[2015-10-22 08:26] tobrun commented on #2443
I'm currently thinking that tabs size should be left default, will try again

[2015-10-22 08:39] kkaefer commented on #896
This is implemented as part of #2617.

[2015-10-22 08:39] #896 closed

[2015-10-22 09:08] kkaefer commented on #1975
This may be related to https://github.com/mapbox/mapbox-gl-native/issues/1471

[2015-10-22 09:08] ljbade commented on #2713
/cc @1ec5 @incanus

[2015-10-22 09:15] ljbade commented on #2585
Going to use the `v1.1.2` tag.

[2015-10-22 09:21] tobrun commented on #2443
Ok, finalized it with [this codestyle](https://gist.github.com/tobrun/fb9e380d2c4f3f83f775) as shown in https://github.com/mapbox/mapbox-gl-native/commit/83fbddec55de6aa72ce2b43aaa8698294e91443a.

@ljbade @bleege
Could you go over the commit and give feedback on things you like/dislike?

[2015-10-22 09:24] #2448 closed

[2015-10-22 09:24] #2546 closed

[2015-10-22 09:29] iDevelopper commented on #2713
What does it means? You have transmit this issue to them or do i write to them ?

[2015-10-22 09:34] tobrun commented on #2565
closed by https://github.com/mapbox/mapbox-gl-native/commit/927b4c6dbe6c81aa4df0f662044ec3c9e55a8458

[2015-10-22 09:34] #2565 closed

[2015-10-22 09:36] ljbade commented on #2239
@jfirebaugh Now #2506 is fixed, this change is unblocked again.

[2015-10-22 09:37] ljbade commented on #2239
Is there a list of the `mapbox://` URLs we will use here?

[2015-10-22 09:37] ljbade commented on #2585
PR made.

[2015-10-22 09:40] ljbade commented on #2713
Sorry @iDevelopper for the confusion.

I /cc'd my iOS colleagues so they can answer your question when they read this issue tomorrow.

[2015-10-22 10:06] iDevelopper commented on #2713
Thank you very much :)

[2015-10-22 10:09] tobrun commented on #2364
Jumping in the conversation and wanted to clarify some things mentioned in this post:

#### Google Maps Application

I'm pretty sure that Google Maps application is using `onConfigChanges` and no fragments
 - by the way the ui behaves while rotating device
 - by the way they support activity transitions

#### Google Maps SDK

No, you can see the map being recreated if you don't add `onConfigChange

[2015-10-22 10:25] tobrun commented on #2536
The [View](http://developer.android.com/reference/android/view/View.html#setContentDescription(java.lang.CharSequence)) class already exposes this.

Already implemented :tada:

[2015-10-22 10:25] #2536 closed

[2015-10-22 10:46] ljbade commented on #2364
@tobrun If we implement a refactor to use something like `GoogleMaps` object we could implement retained fragments. We can even use one of TextureView's features to keep the last rendered frame for immediate display.

[2015-10-22 11:41] tobrun opened #2716 "Move setVisibleCoordinateBounds to separate feature"
#2613 added setVisibleCoorindateBounds.
Going to move that to a separate feature Activity with some more explanation.

[2015-10-22 12:15] tobrun opened #2719 "setVisibleCoordinateBounds directly after onCreate fails"
`setVisibleCoorindateBounds` was added in #2613.

While moving this to a separate feature `Activity` in #2716 ,
I noticed that it doesn't work if executed after `MapView.onCreate`

[code]

If moved to a Snackbar, `setVisibleCoordinateBounds` works:
[code]

[2015-10-22 12:45] tobrun commented on #2640
closed https://github.com/mapbox/mapbox-gl-native/commit/19c58ec4988b109748bb25ffca49498f26e11547

[2015-10-22 12:45] #2640 closed

[2015-10-22 13:46] tobrun commented on #2552
Without limiting input (27267 markers) from `points.geojson`
I'm getting following [stacktrace](http://pastebin.com/BYH9TgQP)

[2015-10-22 13:57] tobrun commented on #2552
Test with limited input:
Succes with `150` markers
Fails with `175` markers

[2015-10-22 14:06] tobrun commented on #2552
This [SO-post](http://stackoverflow.com/questions/11079912/android-ndk-overflows-dalvik-jni-local-reference-table) indicates that I need delete local refs as soon as they are handled.

[2015-10-22 14:17] kkaefer opened #2720 "Use stale Glyph PBFs"
With #2617 in place, we now get stale data from the cache. Currently, stale Glyph data isn't used, but we should change this. Things to consider:

* The easy case is when the refreshed request returns a 304. In this case, we don't have to do anything.
* The hard case is when we get a different response. Glyphs that change may have different metrics. That means we'll have to reparse any layers that

[2015-10-22 14:20] kkaefer opened #2721 "Use stale styles"
With #2617 in place, we now get stale data from the cache. Currently, stale styles aren't used, but we should change this. This could be trivially implemented by regular style update (= treat it like setting a new style). Currently, this means that we have to reparse everything, and will see a short flicker. However, as soon as we implement style transitions (https://github.com/mapbox/mapbox-gl-na

[2015-10-22 14:22] friedbunny commented on #2239
All of the bundled styles should be available at `mapbox://styles/mapbox/style-v8`.

[2015-10-22 14:23] kkaefer opened #2722 "Use stale Sprites + JSON"
With #2617 in place, we now get stale data from the cache. Currently, stale sprites and the associated metadata JSON isn't used, but we should change this. Things to consider:

* The easy case is when the refreshed request returns a 304. In this case, we don't have to do anything.
* The hard case is when we get a different response. Sprites that change may have different metrics. That means we'll

[2015-10-22 14:25] tobrun commented on #2552
Test with fixes:
Succes with `500` markers
fails with `750` markers

Will finalise this into a PR and will open a new issue for fixing local refs overflow.

[2015-10-22 14:34] friedbunny commented on #2713
We currently do not know what causes this intermittent failure, which is being tracked in #2012.

[2015-10-22 14:40] kkaefer opened #2723 "Derive attribution from sources in current style"
We should implement callbacks that notify the embedding applications of changes in attributions. Attributions are included in Sources, and they may change when enabling/disabling tiles from a source depending on the stylesheet, or when setting a new stylesheet that includes different sources.

[2015-10-22 14:42] kkaefer opened #2724 "Use stale TileJSON data"
With #2617 in place, we now get stale data from the cache. Currently, stale TileJSON data loaded as part of loading a `Source` aren't used, but we should change this.

* The easy case is when the refreshed request returns a 304. In this case, we don't have to do anything.
* The hard case is when we get a different response. This is not a typical case however, so we could implement this with drasti

[2015-10-22 14:52] #2716 closed

[2015-10-22 15:03] tobrun opened #2726 "Local reference table overflow while adding markers in bulk"
Documented at original ticket #2552
Stacktrace is located [here](http://pastebin.com/BYH9TgQP)

After resolving JNI issue:
 - add a Spinner to add 100, 1000 or 10000 markers (cfr. iOS)
 - add a progress indicator for AsyncTask

[2015-10-22 15:04] kkaefer opened #2727 "Move request retries to DefaultFileSource"
We currently have the logic to retry requests stuffed away in the platform-specific implementations. Instead, we should move this logic to the DefaultFileSource (it's currently the same anyway).

[2015-10-22 15:12] kkaefer opened #2728 "Never stop retrying"
We're currently stopping retries after 3 attempts. For some types of errors, we are using an exponential timeout until the next retry.

instead, we should *never* stop retrying, but just keep the exponential timeout. The idea is that the implementing application does the right thing and not point to any invalid sources, but that all errors are due to some temporary issue (e.g. captive portal redir

[2015-10-22 15:22] #2552 closed

[2015-10-22 15:37] iDevelopper commented on #2713
Ah OK, but for me it is not intermittent, i tried several times on simulator an on device

[2015-10-22 15:41] 1ec5 commented on #2713
Are you seeing the issue in the iosapp application that's part of this repository, or in an application you've written based on the iOS SDK? If the latter, are you using one of the built in styles or a custom style?

[2015-10-22 15:48] iDevelopper commented on #2713
In the iosapp (example) clowned from github and compile with "make iproj".
Currently I have an application that runs with the deprecated MapBox SDK and displays offline maps (mbtiles). So as this SDK is obsolete, I just started to get interested in the new SDK.

But i can't see the map at screen : Failed to load [mapbox://mapbox.mapbox-terrain-v2,mapbox.mapbox-streets-v6]:

[2015-10-22 16:01] kkaefer opened #2729 "Remove FileSource pluggability"
We currently have pluggability in the `FileSource` system on two different levels: We can swap out the `FileSource` altogether, or we can use the `DefaultFileSource`, and compile Mapbox GL with different backends for *HTTP requests* (NSURL, cURL), *File requests* (libuv/filesystem, libzip), and *Cache lookups* (sqlite).

The only current user of swapping out the entire FileSource are the node bind

[2015-10-22 17:54] jfirebaugh commented on #2729
:+1:

[2015-10-22 18:06] jfirebaugh commented on #2695
The first step is to make this not crash: if the result from `getMapboxURLPathname()` has less segments than expected, `return url`.

Later we can add validation and diagnostic messages. These should probably happen at style parse time, with the rest of the validations.

[2015-10-22 18:17] 1ec5 commented on #2713
Per case 3 in #1647, please double-check that you’ve [set a valid access token](https://github.com/mapbox/mapbox-gl-native/blob/master/INSTALL.md#mapbox-api-access-tokens) in your environment.

[2015-10-22 18:40] 1ec5 opened #2731 "Double-tap followed by horizontal drag should not zoom the map"
A double-tap followed by a horizontal drag should not zoom the map. We should require the drag to be vertical to zoom the map, like in Google Maps.

/cc @incanus @ljbade

[2015-10-22 19:20] iDevelopper commented on #2713
I ave a valid access token

[2015-10-22 20:39] bleege opened #2732 "Incorporate New User Dot Artwork"
Incorporate new User Dot artwork from @tatsvc.  This will also be used in #2049.  Artwork can [be found here](https://github.com/mapbox/gl-internal/issues/262#issuecomment-150346293).

[2015-10-22 20:58] ljbade commented on #2726
@tobrun You need to call `DeleteLocalRef` on any objects that are created in a loop in the JNI.

JNI only deletes "local refs" (ie Objects) at the exit of a JNI method, so if you generate a lot of objects before you return, you can overflow the local ref table.

[2015-10-22 20:59] ljbade commented on #2726
In this case from the log, it is `Sprite` and `LatLng` objects.

[2015-10-22 21:02] friedbunny opened #2734 "iOS testing failures around location permissions"
We had hangs on Travis during tests because the location permission dialog was going untapped (since #2612), which we addressed in #2645. This was tweaked somewhat in #2685 to speed things up (as waiting for the permission dialog takes 10 seconds).

There have been some different failures since #2685:

[code]

[and](https://travis-ci.org/mapbox/mapbox-gl-native/builds/86842717)

[code]

[and](http

[2015-10-22 21:45] ljbade commented on #2732
@tatsvc Can you also attach the XML source for the three icons (if you have them) - at some point in the future we will switch to VectorDrawables instead of bitmaps

[2015-10-22 21:56] #2628 closed

[2015-10-22 22:00] ljbade opened #2736 "Replace bitmap assests with vector drawable"
Once the new Android Gradle 1.4 plugin is released (#2268) we should replace the existing bitmaps with vector assets.

This allows Android to always correctly generate the right sized image no matter what DPI current or future devices are. It is backwards compatible with old Android versions via the support library.

At the moment we have to add a new set of bitmaps every year or two to keep up wi

[2015-10-22 22:01] ljbade commented on #2690
If https://github.com/mapbox/mapbox-gl-native/issues/2736 is not possible before next release (ie gradle plugin still not out) I will implement this.

[2015-10-22 22:01] ljbade commented on #2736
/cc @bleege @tobrun @tatsvc

[2015-10-22 22:02] bleege commented on #2658
The Mapbox iOS InfoWindow is from https://github.com/nfarina/calloutview.

As for Mapbox Android, I'd like to see something that is more [in line with Material Design](https://www.google.com/design/spec/material-design/introduction.html) so that it "fits the platform".  This is something that @tatsvc could help review.

[2015-10-22 22:10] ljbade commented on #2719
Hmm that is strange. what happens if you try setting other things like zoom and lat/lng after `onCreate`

[2015-10-22 22:10] tatsvc commented on #2736
@ljbade the svg files are here: https://www.dropbox.com/sh/hr6rwyvg4z5gtyi/AADlzuKmW6O8SxEYJhtE3OZ2a?dl=0

I wasn't sure what to do with the drop shadow on the user dot. It doesn't seem like something that should be in the svg? Can you add that with code?

As for this guy:
![direction-72](https://cloud.githubusercontent.com/assets/2894119/10679671/13a33d3c-78e8-11e5-8876-9a222c2f58fa.png)

the sem

[2015-10-22 22:10] picciano commented on #2620
Might want to add this for iOS 9.1 too.

[2015-10-22 22:13] bleege commented on #2443
This is a good thing, but I'd like to see it in one place.  Specifically, we have Checkstyle that's part of the Gradle build process already.  Ideally we could get Android Studio's Code Style to be driven by that `checks.xml` file so that we could keep all this information in one spot.

[2015-10-22 22:15] ljbade commented on #2727
@kkaefer this would be nice. I found it hard to understand that code when I was making OkHTTP file source and be nice to have it concise in one location.

[2015-10-22 22:34] ljbade commented on #2443
@tobrun Can we keep the existing tab width? it would save a lot of code churn

[2015-10-22 22:48] ljbade opened #2738 "make always rebuilds everything"
For some reason in the last week or so, `make android` now rebuilds all the C++ files when switching between git branches, even if there are no C++ file differences between them

This is very annoying and time consuming.

@kkaefer @jfirebaugh Do either of you know of any changes that might be causing this?

[2015-10-22 23:10] ljbade commented on #2731
Android seems to already be doing it correctly, though double tap does seem to also trigger the long press to add a marker in the test app.

[2015-10-22 23:13] ljbade opened #2739 "Add all official styles to Styles"
From https://github.com/mapbox/mapbox-gl-native/pull/2714#issuecomment-150370112

There is a list of official styles in https://github.com/mapbox/mapbox-gl-styles

We should add them all to our `Styles` constants, and add the useful ones to the test app and Sirius.

@1ec5 is there any update to ios test app needed too?

[2015-10-22 23:35] 1ec5 commented on #2739
Yes, we need to update both iosapp and scripts/ios/package.sh.

[2015-10-22 23:41] ljbade opened #2740 "Add all official styles to styles"
From https://github.com/mapbox/mapbox-gl-native/issues/2739#issuecomment-150385722

/cc @1ec5

[2015-10-22 23:43] #2585 closed

[2015-10-22 23:49] friedbunny commented on #2731
It looks like Google Maps (iOS) cancels the gesture if the first motion after the double-tap-hold is horizontal. If you succeed in quick-zooming, horizontal movement is still accepted.

[2015-10-23 01:52] ljbade commented on #2732
Work is progressing but I need to tweak some sizes a bit.

Sorry @tatsvc if this sounds a bit pedantic...

First I need the base image to be 40 dp wide/high.
I also need the dot with no arrow, and the grey dot to be the same size - with padding to account for the invisible transparent ring. Basically if you swap the two images the dot in the middle stays the same size

I created an image to help e

[2015-10-23 02:09] ljbade commented on #2690
@tatsvc While you hitting the GPS marker resize, can you also provide a `xxxhdpi` image of the compass from https://github.com/mapbox/mapbox-gl-native/issues/2182

It should be 192 x 192 pixels.

Can you also attach the SVG file too, so I can save it in the repo (which already has the marker and GPS SVGs for safe keeping and future work in https://github.com/mapbox/mapbox-gl-native/issues/2736)

[2015-10-23 02:11] ljbade commented on #2690
@tobrun Do you know where you got the PNG for the Mapbox logo overlay from?

[2015-10-23 02:17] ljbade commented on #2690
@1ec5 Where did you get the updated Mapbox :dog: from? (see https://github.com/mapbox/mapbox-gl-native/pull/1079)

I want the SVG source for #2736 as well as to generate some resized PNGs.

[2015-10-23 02:27] bleege opened #2744 "Add Support For Marker Bitmaps"
Now that the [`setSprite()` issue has been resolved](https://github.com/mapbox/mapbox-gl-native/issues/2506#issuecomment-149868602) we need to add support for custom images (aka `Drawable`) in the Marker API.

[2015-10-23 02:36] ljbade commented on #2744
@bleege I have already implemented this via `Marker.setIcon(Sprite icon)`. I called it `setIcon` to remain consistent with Google Maps.

To get

[2015-10-23 02:45] ljbade commented on #2739
I slipped in the change needed for `default_style.cpp`

[2015-10-23 02:52] ljbade commented on #2740
@1ec5 was looking at the iosapp code and it currently in `cycleStyles` assumes that the style file name is the lowercase+hyphenated version of the human name.

Satellite Streets == `satellite-hybrid-v8`

Breaks that.

[2015-10-23 02:58] ljbade commented on #2239
Started work on this in `2239-no-bundled-styles` branch

[2015-10-23 03:41] #2739 closed

[2015-10-23 03:41] #2740 closed

[2015-10-23 04:34] ljbade commented on #2239
In my branch I have swapped all the `asset://` URLs with the `mapbox://` ones and removed the styles repo. I also removed all the styles bundling bits from the build.

I tested that this is working on Android.

Remaining:
- test on OSX
- test on iOS
- test on Linux
- add tests that use a custom `asset://` style on each platform
- update any examples code and docs in this repo
- update any examples

[2015-10-23 04:45] ljbade commented on #2726
Deleting `jid` fixed the overflow.

1,000 markers works:
![device-2015-10-23-154345](https://cloud.githubusercontent.com/assets/1215089/10684767/f3a39148-799c-11e5-8735-53dfe04898fc.png)

10,000 markers freezes after it gets this far:
![device-2015-10-23-154345](https://cloud.githubusercontent.com/assets/1215089/10684771/0485ffa0-799d-11e5-8149-f977e18aa279.png)

[2015-10-23 04:46] ljbade commented on #2726
Making a PR now.

Still leaves:
 - add a Spinner to add 100, 1000 or 10000 markers (cfr. iOS)
 - add a progress indicator for AsyncTask
 - fix freeze with 10,000 markers

[2015-10-23 05:35] ljbade commented on #2744
I added a `fromDrawable`.

I used it in the `InfoWindowAdapter` activity to add colored city markers that match the color of the InfoWindow.

![device-2015-10-23-163206](https://cloud.githubusercontent.com/assets/1215089/10685283/f8354d12-79a3-11e5-8b64-208d71f1fbf8.png)

[2015-10-23 06:42] ljbade commented on #2726
@tobrun Can we also add an option to switch between `addMarker()` one at a time, and `addMarkers()` to stress test both ways.

[2015-10-23 06:58] tobrun opened #2748 "Add CoordinateBoundsTest to unit test"
Need to add test support for CoordinateBounds introduced in #2613

[2015-10-23 07:10] tobrun commented on #2748
Also seeing that that class is using sw and ne as class members, will make these more java compliant

[2015-10-23 07:13] tobrun commented on #2748
Is also missing the crucial java Object methods as toString, hashCode, equals etc

[2015-10-23 07:15] ljbade commented on #2726
Been investigating the 10,000 stall.

I can repro with just 2,000 markers.

Loading the GeoJSON into `MarkerOption` list takes 1.3 seconds.
Adding the markers to the map with `addMarkers` takes 0.3 seconds.

This happens in a async task so doesn't freeze the Android UI.

What happens next is that the Core GL threads process the markers, and stalls `renderSync`, which in turn freezes the map.

@kka

[2015-10-23 07:20] ljbade commented on #2726
@kkaefer by the way it only uses 1/8th of the CPU cores

[2015-10-23 07:26] ljbade commented on #2726
Testing with 10k markers:

![device-2015-10-23-182045](https://cloud.githubusercontent.com/assets/1215089/10686746/fb74c4b2-79b2-11e5-8201-6ea9e74a2d60.png)

Loading the GeoJSON into `MarkerOption` list takes 1.3 seconds.
Adding the markers to the map with `addMarkers` takes 0.7 seconds.

[2015-10-23 07:28] ljbade commented on #2726
Testing with the maximum in the GeoJSON (27,267 markers):

Loading the GeoJSON into `MarkerOption` list takes 2.0 seconds.
Adding the markers to the map with `addMarkers` takes 2.5 seconds.

[2015-10-23 07:30] ljbade commented on #2726
Once loaded, perf is not too bad. It is quite jesky to gesture when zoomed right out, but zoom to street level and it is very smooth.

@adam-mapbox Do you know if we take advantage of geometry instancing in GL?

[2015-10-23 07:34] ljbade commented on #2748
And Javadoc?

[2015-10-23 07:43] #2744 closed

[2015-10-23 07:56] tobrun commented on #2748
well played

[2015-10-23 07:59] tobrun opened #2751 "Add espresso tests for feature activities"
Currently need tests for:
 - BulkMarkerActivity
 - InfoWindowActivity
 - MapFragmentActivity
 - PressForMarkerActivity
 - VisibleCoordinateBoundsActivity

[2015-10-23 08:13] tobrun commented on #2748
Closing by https://github.com/mapbox/mapbox-gl-native/commit/0ff57342fd4de9a912d6e82c37665f8878c0716e

[2015-10-23 08:13] #2748 closed

[2015-10-23 08:22] tobrun commented on #2719
No issue, see PressForMarkerActivity

[2015-10-23 08:44] tobrun opened #2752 "Disabling CompassView does not disable it"
When you click 'Toggle compass' to disable compass in sample app:
it still shows up when doing a rotate gesture

[2015-10-23 09:28] suraj-aahlaad commented on #584
please any one tell me How to calculate the selected area of the map size before downloading the map.

[2015-10-23 09:56] tobrun commented on #2751
Currently just added sanity test, will check per activity if I see something that could be tested by espresso. Will need to discuss test strategy with @zugaldia to see what is allowed and what is not.

[2015-10-23 10:49] ljbade commented on #2719
Hmm I can't see anything wrong.

@1ec5 Does iOS have the same bug?

[2015-10-23 11:01] #2752 closed

[2015-10-23 11:12] tobrun commented on #2736
Linking #2386

[2015-10-23 13:12] ljbade opened #2755 "Investigate better Android native debugging"
In this Android BBQ video they provide some interesting tips on how to debug native code in an IDE via the emulator:
https://www.youtube.com/watch?v=IiAtqAWsPBY

/cc @kkaefer

[2015-10-23 13:13] ljbade opened #2756 "Add stylus support and ScaleGesture with stylus"
From https://www.youtube.com/watch?v=mNkSxMrKC0k

[2015-10-23 13:14] ljbade opened #2757 "Use hardware layer on compass for animation"
From https://www.youtube.com/watch?v=mNkSxMrKC0k

Happens automatically on Android M but should do manually for older

[2015-10-23 13:26] tobrun opened #2758 "Add follow user tracking mode"
This ticket is a part of #2049 and focuses purely on follow mode user tracking.
@ljbade has made great progress on GPS marker in #2712.
I'm dividing this ticket to provide correct integration within the system @ljbade provided there.
After related code is validated we can integrate bearing.

[2015-10-23 13:58] ljbade commented on #2758
:+1:

[2015-10-23 14:35] 1ec5 commented on #2690
https://github.com/mapbox/mapbox-press-assets/blob/master/logos/mapbox-logo/attribution-logo.svg

[2015-10-23 14:50] ljbade commented on #2690
@1ec5 excellent ill generate the missing ones

[2015-10-23 14:51] 1ec5 commented on #2719
No, doesn't look like it. Is it possible that onCreate()'s call to setCenterCoordinate() is animating or operating on a delay, clobbering the call to setVisibleCoordinateBounds() later?

[2015-10-23 14:51] ljbade commented on #2740
@1ec5 Can you update the logic + name of the style in iOS for "Satellite Streets"

I don't have much of a clue in ObjC and I dont have iOS test setup handy

[2015-10-23 14:53] ljbade commented on #2719
@1ec5 is easeTo with duration of 0 equal to jumpTo? as far as cancelling animation later

[2015-10-23 14:54] ljbade commented on #2719
@tobrun what happens if you set the animation parameter to false

[2015-10-23 15:03] #2751 closed

[2015-10-23 15:05] 1ec5 commented on #2719
Yes, jumpTo() just calls easeTo() with a 0 duration.

[2015-10-23 15:12] millenbop opened #2761 "Missing maxNativeZoom for vector tiles in iOS lib"
We serve vector tiles up to zoom level 16, but sometimes we need to go up to zoom level 18. If the tiles are loaded at a lower zoom level and the map is zoomed in, it seems to interpolate the vector tiles it already has, but if the map starts loading at zoom level > 16, they are not displayed.

It's not a very clean solution and is prone to errors.

It would be very useful to have `maxNativeZoom`

[2015-10-23 15:15] tobrun commented on #2719
@ljbade true or false same result

[2015-10-23 15:16] friedbunny opened #2762 "Implement MapChangeDidFailLoadingMap event notification"
#630 got us `willStartLoading` and `didFinishLoading`, but [`MapChangeDidFailLoadingMap`](https://github.com/mapbox/mapbox-gl-native/blob/ba4a2965c75c7455f133c78d5c0dcea192e4b874/include/mbgl/map/view.hpp#L22) is somewhat more complicated and remains to be implemented.

This delegate method already exists on [iOS](https://github.com/mapbox/mapbox-gl-native/blob/ba4a2965c75c7455f133c78d5c0dcea192e4

[2015-10-23 15:16] friedbunny commented on #630
`MapChangeDidFailLoadingMap` is happening in #2762.

[2015-10-23 15:16] #630 closed

[2015-10-23 16:01] fcarello opened #2763 "Removing annotations doesn't work on Android."
Tried out all of the following methods:
- mapView.removeAllAnnotations();
- mapView.removeAnnotation(polyline);

[2015-10-23 16:01] tatsvc commented on #2658
I don't know much (anything) about android so I don't know if this would fit in at all :grimacing: but I'm happy to rework it with some concrete feedback!

### Option 1: stroke + drop shadow
![option1](https://cloud.githubusercontent.com/assets/2894119/10698164/99910cea-797d-11e5-9f3f-273e7eabd006.png)

### Option 2: Thick opaque stroke + drop shadow
![option2](https://cloud.githubusercontent.com/

[2015-10-23 16:29] #2690 closed

[2015-10-23 16:29] #2732 closed

[2015-10-23 16:31] tobrun commented on #2658
@tatsvc this already looks great,
I personally prefer the first one. The shadow in the second one is a bit heavy.
only other remark I have is making the gap between infowindow and marker a bit smaller.

About designing for Android:
 - [Guidelines](http://www.google.be/design/spec/material-design/introduction.html)
 - [Inspiration](https://www.materialup.com/)

I have a ton of more of these resourc

[2015-10-23 16:33] ljbade commented on #2763
@tobrun Hmm this is working in Sirius is it not? With the clear annotations menu item?

[2015-10-23 16:36] ljbade commented on #2658
I prefer the top one two, makes it look like it floating more.

[2015-10-23 16:40] tatsvc commented on #2658
![option1](https://cloud.githubusercontent.com/assets/2894119/10699203/265824e2-7983-11e5-8628-7f63e50fda96.png)
![option1cropped](https://cloud.githubusercontent.com/assets/2894119/10699204/2659c284-7983-11e5-8878-63447d218896.png)

[2015-10-23 16:43] tatsvc commented on #2658
It's going to be important to make sure the paddings are nicely balanced, to make it look more elegant! Let me know if you have any questions about this! Main point: give the text enough space to breathe!

![paddings](https://cloud.githubusercontent.com/assets/2894119/10699269/8c354c90-7983-11e5-8a2b-d121bc715b37.png)

[2015-10-23 17:09] jfirebaugh commented on #2761
This behavior is not expected -- it should display the z16 level tiles.

In short, since vector tiles are highly amenable to overscaling, it's always assumed that `maxZoom` for a vector tile source should be treated as "maxNativeZoom", and we will likely not add a separate option. There is a separate map-wide maximum zoom -- [currently 18, but we intend to make that configurable](https://github.co

[2015-10-23 18:00] incanus commented on #2734
Taking another swipe at this now.

[2015-10-23 18:27] tobrun commented on #2726
Will fix the remaining todo's

[2015-10-23 18:44] bleege commented on #2762
/cc @mapbox/mobile

[2015-10-23 18:47] 1ec5 commented on #2762
#1804

[2015-10-23 18:54] tobrun commented on #2726
Apparently I need to optimise input, some markers red from the geopoints.json are the same:

10-23 20:53:12.850 6565-7455/? V/LoadBulkMarkerTask: marker 1 of 10 added with 38.87031006108791 -77.00896639534831
10-23 20:53:12.851 6565-7455/? V/LoadBulkMarkerTask: marker 2 of 10 added with 38.87031006108791 -77.00896639534831
10-23 20:53:12.851 6565-7455/? V/LoadBulkMarkerTask: marker 3 of 10 added w

[2015-10-23 19:16] EBermudezCDS opened #2767 "Help on selecting buildings"
Hi, we wanted to know if there is a way to highlight a building on the map. Basically we are working on an iPad app and we want to allow the users to select buildings by pressing over them. Our idea is to highlight a building when is selected, Let's say something like this:

![screen shot 2015-10-21 at 9 54 43 am](https://cloud.githubusercontent.com/assets/4991659/10702507/e6895158-79a8-11e5-8dc8-

[2015-10-23 19:30] 1ec5 commented on #2767
This is currently possible in GL JS but not the iOS SDK. #352 will add an API for detecting that a building is under the tapped coordinate and get its coordinates. (Also, in #837 we’re working towards the ability to change the style dynamically at runtime, which could be useful.) In the meantime, to do this, you’ll need to load the data from a source like OpenStreetMap manually.

[2015-10-23 21:20] 1ec5 commented on #2740
Taken care of in #2771.

[2015-10-23 21:45] ljbade commented on #2719
Hmm puzzling going to need some C±+ debug

[2015-10-23 21:46] ansis commented on #2259
There are a couple possible behaviours in some cases. Imagine a box that's a horizontal line. It has a large width and small height. You could:

- show the map at the highest possible zoom by putting the box at the top edge of the map
- or you could vertically center the box and use a lower zoom level

Which is better? I prefer the second.

[2015-10-23 21:50] ljbade commented on #2658
@tobrun if I understand what we need is a nine patch of the corners. And then another bit map clipped to the triangle.

Do you also know what DPI those screen shots are so we can calculate the pixels dimensions?

Then we can give @tatsvc a nice clear set of instructions.

[2015-10-23 21:50] ljbade commented on #2658
@tobrun if I understand what we need is a nine patch of the corners. And then another bit map clipped to the triangle.

Do you also know what DPI those screen shots are so we can calculate the pixels dimensions?

Then we can give @tatsvc a nice clear set of instructions.

[2015-10-23 21:53] ljbade commented on #2762
This failure should also include malformed URLs

[2015-10-23 21:53] ljbade commented on #2762
And yes Android plumbing is done

[2015-10-23 21:54] ljbade commented on #2726
Ha-ha hmm

[2015-10-23 22:03] ljbade commented on #2763
We need to add a test for this to test app.

[2015-10-23 22:06] 1ec5 commented on #2259
Absent tilt, you can think of the current behavior as a) centering the shape, then b) zooming to fit (but not panning or rotating). So I’d prefer (2) as well. In the future, we could choose an optimal rotation and pitch for a given object, similar to what the [Bing Maps API](https://blogs.bing.com/maps/2015/09/01/drive-app-engagement-with-amazing-new-capabilities-of-windows-10-maps/) does, but tha

[2015-10-23 22:39] friedbunny commented on #2762
@1ec5 this issue refers to `mapViewDidFailLoadingMap:withError:`, while #1804 is `mapViewDidFinishRenderingMap:fullyRendered:NO`. These both exist in MapKit, though I'm unsure what the effective difference is right now.

[2015-10-23 22:39] tobrun commented on #2763
@ljbade

We have an [example](https://github.com/mapbox/mapbox-gl-native/blob/2726-finish-add-markers-in-bulk/android/java/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/MainActivity.java#L500) in the test app itself. I also used it today while implementing markers without any issue.

[2015-10-23 22:40] ljbade opened #2772 "Android x86 does not run"
Tried loading up an x86 build in the emulator.

Got this crash:
`Caused by: java.lang.UnsatisfiedLinkError: dlopen failed: /data/app/com.mapbox.mapboxgl.testapp-1/lib/x86/libmapbox-gl.so: has text relocations`

I should go and retest the other ABIs too.

[2015-10-23 22:42] ljbade opened #2773 "Android runs at 30fps"
After https://github.com/mapbox/mapbox-gl-native/pull/2680 the Android map only renders at 30fps. It should be able to run at 60fps.

I had a long look at this before but I couldn't figure out a way to fix this *and* keep the map and GPS marker synced.

I posted an email to the Android developers Google Group with no success.

Any help on this will be appreciated.

[2015-10-23 22:43] ljbade commented on #2763
@fcarello What version are you using?

[2015-10-23 22:49] ljbade commented on #2772
Looks like this is specific to M:
https://code.google.com/p/android-developer-preview/issues/detail?id=3028

[2015-10-23 22:50] ljbade commented on #2772
Could be related to OkHTTP crash.

[2015-10-23 22:52] ljbade commented on #2772
http://slowbutdeadly.blogspot.com.au/2015/09/javalangunsatisfiedlinkerror-dlopen.html

[2015-10-23 22:52] ljbade commented on #2772
https://wiki.gentoo.org/wiki/Hardened/Textrels_Guide

[2015-10-23 23:13] ljbade commented on #2772
Running `readelf -a libuv.a | grep TEXTREL` against the mason modules did not find anything. Now going to check core GL .a

@kkaefer What would be the easiest way to add a `readelf -a libmapbox-gl.so | grep TEXTREL` check to the build system so we can catch this in the future.

[2015-10-23 23:36] ljbade commented on #2772
Interesting `ld` has a `--warn-shared-textrel` option.

[2015-10-23 23:55] friedbunny opened #2775 "Make iOS delegate notifications consistent with MapKit"
[MapKit](https://developer.apple.com/library/prerelease/ios/documentation/MapKit/Reference/MKMapViewDelegate_Protocol/index.html) `loading` delegate callbacks are exclusively about fetching map data, while `rendering` ones are exclusively the drawing of the map.

The flow for Mapkit looks like this on initialization:

[code]

Panning around continues to issue the same notification flow.

**We don'

[2015-10-24 00:11] ljbade commented on #2772
Must be OpenSSL
[code]

[2015-10-24 00:23] incanus opened #2776 "investigate OS X build on Bitrise"
[This stuff](https://github.com/mapbox/mapbox-gl-native/blob/master/scripts/osx/run.sh). Should be able to do this on Bitrise. However, parallelism might be the hitch.

[2015-10-24 00:32] friedbunny commented on #2734
Doin' work in #2769.

[2015-10-24 00:58] ljbade commented on #2772
Im testing the `--with-pic` flag.

[2015-10-24 03:03] ljbade commented on #2772
I discovered setting the OpenSSL configure `-no-asm` flag fixes the TEXTREL problem.

I will update Android to use latest OpenSSL and CURL at the same time.

I will also add the linker error that checks for TEXTREL and will break the build if it finds it.

[2015-10-24 06:02] tobrun commented on #2772
This issue triggered me to test on Genymotion machines:
 - Google Nexus 4: 4.1.1
   - java.lang.UnsatisfiedLinkError: Couldn't load mapbox-gl: findLibrary returned null

[2015-10-24 06:05] tobrun commented on #2772
Seeing some other behaviour on the 5.+ machines:
 - First time installing
   - seeing `app running` message but nothing happens
   - can't see the app in list of installed apps

 - Second time
  -
![screen shot 2015-10-24 at 08 04 03](https://cloud.githubusercontent.com/assets/2151639/10709247/cf392aa0-7a25-11e5-8ff7-6381bf8826d2.png)
  -
![screen shot 2015-10-24 at 08 04 30](https://cloud.githubu

[2015-10-24 06:07] ljbade commented on #2772
@tobrun Are you compiling the x86 binaries?

You have to run `make android-lib-x86`

[2015-10-24 06:22] tobrun commented on #2772
@ljbade I was not, I'm now looking at the make file and pieces are falling together.
We should maybe add some extra information to contributor setup?

BTW Genymotion paid version has great tools for developing location based apps.
This will make development and testing location tracking a whole lot easier!

![screen shot 2015-10-24 at 08 21 20](https://cloud.githubusercontent.com/assets/2151639/10

[2015-10-24 06:22] #2772 closed

[2015-10-24 09:10] tobrun opened #2780 "Optimise layout for tablet"
![screen shot 2015-10-24 at 10 36 30](https://cloud.githubusercontent.com/assets/2151639/10709783/4187485c-7a3b-11e5-9f0d-781a154dcd38.png)

We need to add some padding to Android View elements for larger screen devices:
 - Mapbox logo
 - attribution icon
 - floating action button

We can provide this using specific resource folders.
We could also provide a default zoom level per device size.

[2015-10-24 09:12] tobrun commented on #2513
@zochunhua
Are you still having the problem with current release?
What version of the library are you using?

[2015-10-24 11:20] ljbade commented on #2775
For Android, the main concern is the loading/failed loading events are the only way to return an error about loading the style to the app since everything is async.

@friedbunny How does iOS return async style load failures?

[2015-10-24 11:26] ljbade commented on #2780
Do we need to make stuff bigger?

Can you capture a Google Maps screenshot.

[2015-10-24 11:42] minikin commented on #2417
I also have the crash related to mbgl::HTTPNSURLRequest:
[code]

[2015-10-24 11:58] ljbade commented on #1045
This has been fixed now.

[2015-10-24 11:58] #1045 closed

[2015-10-24 12:08] ljbade commented on #1462
@1ec5 is looking to implement this in https://github.com/mapbox/mapbox-gl-native/pull/2746#issuecomment-150703017 for iOS.

On Android I decided to just have a class that provides static constants in the `Styles` class.

[2015-10-24 12:09] ljbade commented on #1716
Done!

[2015-10-24 12:09] #1716 closed

[2015-10-24 12:09] ljbade commented on #1920
Pretty much done. Remaining stuff already in tickets.

[2015-10-24 12:09] #1920 closed

[2015-10-24 12:12] ljbade commented on #2111
I think the only thing Doze might impact is metrics.

[2015-10-24 12:12] ljbade commented on #2076
This was done in #2076

[2015-10-24 12:12] #2076 closed

[2015-10-24 12:15] ljbade commented on #2559
@tobrun this will complement https://github.com/mapbox/mapbox-gl-native/pull/2613

[2015-10-24 12:16] ljbade commented on #2558
@incanus what does this function do? Swap out the icon on all markers with no custom icon set?

[2015-10-24 12:17] ljbade commented on #2537
@tobrun what are you thoughts for this?

[2015-10-24 12:25] ljbade commented on #2560
@tobrun I think to implement this, we will need reference counting in Sprite class to know when last marker with this icon is removed from the map

[2015-10-24 12:31] ljbade commented on #2624
@bleege In the "Toggle point annotations" action I loaded the Maki dog icon. To do this I downloaded the PNG from the Maki page then added it to the app and loaded with `fromBitmap`.

It is a bit blurry as Maki only provide 1x and 2x. We could render more from the SVG using the upcoming VectorDrawable (). Or we could use the SDF files and expose the Core GL support for this.

@tobrun Had suggested

[2015-10-24 12:32] ljbade commented on #2616
Been working on this in https://github.com/mapbox/mapbox-gl-native/commit/2ad5e3d1af9ab260b9039a3b94a40aed1682b93c

[2015-10-24 12:48] ljbade commented on #2400
I should revisit this since @mikemorris updated the libuv version.

[2015-10-24 12:57] ljbade commented on #2655
I discovered that this is used for generating trace files so I will just comment it out.

I think this is left over from when I used to have to redirect stdout to a file in order to read C++ logs.

[2015-10-24 14:10] fcarello commented on #2763
@ljbade Hey, thanks for the quick response on that. I'm using version 2.1.0. I'm actually using polylines to draw 3 calculated routes alternatives on the mapview. When switching in the UI between the routes (polyline annotations) I need to change the color of the selected one to a defined highlight color. Thus I'm currently removing all routes and redrawing them again with respective colors. For s

[2015-10-24 14:39] mb12 commented on #2537
I thought the sdk automatically adds a zoom control if the device isn't multi touch capable.  Never tested it though.
https://github.com/mapbox/mapbox-gl-native/blob/master/android/java/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/views/MapView.java#L636

[2015-10-24 15:37] jonathanduty commented on #320
Any status on Marker clustering in iOS?

[2015-10-24 16:00] friedbunny commented on #2775
`MapChangeDidFinishRenderingMapFullyRendered` with a `false` value would indicate some tile(s) failed to render, while `MapChangeDidFailLoadingMap` would fire when map data failed to load from the network. Neither of these are implemented.

We could also potentially use `MapChangeDidFailLoadingMap` to indicate that styles have failed to load. Currently, we throw somewhat cryptic errors [from `MapC

[2015-10-24 16:57] tobrun commented on #2780
![image](https://cloud.githubusercontent.com/assets/2151639/10711551/7392dfca-7a7f-11e5-9c01-0e8536544146.png)

[2015-10-24 17:14] #2032 closed

[2015-10-24 22:09] bkaradzic commented on #2713
I have the same issue on Linux. If token is invalid error is:

    [ERROR] {Map}[Style]: Failed to load [mapbox://mapbox.mapbox-terrain-v2,mapbox.mapbox-streets-v6]:
    [ERROR] {Map}[Style]: Failed to load [mapbox://sprites/mapbox/streets-v8.png]: HTTP status code 401
    [ERROR] {Map}[Style]: Failed to load [mapbox://sprites/mapbox/streets-v8.json]: HTTP status code 401

If token is valid only o

[2015-10-24 22:44] tobrun commented on #2780
I think we can use same margins/paddings as FAB provided by activity creation wizard in Android studio.

[2015-10-25 01:26] ljbade commented on #2780
@tobrun Great idea! Just copy them.

[2015-10-25 01:58] bleege commented on #2655
@ljbade Can you help me understand this?  If the SDK is not using this permission why not just remove it completely?

[2015-10-25 02:02] bleege commented on #2755
/cc @mapbox/mobile

[2015-10-25 02:22] bleege opened #2784 "Move API Minimum Back To 15"
The Android minimum API level was moved to 14 in 4af979799479541858825ac13f4294417aecd343.  This should be restored to 15 as discussed in #934.

/cc @ljbade

[2015-10-25 08:14] tobrun commented on #2443
We can add it to gradle using `idea` plugin, as shown in this [SO-post](http://stackoverflow.com/questions/26108228/pass-custom-code-style-xml-to-gradle-idea-plugin)

[2015-10-25 09:53] tobrun commented on #2780
Strange, the wizard doesn't generate extra margins for the fab.
You can see in screenshot below that Google Maps has extra margin right.

MapBox FAB  | Google Maps Fab
------------- | -------------
<img width="76" alt="screen shot 2015-10-25 at 10 47 23" src="https://cloud.githubusercontent.com/assets/2151639/10715009/63fc280a-7b06-11e5-9606-c729a9777fd5.png">  | <img width="82" alt="screen shot 2

[2015-10-25 10:08] tobrun commented on #2780
Tablet

Size of logo's should not be increased

Mapbox | Google
------------- | -------------
<img width="121" alt="screen shot 2015-10-25 at 11 04 51" src="https://cloud.githubusercontent.com/assets/2151639/10715072/66fbafba-7b08-11e5-8501-18631e4d9f85.png"> | <img width="166" alt="screen shot 2015-10-25 at 11 07 05" src="https://cloud.githubusercontent.com/assets/2151639/10715075/917e97f2-7b08-1

[2015-10-25 10:24] #2523 closed

[2015-10-25 12:15] ljbade commented on #2763
@fcarello Do you mind testing it with `master`?

[2015-10-25 12:21] ljbade commented on #934
@bleege When I choose API 15 I thought that was ICS. But ICS actually starts at API 14.

I think it is confusing only supporting from a specific point release (4.0.3) vs the major release (4.0).

I have ordered an old Galaxy Nexus that I am going to load with stock API 14 image to test our SDK on since the Android emulator does not support OpenGL below Jelly Bean.

However since it is hard for mos

[2015-10-25 12:22] #934 closed

[2015-10-25 12:33] ljbade commented on #2784
@bleege When I choose API 15 I thought that was ICS. But ICS actually starts at API 14.

I think it is confusing only supporting from a specific point release (4.0.3) vs the major release (4.0).

I have ordered an old Galaxy Nexus that I am going to load with stock API 14 image to test our SDK on since the Android emulator does not support OpenGL below Jelly Bean.

However since it is hard for mos

[2015-10-25 12:33] ljbade commented on #2784
Another reason for using API 14 is that is the current default when you start a new app. So the average developer investigating using us for a new app tries to add our SDK they will immediately get a compile error with the default settings.

Also, I noticed we don't really say what API level we support on https://www.mapbox.com/android-sdk/

Going to make a ticket for that.

![screenshot from 2015

[2015-10-25 12:44] ljbade commented on #2655
Hmm yeah I suppose we should just delete it then... I guess if you use the 'Trace' Android debug class you would know to add in the permission anyway.

[2015-10-25 13:10] ljbade opened #2787 "Remove internal use only methods from main Annotation classes"
I think I have found a solution for the internal use only methods we expose but document in Javadoc as do not use.

We subclass the annotation classes in a `.internal` package (that we can filter from Javadoc) and move the internal methods to them. Then internally in the options classes we create instances of these classes, but return them as the super class.

Then in the`MapView` we can cast (wit

[2015-10-25 13:27] minikin commented on #2475
I have the same error. Can't present UIAlert:
[code]

[2015-10-25 13:44] ljbade commented on #2560
I have implemented this my using a `SparseIntArray` to hold the ref count for each sprite ID (which is now stored as an `int` in `Sprite`).

Remaining is to test then make a PR.

[2015-10-25 13:49] ljbade commented on #2560
@tobrun We are going to need to add a stress test similar to the bulk marker test for adding and removing a large number of sprites to ensure we correctly delete the sprites when they reach a zero ref count.

So basically a lot of markers each with a large number of different sprites with varying amounts of duplicate icons.

[2015-10-25 13:50] ljbade commented on #2763
@tobrun Can you add to the bulk marker test activity a remove button that tests both remove and remove all functions?

[2015-10-25 20:48] iCyberon commented on #2328
@kelleyduran switch to http://developer.skobbler.com Looks like it's enough stable and doesn't crash with slow internet connections.

[2015-10-25 21:20] robipresotto commented on #2211
+1

[2015-10-25 23:00] ljbade commented on #2328
@1ec5 Is this possible to fix? Loading a sprite should really return a loading failed event as in https://github.com/mapbox/mapbox-gl-native/issues/2775 and #2762

[2015-10-25 23:02] ljbade commented on #2211
@friedbunny Adding parity ticket as we already have this feature in Android release.

[2015-10-25 23:15] ljbade commented on #2757
This was implemented in https://github.com/mapbox/mapbox-gl-native/pull/2759 and https://github.com/mapbox/mapbox-gl-native/pull/2779

[2015-10-25 23:15] #2757 closed

[2015-10-25 23:46] ljbade commented on #2560
Hmm Core GL's `removeAll` method seems to crash.

[2015-10-25 23:47] ljbade commented on #2560
[code]

[2015-10-26 00:18] ljbade commented on #2560
The problem:
`Map::removeSprite` calls `setSprite(name, nullptr)`

This makes it's way to `Holder.texture` (which is `nullptr`) in `SpriteAtlas::copy()`, that function does not expect a `nullptr`.

Searching for `removeSprite` no platorms (including iOS) use this function. The only external usage is in the `SpriteStore` tests which does not use a `SpriteAtlas`.

@jfirebaugh has `Map::removeSprite(

[2015-10-26 08:06] Zakay commented on #2681
@friedbunny Some crashlogs:
https://www.dropbox.com/sh/kbcg003g6zzfg91/AAA0XnQ4t76dRoIR1ltlRPYga

[2015-10-26 09:54] kkaefer commented on #2738
I can't reproduce this issue. `make android` still does incremental builds for me. Any chance that the differences between both branches are so big that it seems like a full rebuild, when in fact just a widely used header file changed?

[2015-10-26 09:54] #2726 closed

[2015-10-26 09:54] kkaefer commented on #2738
Please reopen if you continue to observe this behavior.

[2015-10-26 09:54] #2738 closed

[2015-10-26 10:01] tobrun commented on #2719
Updating that following code works in Sirius:

[code]

Haven't look at the internals yet for this issue.

[2015-10-26 11:05] ljbade commented on #2738
Interesting, I'll keep an eye on it.

[2015-10-26 11:09] tobrun opened #2791 "User location tracking not animating"
User location tracking landed it #2758
We are now calling `setCenterCoordinate(mMarkerCoordinate, true /*animated*/)` to reposition.
Currently no animation is occuring and map jumps from one location to another.
Probably a `clearTransitions` is called somewhere down the event chain.

[2015-10-26 11:12] #2758 closed

[2015-10-26 11:19] tobrun commented on #2791
Build project using `BUILDTYPE=Debug make android`
Added start and end logs to the method mentioned above.

This results in following output:
[code]

[2015-10-26 11:52] kkaefer opened #2792 "Merge LiveTileData and VectorTileData"
They're both the same really, just with different data sources. Keeping them separate classes in code means that fixing one means having to port the fix to the other as well.

[2015-10-26 12:09] tobrun commented on #2791
@ljbade indicated to add a log message to `cancelTransitions` in `transform.cpp`.
I found out that you can add a logger by using this include:

[code]

and

[code]

[2015-10-26 12:10] tobrun commented on #2791
With previous comment in place I'm seeing:

[code]

[2015-10-26 12:12] clearbrian opened #2793 "CFNetwork crash on fast changing or poor Reachability"
Two crashes this morning when app tested on London Underground.

Boths thrown from method
`CFNetwork  0x000000018301b510 __75-[__NSURLSessionLocal taskForClass:request:uploadFile:bodyData:completion:`

I use
[code]

App was being used on London Underground which has a poor network so app would have been changing Reachability a lot.
There is limited to no n/w below ground. There is one wifi provide

[2015-10-26 12:13] ljbade commented on #2791
Hmm this is very perplexing.

@1ec5 Do you have any ideas why a pan animation is not working?

[2015-10-26 12:16] millenbop commented on #2761
Ah, sounds like a bug then. There is no property for maxZoom in the iOS lib though. If I put `"maxZoom": 16` in the layer style, it still tries to load zoom levels over 16:

[code]

[2015-10-26 12:39] ljbade commented on #2655
Completely removing it in https://github.com/mapbox/mapbox-gl-native/pull/2794

[2015-10-26 13:20] ljbade commented on #2655
Merged.

[2015-10-26 13:20] #2655 closed

[2015-10-26 14:25] tobrun opened #2797 "Add bearing to location tracking mode"
This ticket is a part of #2049 and focuses on bearing in user tracking.
This ticket follows after #2758 and #2712.

Discussed this with @ljbade and we came to the conclusion it would be better to divide bearing from tracking modes hence these can work separately from each other. For this I will add a `BearingTracking.Mode` class conform to `MyLocationTracking.Mode`.

[2015-10-26 14:46] friedbunny commented on #2681
Looks like [`SymbolBucket::needsDependencies`](https://github.com/mapbox/mapbox-gl-native/blob/5406048a57f48162774bd60fd645efb2f2d07362/src/mbgl/renderer/symbol_bucket.cpp#L117) is being passed a bogus string.

[code]

/cc @jfirebaugh

[2015-10-26 15:13] tmcw commented on #2701
Does anyone know how to run the core tests for mapbox-gl-native?

[2015-10-26 15:33] tmcw opened #2799 "Refactor documentation"
The docs here could use a pass to become a bit more straightforward and followable for different sorts of people. Going to take a pass at refactoring these.

[2015-10-26 15:40] kkaefer commented on #2701
the `*` is a placeholder for Google Test case names

[2015-10-26 15:40] kkaefer commented on #2701
@tmcw: run `make test-* -j8`

[2015-10-26 15:50] bleege commented on #2762
@ljbade Could you provide a link to the issue / commit where this was done?  That way we all can track this better in the future.  :+1:

[2015-10-26 15:54] bleege commented on #1716
@ljbade Could you comment a bit on why you believe this is "Done"?  What changed since the 31-Aug-2015 comment?  I see that #1726 has been ticketed out separately, but it's unclear what else was finished.  Thanks!

[2015-10-26 15:59] bleege commented on #2624
@ljbade No further action is needed here.  This ticket was to clarify the original statement of ["Developers can still use the Maki sprites from the styles just like Sirius does."](https://github.com/mapbox/mapbox-gl-native/issues/2506#issuecomment-145298477)  Now that this is better understood to mean `Style Specific Sprites` and [Add Support For Marker Bitmaps](https://github.com/mapbox/mapbox-g

[2015-10-26 15:59] #2624 closed

[2015-10-26 16:21] jfirebaugh commented on #2701
[code]

I think this may be an incompatibility with zsh. `make test-*` works in bash. @tmcw does something like `make 'test-*'` work in zsh?

[2015-10-26 16:22] kkaefer commented on #1837
@picciano I just merged https://github.com/mapbox/mapbox-gl-native/pull/2617 and can't reproduce this anymore. Can you please check out the current master build and see if that issue still exists?

[2015-10-26 16:23] kkaefer commented on #2417
@webventil @minikin I just merged https://github.com/mapbox/mapbox-gl-native/pull/2617 and can't reproduce this anymore. Can you please check out the current master build and see if that issue still exists?

[2015-10-26 16:28] friedbunny commented on #2123
Managed to reproduce this crash by having the network link conditioner set to "Very Bad Network" (slow, packet loss) and then toggling wifi on/off on my cellular-connected device.

[code]

[2015-10-26 16:33] 1ec5 commented on #2793
Though this is an unsymbolicated crash log, given the reproduction steps, I’m wondering whether this is the same issue as #1837. Now that #2617 has landed, can you try building master and incorporating it into your application? Thanks.

[2015-10-26 16:45] bleege opened #2801 "Don't Crash App If setCenterCoordinate() Is Null"
Getting crash reports from the [Mapbox Demo App](https://github.com/mapbox/mapbox-android-demo) that are likely to also affect customer apps too. ;-)  Instead of throwing a [`NullPointerException` as it currently does](https://github.com/mapbox/mapbox-gl-native/blob/c65f809651dccc742d4d549f4dedf794de8623fc/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/views/MapView.java#L992-L994),

[2015-10-26 17:09] LuisBotero opened #2802 "Black screen, not show the map"
When I try to open the map, the screen goes black, and never the map is displayed.
I tried doing a new application in Android Studio and I downloaded the demo of the Play Store, I have the same problem in both applications.
I'm working on Android version 4.2.2.

![screenshot_2015-10-26-11-56-06](https://cloud.githubusercontent.com/assets/12969249/10736214/c8af9ff6-7bd9-11e5-8ccb-92c8797c1173.png)

[2015-10-26 17:11] mikemorris commented on #2701
note that the casing has to be exact

[2015-10-26 17:17] friedbunny commented on #2123
Still reproduces after #2617 — toggle wifi on/off until it crashes. /cc @kkaefer

[2015-10-26 17:31] tmcw commented on #2701
Yes: quoting the `*` works - I made a note of this in the docs refactor https://github.com/mapbox/mapbox-gl-native/blob/redo-docs/docs/DEVELOP_LINUX.md#test

[2015-10-26 17:56] 1ec5 commented on #2695
→ #2804

[2015-10-26 18:01] jfirebaugh commented on #2560
@ljbade I think your analysis is correct -- it's never been used outside of tests.

[2015-10-26 18:18] tmcw commented on #1987
@Vecherkin - please post back with more details to get this issue debugged.

[2015-10-26 18:18] #1987 closed

[2015-10-26 18:34] bleege commented on #2784
@ljbade I agree that technically Ice Cream Sandwich does start with API 14 and not API 15.  :smile:

However, looking at they way Google refers to Ice Cream Sandwich these days it's all API 15 and above.  Specifically in it's [Market Share Dashboard from August](https://github.com/mapbox/mapbox-gl-native/issues/934#issuecomment-130759209), it's [Market Share Dashboard from today](http://developer.

[2015-10-26 18:34] #2784 closed

[2015-10-26 18:43] picciano commented on #1837
I will. It was intermittent, so it may take a couple days.

[2015-10-26 18:44] bleege commented on #2801
Rebased and merged.

[2015-10-26 18:44] #2801 closed

[2015-10-26 18:49] tobrun commented on #2802
Could you add the code where you are Initializing the map?
Can you verify if you are calling the different lifecycle methods?

Linking issue (#2513) with same problem.
@bleege @ljbade @zugaldia

[2015-10-26 18:58] tobrun commented on #2780
Been going through design documents and nothing concrete came up related to margins fab.
Going to close this as end developer responsibility, we just follow Android activity wizard or guidelines.

[2015-10-26 18:58] #2780 closed

[2015-10-26 19:09] bleege opened #2805 "Android Camera API (aka Tilt)"
The [Core GL work to support perspective](https://github.com/mapbox/mapbox-gl-native/pull/2116) was done by @ansis at the end of August.  @1ec5 added iOS bindings for it #2159 and #2193.  Now that the initial version of the Android SDK (v 2.1.0) has been released (as of 21-Oct-2015) we should add support in Android.

/cc @mapbox/mobile @twbell

[2015-10-26 19:19] LuisBotero commented on #2802
The code are calling the different lifecycle methods correctly, onCreate, onStart, onResume, etc
There are some screenshots of my code, the activity_main and MainActivity classes, and also attached some results in the Logcat console when I open my application. The code used is like the example of the documentacion in the website of MapBox Android API.

![mainactivity](https://cloud.githubuserconte

[2015-10-26 19:27] tobrun commented on #2802
@LuisBotero this is great info to have, thank you for that!

[2015-10-26 19:47] tobrun opened #2807 "Emulator crash"
When running on:

![screen shot 2015-10-26 at 20 39 21](https://cloud.githubusercontent.com/assets/2151639/10740270/a566e1d8-7c21-11e5-9842-40361d440eae.png)

The emulator itself crashes and I'm seeing following messages in Logcat:

![image](https://cloud.githubusercontent.com/assets/2151639/10740460/b64bee8e-7c22-11e5-9e39-8b4c17daece1.png)

[2015-10-26 19:48] jfirebaugh opened #2808 "rendering tests: Error: timed out after 20 seconds"
Seeing a lot of build jobs failing now due to timeouts in the rendering tests.

[code]

I don't remember seeing this before #2617 -- @kkaefer is it possible that the networking changes started triggering this?

[2015-10-26 19:51] tobrun commented on #2807
Seeing similar things on a Jelly bean nexus 4 image:

![screen shot 2015-10-26 at 20 50 08](https://cloud.githubusercontent.com/assets/2151639/10740574/3e2e718c-7c23-11e5-928b-b9b8a4223492.png)

![screen shot 2015-10-26 at 20 50 14](https://cloud.githubusercontent.com/assets/2151639/10740579/41f0321a-7c23-11e5-996c-42b356c9a3ad.png)

[2015-10-26 20:01] mikemorris commented on #2808
Pretty sure I've seen this prior, but dismissed it as a random hiccup.

[2015-10-26 20:28] tobrun commented on #2807
I have **no** issues on a **Android M** powered emulator.

it could be that #2802 and #2513 are related
these are both 4.2.2 Jelly bean devices.

[2015-10-26 20:38] incanus commented on #1975
Updating per voice with @adam-mapbox @kkaefer @jfirebaugh — increasingly this feels like a lock contention or thread wait-related issue, especially since it's not showing up in typical profiling. @jfirebaugh recommended we examine "wall clock time"; I'm looking into this with the Xcode toolchain.

[2015-10-26 20:40] tobrun commented on #2807
I was able to reproduce this error on a tablet running ICS.

[2015-10-26 20:48] tobrun commented on #2807
Currently pinpointed that ICS and Jelly bean have this problem,
@bleege doesn't have this issue on Lollipop or higher.
Need to test KitKat and pinpoint possible problem related to this crash.

[2015-10-26 20:49] bleege commented on #2807
To be specific, I haven't had this problem on Lollipop devices (HTC M9 and Samsung S5) nor emulators.

[2015-10-26 20:56] bleege commented on #2443
@tobrun Cool.  Let's try that then.

[2015-10-26 21:34] bleege commented on #2807
Just tested on API 16 x86 emulator and got the following crash at startup.  Based on what @adam-mapbox said it looks like there's "bad data" (likely Unicode related) getting into the OpenGL shader.

[code]

[2015-10-26 21:38] bleege commented on #2807
Confirmed that the same code runs on API 19 x86 emulator.  Will install and test on API 17 and API 18 emulators to see where things come off the rails.

![screen shot 2015-10-26 at 4 37 16 pm](https://cloud.githubusercontent.com/assets/989928/10743251/dba7f772-7bff-11e5-8a6d-72719831260f.png)

[2015-10-26 21:52] bleege commented on #2807
Just tested in API 18 x86 emulator (last version of Jelly Bean) and got the following results.  It shows that the OpenGL context starts up as expected, but that it borks when compiling the shader again.  So this tells me:

1. KitKat, Lollipop, and Marshmallow are working as expected
1. Ice Cream Sandwich and Jelly Bean are both stumbling on (the same?) OpenGL shader issue
1. The most immediate con

[2015-10-26 21:59] bleege commented on #2807
For the sake of completeness I ran the app on API 17 x86 emulator and got the same same shader issue:

[code]

[2015-10-26 22:05] ljbade commented on #2807
@bleege @tobrun I tested an API 16 emulator end of last week (Friday or Saturday) and it worked no issues.

This must be from a recent commit.

[2015-10-26 22:13] ljbade commented on #2797
The idea is this:

With location tracking off, bearing mode will change how the user location marker arrow behaves.

With location tracking on, bearing mode will change how the map rotates.

[2015-10-26 22:13] bleege commented on #2807
Here's what a successful stack trace from API 19 (KitKat) looks like.

[code]

[2015-10-26 22:15] bleege commented on #2807
Should point out that I'm testing as of e257ad284bf02f658949f3f2ddb7becbbcf1f820 from `master`.

[2015-10-26 22:17] ljbade commented on #1716
@bleege Well we implemented all features of iOS SDK annotations since https://github.com/mapbox/mapbox-gl-native/issues/2744 and https://github.com/mapbox/mapbox-gl-native/issues/2726

Finally I have removed all annotation properties that are not supported in Core GL.

So the original aim of this ticket to reach parity with iOS has been achieved.

[2015-10-26 22:21] ljbade opened #2809 "Implemented addPolylines and removeAnnotations in JNI"
Currently `addPolylines` and `removeAnnotations` are implemented by looping through a list in Java.

We should improve these using JNI similar to `addMarkers` and `addPolygons`.

`removeAnnotations` in JNI will also help with removing the 10000 markers in the bulk marker test activity.

/cc @tobrun

[2015-10-26 22:23] ljbade commented on #2762
The two relevant PRs are https://github.com/mapbox/mapbox-gl-native/pull/2255 and https://github.com/mapbox/mapbox-gl-native/pull/2591

Although we will need to change the Android Javadoc for that event to indicate it is now implemented.

[2015-10-26 22:26] ljbade commented on #2560
@jfirebaugh Do you know roughly what is needed to fix this? I sort of understand SpriteAtlas but not completely.

We don't need to erase the data from the texture do we? We can just leave it there and delete the sprite from the list?

[2015-10-26 22:27] ljbade commented on #2784
Sure fair enough. If Google has nuked the use of API 14 then I suppose we can call it "officially obsolete"

[2015-10-26 22:27] ljbade commented on #2784
Sure fair enough. If Google has nuked the use of API 14 then I suppose we can call it "officially obsolete"

[2015-10-26 22:30] mitchellporter commented on #320
I'm interested in annotation clustering on iOS as well :+1: . Any idea when something like this will be released?

[2015-10-26 22:33] ljbade commented on #2807
`E/libEGL: call to OpenGL ES API with no current context (logged once per thread)`

This line looks suspicious.

Need to investigate if we are trying to run GL from the wrong thread.

[2015-10-26 22:37] ljbade commented on #2805
@1ec5 From my reading of relevant tickets, there are still a few bugs and functions that don't take into account tilt?

Just want to make sure we have a list of the ones that have not been fixed to include as known issues with tilt in the release notes.

[2015-10-26 22:39] friedbunny commented on #2012
This appears to be multiple issues. For those first starting out, this is likely caused by a cached bad access token. Delete the app from your test device/simulator, make sure your token is correct, and then try again.

The case where this can happen with a known-good token on an already-installed app is probably also a caching issue of some sort, but I have not been able to reproduce it.

[2015-10-26 22:40] tobrun commented on #2807
@ljbade

I believe that the user reporting this issue are building from 2.1.0 release and not from master

[2015-10-26 22:48] 1ec5 commented on #2328
These look like v7 sprite URLs. Mapbox iOS SDK 2.1.0 requires v8 styles, which (if I’m not mistaken) should be getting the sprites from this URL instead: `https://api.mapbox.com/styles/v1/mapbox/streets-v8/sprite@2x.json?access_token=…`.

[2015-10-26 23:11] 1ec5 commented on #2805
Now that #2770 is merged, the biggest known issues are #2266, #2259, and possibly #2139. #256 is unimplemented.

[2015-10-26 23:15] ljbade commented on #2807
@tobrun OK thats interesting.

I also found `Surface.finalize() has work. You should have called release() (-1184371352, 0)` on my emulator.

Interesting thing is on API 16 the fatal crash is in the Android frameworks font renderer. Likely as a result of us corrupting GL.

[2015-10-26 23:18] ljbade commented on #2807
I think the emulator is very flakey prior to KitKat when it comes to OpenGL. I encountered a number of unexplainable crashes on the early emulator releases 12 months ago that all went away with KitKat (which was about when I started logging them as bugs in AOSP tracker)

[2015-10-26 23:18] ljbade commented on #2807
So we should focus on a real Jelly Bean device.

[2015-10-26 23:26] ljbade commented on #2807
Added some extra logging to `Shader::compileShader` in Core GL. Does appear to be that the GL shader source string is corrupt:

[code]

[2015-10-26 23:29] ljbade commented on #2807
From Marshmallow:
[code]

[2015-10-26 23:34] 1ec5 commented on #2328
In short, it’s sounding like a slow Internet connection might be a red herring. Where is the old URL coming from? A cached style, perhaps?

/cc @kkaefer @jfirebaugh

[2015-10-26 23:45] friedbunny commented on #2012
The "bad access token" problem here happens because we cache `mapbox://v4/mapbox.mapbox-terrain-v2,mapbox.mapbox-streets-v6.json?secure` no matter the response status, which comes with a 12 hour `expires` tag.

Even if the access token is immediately corrected, subsequent requests are reloaded from the poisoned cache that only cares about the stripped canonical URL (which has an `Error` status and

[2015-10-26 23:45] ljbade commented on #2807
Ignore the last two logs, I had a bug in my logging code.

[2015-10-26 23:48] ljbade commented on #2807
Interesting the shader compile errors from the log happen before we load our shaders!

Somewhere we are attempting to call a GL command with no shaders set so Android goes off and compiles some garbage.

[2015-10-27 00:11] incanus commented on #1975
@tomtaylor We have your code up & running in Xcode 6.4 and I *think* I am seeing this manifest in 0.5.3, though it is perhaps very slight on the simulator. I need to get at an 8.x device to be sure — does this sound right, that it might not manifest as much on sim?

[2015-10-27 00:47] ljbade commented on #2807
Making some notes, the GL compile errors come from the Android UI thread.

Commenting out `createSurface` call prevents the crash.

Errors happens after `createSurface`.

Errors happen before `onDraw`.

[2015-10-27 00:56] incanus commented on #320
Nothing on the radar right now for clustering, but stay tuned for annotations improvements in the medium-term. In short, we are thinking more about potential aspects of annotations that are unique to Mapbox GL and not necessarily derivative of what's been done with maps frameworks before.

[2015-10-27 00:56] ljbade commented on #2807
I suspect this error is coming from the Android framework and not our C++ code.

Somehow I need to get a stack trace for that error.

[2015-10-27 01:17] ljbade commented on #2807
I suspect in `createSurface` where I make our GL context current and then not current for logging the GL properties, that I am removing the GL context used by Android to render the UI.

I need to save the previous context, before I change it.

[2015-10-27 01:26] ljbade commented on #2807
Sucess! That was the problem. Making a PR now.

[2015-10-27 01:33] ljbade commented on #2807
I still see `Surface.finalize() has work. You should have called release() (-1173930792, 0)` will investigate that later.

[2015-10-27 01:36] ljbade commented on #2802
@LuisBotero Can you try https://github.com/mapbox/mapbox-gl-native/pull/2810 to see if it fixes this issue?

[2015-10-27 01:36] ljbade commented on #2513
@zochunhua Can you try https://github.com/mapbox/mapbox-gl-native/pull/2810 to see if it fixes this issue?

[2015-10-27 02:52] 1ec5 commented on #2791
I’m not sure, but `MapView` cancels transitions when programmatically setting the map’s center coordinates (#2296), whereas `MGLMapView` does not (#2313). Could something else (a listener, perhaps) be setting the center coordinate, preempting the animation?

[2015-10-27 04:27] #2807 closed

[2015-10-27 04:37] ljbade commented on #2801
@bleege What about some of the other functions we also check for `null`? Should we implement a similar no-op?

Also, why was the demo app trying to set a null coordinate in the first place?

[2015-10-27 06:48] tomtaylor commented on #1975
Yeah, it's much clearer on device, especially on a 5c/5s/6.

[2015-10-27 07:21] tobrun commented on #2809
I can pick this up, good to learn some JNI while I'm at it.

[2015-10-27 07:24] tobrun commented on #2809
Current Java implementation of removeAnnotations:
[code]

[2015-10-27 07:26] tobrun commented on #2809
There is already a bulk removeAnnotations method in NativeMapView, method will be refactored to:

[code]

[2015-10-27 07:26] tobrun commented on #2809
Now with preallocation of size:

[code]

[2015-10-27 07:35] tobrun commented on #2809
Now taking a look at Polylines:
`addPolylines` doesn't have an equivalent in the form of `NativeMapView.addPolylines`.
Will need to add one in `jni.cpp`

[2015-10-27 07:52] tobrun commented on #2763
I'm adding a test setup for this in #2809

[2015-10-27 08:21] tobrun commented on #2809
JNI.cpp:

[code]

[2015-10-27 08:22] tobrun commented on #2809
Adjusted java impl:

[code]

[2015-10-27 08:34] tobrun commented on #2809
Currently is crashes and burns with:

10-27 16:27:59.352 1926-1926/? W/dalvikvm:              in Lcom/mapbox/mapboxsdk/views/NativeMapView;.nativeAddPolylines:(JLjava/util/List;)[J (GetIntField)

[2015-10-27 09:24] tobrun commented on #2809
Multiple builds later I have a working `nativeAddPolylines` method:

[code]

[2015-10-27 09:34] tobrun opened #2811 "Can't use removeAnnotations with a List of PolyLines"
Behaviour below is unwanted because:
 - PolyLine extends MultiPoint
 - MulitPoint extends Annotation.

![screen shot 2015-10-27 at 10 32 33](https://cloud.githubusercontent.com/assets/2151639/10754167/39fb79de-7c96-11e5-9210-0850ca934546.png)

[2015-10-27 09:37] tobrun commented on #2811
We need to solve this using generics and a wildcard:

[code]

[2015-10-27 09:38] tobrun commented on #2811
Will be added in #2809

[2015-10-27 10:12] svendroid opened #2812 "Dotted Polyline on Android"
Is it possible to set a dotted line style for a `Polyline`?

So far I only found methods on the `PolylineOptions` to set width, color and alpha values.

I'm thinking of a similiar function as in the `PathOverlay` of the deprecated mapbox-android-sdk which offered a method `setPaint`. For a dotted line e.g. I could do this:

    Paint paint = new Paint();
    paint.setAntiAlias(true);
    paint.set

[2015-10-27 10:18] tobrun commented on #2811
closed with  f3ffb45

[2015-10-27 10:18] #2811 closed

[2015-10-27 10:18] tobrun commented on #2809
Closed with  f3ffb45

[2015-10-27 10:18] #2809 closed

[2015-10-27 10:23] kkaefer commented on #2808
Weirdly, Travis reported the entire test run as passing despite individual failing builds. I tried to reproduce this locally, but couldn't. The node tests never stalled for me.

[2015-10-27 10:25] tobrun commented on #2763
I have added a test feature activity in the sample app in  f3ffb45.

In that test activity:
 - mMapView.removeAnnotation(mPolyLines.get(0));
 - mMapView.removeAnnotations(mPolyLines);
 - mMapView.removeAllAnnotations();

For me this works as indented but I have changed some internals for #2809 and #2811.

@fcarello
I will ping you here when a new snapshot becomes available, would you be able to re

[2015-10-27 10:33] tobrun commented on #2812
Difference between Polylines on Raster vs GL SDK is that `Polylines` are now GL drawn components.
Looping in @bleege and @ljbade for more information

[2015-10-27 10:39] tobrun opened #2813 "Emulator crash part 2"
Regression found for solution at #2807.

The fix solved the problem of running on ICS but created a crash on Marshmallow:

E/mbgl: {Main}[OpenGL]: eglMakeCurrent(EGL_NO_CONTEXT) returned error 12296
A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 29835 (apboxgl.testapp)

@ljbade @bleege @zugaldia

[2015-10-27 10:40] kkaefer commented on #2123
Managed to reproduce this on my phone, but not on my (Wi-Fi only) iPad; looks like it's related to switching _between_ networks (cell <--> wifi).

I'm convinced that this happens in the following scenario: We're doing a request on one network, which takes some time (Network Link Conditioner helps here to prolong the time a request takes). Then, we're switching to another network mode, which trigge

[2015-10-27 11:13] kkaefer commented on #1837
I'm attributing this crash to https://github.com/mapbox/mapbox-gl-native/pull/2123. Please reopen if you continue to observe this issue after #2123 is merged.

[2015-10-27 11:13] #1837 closed

[2015-10-27 11:13] kkaefer commented on #2417
I'm attributing this crash to https://github.com/mapbox/mapbox-gl-native/pull/2123. Please reopen if you continue to observe this issue after #2123 is merged.

[2015-10-27 11:13] #2417 closed

[2015-10-27 11:51] kkaefer commented on #1975
I'm having trouble reproducing this at all on my iPhone 6; I added a `CADisplayLink` to the iOS test app and am setting location and zoom level. I'm getting a consistent 60 fps in all cases (only zoom, only pan, etc.).

[2015-10-27 12:03] tomtaylor commented on #1975
@kkaefer have you tried touching the scrubber view at the bottom of the map? This will zoom into a position on the route, and it's at that point the CADisplayLink drives the map, and you see the performance fall off.

[2015-10-27 12:07] Vecherkin commented on #1987
@tmcw At the moment all works fine.

[2015-10-27 12:21] tobrun commented on #2797
This ticket is almost complete, will wait to PR this until #2813 has been resolved.
Currently no able to do proper testing.

[2015-10-27 12:27] Zakay commented on #2681
Has something been updated these last couple of days in the underlying code for this issue? I just merged from upstream, and I still haven't been able to reproduce the bug which I was able to 100% of the times before. I'm going to keep on testing, if I'm not able to reproduce it by the end of the day, then this issue can be closed.

[2015-10-27 12:39] tobrun commented on #2224
Picking this up again,
My initial idea that we need to limit overriding resources was incorrect.
I don't see any objections for adding this.

Currently only seeing the benefits of this:
 - lowering memory footprint at startup time.
 - moving ui code out the MapView class and into a layout xml file.

[2015-10-27 13:19] tobrun opened #2814 "Removing mContext from MapView"
View class already exposes getContext() which is set when using the super constructor.
Only one occurrence of direct field access must be replaced with a getter instead.

[2015-10-27 13:19] tobrun commented on #2814
I will pick this up with #2224

[2015-10-27 13:29] ljbade commented on #2813
Interesting, might need to check for `EGL_NO_DISPLAY`

[2015-10-27 13:42] LuisBotero commented on #2802
@ljbade I'm still having the same problem, the map is not displayed, I tried with versions 2.1.0 and 2.2.0 of MapBox and none have worked for me.
I need to do something extra in my code?

[2015-10-27 13:54] bleege commented on #2812
Thanks for the suggestion @svendroid!  Yes, @tobrun is correct about this.  We'll consider adding it in a future release.

[2015-10-27 14:00] #2813 closed

[2015-10-27 14:12] bleege commented on #2801
@ljbade In cases like this we have 2 options:

1. No-op and log
1. Throw Exception

The difference was the way this was originally implemented it was a runtime exception (note: not a RuntimeException) that crashed the app because the the `setCenterCoordinate()` method did not contain  `throws Exception` in it's method signature.  This prevents calling code from knowing that it needs to call this w

[2015-10-27 14:30] tobrun commented on #2801
@bleege
could you verify that you are overriding the correct `onSaveInstanceState` of Activity?
I have made that mistake and was given me the same exception as this issue.
Maybe I will add MapActivity later to the SDK as documented in (#2616)

[2015-10-27 14:32] tobrun commented on #2801
@bleege just verified that you are not calling `onSaveInstanceState`
We need to adjust `onCreate` of MapVie` to check if the bundle contains MapView keys.

[2015-10-27 14:37] tobrun opened #2816 "Check if savedInstanceState bundle contains MapView keys"
To make the MapView class a bit more robust, we should check if the bundle from `onCreate` contains  any MapView keys before trying to load them. This will prevent the app from crashing as in #2801 and will result in ignoring saved state in case that the end developer has not called the onSaveInstanceState method.

[2015-10-27 14:44] tobrun commented on #2802
@LuisBotero:
@ljbade indicated building from source. A new SNAPSHOT, that you can use as a gradle dependency, will be released later today. Would be awesome if you could test again with that. Will ping you if that SNAPSHOT lands.

[2015-10-27 14:54] fcarello commented on #2763
@tobrun Sure. Just let me know. Thanks for your great support guys!

[2015-10-27 15:06] friedbunny commented on #2793
Definitely thanks for the detailed report. If #2617 didn't get this crash, #2123 may have.

[2015-10-27 15:22] friedbunny commented on #2793
Incidentally, I believe this is a duplicate of #2417, which @kkaefer closed as fixed by #2123. Please reopen if you continue to see this crash after updating, @clearbrian.

[2015-10-27 15:22] #2793 closed

[2015-10-27 15:46] friedbunny commented on #2681
This may have been addressed by #2617.

[2015-10-27 15:58] bleege opened #2817 "Test Results For Emulator Crashes"
The TestApp was crashing due to issues with OpenGL in #2807 and #2813.  Once the issues were addressed we tested them to make sure.  The source is from `master` as of 43dde0f204ac770feae0ef22c7a4ea67585deb12.  The tests were conducted on x86 emulators running stock Android APIs.  The tests passed on all emulators except for API 15 (Ice Cream Sandwich).  @tobrun was able to successfully test it on

[2015-10-27 15:59] jfirebaugh opened #2818 "update variant"
mapbox-gl-native should get https://github.com/mapbox/variant/commit/39a631394e185f527159164c8b0fffae755b8512.

[2015-10-27 16:12] bleege commented on #2817
Here's the API 15 (Ice Cream Sandwich) successful test using an [ICOO D50 tablet](http://www.dx.com/p/icoo-d50-7-0-capacitive-screen-android-4-0-tablet-w-g-sensor-camera-wi-fi-external-3g-white-136992#.Vi-f46IQ408) from @tobrun.

![device-2015-10-27-170817](https://cloud.githubusercontent.com/assets/989928/10764316/883ae558-7c9b-11e5-8ac8-4e688dd5b63a.png)

[2015-10-27 16:30] friedbunny commented on #1658
We think that #2123 fixes this — please let us know if you see this crash again.

[2015-10-27 16:30] #1658 closed

[2015-10-27 16:43] jfirebaugh commented on #2808
Something changed here recently. I don't recall ever seeing this, or if it happened it was uncommon. Now it happens very frequently.

[2015-10-27 16:47] jfirebaugh opened #2819 "crash in SpriteTest.LoadingFail"
https://travis-ci.org/mapbox/mapbox-gl-native/jobs/87673343

[code]

[2015-10-27 16:48] jfirebaugh commented on #2819
Another job in the same build hung in the same suite:

https://travis-ci.org/mapbox/mapbox-gl-native/jobs/87673344

[2015-10-27 16:49] jfirebaugh commented on #2819
A third job in the same build crashed in HTTP tests:

[code]

https://travis-ci.org/mapbox/mapbox-gl-native/jobs/87673345

[2015-10-27 16:50] bleege commented on #2817
I just published a new `2.2.0-SNAPSHOT` based on the same commit from `master` used in the tests above.  Will leave this issue open for a few days to let people test.

For instructions on how to install a SNAPSHOT version of the Android SDK please see https://www.mapbox.com/android-sdk/#gradle

[2015-10-27 16:54] bleege commented on #2802
@LuisBotero We just released a new SNAPSHOT from our testing in #2817.  Please feel free to give it a shot to make sure we were able to solve the problem.  Instructions on how to install it are available at https://www.mapbox.com/android-sdk/#gradle.

Thanks again for reporting this issue and for using the SDK!

[2015-10-27 17:02] kkaefer opened #2820 "Place symbols in correct order"
As a regression from #2617 (see https://github.com/mapbox/mapbox-gl-native/pull/2617/files#r43035678), we no longer respect the order of placement during the initial parse step. Parsing order doesn't matter, but as part of the parse step, we're also placing labels.

We could either make sure that we stop placing labels after a symbol layer wasn't parsed yet, or stop parsing layers after a symbol l

[2015-10-27 17:23] miccolis opened #2821 "Rendering differences in still images"
When rendering several dozen still images a second I can pretty reliably trigger differences/bugs in the output. For example, missing lables, labels that are faded (prehaps related to #2264)and missing patterns.

For random captures are below - all slightly different.

<img width="727" alt="screen shot 2015-10-27 at 1 17 11 pm" src="https://cloud.githubusercontent.com/assets/77205/10766358/91563f7

[2015-10-27 17:28] mikemorris commented on #2821
I think this may be related to calling [`view.readStillImage()`](https://github.com/mapbox/mapbox-gl-native/blob/master/src/mbgl/map/map_context.cpp#L245-L248) before kicking off [async transitions and animations](https://github.com/mapbox/mapbox-gl-native/blob/master/src/mbgl/map/map_context.cpp#L252-L260).

/cc @brunoabinader

[2015-10-27 17:46] incanus opened #2822 "write iOS metrics tests"
Refs https://github.com/mapbox/mapbox-gl-native/commit/1421755434963cd4a35e7a4f757bf400f90528b7 and https://github.com/mapbox/mapbox-gl-native/pull/2769.

[2015-10-27 17:47] incanus opened #2823 "write iOS heading tests"
Refs https://github.com/mapbox/mapbox-gl-native/commit/48d6d039ed8a42891bd591d7eab34de7e1d3dec4 and https://github.com/mapbox/mapbox-gl-native/pull/2769.

[2015-10-27 17:59] joecacc commented on #2773
@ljbade - I'll try to link you up with someone here in Boulder who can maybe help

[2015-10-27 18:30] mikemorris commented on #828
After setting `-fvsibility=hidden` all over in https://github.com/mapbox/mapbox-gl-native/pull/2584, enabling dynamically-linked builds may require prefacing more methods with `MBGL_PUBLIC`.

[2015-10-27 18:43] incanus commented on #1688
@jfirebaugh Does this relate to your annotation work and/or is it on the near-term roadmap now that #2617 has landed?

[2015-10-27 18:47] bsudekum commented on #250
I'm seeing a lot of errors coming up from tiles generated in [tippecanoe](https://github.com/mapbox/tippecanoe) as the default setting is not 4096.

@kkaefer has there been any headway on this issue?

[2015-10-27 18:55] jfirebaugh commented on #1688
I don't have plans to investigate this in the near future. I think @kkaefer may be planning to as a followup to #2617.

[2015-10-27 19:04] tobrun commented on #2763
@fcarello new SNAPSHOT was released.

Install instructions can be found [here](https://www.mapbox.com/android-sdk/#gradle)
If that doesn't help, could you compare your code with this [Activity](https://github.com/mapbox/mapbox-gl-native/blob/f3ffb45cf6adbdca375217c645eb455ff47991ec/android/MapboxGLAndroidSDKTestApp/src/main/java/com/mapbox/mapboxsdk/testapp/PolylineActivity.java)?

[2015-10-27 19:25] incanus commented on #1975
Just for future reference: https://github.com/mapbox/mapbox-gl-native/compare/v0.5.2...v0.5.3

[2015-10-27 19:35] kkaefer commented on #250
No

[2015-10-27 19:44] 1ec5 opened #2825 "Catch C++ exceptions before returning to JNI"
Per #2804, the Android SDK suffers from a native crash any time there’s an uncaught C++ exception at the mbgl level. An uncaught exception there usually indicates developer error, so the Android SDK needs to present that error in a way that’s actionable without spelunking into mbgl code. The Android bindings cannot rely on an assumption that the C++ code won’t throw exceptions.

platform/android/j

[2015-10-27 20:36] jfirebaugh commented on #2819
Got debug backtraces for the HTTPReading crash:

[code]

[2015-10-27 20:40] jfirebaugh opened #2826 "remove request deduplication from DefaultFileSource"
Deduplicating concurrent requests for the same URL adds complexity to the implementation, but it's probably very rare for the exact same URL to be requested twice at the same moment.

[2015-10-27 20:45] #2799 closed

[2015-10-27 20:48] bleege commented on #2762
Cool!  Thanks for the links @ljbade!  Makes remembering what was done much easier.  :+1:

[2015-10-27 20:49] jfirebaugh opened #2827 "FileSource::request should return an owned pointer"
Ownership of the resulting `Request` should belong to the caller. Releasing the `Request` should cancel it.

[2015-10-27 20:50] tmcw opened #2828 "Document node.js bindings with JSDoc"
This worked well for [node-mapnik](http://mapnik.org/node-mapnik/documentation/) - we should use JSDoc to improve our API docs for the mapbox-gl-native bindings.

[2015-10-27 20:51] mikemorris commented on #2828
Ooh, this looks nice.

[2015-10-27 20:52] bleege commented on #2224
:+1:

[2015-10-27 21:05] cowgp commented on #2167
@incanus is there a roadmap plan for when MGLCircle will be implemented?   Trying to update from the old "RMMapView" based SDK and the lack of replacement for an RMCircle is blocking me.

[2015-10-27 21:15] mikemorris commented on #2620
@picciano We're updating docs in https://github.com/mapbox/mapbox-gl-native/pull/2622 to note that libtool and automake may be needed to build from source on platforms where mason binaries are not available.

[2015-10-27 21:15] #2620 closed

[2015-10-27 21:22] jfirebaugh commented on #2819
I'm able to reproduce this in a 12.04 VM. Valgrind says:

[code]

[2015-10-27 21:41] LuisBotero commented on #2802
@bleege I'm still having trouble running my code. The map still shows black screen on my phone and the AVD stops working when I run my application with the map.

This is my build.gradle
![buildg](https://cloud.githubusercontent.com/assets/12969249/10772682/4918e3dc-7cc5-11e5-9e7d-2a2412cf2517.png)

This is what I get in my xml
![xml](https://cloud.githubusercontent.com/assets/12969249/10772773/a44

[2015-10-27 22:19] ljbade commented on #2817
The reason API <16 emulators fail to load our app, is that they do not support "Use host GPU" option, thus they fall back to software based OpenGL 1.0 simulator. We need OpenGL 2.0 which is only available via "Use host GPU"

[2015-10-27 22:20] ljbade commented on #2817
Hopefully cloud device testing will make it easier to cover this hole.

In the meantime I have a second hand Galaxy Nexus arriving later this week that I can load with API 15 for testing.

[2015-10-27 22:27] ljbade commented on #2809
@tobrun Nice work! It's always good to have everyone here at least try some JNI to understand the pain and complexity it adds over say iOS.

[2015-10-27 22:32] ljbade commented on #2812
Yeah we currently don't support dotted polylines in the core C++ annotations API. However the GL renderer can do it (since it used in map styles).

@incanus Do you know what plans there are to expand annotation styling? A few ideas:
- polyline and polygon dotted lines
- polygon stroke width
- alpha on markers
- z index
- polygon holes

[2015-10-27 22:38] ljbade commented on #2801
@tobrun @bleege Yeah that sounds like the root cause. You need to call `onSaveInstanceState` as explicitly written in the Javadoc. Google Maps API has same thing but perhaps they check for missing instance state... You will find the app has a bug where rotating the screen loses the current map position (since that is done via save instance state)

The reason I added a null exception throw was that

[2015-10-27 22:42] ljbade commented on #2773
I just realised I forgot to put the PR (https://github.com/mapbox/mapbox-gl-native/pull/2680) in ^ where I first encountered the issue.

[2015-10-27 22:43] ljbade commented on #2773
@joecacc Thanks!

[2015-10-27 22:52] ljbade commented on #2825
As discussed in slack a wrinkle with `nativeSetStyleURL` is that the invalid style URL error will be thrown from the map thread, not the UI thread, so adding a catch to `nativeSetStyleURL` will not work.

Instead we can take advantage of how Java checking JNI thrown Java exceptions. If we convert exception to Java exception in the map thread instead of killing the thread. Then when we next call in

[2015-10-27 22:53] ljbade commented on #2825
@1ec5 Historic context on my previous attempt at C++ exception handling:
https://github.com/mapbox/mapbox-gl-native/issues/562

[2015-10-27 22:55] ljbade commented on #2224
Now that we re-factored CompassView and UserLocationView into proper View classes this should be easier.

[2015-10-27 22:55] ljbade commented on #2224
Now that we re-factored CompassView and UserLocationView into proper View classes this should be easier.

[2015-10-27 22:58] ljbade opened #2830 "NullPointerException in Android studio layout designer"
From https://github.com/mapbox/mapbox-gl-native/issues/2802

![](https://cloud.githubusercontent.com/assets/12969249/10772773/a44e3a90-7cc5-11e5-92ea-7591a6e55c39.png)

Fix here is to check for layout editor mode in `onDraw`

[2015-10-27 23:00] tobrun commented on #2802
@LuisBotero

Thank you for sharing your code,
I have created a separate project to test this in,
I copied your code and loaded it up on a nexus 5 emulator running 4.2.2:

![screen shot 2015-10-27 at 23 44 59](https://cloud.githubusercontent.com/assets/2151639/10774992/3e0a5f3a-7d05-11e5-813b-20fd4241a0d0.png)

It seems that your Gradle is not using the newer version of the SNAPSHOT but rather a ca

[2015-10-27 23:00] ljbade commented on #2802
@LuisBotero I created an issue for the layout editor bug in https://github.com/mapbox/mapbox-gl-native/issues/2830

What happens if you move `mapView.onCreate()` above the `mapView.set...` lines?

[2015-10-27 23:07] ljbade opened #2831 "Replace @NonNull NullPointerExceptions with warning logs"
Following from https://github.com/mapbox/mapbox-gl-native/issues/2801#issuecomment-151665632

I'm going to continue and replace all runtime `NullPointerExceptions` in `MapView` with warning logs.

This is similar to how Android SDK handles `@NonNull` annotation. They just let the code crash naturally where ever something first encounters a `null` that should not have been passed.

/cc @bleege @tob

[2015-10-27 23:10] ljbade commented on #2801
Createed downstream ticket https://github.com/mapbox/mapbox-android-demo/issues/38

[2015-10-27 23:12] jfirebaugh commented on #2819
The vtable for the `DefaultFileSource` is being corrupted. Using a watchpoint, I was able to tell where:

[code]

Possibly a libuv header / library mismatch or something. I'm going to try bisecting.

[2015-10-27 23:15] mikemorris commented on #2819
I was seeing a libuv header mismatch in https://github.com/mapbox/mapbox-gl-native/pull/2688 if that's relevant.

[2015-10-27 23:19] ljbade commented on #2814
Good catch.

[2015-10-27 23:20] ljbade commented on #2816
The bundle functions do allow a default value for missing keys. I am going to look at this.

[2015-10-27 23:37] jfirebaugh commented on #2812
We don't have plans to expand annotation styling per se. Instead, we're going to build out an API to the style itself -- https://github.com/mapbox/mapbox-gl-native/issues/837.

[2015-10-27 23:45] ljbade commented on #2830
Added some checks but doesn't seem to make a difference...

Going to clean and rebuild.

[2015-10-27 23:47] adam-mapbox commented on #1975
So, there's kind of two seperate things going on here, the zoom bug that I found, and the original bug, which is affecting Tom's code.  For the second, I ran a bisect between 0.5.2 and 0.5.3 and found the magic commit:

https://github.com/mapbox/mapbox-gl-native/commit/0753aad57bef0eec51ce7ca748c19ebc588bd995

[2015-10-27 23:49] jfirebaugh commented on #1975
@adam-mapbox Can you describe what the difference is between the zoom bug that you found and the original bug?

[2015-10-27 23:53] adam-mapbox commented on #1975
Yes, I can.  One difference: in the original bug, only panning is involved/required.  In the bug I found, you have to zoom.  Another difference: in the bug I found, performing the same operation multiple times didn't help.  In the case of the original bug, it does, things smooth out. The two issues could still very well be related and/or have the same root cause, however.

[2015-10-27 23:53] jfirebaugh commented on #2819
Bisect lands on 32c0fb468f21a4ee9fc606d4536c3687c3412b7d.

[2015-10-27 23:54] bleege commented on #2817
Thanks for clarifying the API < 16 emulators @ljbade!  That's super useful to know.

[2015-10-27 23:59] bleege commented on #2802
@LuisBotero Thanks for testing it out.  A couple of things to try:

1. Swap the line order of `mavenCentral()` and `maven { url: ""}`
1. Try is to do a force update of the Gradle dependency in the command line while Android Studio is closed and then reopen it so that Android Studio picks up all the changes.  I know that's kinda lame, but I've noticed this before.

To force dependency updates:

[co

[2015-10-28 00:04] ljbade commented on #2830
That worked. Making PR.

[2015-10-28 00:05] incanus commented on #2812
Also refs https://github.com/mapbox/mapbox-gl-native/issues/1734.

[2015-10-28 00:05] #2812 closed

[2015-10-28 00:06] bleege commented on #2801
Good catch on the `onSaveInstanceState()` @tobrun @ljbade.  :+1:

To clarify about the throwing Exception, it's fine to have methods explicitly throw `NullPointerException` **BUT** they must have `throws NullPointerException` at the end of their method signature so that calling methods know to `try catch` them and can recover without crashing the app.  We want to promote a stable SDK wherever poss

[2015-10-28 00:10] bleege commented on #2831
:+1:

[2015-10-28 00:21] ljbade commented on #2801
Yeah I think we want avoid the developer friction of Throws. Having to wrap every single bit of code in your app with try/catch gets tedious fast.

[2015-10-28 00:22] incanus commented on #2167
Thanks for the ping on this @cowgp. It hasn't been on the roadmap, but thinking this was relatively straightforward, I took a look today in [`2167-MGLCircle`](https://github.com/mapbox/mapbox-gl-native/compare/2167-MGLCircle).

The Cocoa side was pretty easy, but as it turns out, even though we have support for circles in the renderer and styles as of https://github.com/mapbox/mapbox-gl-native/com

[2015-10-28 00:29] #2830 closed

[2015-10-28 01:02] ljbade commented on #2812
And ref https://github.com/mapbox/mapbox-gl-native/issues/1734

[2015-10-28 01:07] ljbade commented on #2825
@1ec5 Should we also open a iOS ticket for iOS exception handling? Will help in https://github.com/mapbox/mapbox-gl-native/issues/2775#issuecomment-150829090

[2015-10-28 01:07] ljbade commented on #2775
As for async style load failures, both iOS and Android are going to implement proper C++ exception handling for this in https://github.com/mapbox/mapbox-gl-native/issues/2825

[2015-10-28 01:09] ljbade commented on #837
Putting note from @jfirebaugh that this style API will replace the annotations API style property functions.

I assume we will provide some sort of function that returns the style API object for a given annotation (or make it function on the annotation object itself). And existing style functions will be forwarded to the new API and deprecated.

[2015-10-28 01:11] ljbade commented on #1734
This ticket is superseeded by https://github.com/mapbox/mapbox-gl-native/issues/837 which will allow the full range of style properties.

[2015-10-28 01:11] ljbade commented on #1737
This ticket is superseeded by https://github.com/mapbox/mapbox-gl-native/issues/837 which will allow the full range of style properties.

[2015-10-28 01:20] ljbade commented on #2362
#2451 landed

[2015-10-28 01:20] #2362 closed

[2015-10-28 01:21] jfirebaugh commented on #837
@ljbade No, not exactly. What will happen to the existing annotations API hasn't been decided.

I don't think we'll do this.

We may rewrite the existing iOS and Android annotation API _in terms of_ the Style API. But that's probably the extent of the connection between the two APIs.

[2015-10-28 01:24] ljbade commented on #837
@jfirebaugh How will one style an individual annotation? Generate a unique layer per annotation?

[2015-10-28 01:25] ljbade commented on #2694
I need to time how long it takes to grey out.

[2015-10-28 01:27] jfirebaugh commented on #837
The Style API will not have a concept of "annotations". It will have the concepts of sources, layers, paint properties, and layout properties. And when the style spec supports data-driven styling, so will the Style API.

[2015-10-28 01:32] 1ec5 commented on #2825
@ljbade, once #2762 is fixed, iOS will get such notifications for free.

[2015-10-28 01:35] 1ec5 commented on #2775
@ljbade, #2762 is the most likely way for this to be implemented in iOS, although we could take an approach similar to #2825 to turn exceptions into NSExceptions, which would result in a slightly improved experience. But #2825 is about Android, which needs this much more than iOS right now.

[2015-10-28 01:39] jfirebaugh commented on #2808
@kkaefer Can you please take another look at this tomorrow?

[2015-10-28 01:41] ljbade commented on #2694
Google waits 1 minute.

[2015-10-28 01:44] jfirebaugh commented on #2808
Since still rendering hangs seem to be a recurring problem, we should probably introduce some diagnostic tools. I would probably start with a companion method to `Map::isFullyLoaded` that logs the status of the resource tree. I.e. a resource identifier and whether or not the resource is loaded, for each of the following:

[code]

[2015-10-28 03:13] #2831 closed

[2015-10-28 05:58] tobrun commented on #2816
yeah, but you can't cover all the use cases. If the end developer doesn't override onsaveinstancestate we should just ignore the [whole block](https://github.com/mapbox/mapbox-gl-native/blob/master/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/views/MapView.java#L770)  by checking if bundle contains certain keys.

[2015-10-28 06:59] #2224 closed

[2015-10-28 07:18] 1ec5 commented on #1278
Correction: `MKMapView.showsScale = YES` turns on a persistent scale at the top-left corner.

[2015-10-28 09:20] ljbade opened #2835 "Allow to/fromScreenLocation to reuse objects"
We should provide a version of `to`/`fromScreenLocation` that reuses `RectF`/`LatLng` objects. This will reduce object allocations in high traffic code involving touch screen and drawing.

For example in `UserLocationView`

[2015-10-28 09:26] ljbade commented on #2816
@tobrun True.  I am thinking we stash a magic key/value and check we get the same value back.

[2015-10-28 09:49] brunoabinader commented on #1975
@adam-mapbox commit 0753aad checks for pending faded property animations to call for another render pass. This is need in cases where we zoom in/out via gestures and causes the labels to get in a _semi-transparent_ state because the fade animation has not finished yet - related issue/pr is #1548.

After that patch, lots of changes related to render pass triggering happened. I wonder if the same is

[2015-10-28 10:11] #2694 closed

[2015-10-28 10:45] altafrm3d opened #2837 "Add zoom events"
Add something like onZoom() event for Mapview like there is a MapListener in the other version of MapBoxSdk for android, thanks.

[2015-10-28 10:53] altafrm3d commented on #2837
would somebody be kind enough to label it as a new feature request for android version of mapbox gl native? thanks.

[2015-10-28 11:13] ljbade commented on #2837
/cc @tobrun

[2015-10-28 11:14] ljbade opened #2838 "Update test app icon"
Copy in updated app icon from Sirius.

[2015-10-28 11:31] ernest95 commented on #2802
I have same issue.bleege, tried your instructions but no luck.

[2015-10-28 11:33] #2797 closed

[2015-10-28 11:51] tobrun commented on #2835
:+1:

[2015-10-28 11:51] #2838 closed

[2015-10-28 11:52] tobrun commented on #2814
closing hence #2224 landed

[2015-10-28 11:52] #2814 closed

[2015-10-28 12:03] tobrun commented on #2658
:+1:

[2015-10-28 12:21] tobrun commented on #2443
@bleege I have been looking at integrating this in `gradle` but having no succes,
solution in link above is not working and googling for this only returns checkstyle setup.

[2015-10-28 13:47] bleege commented on #2825
The joys of living in an all C++ world.  :smiley:

[2015-10-28 13:48] franckt opened #2840 "Filtering features at runtime"
Hi,

We are working on a outdoor / indoor offline rendering project based on mapbox gl native for IOS and Adnroid,

Offline works in our prototype by using locally extracted vector tiles served by a local http server

Our vector tiles contains "buildingpart:floor=<floorlevel>" tags to specify the floor of features (rooms, walls, ...)

We search how and where in source code to implement a runtime f

[2015-10-28 14:50] #2695 closed

[2015-10-28 14:53] tmcw commented on #2007
:+1: thx for the context, looks like we're using keep-alive where appropriate already

[2015-10-28 14:53] #2007 closed

[2015-10-28 14:54] tmcw commented on #1961
Closing: please reopen if you've installed boost and still encounter this issue.

[2015-10-28 14:54] #1961 closed

[2015-10-28 14:59] tmcw commented on #1677
I can take a stab at this - I wrote the homebrew formula for tippecanoe recently and as long as our dependencies are homebrew-installable this should be possible.

That said, @brunoabinader to support the goal of having mapbox-gl-native installable as a _library_, I'd expect there to be a `make install` task in the project and existing docs for how to use it as a library. That would have to come f

[2015-10-28 15:04] tmcw opened #2841 "Versioning: how does it work?"
mapbox-gl-native has a bunch of node-style tags

[code]

But also tags prefixed with ios, android, and node

[code]

How does this work? For instance, if I implement the [homebrew formula](https://github.com/mapbox/mapbox-gl-native/issues/1677), what kind of tag should it use to grab a tarball of source?

[2015-10-28 15:10] tmcw commented on #1677
Draft: https://github.com/Homebrew/homebrew/compare/master...mapbox:mapbox-gl-native?expand=1

[2015-10-28 15:12] bleege commented on #2802
@LuisBotero @ernest95 Thanks for trying to test the SNAPSHOT.  I created a simple app (see link below) that shows how to add the SNAPSHOT to an app.  Hopefully this helps!

https://github.com/bleege/MapboxSnapshot

[2015-10-28 15:32] mikemorris commented on #2841
The platform tags follow semver WRT the public API for that platform. The core tags roughly follow semver for the core C++ API (which is consumed by the platform bindings).

[2015-10-28 15:59] kkaefer opened #2842 "Fix test server startup"
With node 4.x the server startup fails with:

[code]

[2015-10-28 16:33] jfirebaugh commented on #1975
Next step here is to determine _why_ the addition of `painter->needsAnimation()` triggers jankiness.

[2015-10-28 16:57] kkaefer commented on #2808
I tried VMWare Fusion and VirtualBox and was unable to reproduce this issue anywhere.

[2015-10-28 17:00] jfirebaugh commented on #2841
Currently, we are versioning the three SDK platforms -- iOS, Android, and node -- independently. We don't have a versioning system or release process for GL core as an independent C++ library. I believe the platformless tags like `v0.5.2` are actually old iOS versions from a time when iOS was the only SDK getting released out of this repository (Android wasn't released yet, node was in a separate

[2015-10-28 17:13] jfirebaugh commented on #2840
Good question. Dynamic data filtering is not something that's currently supported in mapbox-gl-native. It's a feature that will be enabled by the [Style API](https://github.com/mapbox/mapbox-gl-native/issues/837), currently in development.

[2015-10-28 17:13] #2840 closed

[2015-10-28 17:27] fcarello commented on #2763
@tobrun Hey there. I managed to integrate the snapshot. After some teste I realized two things: The polyline adding/removal issue was my fault :/ The good thing is that your example code led me to the solution. So great support on that! The second thing I noticed is that you refactored the way to use custom marker icons. Using a bitmap (which I need to create at runtime, as the color changes accor

[2015-10-28 17:56] tobrun commented on #2763
@fcarello Cool that you were able to resolve your issue!
I believe it is currently not possible to update the bitmap dynamically.
I will need loop in @ljbade to verify this.
If that is the case we should open a feature request for it.

Closing the issue for now, hence the problem is resolved.

[2015-10-28 17:56] #2763 closed

[2015-10-28 17:58] incanus opened #2843 "add [skip ci] obedience to Bitrise iOS"

[2015-10-28 17:59] incanus opened #2844 "replicate iOS release build process on Bitrise"

[2015-10-28 18:01] tobrun commented on #2537
Yeah we could definitely add one. Would make it easier to test on emulator.
I have a Android USB stick laying around here somewhere.
@ljbade what are those ZoomControls @mb12 is talking about?

[2015-10-28 18:02] tobrun commented on #2364
That would be awesome! super excited about that feature

[2015-10-28 18:05] friedbunny commented on #2843
Also `[ci skip]` and `[DON'T EVEN THINK ABOUT IT CI]`.

[2015-10-28 18:33] franckt commented on #2840
ok,
is there a branch that can be used for testing what we want to do ?
have you got a roadmap on this feature, even in alpha stage ?

[2015-10-28 18:51] #1781 closed

[2015-10-28 19:16] #2587 closed

[2015-10-28 19:27] jfirebaugh commented on #2808
https://travis-ci.org/mapbox/mapbox-gl-native/builds/87963907

Got debug output. Tiles are getting stuck in the `partial` state.

[code]

[2015-10-28 19:39] tmcw opened #2845 "node-mapbox-gl-native: make ratio optional"
Could we set a default value of 1.0 for the 'ratio' parameter to the Map object instead of requiring it?

[2015-10-28 19:41] tmcw opened #2846 "node-mapbox-gl-native make center [lng, lat]"
We should make the center argument of the node native bindings match those of the JavaScript API

[2015-10-28 19:50] bleege opened #2847 "Release Android 2.2.0"
It's been just [a week since the original 2.1.0 release](https://github.com/mapbox/mapbox-gl-native/issues/2689), but we have all sorts of good stuff that we should get out into the world.

### New Highlights

* [New User Location Dot](https://github.com/mapbox/mapbox-gl-native/issues/2732)
* [Support For Custom Images For Markers](https://github.com/mapbox/mapbox-gl-native/issues/2744)
* [Default

[2015-10-28 20:09] jfirebaugh opened #2849 "rename FileSource::request to FileSource::monitor"
`request` is now a misnomer: this method sets up Expires/Cache-Control based monitoring of the URL and calls the callback repeatedly.

[2015-10-28 20:12] tmcw opened #2850 "node example of a request handler"
The mapbox-gl-native module requires a `request` handler that http-requests different kinds of data: this isn't very easy to build. We should provide an example of how this might be implemented with the request module.

[2015-10-28 20:15] jfirebaugh commented on #2850
The README has this.

[2015-10-28 20:15] #2850 closed

[2015-10-28 20:19] mikemorris commented on #2845
Yes, this used to be the case before ratio was moved from `RenderOptions` to the `NodeMap` constructor.

[2015-10-28 21:03] incanus commented on #1975
From chat with @brunoabinader:

[2015-10-28 21:27] bleege commented on #2513
Duplicated in #2802 with work being tracked on that ticket.

[2015-10-28 21:27] #2513 closed

[2015-10-28 21:36] jfirebaugh commented on #2808
As of c0c554e36fd43bfe57ef13fe60f9cd50b5c018fd, annotation ("Live") tiles have a hard time getting out of the `partial` state, because `LiveTileData::parsePending` calls `worker.parseLiveTile`, and never `worker.parsePendingVectorTileLayers`.

In the headless tests, the most common reason for an annotation tile to be pending is that the sprite hasn't been loaded. Once that condition is hit, there'

[2015-10-28 21:49] bleege commented on #2847
FYI @ljbade @tobrun I've moved the milestone of tickets that were associated with commits that landed in `master` since the release branch commit 43dde0f204ac770feae0ef22c7a4ea67585deb12 on 27-Oct-2015.  The commits are still in `master`, but the milestone was changed from `android-v2.2.0` to `android-v2.3.0` as they won't make this release.  Below is a screenshot of the affected commits interming

[2015-10-28 22:23] incanus commented on #2167
@cowgp Sorry, I'm gonna have to say we're going to push this out a ways right now — too many higher priorities. If it was as easy as I had initially guessed, with pure Cocoa API, it would have been easy to rationalize, but increasing the surface area of our annotations API right now is not ideal given the other things we're integrating them with.

Stay tuned; I'd love to get this in, but it's not

[2015-10-28 22:30] jfirebaugh opened #2851 "rethink partial tiles"
The logic around partial tiles is complex and brittle. We need to rethink this, maybe do it in a totally different way.

cc @tmpsantos @kkaefer

[2015-10-28 22:35] jfirebaugh commented on #2808
@tmpsantos I'm going to need to have you look at this. I thought 6cb1f56f621c070c58b8bc52326f63254b899097 would fix it, but it didn't.

[2015-10-28 22:50] cowgp commented on #2167
@incanus - Thanks so much for looking into it, I appreciate the effort.  I do hope it can remain a priority, seems like an important feature from my perspective.  That said, totally understand that this update is all new underpinnings and thus there's a lot to build up.

[2015-10-28 22:52] incanus commented on #2167
@cowgp Depending on if your needs are truly at runtime, you could possibly use the existing support in the style spec for rendering circles in the meantime? https://github.com/mapbox/mapbox-gl-js/issues/1446 shows an example of how this looks in the style. You could also consider mutating the style JSON and custom setting it at runtime as a workaround.

[2015-10-29 00:28] ljbade commented on #2537
@tobrun if you look for `ZoomControls` in `MapView` you will see there are some backup zoom controls added when the device reports as being "one finger" touch only. Which apparently the emulator lies about.

Last time I tested it (well over a year) these zoom controls looked like they were straight from Android 2.0 design wise and hadn't been updated.

We should replace them with our own and add a

[2015-10-29 00:32] ljbade commented on #2847
@bleege Since the switch over from `Marker.setSprite(String)` to `Marker.setIcon(Sprite)` is breaking, should we go to 3.0.0?

[2015-10-29 00:44] ljbade commented on #2763
@fcarello Yes currently there is no way to modify annotations once they are added. We are currently working on refactoring bits of core GL to allow this, so keep an eye out.

A work around is to remove then re-add the annotations, but it can cause some flicker - https://github.com/mapbox/mapbox-gl-native/issues/1688). Hopefully this will be fixed soonish.

[2015-10-29 00:47] kkaefer commented on #2851
What aspect of it is causing problems for you?

[2015-10-29 00:59] jfirebaugh commented on #2851
Our current implementation is [highly stateful](https://github.com/mapbox/mapbox-gl-native/blob/d20bcb07957edc008d452db8ef5c91baa117bce6/src/mbgl/map/tile_data.hpp#L22-L60), and it is difficult to reason about the order or timing of state transitions. This has given rise to pattern of issues where tiles either never finish parsing or are parsed _ad infinitum_:

* https://github.com/mapbox/mapbox-g

[2015-10-29 01:07] zochunhua commented on #2513
Now, the map display normal
![screenshot_2015-10-29-08-55-55](https://cloud.githubusercontent.com/assets/3861966/10807595/46055056-7e1c-11e5-8f3c-b688421942fe.png)

[2015-10-29 01:21] ljbade commented on #2657
Does this still happen?

[2015-10-29 01:31] jfirebaugh opened #2854 "convert all resource loading error handling to std::exception_ptr"
Use `std::exception_ptr` instead of `std::string` to represent errors in:

* TileData::error
* TileData::getError
* TileParseResult

[2015-10-29 02:23] bleege commented on #2513
Awesome!  Thanks for testing @zochunhua!

[2015-10-29 02:44] bleege commented on #2847
@ljbade Can you clarify by what you mean by "breaking"?  Do you mean that `setSprint()` was renamed to `setIcon()`?

[2015-10-29 03:30] ljbade opened #2856 "Try OkHTTP on Android again"
Time to try https://github.com/mapbox/mapbox-gl-native/pull/2033 again and use OkHTTP instead of curl for Android.

Previous blocker for this was https://github.com/mapbox/mapbox-gl-native/issues/2400 which has not been looked at for a while.

Things that might have fixed that crash:
- updating libuv - https://github.com/mapbox/mapbox-gl-native/pull/2609
- refactor in the core GL HTTP code - https

[2015-10-29 03:32] ljbade commented on #2856
We will need to perform extended testing over a period of time as #2400 was a rare and hard to reproduce reliably.

Perhaps a Sirius build with this change included will provide the confidence needed.