[2015-03-05 23:07] 1ec5 commented on #948
iPhone Plus is 3× rather than 2×. Could that be the problem?

[2015-03-05 23:31] friedbunny commented on #948
The Bright style uses a cute wave sprite for the water, so I think this will be #843.

[2015-03-05 23:32] incanus commented on #948
Yep, dupe.

[2015-03-05 23:32] #948 closed

[2015-03-05 23:34] incanus commented on #843
So this also affects the Bright style's water fill pattern. Clearly one approach would be to create `3x` versions in the [sprite sheets](https://github.com/mapbox/mapbox-gl-styles/tree/mb-pages/sprites) but that's not going to scale when we consider [Android goes even higher](https://github.com/mapbox/mapbox-gl-native/issues/907#issuecomment-75867205) and probably will continue to climb.

Since we

[2015-03-05 23:45] jfirebaugh commented on #843
This is the correct approach IMHO. It should support styles without 3x assets (or any particular Nx), picking the best one and scaling it appropriately.

[2015-03-06 00:13] incanus commented on #838
Thanks for digging into this @bleege. As noted before, we want to avoid leaning on `GLKViewController` ideally so that things can go in as a `UIView`, just like MapKit.

Could it be that our `GLKViewDelegate` drawing method-based resize is getting doubled-up somehow with one that is already happening either before or after (or both?) during rotation?

[2015-03-06 00:21] 1ec5 commented on #935
To your left, contours+labels. To your right, just labels:
![contours labels](https://cloud.githubusercontent.com/assets/1231218/6517809/9d44a882-c353-11e4-9a23-cfd015d4cdfd.png) ![labels](https://cloud.githubusercontent.com/assets/1231218/6517810/9d49ba52-c353-11e4-9a8d-5d57d7c31d3b.png)

[2015-03-06 00:23] 1ec5 commented on #935
Here’s what we’re getting out of the style .json: `http://a.tiles.mapbox.com/v4/mapbox.mapbox-terrain-v2/{z}/{x}/{y}.vector.pbf?access_token=…`. The vector glyph zoom level is always one lower than the raster tile zoom level.

[2015-03-06 02:37] bleege commented on #948
Cool.  Thanks for confirming guys!

[2015-03-06 11:44] kkaefer opened #952 "Icons don't work on Android"

[2015-03-06 13:11] robipresotto opened #954 "[iOS] setStyleJSON"
I can not parse the JSON Style by setStyleJSON... (the default style - basic-v7.json)
I'm trying something like that,

- (NSString *)jsonStyleFromFilePath:(NSString *)filePath {

    NSError *deserializingError;
    NSData *content = [[NSData alloc] initWithContentsOfFile:filePath];
    NSString *object = [NSJSONSerialization JSONObjectWithData:content options:NSJSONReadingMutableLeaves error:&des

[2015-03-06 15:48] kkaefer opened #955 "Persist location more frequently"
The Android test app doesn't persist the location across runs. When anything kills the app, the next launch will be back on the world view. Instead, we should persist the location after every change so that we can restore it even when the user killed the app, or the app crashed.

[2015-03-06 18:01] 1ec5 commented on #935
At the initial viewport, `map.getState()` is 14.5. The `TileData`s are being created with z14 for the contours and labels and z15 for the satellite tiles, based on the return value of `Source::getZoom()`.

[2015-03-06 18:09] mb12 commented on #843
If the image data is correctly copied to GPU and UV mapping correctly done, icons should be  rendered using whatever interpolation algorithm(GL_LINEAR/GL_NEAREST) is set up.
Adding @3x,@4x resources or scaling the image in CPU  will just hide the real issue under the rug. This should be no different than scaling 256x256 px raster tiles on higher density devices as far as opengl code is concerned (

[2015-03-06 18:45] incanus commented on #843
When I last looked at this, the problem was related to the `pixel_ratio` currently in play being a factor in figuring out where the pixel offset in the sprite sheet was — i.e. multiplying the JSON-derived offset values by it to figure out where in the `2x` sheet there were. When `3x` is a factor, it overshoots the sheet in most cases and doesn't grab a valid subtexture to upload. So, less a GL iss

[2015-03-06 19:22] bleege commented on #832
Determined that the screenshots were from Sunnyvale, CA with coordinates of 37.38533, -122.01727.

[2015-03-06 19:34] bleege commented on #832
Just tested on iPhone 5s Simulator with the latest from [`master`](https://github.com/mapbox/mapbox-gl-native/commits/9781785ab73e8394e8b92625cc4741952f47955d) and couldn't reproduce this.  Based on gist code above it looks like the original errors where with V6 of the styles while the current code uses V7.  I'll test on an actual device to make sure.

![ios simulator screen shot mar 6 2015 1 24 3

[2015-03-06 19:44] friedbunny commented on #954
One issue here is that `setStyleJSON` takes the JSON as `NSString`, and you can't cast `NSJSONSerialization` to a string (as it's [meant to serialize JSON into an array or dictionary](https://developer.apple.com/library/ios/documentation/Foundation/Reference/NSJSONSerialization_Class/index.html)).

The style API is still being decided and implemented (#927 and so on), but here's a way that current

[2015-03-06 19:50] bleege commented on #832
Just ran the same tests on my iPhone 5s using iOS 8.1.3 and the results are consistent with what the simulator showed.  I'm going to close this issue for now as it looks resolved to me.  If you feel it's not @mb12 please feel free to re-open.  Thanks!

![img_2120](https://cloud.githubusercontent.com/assets/989928/6535054/9b80867e-c407-11e4-8d36-c98af9a958c1.PNG)
![img_2119](https://cloud.githubuse

[2015-03-06 19:50] #832 closed

[2015-03-06 19:53] mb12 commented on #832
Thanks for looking into it.

1.)  I do see the original garbling issue (first screenshot that I added with this bug) inconsistently when switching styles (I've an older git repo).  There are toooooo many issues with Map::start/stop logic that will be addressed by the following. I can verify this once this is merged into master.

https://github.com/mapbox/mapbox-gl-native/pull/879

2.) Can you plea

[2015-03-06 19:56] kkaefer opened #957 "GlyphAtlas needs a better way to keep track of tiles"
The GlyphAtlas currently tracks glyphs by tile ID and removes the glyph if no tile exists that uses the glyph anymore. However, there can be multiple tiles with the same ID, but from different sources. Instead of tracking per ID, we should e.g. use the TileData pointer as a key.

[2015-03-06 19:56] kkaefer commented on #832
@mb12 2) is correct. I opened a ticket for it: #957

[2015-03-06 20:53] ansis commented on #957
A part of the problem in #832 might be that the glyph atlas isn't properly cleaned up when sources are destroyed. In -js, GlyphAtlas is now part of the Style object, so whenever the style changes the atlas is blown away and we start from scratch.

[2015-03-06 21:00] mikemorris opened #958 "Callback in FileCache?"
In [`FileSource`](https://github.com/mapbox/mapbox-gl-native/blob/master/include/mbgl/storage/file_source.hpp#L27-37) we're doing this:
[code]
While in [`FileCache`](https://github.com/mapbox/mapbox-gl-native/blob/master/include/mbgl/storage/file_cache.hpp#L20-L21) the virtual `get` uses `std::unique_ptr` for callbacks:
[code]

- Should we align these to both use `std::unique_ptr`?
- Should we mov

[2015-03-06 22:36] jfirebaugh commented on #756
Per chat, @1ec5 to look at the iOS side of this, porting functionality from the raster iOS SDK.

[2015-03-06 22:39] jfirebaugh commented on #880
Let's wait to try this. Given how long OSX builds tend to be queued on Travis it could end up taking longer overall.

[2015-03-06 22:42] incanus commented on #756
As a first cut, we'll just do this platform-side. Later, we can push state down into the GL map layer.

[2015-03-06 22:44] #919 closed

[2015-03-06 23:16] jfirebaugh opened #959 "normalizeTileURL fails if access_token contains a period"
If passed a URL with an access_token parameter containing a period, the result looks like:

[code]

[2015-03-06 23:17] 1ec5 commented on #959
Whoops, last-minute regression in 8804c47d2736e284bb3d6272a38ecc90797d01f0.

[2015-03-06 23:22] jfirebaugh commented on #733
I believe so. Behavior I see currently is that z13 tiles are displayed for both retina and non-retina devices.

[2015-03-06 23:22] #733 closed

[2015-03-06 23:33] jfirebaugh commented on #507
iOS Beta-relevant tickets are #893 and #928, removing this meta ticket from the milestone.

[2015-03-07 00:37] incanus commented on #756
A good summary of what's involved is anything mentioning `userTracking` in [`RMMapView.m`](https://github.com/mapbox/mapbox-ios-sdk/blob/release/MapView/Map/RMMapView.m). I don't think we should worry about an `MKUserTrackingBarButtonItem` equivalent for now.

[2015-03-07 01:13] mb12 commented on #843
This could be a bug in SpriteAtlas::copy, which copies raw pixels from Sprite.raster to to SpriteAtlas.data.  It just copies raw pixels without taking into account the difference in pixelRatio between the Sprite and the SpriteAtlas.

[2015-03-07 01:18] mb12 opened #961 "SpriteAtlas.width is less than Sprite.Width (Feature or Bug)"
Can someone please comment on whether the following is correct?

1.) SpriteAtlas width is hardcoded to 512
2.) Sprite width for @2x is 752.

I am wondering why this works correctly. Whenever an icon sprite is needed during Symbol Bucket creation, raw pixels are copied from sprite.raster to spriteatlas.data, a dirty flag is set that triggers copy to GPU in map thread.  This works correctly even tho

[2015-03-07 01:27] mb12 commented on #843
SpriteAtlas has a method resize that can be used to make the pixelRatio same as Sprite.pixelRatio. If one does that this bug goes away for iPhone 6 plus (ratio > 2).
This is most likely not the right fix but if confirms that the bug  is in SpriteAtlas::copy.

[2015-03-07 01:52] mb12 commented on #843
I added this in Map::prepare to verify that copy code wasn't correctly handling copying between Sprite to SpriteAtlas. .

    if(state.getPixelRatio() >= 2) {
        spriteAtlas->resize(2);
    }
    else {
        spriteAtlas->resize(1);
    }

[2015-03-07 01:52] #959 closed

[2015-03-07 03:03] mb12 opened #962 "stencil mask overflow."
I've seen this message in Xcode debugger spew sometimes. Not sure if this is a real issue or not.

"stencil mask overflow"

[2015-03-07 07:05] incanus commented on #881
@kkaefer How critical do you think this is? Is this something that we can push from the iOS beta milestone? What is the practical possibility of multi-threaded mutation right now?

[2015-03-07 07:06] incanus commented on #838
@kkaefer Do you have the bandwidth to take a look at this? Any ideas on why it might be happening?

[2015-03-07 07:08] incanus commented on #935
@jfirebaugh I believe you said you were going to take a look at this? Want to self-assign, or just take a peek?

[2015-03-07 08:23] incanus opened #963 "raster tiles blurry"
Possibly related to #924, but raster tiles are blurry on device.

![img_3099](https://cloud.githubusercontent.com/assets/17722/6540671/0170664a-c460-11e4-87eb-889c49ca80cf.PNG)

The tile borders are 2x larger than they should be in debug mode.

![img_3100](https://cloud.githubusercontent.com/assets/17722/6540672/0d930c52-c460-11e4-8a42-75a012a53ce6.PNG)

In addition, sometimes it looks like maybe

[2015-03-07 11:58] kkaefer commented on #961
We are not using the sprite image as in and upload it to the texture. Instead, we use a sprite atlas that only contains the sprite images that are used in the current map view. The coordinates we are using in the GPU buffer are the coordinates in the sprite atlas image, not those from the source image.

[2015-03-07 17:00] gundersen commented on #935
@incanus can we use Mapbox Terrain rather than Mapbox Outdoors in when we launch. Terrain gets us the wins of terrain w/ the wins of Mapbox Streets.

@ajashton what are your thoughts here on the 1 style we should launch in GL w/ the iOS launch?

[2015-03-07 17:25] 1ec5 commented on #963
Interesting. Things look pretty sharp at z13+. Need to see which tiles are actually being fetched.

[2015-03-07 17:33] 1ec5 commented on #963
@yhahn points out that 2× satellite tiles are currently upsampled at low zoom levels. @incanus, please compare with [this online preview](https://www.mapbox.com/mapbox-gl-styles/) and close if you’re satisifed that it isn’t a software issue.

[2015-03-07 19:22] jfirebaugh commented on #843
@kkaefer Can you look at this? @mb12's diagnosis looks correct to me.

[2015-03-08 13:06] kkaefer commented on #881
Not critical for Beta. There are a few other patches (cf235c65926d72d00d2eb1a6ace9f9ab2d701a5c, e00bae4f1c9fed201dd01f641f7849d4178e0e7c, c30bb1a9f80a7a772578d8742e122c013a56202d, e8389d82cdd84d470deb072d82ee9a613cd15df8, 0151fe6c01367ef03a2ff282b90e32dd3785a7c2) in master that alleviate most of this.

[2015-03-08 16:56] mb12 commented on #961
Thank you very much for the explanation.

[2015-03-08 16:56] #961 closed

[2015-03-08 18:09] robipresotto commented on #954
Works like a charm! :+1:
Thank you so much! :)))

Do you know the best way to set the custom sprites?

[2015-03-08 20:04] jfirebaugh commented on #935
The rendering errors (black labels, missing contours) are reproducible on any platform.

9897ae74ecd7a81f250ee791be41fdf20727785c fixes contour rendering. fddd27f6c4b46aa8b164d2a5a97eb35ae3ef4cdc fixes label rendering but I'm not sure if it's correct. @kkaefer?

[2015-03-08 23:55] incanus commented on #928
Ok, setting this down for a  moment and getting some other eyes on it. I have been working alone for a while, probing the limits of my C++ knowledge and leveling-up along the way. @kkaefer @jfirebaugh @ljbade could you take a peek? Also cc'ing @artemp @springmeyer @tmpsantos in case you've got any bandwidth to check this out.

Current status is at https://github.com/mapbox/mapbox-gl-native/compare

[2015-03-09 15:27] #954 closed

[2015-03-09 16:35] incanus commented on #963
Weird. We didn't used to have this problem.

[2015-03-09 16:49] incanus commented on #963
Here's specifically what I'm seeing:

https://dl.dropboxusercontent.com/u/575564/rasterblur.mov

You can see things looking ok at 15, 16, back out to 15, 14, 13, and then 12 looks like crap, as does anything lower-numbered out to 8, when I stop.

This is a retina iPad, so the screen is 768x1024 virtual (1536x2048 actual). However, based on the tile borders, these are 512 raster tiles being shown i

[2015-03-09 17:38] incanus opened #964 "terrain style"
Let's track progress on vector-only terrain style here.

Carrying over @jfirebaugh's last comment in #935:

[2015-03-09 17:38] incanus commented on #935
Splitting vector terrain out to https://github.com/mapbox/mapbox-gl-native/issues/964 to keep this ticket purely raster satellite + vector labels (i.e. "hybrid").

[2015-03-09 17:44] #935 closed

[2015-03-09 18:39] friedbunny commented on #931
@mikemorris Has mapbox/node-fontnik/pull/72 found its way into production yet? The [fontstack request for this glyph range](https://api.tiles.mapbox.com/v4/fontstack/Open%20Sans%20Regular%2c%20Arial%20Unicode%20MS%20Regular/65280-65535.pbf?access_token=pk.eyJ1IjoiZnJpZWRidW5ueSIsImEiOiJUbFBmei1zIn0.lZVQjkwWlc07RS4oEQITqg) still returns `ERROR 500: Internal Server Error`.

[2015-03-09 19:42] picciano commented on #947
I am seeing this too. Which frameworks need to be added?

[2015-03-09 20:12] friedbunny commented on #947
[According to the old docs that haven't quite made it over yet:](https://github.com/mapbox/mapbox-gl-cocoa/blob/f36ee137496c8cf11ab604cacbb63ca645e6741c/dist/README.md)
   - `CoreGraphics.framework`
   - `CoreLocation.framework`
   - `GLKit.framework`
   - `OpenGLES.framework`
   - `SystemConfiguration.framework`
   - `UIKit.framework`
   - `libc++.dylib`
   - `libsqlite3.dylib`
   - `libz.dylib`

[2015-03-09 20:31] picciano commented on #947
Thank you so much. That saved a lot of trial and error.
One more: ImageIO.framework

[2015-03-09 23:03] picciano opened #965 "iOS: Undefined symbols _kUTTypePNG"
I have built the library and created a new project. I added the required libraries, but am getting a build error:

Undefined symbols for architecture x86_64:
  "_kUTTypePNG", referenced from:

I fixed this on the device by including the Imageio.framework, but the simulator build still reports the error.

Any thoughts?

![screen shot 2015-03-09 at 5 02 56 pm](https://cloud.githubusercontent.com/ass

[2015-03-10 00:34] incanus commented on #928
@jfirebaugh has :eyes: on this and we're working through it.

[2015-03-10 02:36] friedbunny commented on #965
It looks like this might be because `MobileCoreServices.framework` isn't linked?

[2015-03-10 02:43] friedbunny commented on #965
The demo app's Build Settings → Linking → Other Linker Flags includes it:

```-lpthread -ldl -framework CoreGraphics -framework CoreLocation -framework ImageIO -framework GLKit -framework MobileCoreServices -framework OpenGLES -framework SystemConfiguration -framework UIKit -framework Foundation -lpthread -ldl -lpthread -ldl -lpthread -ldl -lsqlite3 -lz```

[2015-03-10 03:19] friedbunny opened #967 "Update readme with iOS client library requirements"
[Old mapbox-gl-cocoa readme:](https://github.com/mapbox/mapbox-gl-cocoa/blob/f36ee137496c8cf11ab604cacbb63ca645e6741c/dist/README.md)

- `CoreGraphics.framework`
- `CoreLocation.framework`
- `GLKit.framework`
- `OpenGLES.framework`
- `SystemConfiguration.framework`
- `UIKit.framework`
- `libc++.dylib`
- `libsqlite3.dylib`
- `libz.dylib`

Also necessary:

- `MobileCoreServices.framework`
- `ImageIO

[2015-03-10 03:26] incanus commented on #967
Yes! Thanks for this. Saw one of those comments. I'll get these updated.

[2015-03-10 04:16] donpark opened #968 "sqliteVersionCheck breaks apps"
I had an app in Testflight that ran just fine on iOS 8.1 but crashes consistantly on launch after updating the phone (iPhone 6) to iOS 8.2 (released today). Rebuild the app (using XCode 6.2) fixed the crash but didn't offer any insight into why the app crashed (nothing in the logs). When I debugged the app in iOS 8.1 Simulator, I ran into `sqliteVersionCheck` exception. After commenting out the ve

[2015-03-10 12:30] kkaefer commented on #968
What's happening is that iOS 8.2 updates the included SQLite version to 3.8.4 So far, iOS 7.0 up to iOS 8.1 consistently have used version 3.7.13. When compiling with the 8.2 SDK and running on 8.1 or below, this will result in the version check failing, the same thing will happen the other way around (running a pre SDK 8.2 build on a 8.2 device).

Unfortunately, SQLite doesn't seem to have an ABI

[2015-03-10 12:31] picciano commented on #965
Adding MobileCoreServices fixed it.
Resolved. Thanks.

[2015-03-10 12:31] #965 closed

[2015-03-10 14:48] tmpsantos commented on #613
@ljbade I can take this one as I'm working also on #882

[2015-03-10 17:13] picciano opened #969 "bundledStyleNames inconsistency"
In MGLMapView.mm, the bundledStyleNames method returns an array of filename with the .json extension included. However, the useBundledStyleNamed:(NSString *)styleName expects a filename without the extension.

This makes getting a list of names, selecting one, and call useBundledStyleNamed: more difficult than it needs to be.

I would be happy to make the change, if provided with direction on eith

[2015-03-10 17:14] kkaefer commented on #838
The black on rotation happens when `- (void)glkView:(GLKView *)view drawInRect:(CGRect)rect` is called, but our render thread doesn't have a frame rendered. This means we have to drive rendering from this callback instead of rendering ad libitum on the map thread and then hoping that we get the correct frame swapped. This requires some rearchitecting of the way we trigger updates.

[2015-03-10 17:15] picciano commented on #636
Just confirming this is still an issue as of the latest build.

[2015-03-10 17:20] picciano commented on #969
Related, but styles for iOS are being loaded from the .app  "styles" directory, rather than the MapboxGL.bundle file. The file in MapboxGL.bundle do not appear to be used at all.

[2015-03-10 18:41] mb12 commented on #968
Can we just delete cache.db and recreate it if there is a version check mismatch?

[2015-03-10 19:20] incanus commented on #893
#928 is dead! Back to this issue now, interfacing `GeoJSONVT` with `GeometryTile` and friends.

[2015-03-10 19:56] jfirebaugh commented on #963
The current behavior is expected: for z in the interval [2, 3) we load z2 vector tiles and z3 raster tiles. At z2.0000 you see 512px @2x raster tiles in 256px of virtual space. At z2.9999, you see 512px raster tiles in ~512px of virtual space. Whether we want to change that is being discussed in https://github.com/mapbox/mapbox-gl-js/issues/1030.

[2015-03-10 20:27] kkaefer commented on #968
This won't solve the problem because it's a problem of the library, not the database file

[2015-03-10 21:16] donpark commented on #968
Whatever the right solution is, I have two observations to make:

1. Problems this version check address are **potential** problems.
2. Crashes this version check causes are **real** and happening **now** to all apps embedding mapbox-gl-native with the code.

[2015-03-10 21:56] robipresotto commented on #968
Just set the library target for iOS8.2 and build it!
Works like a charm!

[2015-03-10 22:06] donpark commented on #968
@robipresotto you can either try running that same app on older iOS devices or, faster, read the description of this issue I wrote.

[2015-03-11 00:53] dpletter commented on #968
We removed the version check in platform/default/sqlite3.cpp and tested our app in ios 8.2 and 8.1, and it works in both now.

[2015-03-11 00:56] ljbade commented on #613
Cool @tmpsantos that would be awesome. I found their was a mix of C++ style `cout`/`cerr` and the various C APIs such as `*printf` and a few others.

You will probably want to regex the repo to find them all.

[2015-03-11 00:57] ljbade commented on #613
@jfirebaugh after they have been converted, we will have to make sure everyone knows not to commit code not using the `Log`. I will try to keep an eye on this in PRs.

[2015-03-11 01:05] ljbade commented on #843
I wonder if this is also the cause of https://github.com/mapbox/mapbox-gl-native/issues/888

[2015-03-11 01:54] friedbunny commented on #843
Yup @ljbade, that'll be because of the wave sprite used for Bright's water. Happy to see this sprite issue tracked down, good one @mb12.

[2015-03-11 09:27] ljbade commented on #943
It would be interesting to see how Google and Apple maps behave with bad certificates.

[2015-03-11 09:43] ljbade commented on #955
The Android docs on [persistent state](http://developer.android.com/reference/android/app/Activity.html#SavingPersistentState) point to using  `getPreferences` but this is only available to `Activity` not `View` so we would have to add it to the demo app and not the Android library.

Should the `MapView` handle this or should developers be required to handle this them selves in their own Activitie

[2015-03-11 09:44] ljbade commented on #952
I assume you mean they show up as black boxes like https://github.com/mapbox/mapbox-gl-native/issues/843?

[2015-03-11 11:08] kkaefer commented on #955
Yeah, I see this as a demo app feature, not a library feature.

[2015-03-11 14:15] bleege commented on #955
Agreed.  Mapbox is just supplying Geo Legos here.... how individual developers / apps integrate them within their specific apps is their call.

GLTestApp is a great example of this and will be useful for customers when building their apps.

[2015-03-11 16:15] picciano opened #974 "package_ios.sh is requiring obsolete version of iOS SDK"
The script at scripts/package_ios.sh is set for iOS SDK version 8.1 which is not available in the current version of Xcode. This should probably be updated to 8.2, or better yet, set to use the latest installed version.

[2015-03-11 17:49] 1ec5 commented on #974
Travis [only supports](http://docs.travis-ci.com/user/languages/objective-c/#Supported-OS-X-iOS-SDK-versions) up to iOS 8.1 for now, and local builds should match Travis. As a workaround for now, you can locally apply the one-line change in #975.

cc @incanus

[2015-03-11 18:35] #974 closed

[2015-03-11 18:49] incanus commented on #969
Good call on both points. Re: your question, I think we should provide strings w/o the `.json` extension.

[2015-03-11 19:04] incanus commented on #893
As of e5d8b7823240a649e81e521c27c01f0416f7475b we have GeoJSON fetched from local file, parsed in C++, and added as live tiles to a non-hacky rendering infrastructure.

Next up: figuring out why labels get garbled and not all shapes show up initially.

Video: https://dl.dropboxusercontent.com/u/575564/garble.mp4

[2015-03-11 19:05] bleege opened #978 "Speed Up make android"
Currently `make android` builds both the C++ and Android artifacts.  The Android artifact takes quite a long time to build and it'd improve development if it could be sped up.

The Gradle command used for building the Android artifact is `gradle build` which builds both *debug* and *release* flavors of the Android artifact.  Let's change this to `gradle assembleRelease` so that it only builds the

[2015-03-11 19:11] kkaefer commented on #978
We can just invoke assembleDebug or assembleRelease based on the $(BUILDTYPE) SET inn the Makefile

[2015-03-11 19:34] bleege commented on #978
Changing to `gradle assembleRelease` got the Android compilation down to 51 seconds.

[2015-03-11 19:48] incanus commented on #893
Backlog:

* Garble fix
* Get points to render, not just lines
* Come up with dynamic style layer addition/rearrangement/removal system
  - Layer group within hardcoded style layers
  - Separate layers for each shape overlay (to allow relative (re)ordering
  - Common layer for all point annotations (akin to Maki handling) for proper z-ordering
* API for adding/rearranging/removing annotation layers

[2015-03-11 20:08] mb12 commented on #475
No longer an issue.

[2015-03-11 20:08] #475 closed

[2015-03-11 20:10] mb12 commented on #893
The garbling in the posted video is similar to this issue.

https://github.com/mapbox/mapbox-gl-native/issues/832

[2015-03-11 20:11] incanus commented on #893
`o_O`

[2015-03-11 20:31] bleege commented on #978
Created `make android-project` to mirror the functionality of `make iproj`.  This should be much quicker to build (only compiles Core GL C++) and leaves the local filesystem with a working Android project that can be imported in an IDE.

[2015-03-11 20:35] #978 closed

[2015-03-11 20:49] #968 closed

[2015-03-11 20:59] incanus commented on #877
We've got a ticket for this over in JS in https://github.com/mapbox/mapbox-gl-js/issues/470 but it seems to still be an issue:

![screen shot 2015-03-11 at 1 48 02 pm](https://cloud.githubusercontent.com/assets/17722/6606717/ced43eec-c7f6-11e4-9e01-546b1e0728f7.png)

@kkaefer @ansis @jfirebaugh Any sense of how much work would be involved with this? We will likely also want the ability to temporar

[2015-03-11 21:02] incanus commented on #957
If I'm understanding correctly from https://github.com/mapbox/mapbox-gl-native/issues/832#issuecomment-77624088, the GlyphAtlas could be garbling text because of this. This seems to be in effect anytime there is more than one vector source, which is impacting https://github.com/mapbox/mapbox-gl-native/issues/893 annotations as well.

Adding to iOS beta milestone.

[2015-03-11 22:03] picciano commented on #969
Here is a pull request that removes the file extensions from the bundledStyleNames method. https://github.com/mapbox/mapbox-gl-native/pull/980/files

[2015-03-11 22:04] picciano commented on #969
Here is a pull request that removes the file extensions from the bundledStyleNames method. https://github.com/mapbox/mapbox-gl-native/pull/980/files

[2015-03-11 22:36] incanus opened #981 "create sprite sheet bundling tool"
For the time being, we will need an easy-to-use tool for devs to pre-bundle marker images into a style's sprite sheet, until we allow runtime imagery and even animations for markers (see #877).

We have `./bin/build-sprite.js` from https://github.com/mapbox/mapbox-gl-js#sprite-generation but we should think about distributing a tool in this repo and/or making an easy download of this standalone.

[2015-03-11 22:45] jfirebaugh commented on #981
We should move `build-sprite.js` to mapbox-gl-style-spec, our [soon-to-be-monolithic-again](https://github.com/mapbox/mapbox-gl-style-spec/pull/259) repo for style spec and associated utilities.

[2015-03-11 22:48] incanus commented on #981
Yeah, was almost gonna suggest that. Makes sense to have it there.

[2015-03-11 23:48] incanus commented on #893
Garble issue seems to be related to #957 (triggered by multiple vector sources).

This is related to the center-most tile showing up while the others get locked out via the `GeoJSONVT` mutex.

Points render, but there seems to be a possible porting problem from Swift/JS.

[2015-03-12 09:43] kkaefer opened #982 "Build $(BUILDTYPE) apk file and only upload those"
Fix Android failures on Travis: https://travis-ci.org/mapbox/mapbox-gl-native/builds/54004070

[2015-03-12 12:01] kristfal opened #983 "Native iOS API equivalent of addClass();"
Hello,

first of all, this client has us really excited for the future of mobile maps, really looking forward to the beta release.

A quick question:

We've been working with the javascript client so far (it is pretty awesome), and we're using different style classes, swapping between them on the fly with addClass(). Is the iOS native equivalent API call implemented, if so are they listed anywhere

[2015-03-12 14:32] kkaefer opened #986 "Disable use of secure environment variables in non-organization-member pushes"
Testing pull requests on Travis from non-organization members fails: https://travis-ci.org/mapbox/mapbox-gl-native/builds/54087275

This is because our build script depends on the existence of the secure variables, but they are disabled for pushes originating from other users. We should detect the presence of these variables and skip all parts of the build that requires these.

[2015-03-12 14:43] bleege commented on #978
Refactor completed by @kkaefer in #982.

[2015-03-12 16:15] incanus commented on #963
Confirmed by:

1. Setting starting zoom to an integer.
1. Only using double-tap or two-finger single-tap to zoom, keeping integer zoom.

That things are not blurry when at integer zooms.

I put in my vote over in https://github.com/mapbox/mapbox-gl-js/issues/1030.

[2015-03-12 16:16] friedbunny commented on #983
[This is what it looks like just now](https://github.com/mapbox/mapbox-gl-native/blob/2b6afe6a549284a862d0231653d2183d57a5b496/platform/ios/MGLMapView.mm#L1032-L1048), but I wouldn't expect that to necessarily stay as-is.

[2015-03-12 16:18] incanus commented on #983
That model should stay relatively stable as our styles spec is built around the idea of classes for changes.

[2015-03-12 16:18] #983 closed

[2015-03-12 16:26] 1ec5 commented on #969
Fixed in 28e28934c74b0f8668020de03caf61d65a9c9842 and 4c7939b96eddb53f1700edfaea7abe1fa5b0e886.

[2015-03-12 16:26] #969 closed

[2015-03-12 17:20] jfirebaugh commented on #963
Per scrum discussion, we'll address this in a followup to the initial iOS Beta release.

[2015-03-12 17:21] jfirebaugh commented on #877
Seem like it's time to unbundle this into separate followup tickets and close here.

[2015-03-12 17:39] incanus commented on #957
Keeping this on beta 1 milestone. @jfirebaugh I know you're gonna take a look — this is top of my list for blocking annotations right now.

[2015-03-12 17:40] incanus commented on #877
Yep, agree. I will ticket some off now.

[2015-03-12 17:42] incanus opened #988 "improve z-ordering of annotations"
Related to https://github.com/mapbox/mapbox-gl-js/issues/470, we want annotations to sort in the `z` direction from top to bottom of screen, like Apple's.

![](https://cloud.githubusercontent.com/assets/32314/3320227/535003f4-f728-11e3-98c3-11b70bedfd4b.PNG)

*Not like this*

@jfirebaugh Can you take an initial look at how complicated this will be?

[2015-03-12 17:43] incanus commented on #877
* Data backend is happening in https://github.com/mapbox/mapbox-gl-native/issues/893

* Annotation z-ordering is happening in https://github.com/mapbox/mapbox-gl-native/issues/988

Thus far Cocoa API is meant to work like Apple's, but we may modify that as @1ec5 and I discuss integration steps.

[2015-03-12 17:43] #877 closed

[2015-03-12 17:46] mikemorris opened #989 "clarify platform directory structure"
Due to the current folder structure, it can be quite confusing which files are part of the internal API (virtual classes and such) and which are platform-specific implementations.

- [include/mbgl/storage/default_file_source.hpp](https://github.com/mapbox/mapbox-gl-native/blob/master/include/mbgl/storage/default_file_source.hpp)
- [src/mbgl/storage/default_file_source.cpp](https://github.com/mapbo

[2015-03-12 17:47] incanus opened #990 "get rid of white side bars on device rotation"
Piggybacking off of https://github.com/mapbox/mapbox-gl-native/pull/838's fix in https://github.com/mapbox/mapbox-gl-native/commit/8cc1c00a96d5afe531b33cf3ed62c4ec910ecd75, we should figure out if we need to fake a view snapshot or similar in order to prevent unsightly bars during orientation changes.

Per @bleege this might not be essential.

[2015-03-12 17:48] incanus commented on #935
This will come in in b2.

[2015-03-12 17:50] incanus commented on #990
@bleege Want to take a crack at this?

[2015-03-12 17:54] incanus opened #991 "allow for annotation selection z-order change"
Piggybacking off of https://github.com/mapbox/mapbox-gl-native/issues/988, when you mark an annotation as selected, it should come to the front of the z-order. This is how MapKit behaves. For state tracking, we can do that per-platform (such as determining whether single or multiple selection is allowed), but we need to be able to change individual ordering on demand for the visual component.

Nee

[2015-03-12 17:55] jfirebaugh commented on #989
Agreed. I'm working on this in https://github.com/mapbox/mapbox-gl-native/pull/899 and will get back to it after the iOS Beta release.

[2015-03-12 17:57] jfirebaugh commented on #983
@incanus Is there a reason to use different method names than the native base library (`setAppliedStyleClasses` versus just `setClasses`)?

[2015-03-12 17:58] mikemorris commented on #989
Ack, didn't see that, closing this as a dupe.

[2015-03-12 17:58] #989 closed

[2015-03-12 17:59] incanus commented on #983
Originally something like `setClasses` on a map object felt weird, because of classes in the OOP sense. Getting `style` in there at least seemed wise since we were introducing new ideas of how a map could be affected.

[2015-03-12 18:38] incanus opened #992 "flesh out annotation add/remove client API"
This is the API where platforms (i.e. iOS `MGLMapView` internals) talk to core for manipulating point and shape annotations.

## Points

* Set default point annotation symbol name (so system falls back to e.g. a red filled Mapbox marker)
* Add single point annotation as `LatLng` with optional symbol name (from style sprite sheet) upfront
* Add multiples of same (more performant than individual add

[2015-03-12 20:47] peterqliu commented on #964
First pass: hill shadows have an unintended hairline stroke on iOS

GL on desktop:

![screen shot 2015-03-12 at 1 40 22 pm](https://cloud.githubusercontent.com/assets/4551508/6627806/145c671a-c8be-11e4-8abc-ef1a1f67e9ea.png)

iOS:

![screen shot 2015-03-12 at 1 42 28 pm](https://cloud.githubusercontent.com/assets/4551508/6627815/1ca1c28a-c8be-11e4-87f2-21d30c095569.png)

Terrain also looks blockie

[2015-03-12 20:59] 1ec5 commented on #992
The plan is to have `MGLMapView` track `MGLAnnotationView`s in a dictionary, similar to what I had before 9c46c6c0e2726704f929f9c139c4b3de2b4dfcd9, but using string UUIDs as keys instead of `MGLAnnotation`s. That’ll allow us to support multiple annotations at the same location. Methods such as `-addAnnotation:` and `-addAnnotations:` are well positioned for the C++ API @incanus is creating.

[2015-03-12 21:50] bleege commented on #990
Sure!

[2015-03-12 22:13] ljbade commented on #981
We will also want some documentation/simple tutorial on how to get started work custom markers

[2015-03-12 22:17] ljbade commented on #986
Hmm I recall there is a Travis environment variable that indicated when there are no encrypted variables

[2015-03-12 22:23] ljbade commented on #983
Hmm I am using the same method name on Android too.

`setClasses` does seem more concise and faster to type though. I can't see why people would mix up OOP classes and style classes because the concepts are so different

@bleege do you have an opinion?

[2015-03-12 22:26] incanus commented on #983
I am seeing something in the middle more like `setStyleClasses`.

[2015-03-12 22:27] bleege commented on #990
Should be good to go... waiting on Travis build to Green light it.

[2015-03-12 22:28] 1ec5 commented on #983
In Objective-C and Swift, `setClasses` looks like a setter for a `classes` property, which means `map.classes` and `map.class` return very different things. That’s confusing from a code reviewer standpoint.

[2015-03-12 22:28] incanus commented on #990
Oh wow, it was as simple as this?

[2015-03-12 22:39] #613 closed

[2015-03-12 22:42] bleege commented on #990
Woo hoo Travis just green barred!  Time to merge!

[2015-03-12 23:13] incanus commented on #992
Some brain-dumping on the behind-the-scenes stuff that needs to happen for annotation management.

-

## Storage

* We hold a map of `uuid` to `Annotation` object
  - Better than making `uuid` a member of `Annotation` because we'd otherwise frequently have to `std::find` on `uuid`
  - `Annotation` class
    - `AnnotationType` (Point or Shape)
    - `AnnotationGeometry` (`std::vector<std::vector<Co

[2015-03-12 23:31] incanus opened #996 "propose splitting map subfolder into map & data"
It's getting unwieldy with things since #928 and with work on #893.

![screen shot 2015-03-12 at 4 27 03 pm](https://cloud.githubusercontent.com/assets/17722/6630363/593342a2-c8d5-11e4-970c-b72b124f2f44.png)

I propose moving the following into `<mbgl/data/...>`:

* `*_tile.*` (4)
* `*_tile_data.*` (8)
* `*_tile_parser.*` (4)
* `tile.*` (2)

This would leave in `<mbgl/map/...>`:

* `environment.*`

[2015-03-13 00:42] incanus commented on #992
Misunderstanding of `annotationVisibleRect` above, which is not the rect containing all annotations, but rather is used for viewport animations:

http://stackoverflow.com/questions/8882231/mkmapview-zoom-to-annotations-annotationvisiblerect

The original intention isn't supported directly in MapKit:

It would be obtained with the equivalent of:

[code]

Let's not worry yet about `annotationVisible

[2015-03-13 00:51] jfirebaugh commented on #957
⇢ #995

[2015-03-13 00:51] #957 closed

[2015-03-13 00:52] jfirebaugh commented on #996
Sound fine, but we don't need to do this right now.

[2015-03-13 00:53] jfirebaugh commented on #988
Not critical for Beta 1.

[2015-03-13 00:53] jfirebaugh commented on #991
Not critical for Beta 1.

[2015-03-13 00:56] incanus commented on #991
I think it is — try using Maps.app a bit with 8-10 annotations in overlapping proximity. As you tap the clump, each is selected in rotating order, coming to the front. So there are two things going on here:

* Iteration among nearby point annotations to allow selection without zooming in (maybe not b1 material)
* Bringing the selected annotation to the front

Not having this alters the usability o

[2015-03-13 01:00] incanus commented on #992
Annotations client API coming together as:

[code]

[2015-03-13 01:12] friedbunny commented on #992
What will `reorderPointAnnotations()` do?

[2015-03-13 01:12] incanus commented on #991
Here's an example of what this looks like in our SDK:

![](https://www.mapbox.com/guides/img/pages/ios/markers.png)

(from https://www.mapbox.com/guides/station-finder-part-2/)

This doesn't show the inability to select this annotation because it's obscured, but that would be the case for any near the center of the map.

[2015-03-13 01:14] incanus commented on #992
The idea there is the reversal of `movePointAnnotationToFront()`, to "resettle" them back into their default order per https://github.com/mapbox/mapbox-gl-native/issues/988.

[2015-03-13 01:14] incanus commented on #992
Kind of a way to separate z-ordering from some sort of selection state, because platforms might expect single or multiple state selection, but we should leave it up to them what this means for z-ordering.

[2015-03-13 01:36] #981 closed

[2015-03-13 01:40] friedbunny commented on #992
Ah, I see — the name seems slightly unintuitive to me, but beyond tossing in "zIndex" someplace (meh) I don't have any suggestions.

Would an individual `reorderPointAnnotation(AnnotationID)` be too finicky? Aside from the name, anyway.

[2015-03-13 01:45] friedbunny commented on #992
I guess you'd be getting down to marker z-indices at that point, which I can't really think of pressing use case for.

[2015-03-13 03:54] friedbunny commented on #986
Bottom of http://docs.travis-ci.com/user/environment-variables/

[2015-03-13 05:04] incanus commented on #990
Fixed in #994.

[2015-03-13 05:04] #990 closed

[2015-03-13 08:44] kristfal opened #998 "Text from floating point data rounding error"
Hello,

we're seeing some issues with text rendering in the iOS client. See screenshot bellow of iOS:

![ios simulator screen shot 13 mar 2015 09 24 16](https://cloud.githubusercontent.com/assets/5638107/6635185/267f1582-c963-11e4-8138-7e615cbb66a6.png)

the same place in the js-client:

![screenshot 2015-03-13 09 29 22](https://cloud.githubusercontent.com/assets/5638107/6635215/8418ce86-c963-11e4

[2015-03-13 09:43] kkaefer commented on #996
Agree with @jfirebaugh

[2015-03-13 11:24] kkaefer opened #999 "Order of request notification/cancelation seems undefined"
I'm seeing issues where a canceled request gets first canceled, and then notified. However, the cancel callback actually deletes the Request object, which means the notification will fail.

[2015-03-13 11:35] kkaefer commented on #806
Seeing this too.

[2015-03-13 11:41] kristfal commented on #998
Bit more info on the font bleed issue:

Not only does the font "bleed" but characters may be randomly changed as well:

![ios_simulator_screen_shot_13_mar_2015_10 59 04](https://cloud.githubusercontent.com/assets/5638107/6637711/200f490e-c97e-11e4-93bf-10577fb434a9.png)

The font rendering only overflows at high zoom levels, and the threshold corresponds to the zoom levels where the depth sounding

[2015-03-13 13:56] kkaefer commented on #998
This looks like an issue of #957 for which we have a pull request open in #995

[2015-03-13 14:31] bleege commented on #983
I ALWAYS have opinions!  :-)

But seriously, I think @incanus and @1ec5  are right here.  `setClasses` on it's own seems to me like something that is related to OS level objects like on `NSObject` or `java.lang.Object` rather than something one would expect to see and use in a Map SDK.  I'd be happy with `setStyleClasses` or something like `setMapStyleClasses` just to drive the point home.

I woul

[2015-03-13 14:32] kristfal commented on #998
@kkaefer: Great, I'll let you know and close it if that solves this issue.

But do you still think it will fix the rounding value issue, or is it separate?

[2015-03-13 15:03] incanus commented on #983
Yeah, the fact that Objective-C refers to classes frequently at runtime due to its dynamic nature argues against shortening too much. Let's go with `setStyleClasses`; using `setMapStyleClasses` is redundant when it's performed on a map object.

→ https://github.com/mapbox/mapbox-gl-native/pull/1000

[2015-03-13 15:05] bleege commented on #983
:+1:

[2015-03-13 15:05] kkaefer commented on #999
Fixed in 069505f.

[2015-03-13 15:05] #999 closed

[2015-03-13 16:55] incanus commented on #991
:+1: per offline discussion.

[2015-03-13 16:56] incanus commented on #992
@1ec5 This is in now, at least stubbed out. We'll drop the z-indexing related stuff for now per https://github.com/mapbox/mapbox-gl-native/issues/991#issuecomment-79129530 so this takes care of adds, removes, regions, and basic symbology.

https://github.com/mapbox/mapbox-gl-native/blob/3c04aebf5c0bc7e9dd1da77632faa348ac74d8ce/include/mbgl/map/map.hpp#L143-L152

[2015-03-13 16:57] incanus commented on #992
BTW moving to `uint64_t` tokens for the annotation IDs.

[2015-03-13 16:58] mb12 commented on #991
Is it possible to share what is the approximate date when all checkins for iOS beta1 will be in master repo?

[2015-03-13 17:00] incanus commented on #991
We are shooting for very soon, likely early next week.

[2015-03-13 17:13] incanus commented on #828
Moving to b2... static is ok for b1, including for #829 CocoaPods.

[2015-03-13 17:17] 1ec5 commented on #829
Framework support has been moved to #828. We’re just looking at distributing a static library via CocoaPods for this ticket.

[2015-03-13 17:20] incanus commented on #829
Yep, we'll eventually distribute both, I think? Not sure offhand how CocoaPods 0.36.0 (which *just* went stable) handles this.

[2015-03-13 17:23] 1ec5 commented on #829
I’d prefer to eventually move towards only distributing a framework, because that makes asset distribution easier, and because niceties like inspectables and designables are only possible with frameworks.

[2015-03-13 17:24] incanus commented on #829
But then don't we drop iOS 7?

[2015-03-13 17:47] 1ec5 commented on #829
Yeah, I meant eventually as in someday, when we’re comfortable with dropping iOS 7.

[2015-03-13 17:48] incanus commented on #829
Cool, agree :+1:

[2015-03-13 19:16] jfirebaugh opened #1001 "Crash in RasterBucket::drawRaster"
https://travis-ci.org/mapbox/mapbox-gl-native/jobs/54281077

In headless tests:

[code]

[2015-03-13 19:18] jfirebaugh commented on #1001
Given the stack trace, my guess is this is a bug in llvm or mesa, not our code.

[2015-03-13 20:30] jfirebaugh commented on #1001
Nope, probably memory corruption in our code. Backed out some changes in 0c985c024b4db6c8063648d493830c67ebff50bc.

[2015-03-13 20:30] #1001 closed

[2015-03-13 20:32] jfirebaugh opened #1002 "Move atlas ownership to Style"
This follows gl-js and just makes sense -- whenever the style changes the atlases should be blown away.

See also https://github.com/mapbox/mapbox-gl-native/issues/957#issuecomment-77633687.

This consists of reapplying bffee0715458530c6c86f440f757a4de667278a2, which was reverted in 0c985c024b4db6c8063648d493830c67ebff50bc because it destabilized the build, and figuring out what's causing the cras

[2015-03-13 22:17] mb12 commented on #962
Can you please retag it as iOS? I see this message at times in xcode debugger log when testing with on iPhone 4S running 7.x.

[2015-03-14 03:37] friedbunny commented on #998
Unrelated, but those dashed lines look distorted and too thick on iOS. The red ones particularly. Is that stock OSM, @kristfal? If you can share the location, I'd like to poke around a bit with those lines (and maybe see about the odd rounding).

[2015-03-14 08:07] kristfal commented on #998
@friedbunny It's not stock, all custom data. I can give you access and run you through our findings in detail if you'd like. Here is the overview:

Dashed lines took a hit on both iOS and js when style spec 7 rolled out. It was much more consistent before that. Right now, we're seeing quite different things in Chrome, Safari and on iOS.

Iirc, the best way of spotting this is to do line-cap round,

[2015-03-14 16:02] friedbunny commented on #998
@kristfal I can't speak for the Mapbox folks (who are quite busy!), but personally it'd be worthwhile to see what's happening with the dashes. This may be related to #779 or #780, both of which came around the time of the v7 styles.

[2015-03-14 18:42] mb12 opened #1003 "MGLMapView turns black when returning from another UIViewController."
This consistently reproduces. Here is how to reproduce it.

1. From the UIViewController that hold MGLMapView push a new UIViewController
2. Tap Back

Screen is black after tapping back.

This is what I have tried to figure out the root cause so far. Please note #2 (Issue disappears when breakpoint inserted inside asyncRender callback function).

1.) I tried forcing rerender via Map::update from v

[2015-03-14 18:45] robipresotto commented on #1003
+1

[2015-03-14 18:56] incanus commented on #1003
@kkaefer Do you think this might be related to your recent missing frame fix?

@mb12 @robipresotto Can you see if the situation changes without https://github.com/mapbox/mapbox-gl-native/commit/47ede853c4c0dd8e953f3ee98b807f044d178d76, which fixed the above issue recently?

[2015-03-14 19:07] mb12 commented on #1003
@incanus Forcing rerender via Map::update from UIViewController::viewDidAppear addresses the issue. I will keep on it and let you know if the issue reappears with this change. I think this also explains why putting breakpoint in asyncRender was causing the issue to disappear.

When I had it in viewWillAppear, it wasn't helping until I put a breakpoint in asyncRender. Putting breakPoint in asyncRen

[2015-03-15 06:27] incanus commented on #893
Garble issue fixed in https://github.com/mapbox/mapbox-gl-native/pull/995, porting problems fixed in GeoJSONVT. Currently working on a fast subset of GeoJSONVT features for points (not yet shapes) to shore up client > map > annotation manager > source > tile > renderer pipeline.

[2015-03-15 14:36] robipresotto opened #1004 "Map crash on device (works on simulator)"
Thread 15 name:  Map
Thread 15 Crashed:
0   libsystem_kernel.dylib        	0x0000000196a8f270 __pthread_kill + 8
1   libsystem_pthread.dylib       	0x0000000196b2d16c pthread_kill + 108
2   libsystem_c.dylib             	0x0000000196a06b14 abort + 108
3   libc++abi.dylib               	0x0000000195ac5414 abort_message + 112
4   libc++abi.dylib               	0x0000000195ae4b70 default_terminate_ha

[2015-03-15 14:38] robipresotto commented on #1004
iOS Target: 8.2
Library Version: https://github.com/mapbox/mapbox-gl-native/commit/3bbc82d6a0

[2015-03-15 15:41] incanus commented on #893
Now going from Objective-C loading of a text file of lat/lngs & adding them inside `MGLMapView.mm`:

[code]

To this:

![anigif-1426433987](https://cloud.githubusercontent.com/assets/17722/6656694/ecb65de6-caee-11e4-8387-f1a7a871fd32.gif)

Keep in mind the glyph scrambling issue is fixed in `master`; I still need to merge.

[2015-03-15 23:24] incanus commented on #862
Dupe of https://github.com/mapbox/mapbox-gl-native/issues/250, really.

[2015-03-15 23:24] #862 closed

[2015-03-15 23:45] incanus commented on #893
Next steps:

* [x] Use more realistic sprite image https://github.com/mapbox/mapbox-gl-native/commit/17b9b14379f5ab3b5f77596ec822220c970b83ca
* [ ] Get map to refresh upon addition of annotations without having to change zoom
* [ ] Address annotations in the style object with filter expressions
* [ ] Annotation removal

[2015-03-16 00:18] incanus commented on #893
@kkaefer @ljbade Going to do some experimentation, but I'm looking for a good way to refresh the on-screen tiles, ideally only for one source (my annotations pseudo-source). None of the `Map` public methods are ideal, and the only ones which work are a `stop`/`start` sequence and a `setStyleJSON` of the current, unchanged object, but that's too drastic as it blinks and forces a refresh of all tile

[2015-03-16 00:38] incanus commented on #893
I think something like this:

[code]

Followed by a `map.triggerUpdate()` will work for my needs for annotation tiles. Tiles aren't actually completely cleared but rather are created/stored/deleted by a primary annotation manager which vends them to the annotations `Source` object.

[2015-03-16 00:48] incanus commented on #893
So far, pretty promising.

![anigif-1426466883](https://cloud.githubusercontent.com/assets/17722/6659134/7ffaca46-cb3b-11e4-94a2-1092c056c49e.gif)

[2015-03-16 01:05] mb12 commented on #893
Just a general comment on clearTile method.
Any method that triggers TileData destructor must be called on the mapThread since it contains GL calls (glDeleteBuffers).

2.)

[2015-03-16 01:07] incanus commented on #893
Great catch, thanks @mb12! That's a subtle detail of the normal `Map::updateTiles()` that I had missed thus far.

[2015-03-16 01:10] incanus commented on #893
BTW I'm going with a more conservation tile clearing routine now that only purges tiles affected by a particular annotation update.

[code]

[2015-03-16 01:16] incanus commented on #893
FWIW, the `TileData` destructor only involves `req`, which never exists for my subclass `LiveTileData` used for annotations.

[code]

[2015-03-16 01:33] mb12 commented on #893
LiveTileData must have at least one "Buffer" object to hold vertex attributes such as position, extrude offsets etc. (For. e.g. VectorTileData has 4 buffer objects - IconVertexBuffer etc.).

[2015-03-16 01:41] mb12 commented on #893
Xcode debugger is really good at detecting this error (open gl calls across mutliple threads). Just add a breakpoint for open GL errors.

https://developer.apple.com/library/mac/recipes/xcode_help-breakpoint_navigator/AddinganOpenGLESErrorBreakpoint/AddinganOpenGLESErrorBreakpoint.html

[2015-03-16 01:54] incanus commented on #893
Cool, yeah it is a subclass and inherits all of the `VectorTileData` vertex buffers, since these live tiles are essentially the same sort of data, just decoded (4096-extent "grid values").

Thanks — I'm relatively inexperienced with OpenGL debugging but this will help.

[2015-03-16 04:28] peterqliu commented on #964
@incanus wanna dig in on ^ ? it is the only bug I've found in iOS so far

[2015-03-16 04:46] incanus commented on #964
Ah, sorry, didn't realize this was a renderer bug and not a design issue in progress. I can try to take a look but deep in some other areas, so we'll get it on the table at tomorrow's scrum.

[2015-03-16 07:31] tmpsantos opened #1005 "Test build is broken on Linux"
5e40f72b7cd5fd937ba8b628678cd5122298e8e5 broke the build, reverting it makes it work again.

[code]

[2015-03-16 07:32] tmpsantos commented on #1005
cc @kkaefer

[2015-03-16 08:55] tmpsantos commented on #1005
I have a fix for it.

[2015-03-16 11:10] #1005 closed

[2015-03-16 11:20] kkaefer commented on #1005
Mh weird, wondering why the tests actually passed...

[2015-03-16 16:37] 1ec5 commented on #756
Current status: In the 756-gps-marker branch, I adapted much of the mapbox-ios-sdk implementation but consolidated the drawing code. The delegate methods are still unimplemented, but the user dot is functional now:

![user-dot](https://cloud.githubusercontent.com/assets/1231218/6671017/9b77a4cc-cbbf-11e4-92bb-275c196e6714.png)

[2015-03-16 16:38] #1004 closed

[2015-03-16 17:35] incanus commented on #988
Here's the MapKit-like default algorithm used in our iOS SDK:

https://github.com/mapbox/mapbox-ios-sdk/blob/dd26736adb6c2769accb99bd687509a0119780d6/MapView/Map/RMMapView.m#L3119-L3181

[2015-03-16 18:23] jfirebaugh commented on #964
I can look at this today.

[2015-03-16 18:37] kkaefer commented on #843
This turned out to be a combination of a few issues:

- Sprite objects returned the map's pixelRatio instead of the sprite's. However, we are currently loading either `@1x` or `@2x` assets, so there was a mismatch
- Copying icons from the sprite into the atlas now uses bilinear scaling to scale up to the actual size. Previously, copying from a 2x sprite to a 3x sprite atlas left 1/3 in each dimens

[2015-03-16 18:39] kkaefer opened #1007 "Use bilinear scaling when resizing the entire sprite atlas"
Now that we have it (#843), we should use bilinear scaling when resizing the entire sprite atlas. Resizing the atlas occurs when the user changes the pixelRatio of the Map (e.g. when moving the window from a non-retina screen to a retina screen and vice versa).

[2015-03-16 18:46] kkaefer opened #1008 "Load @3x assets"
Follow up to #843: We should also create and load 3x assets when the pixelRatio is >= 3. This is currently capped to 2x.

[2015-03-16 19:06] incanus commented on #967
Related to getting (at least static) version going over at https://github.com/mapbox/mapbox-gl-native/issues/829.

[2015-03-16 20:39] incanus commented on #893
Ok, once I figured out what was actually happening for point symbology, this proved to be quite easy in https://github.com/mapbox/mapbox-gl-native/commit/b061404.

Now we can do this:

[code]

![anigif-1426538281](https://cloud.githubusercontent.com/assets/17722/6675985/bae34984-cbe1-11e4-990e-c18ab4c995fc.gif)

[2015-03-16 20:47] incanus commented on #992
Work on this is basically wrapped into https://github.com/mapbox/mapbox-gl-native/issues/893, but is progressing. We have point annotation addition and dynamic symbology.

[2015-03-16 20:52] hallahan commented on #584
Whatever happened with this issue? Is there now MBTiles support for Android? Is this done natively? This feature is a requirement for me to use this library as an Android app.

[2015-03-16 20:53] incanus commented on #584
There is not MBTiles support yet in this project. Offline support will be coming in a future release; pretty sure this will include MBTiles.

[2015-03-16 20:55] hallahan commented on #584
Darn, is there a branch this is being tried with? Is this going to be native C++ for all builds? For me, this is the most important feature I need. I'm interested in helping.

[2015-03-16 21:00] incanus commented on #584
There's no movement on it yet, AFAIK. Right now we are sprinting towards a series of iOS beta releases, after which we'll focus on Android and a broader feature set. I would expect it to be in C++, yes, with Java/ObjC bindings.

Happy to take work in a branch, but it just likely won't get many eyeballs during March due to priorities elsewhere.

[2015-03-16 21:50] incanus commented on #893
Going to get annotation removal going next, then kick out a separate PR just for point-based annotations to get that merged sooner rather than later. Right now I'm not actually leveraging `GeoJSONVT` (not needed for points; polygon simplification is the real win there) so I'm gonna bring this over iteratively.

[2015-03-16 21:58] hallahan opened #1010 "Android: Build Fails - cannot find android-21"
I'm attempting to install the latest Android build for MapboxGL. after running `git submodule init` and `git submodule update`, I then run `make android`.

Although I do have Android API 21:

![screenshot 2015-03-16 14 54 01](https://cloud.githubusercontent.com/assets/556367/6677360/726dd1e6-cbec-11e4-8f00-22cbbfbf7491.png)

When running `make android`, I get the following error:

[code]

This was

[2015-03-16 22:12] #967 closed

[2015-03-16 22:43] mourner commented on #893
@incanus btw, I'm working on point filtering in geojson-vt now.

[2015-03-16 22:45] incanus commented on #893
Cool, meaning what exactly? I've always thought that to be removing duplicate point dots on the map if sufficiently overlapping, but that involves knowing about the point imagery?

[2015-03-16 23:05] mourner commented on #893
@incanus Something along the lines of https://github.com/mapbox/hey/issues/3712. We would not look at imagery, but try to reduce density for lower zoom tiles in places where points are too crowded, so that e.g. if we have 100,000 points, we don't have to render 100,000 on z0. Duplicate points filtering is not sufficient, because it's still potentially `(4096 + 64 * 2) ^ 2` = 17.8 million points.

[2015-03-16 23:21] 1ec5 opened #1011 "MGLMapView looks for bundled styles inside styles/ instead of MapboxGL.bundle"
If you follow the setup instructions in the README, you wind up adding a MapboxGL.bundle to your project; a styles/ directory in that bundle contains all the bundled style JSONs. But `MGLMapView` looks for styles/ directly beneath the main bundle, rather than in MapboxGL.bundle.

Previously reported in #852, #969, etc.

[2015-03-17 00:24] ljbade commented on #756
@1ec5 so does iOS maps have the soft-lock thing where the map tracks the marker, until you touch it when it disables the lock? I see Google Maps tracks both rotation and pan locking.

I think there needs to be a bit of a deadzone so an accidental touch doesn't unlock the marker.

[2015-03-17 00:39] ljbade commented on #893
@mourner Yeah point filtering would be great for performance and allow a developer to throw lots of points at the map without having to worry about the performance impact.

@incanus I think you are on the right track with clearing tiles. You want to be able to say - these tiles are dirty, on next redraw, fetch new ones. That way only the tiles that need to be reloaded will be and it will happen as

[2015-03-17 00:59] incanus commented on #893
Ok, point annotation removals now work as of https://github.com/mapbox/mapbox-gl-native/commit/e4da705e3c14f0d158dfcdbf16f69415df2ef8fb. That hits everything up in https://github.com/mapbox/mapbox-gl-native/issues/893#issuecomment-81295365, so I think we can say point features are complete.

Time now to clean, tidy up (e.g. https://github.com/mapbox/mapbox-gl-native/commit/fbd55115b2383d0c5a6d057f

[2015-03-17 01:08] ljbade commented on #998
Hmm @ansis might be familiar with the line rendering changes in v7.

[2015-03-17 01:14] incanus commented on #893
Oops, forgot `getAnnotationsInBoundingBox` — doing that first.

[2015-03-17 01:17] ljbade commented on #1010
Hmm looks like it may be a bug in the Gradle plugin: https://code.google.com/p/android/issues/detail?id=152811

Specifically it was introduced in Gradle 1.1.0 which we switched to a a while back, and should be fixed in 1.1.2. Will update.

[2015-03-17 01:55] ljbade commented on #1010
@hallahan I created the android-22 branch which uses Gradle plugin 1.1.3 as well as latest API 22 build tools that have just been released.

Can you check if this fixes your problem?

[2015-03-17 02:37] hallahan commented on #1010
Just tried it - same issue on android-22 branch

[code]

[2015-03-17 02:42] ljbade commented on #1010
Hmm looks like `Cannot call getBootClasspath() before setTargetInfo() is called.` disappeared.

What OS are you building on? I do not get this error on my Linux machines.

[2015-03-17 02:44] hallahan commented on #1010
[code]

[2015-03-17 03:41] bleege commented on #1010
FWIW, I was just able to get `android-22` to run using `make android` on my MacBook Pro.

That said, I think I found the problem.  The Android SDK Manager is installing API and tools to one path, while the Gradle build script is looking for them in another.  Specifically:

Android SDK Manager Thinks This is ANDROID_HOME
![screen shot 2015-03-16 at 10 36 45 pm](https://cloud.githubusercontent.com/a

[2015-03-17 03:45] ljbade commented on #962
@mb12 when creating an issue can you make sure you include info about exactly where/what platform you are seeing the problem on. This will make it easier for us to correctly tag the issue.

[2015-03-17 05:15] 1ec5 opened #1014 "[iOS] Crash using bundled style immediately after instantiation"
@DavidChouinard reports in https://github.com/mapbox/mapbox-gl-native/pull/852#issuecomment-81997446 calling `-[MGLMapView useBundledStyleNamed:]` results in a crash in a project that links against libMapboxGL. Here’s the stack trace:

[code]

And stderr:

[code]

@incanus pointed out that calls to `Map::start()` is getting called twice in a row. It only happens when `Map::mode` is `Mode::Continuo

[2015-03-17 05:17] 1ec5 commented on #1011
With this bug fixed, you’ll run into #1014 as soon as you try to use a bundled style.

[2015-03-17 05:33] 1ec5 commented on #756
@ljbade, Maps (and mapbox-ios-sdk) tracks the marker until you manually pan, zoom, or rotate. If you tap the compass (to face north), the map continues to track the user dot but no longer rotates with it. A fudge factor sounds like an interesting idea, probably out of scope for beta 1.

And oh wow, I’m just noticing that we commandeered this Android ticket for iOS work. Oops.

[2015-03-17 08:54] robipresotto commented on #1003
[[MGLMapView alloc] initWithFrame: styleJSON: accessToken:];

I receive this error when the user go out of the app and back to the app,
[ERROR] Setup: (-1) loading style failed: The operation couldn’t be completed. (NSURLErrorDomain error -1002.)

The error turns the map view black in my case

ideas?

[2015-03-17 14:52] incanus commented on #1008
IIRC from chat, we want to scale these up on the fly from 2x, right?

[2015-03-17 14:54] kkaefer commented on #1008
We are currently doing this, but they're, well, scaled up.

[2015-03-17 15:05] incanus commented on #1008
Ok, so I guess my question then is: do you mean to pre-create 3x sprites? If so, where do we draw the line, given that Android has higher ratios as well as [non-integer ratios](https://github.com/mapbox/mapbox-gl-native/issues/397#issuecomment-50787511)?

[2015-03-17 15:23] tmpsantos commented on #890
Hit this one today with the current HEAD (1ce51a17e7de5d6a02346efce1539ff7f36e0a6d). It is apparently easier to reproduce if you rotate the phone because a new Map object is created every time you do that and it looks somehow related. Sad that the backtrace is not telling much.

[2015-03-17 17:12] kkaefer opened #1016 "Crash when deleting buffers"
I'm seeing a fairly frequent crash bug that happens randomly during buffer deletion. The buffer IDs are valid and do exist.

What could be happening is that we have an OpenGL context loss that we're ignoring, which invalidates all of the buffers.

![buffer hpp 2015-03-17 18-10-54](https://cloud.githubusercontent.com/assets/52399/6693093/005d3c96-ccd1-11e4-9ff7-d9e576da9a35.png)

[2015-03-17 17:24] hallahan commented on #1010
OK, I ran `make clean` and tried again.

[code]

We still get the same problem. So, it looks like the ANDROID_HOME environment variable is not recognized and the hard-coded ~/.android-sdk is what is being used.

[2015-03-17 17:31] robipresotto commented on #1016
![screen shot 2015-03-17 at 18 30 04](https://cloud.githubusercontent.com/assets/3818948/6693513/c5786292-ccd3-11e4-9eb8-e11680c9a3c9.png)

buffer.hpp line 24
mbgl::VectorTileData::~VectorTileData()

[2015-03-17 17:32] incanus commented on #964
Something to think about here is what marker we ship by default to work with this map style. For example, in our iOS SDK, if no options are specified, we use a blank, medium Maki marker tinted to the current view's `tintColor` (Apple's default view tint color is blue `#00faff`), looking like this:

![](http://api.tiles.mapbox.com/v4/marker/pin-m+007aff.png?access_token=pk.eyJ1IjoianVzdGluIiwiYSI6I

[2015-03-17 17:56] hallahan commented on #1010
[code]

I had to change my sdk location to `~/.android-sdk`, and then get all of the APIs with the SDK Manager. Somewhere `~/.android-sdk` is hardcoded in the build process, and this should be fixed. I did a search in the repo, and all I could find is `mapbox-gl-android/android/java/local.properties`:

[code]

I'm not sure where the hard-coding occurs--maybe somewhere in the bowls of mason?

[2015-03-17 18:18] peterqliu commented on #964
@incanus let's use a dot by default:

<img src='https://api.tiles.mapbox.com/v4/marker/pin-l-circle+104e81@2x.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q'>

[2015-03-17 18:21] incanus commented on #964
Cool, @peterqliu can you throw a 1x and 2x of that into the style's sprite sheet? This will be how we need to distribute marker images for b1. Also we will need the originals, because if someone wants to create their own style or add any custom marker imagery of their own to this style, they will need to do it in the sprite sheet.

[2015-03-17 18:53] incanus commented on #992
Ok, point annotation add, remove, dynamic symbology, and bbox querying is in as of https://github.com/mapbox/mapbox-gl-native/commit/3ce0fb9. The point API remains as described above, other than returned ID's actually being `uint32_t`. So I'm going to move this ticket over to the b2 milestone for future shape work.

[2015-03-17 18:54] friedbunny commented on #1008
In the long term, it seems like moving to vectorized sprites is the way to fix this. SVG, fonts, PaintCode-esque procedural generation...

In the short term, it appears the [official Android guidance](https://developer.android.com/guide/practices/screens_support.html) is to have up to `xxhdpi` (`@3x`) assets:

Of course, there's a ton more complexity than "just use 3x!" when it comes to Android sc

[2015-03-17 18:58] incanus commented on #893
Done in https://github.com/mapbox/mapbox-gl-native/commit/3ce0fb967374250eef6b67150b494645500125f4. Moving on to cleanup & separate PR for point API.

[2015-03-17 19:12] incanus opened #1017 "make iOS setStyleURL API public"

[2015-03-17 19:48] jfirebaugh commented on #964
Hillshade seams:

![image](https://cloud.githubusercontent.com/assets/98601/6696098/d6ccdfb2-cca3-11e4-9c91-f0f3c3c8e249.png)

[2015-03-17 21:25] jfirebaugh opened #1019 "tessellation errors"
Are tessellation errors on water polygons expected? E.g. Great Lakes area:

![image](https://cloud.githubusercontent.com/assets/98601/6697901/25d43d50-ccb1-11e4-93d4-8f584cd19214.png)

With this style:

[code]

I'm assuming we typically don't notice this because it isn't visible with an opaque fill.

[2015-03-17 22:07] incanus commented on #893
Point annotations PR `->` https://github.com/mapbox/mapbox-gl-native/pull/1018

[2015-03-17 22:43] 1ec5 commented on #1014
The crash also reproduces in the iOS sample app if you add a call to `-[MGLMapView useBundledStyleNamed:]` inside `-[MBXViewController viewDidLoad]`, that is synchronously after instantiating the `MGLMapView` without an explicit style. The crash looks a little different because the assertion `mode == Mode::None` fails in debug.

[2015-03-17 23:04] kkaefer commented on #1008
Agree that we should use vector spirits and rasterize on the CPU, eg. With a stripped down version of agg

[2015-03-17 23:09] 1ec5 commented on #1014
@kkaefer can you take a look? `setStyleURL()` only starts the map in continuous mode. `MGLMapView` may need to call `start()` if the `mode` isn’t `Continuous`, but it has no way of knowing what the `mode` currently is.

[2015-03-18 01:45] incanus commented on #893
Moving this ticket to the b2 milestone, since the real GeoJSONVT integration involves shapes; points are standalone.

[2015-03-18 02:02] incanus commented on #894
I'm grabbing this now to start on post-point annotations merge (#1021) since gestures, point-in-bounds, and platform-side callouts are all integrated.

[2015-03-18 03:03] ljbade commented on #756
Hmm well once we are done with iOS, might as well just reassign to Android beta milestone rather than closing.

[2015-03-18 03:06] ljbade commented on #890
@tmpsantos Yeah rotation is considered a configuration change which makes Android restart the activity (and in the process create a new Map) using the saved instance state.

You can set up Android apps to handle rotation by resize in the Android manifest but since we have no control over hoe developers configure the app @bleege and I decided to let it destroy the Map object in the test app. It als

[2015-03-18 03:09] ljbade commented on #1010
Hmm, @bleege as far as I am aware that local.properties is set up by Android Studio when it first loads a new project?

It is certainly not checked into git repo.

[2015-03-18 03:26] ansis commented on #1019
@jfirebaugh I'm fairly sure this is not a tessellation issue. I think there are multiple overlapping water polygons in the vector tiles. I didn't check this now, but I remember running into this a long time ago.

[2015-03-18 03:30] #1011 closed

[2015-03-18 03:31] ljbade commented on #1008
My HTC One and Sony Xperia Z3 both use pixel ratios of 3

[2015-03-18 03:34] ljbade commented on #1008
@kkaefer Hmm how much of a code size burden will SVG + AGG be?

But I do aggree vector sprites is the correct way to future proof this. I would not be surprised sooner or later a 4x phone will come out with a 4k screen or something crazy.

[2015-03-18 03:42] ljbade commented on #1016
Hmm the major problem is the GL implementation should never crash. It is supposed to check for bad state and return a GL error instead.

[2015-03-18 03:44] ljbade commented on #964
@jfirebaugh also see https://github.com/mapbox/mapbox-gl-native/issues/889

[2015-03-18 04:10] incanus commented on #894
Annotation selection should work something like this. Note that unlike MapKit, the z-index of the selected marker doesn't change (that's in #991).

![anigif-1426651756](https://cloud.githubusercontent.com/assets/17722/6702518/f5c40346-cce9-11e4-9636-df4d67015f14.gif)

This is done with something like d53fb94c86773ea45fb6df39c96cfbe161f4aa3e, which just does a dumb `44px` box around the touch for p

[2015-03-18 05:37] friedbunny commented on #931
The above fontstack fix has landed in production and #946 will fix everything here once it's merged, yay!

![fixed](https://cloud.githubusercontent.com/assets/1198851/6703233/b3d08f70-ccf5-11e4-9d27-3dd10da97ab6.png)

[2015-03-18 09:14] robipresotto commented on #1003
The StyleURL from this method is empty when you close the app and re-open the app...

void Map::prepare() {
    assert(std::this_thread::get_id() == mapThread);

    if (!style) {
        style = std::make_shared<Style>();

        env->request({ Resource::Kind::JSON, styleURL}, [&](const Response &res) {
            if (res.status == Response::Successful) {
                // Calculate the base

[2015-03-18 10:03] robipresotto commented on #1003
@mb12 how are you updating the map from uiviewcontroller? for me still the same problem...

[2015-03-18 10:52] kkaefer commented on #515
This is appearing again: #1016

[2015-03-18 11:17] kkaefer commented on #1016
After some debugging, it looks like the following is happening:

- The GLKView has its (internal) `display` method run, which triggers the (internal) `setFramebuffer` method. This likely activates the context on the main thread and runs OpenGL functions for framebuffer creating/attaching.
- Typically this is fine since we're not running OpenGL code unless the main thread tells us to, **except:**
-

[2015-03-18 12:53] #882 closed

[2015-03-18 13:25] kkaefer opened #1022 "Make Annotations API threadsafe"
This currently reaches into the innards of the Map objects from the main thread, which is not safe.

/cc @incanus

[2015-03-18 15:12] mb12 commented on #1016
Why does the stack trace have ~LiveTileData in the back trace. Is there some code path that triggers invalidateTiles outside mapThread?

[2015-03-18 15:47] #931 closed

[2015-03-18 16:28] incanus commented on #1022
Thanks for the flag @kkaefer. I think this will be an easy lift as the `Map` just serves:

* As a passthrough from the client to the single `AnnotationManager`, which expects operations on the main thread
* As a `const` argument `map.getMaxZoom()` for some calculations
* As a target for `map.triggerUpdate()`, which can run on any thread

[2015-03-18 17:14] kkaefer commented on #1022
Specifically, `updateAnnotationTiles` iterates through `activeSources`, which is Map thread, not main thread.

[2015-03-18 17:20] 1ec5 opened #1023 "Crash applying two styles in tandem"
Very similar to #1014, we get the following crash on iOS when trying to apply a style synchronously immediately after applying a style:

[code]

We’re failing this assertion in `mbgl::Map::stop()`:

[code]

[2015-03-18 17:40] incanus commented on #1022
:+1: Good call.

[2015-03-18 18:26] incanus commented on #1022
@kkaefer How close is something like https://github.com/mapbox/mapbox-gl-native/commit/e48b786b687bc89b41216d4138f8016660438955 to a solution? Right direction? I realize this has some issues (but also could always use them pointed out :wink:).

[2015-03-18 22:14] ansis commented on #888
does https://github.com/mapbox/mapbox-gl-native/pull/843 fix this?

[2015-03-18 22:15] mb12 commented on #1022
@incanus  One option to avoid uv_async::send would be to expose an interface similar to NSObject.performSelectorOnMainThread in mbgl::Map class.  This would allow such code to be added without any changes to  the Map class.

[2015-03-18 22:15] incanus commented on #1022
I was chatting about that very approach with @kkaefer; we may get there eventually.

[2015-03-19 03:14] bleege commented on #1010
Yep `local.properties` is built and set by Android Studio.  Updating the SDK path in Android Studio as a Global SDK and the Project SDK will address this (i.e., set it to `/Users/nick/sdk...`).

As a suggestion (YMMV), I'd suggest deleting one of the 2 instances of the Android SDK that are installed on your computer.  It may trigger some pain in the short run, but that'd be a good thing as it'd he

[2015-03-19 04:11] hallahan commented on #1010
Ah, OK. Since this is a goofiness with Android Studio, I suppose we should close this issue. I think what happened was that I was using Eclipse first and switched to Android Studio when things started getting stable and awesome. Studio has a default place for the SDK, but it also detected the location of where I had personally put the SDK.

When I pointed Studio to `~/.android-sdk`, I was able to

[2015-03-19 04:11] #1010 closed

[2015-03-19 10:16] tmpsantos commented on #890
I see now, makes sense. Thanks for explaining, I managed to reproduce the bug on the desktop by emulating what you just described. I'm working on a fix.

[2015-03-19 14:12] bleege commented on #1010
Glad it's working now @hallahan!  FWIW, it's usually the most reliable to just [install the SDK on it's own](http://developer.android.com/sdk/index.html#Other) and then just point Android Studio / Eclipse or whatever at it.  I usually have it installed in `/usr/local/` and then set `ANDROID_HOME` in `.bash_profile`.  YMMV.

[2015-03-19 14:13] incanus commented on #893
For b2, need to port over some improvements from @mourner like https://github.com/mapbox/geojson-vt/commit/6f8295410c1dfb3d6e3a71b1947f74c2089f8792 when we get back to shapes.

[2015-03-19 14:50] incanus commented on #894
Summarizing state of popups. The tough nut to crack here is syncing pan and zoom — *including decelerated coasting* — between native iOS views and the GL view. We've tried this in three branches, with varying combos of `MGLAnnotation` protocol data objects or other placeholder markers.

* [`877-display-link`](https://github.com/mapbox/mapbox-gl-native/compare/877-display-link) — using `CADisplayLi

[2015-03-19 16:28] 1ec5 commented on #894
@incanus Yes, let’s fold 877-point-callout into 877-callout. That’ll make merging for 756-gps-marker easier.

[2015-03-19 18:33] jfirebaugh opened #1025 "map class-related methods should accept transition options"
`addClass`, `removeClass` and `setClasses` should accept options to control the transition duration or disable transitions entirely.

`MGLMapView::setStyleClasses` should use this option rather than calling `setDefaultTransitionDuration`.

[2015-03-19 19:18] jfirebaugh opened #1026 "remove delay argument from notifyMapChange"
It shouldn't be the responsibility of the view implementation to set up a timer to resend the notification after a delay -- notifications should just be dispatched at the right time.

[2015-03-19 19:24] incanus commented on #1026
This is not a delay; it relates to the animation timeouts used. For example, if Cocoa tells the map to move on a `300ms` animation, the `Map`/`Transform` are authoritative on whether that animation completed or not, and should send the completion notification at the end of the delay.

[2015-03-19 19:25] incanus commented on #1026
For context on the need for these, see callbacks like `-[MKMapViewDelegate mapView:regionDidChangeAnimated:]`.

https://developer.apple.com/library/ios/documentation/MapKit/Reference/MKMapViewDelegate_Protocol/index.html#//apple_ref/occ/intfm/MKMapViewDelegate/mapView:regionDidChangeAnimated:

[2015-03-19 19:47] jfirebaugh commented on #1026
They should be -- that's what I'm suggesting in this issue. But it doesn't look to me like that's the current behavior.

See, e.g.

https://github.com/mapbox/mapbox-gl-native/blob/b4dbba93f868b4d44d0f858a9c54924b910ef62d/src/mbgl/map/transform.cpp#L286-L289

and

https://github.com/mapbox/mapbox-gl-native/blob/b4dbba93f868b4d44d0f858a9c54924b910ef62d/platform/ios/MGLMapView.mm#L1629-L1637

[2015-03-19 21:22] picciano opened #1029 "[iOS] Crash after scrolling and zooming"
Using iPhone 5s running iOS 8.2
Default map style, no other changes.
Version information: https://github.com/mapbox/mapbox-gl-native/commit/b4dbba93f8

This seems to happen consistently after scrolling and zooming in and out for about 30 seconds to a minute. This is most often seen zooming out after having zoomed in.

[code]

[2015-03-19 22:23] jfirebaugh opened #1031 "remove bundledStyleNames and useBundledStyleNamed from iOS API"
For iOS beta, we are supporting just one style. For eventual release, we'll want to have the most common usage be to load from the Mapbox Style API via a URL. Bundling a style should be an application-level concern.

[2015-03-19 22:41] picciano commented on #1029
Could be the same as https://github.com/mapbox/mapbox-gl-native/pull/1016 ?

[2015-03-19 22:47] jfirebaugh commented on #1026
Also `MGLMapView` shouldn't need to dispatch `notifyMapChange` manually:

https://github.com/mapbox/mapbox-gl-native/blob/b4dbba93f868b4d44d0f858a9c54924b910ef62d/platform/ios/MGLMapView.mm#L586-L598

[2015-03-19 23:17] incanus commented on #1026
It does this because each platform is responsible for the velocity-based deceleration that feels right on that platform, which means differing durations.

[2015-03-19 23:23] jfirebaugh commented on #1026
Sure. But the point of this bug is: given an easing operation is started on `Map` with a particular duration, then `Map` should have sole responsibility for dispatching notifications of the progress of that easing operation.

Make sense?

[2015-03-19 23:30] incanus commented on #1026
Not just the easing duration, but also the timing curve, are done Cocoa-side. This isn't done as an atomic duration on the GL side, but rather a series of sub-durations.

https://github.com/mapbox/mapbox-gl-native/blob/b4dbba93f868b4d44d0f858a9c54924b910ef62d/platform/ios/MGLMapView.mm#L570-L584

But you only want one notification.

I'm not saying this is the best/only way, but giving some context

[2015-03-19 23:45] jfirebaugh commented on #1026
If this is necessary, then the notifications have to be done entirely Cocoa-side, and the `MBGLView::notifyMapChange` implementation should be a no-op.

The current behavior is that each call to `mbglMap->moveBy` generates a `MapChangeRegion[Will/Did]Change[Animated]` notification pair, and then MGLMapView dispatches another `MapChangeRegionDidChangeAnimated` notification of its own.

[2015-03-19 23:50] incanus commented on #1026
FWIW, I introduced this whole system in order to start tapping into render lifecycle events to an extent that we've not been able to before, in order to get at things like `-[MKMapViewDelegate mapViewDidFinishRenderingMap:fullyRendered:]` that devs need in order to do detailed view interplay with maps.

https://developer.apple.com/library/ios/documentation/MapKit/Reference/MKMapViewDelegate_Protoc

[2015-03-19 23:57] incanus commented on #1022
@kkaefer will be taking a look at shoring this up.

[2015-03-19 23:58] incanus commented on #894
Visual syncing is currently blocked by #1026. In the meantime, I'm going to tighten up the annotation model API, get gestures/selection working, and roll a PR.

[2015-03-20 00:08] incanus commented on #1031
:+1: Love the narrow scope.

[2015-03-20 14:39] bleege opened #1033 "Integrate Metrics"
Integrate Metrics API into iOS GL.

1. [x] Install MBLocationManager
1. [x] Install [Mapbox Events iOS](https://github.com/mapbox/mapbox-events-ios)
1. [x] Setup metrics gathering
1. [x] Build Opt Out Checking In MGLMapboxEvents
1. [x] Build Disabled Metrics Functionality In MGLMapboxEvents

[2015-03-20 16:13] bleege commented on #1033
I've got MBLocationManager integrated with Core GL via MGLMapView.  It now is instantiated via [commonInit] and waits patiently for Location to be authorized.  When Location is authorized it piggybacks on those permissions and starts receiving updates.

[2015-03-20 16:38] bleege commented on #1033
Renamed MBLocationManager to MGLMetricsLocationManager to better fit with project naming conventions.

[2015-03-20 17:02] #829 closed

[2015-03-20 17:03] 1ec5 commented on #829
This pod depends on a prebuilt binary. See “[Releasing Mapbox GL for iOS](https://github.com/mapbox/mapbox-gl-native/wiki/Releasing-Mapbox-GL-for-iOS)” for release instructions.

[2015-03-20 17:11] 1ec5 commented on #1023
Also occurs in the demo app if you triple-tap the style switcher.

Belongs on the beta 2 milestone because we’re planning to omit support for multiple styles from beta 1 in #1031.

[2015-03-20 17:32] incanus commented on #894
Per chat with @1ec5, we are going to move towards dismissing any active callout for map change events for b1. We'll get back to view syncing post-b1.

[2015-03-20 17:42] kkaefer opened #1034 "Isolate Map data into separate object"
We should isolate data that is accessed from both threads into a separate Data object that controls access and ensures that no concurrent access occurs.

[2015-03-20 18:08] friedbunny commented on #1033
There are clear (and solidly established) technical and business cases for collecting this information, but as a developer or end-user it feels icky.

Reading the [privacy policy](https://www.mapbox.com/privacy/#start) I (naively?) wouldn't expect a UUID, my carrier, battery level, or phone orientation to be transmitted beyond the confines of my device:

It's probably not reasonable to expect this

[2015-03-20 18:20] kkaefer opened #1035 "gyp: Disable builds with BUILDTYPE not in (Release, Debug)"
When compiling with `BUILDTYPE` set to another value, we're not using the correct compiler flags.

[2015-03-20 18:40] bleege commented on #1033
Hey @friedbunny, sorry for the confusion here. See the [PR](https://github.com/mapbox/mapbox-gl-native/pull/1036) for some more context on where this is headed. We're trying to keep all discussion on the review over there so it's in one place.

[2015-03-20 20:20] peterqliu opened #1038 "Stretched sprites"
#### Sometimes, the sprites look vertically stretched (on-device vs laptop):

![img_1069](https://cloud.githubusercontent.com/assets/4551508/6760150/661d89e4-cf03-11e4-9fef-3564f5ace095.png)

![screen shot 2015-03-20 at 1 17 53 pm](https://cloud.githubusercontent.com/assets/4551508/6760169/8b6026ee-cf03-11e4-8a06-4d66d19c35e4.png)

#### Other times, it looks like the text is simply shifted up:

![

[2015-03-20 20:39] peterqliu opened #1039 "rotation-alignment:viewport does not work on iPhone 5"
Expected:

![screen shot 2015-03-20 at 1 37 11 pm](https://cloud.githubusercontent.com/assets/4551508/6760504/6b44e16c-cf06-11e4-9d7c-beab7a56f079.png)

Observed:

![img_1068](https://cloud.githubusercontent.com/assets/4551508/6760507/782e2c9e-cf06-11e4-8be6-37ab64f9f1a5.png)

[2015-03-20 20:40] incanus commented on #1014
Bump @kkaefer.

[2015-03-20 20:40] incanus commented on #1003
@mb12 @robipresotto How is this looking to you currently on `master`?

[2015-03-20 20:55] peterqliu opened #1040 "Scrambled label sdf's"
Can't describe exactly when, but at occasional zooms, labels become scrambled:

![screen shot 2015-03-20 at 1 54 35 pm](https://cloud.githubusercontent.com/assets/4551508/6760710/aefc5c4e-cf08-11e4-94b6-a7094609442d.png)

[2015-03-20 20:56] peterqliu commented on #964
iPhone 5 screenshot:

![img_1068](https://cloud.githubusercontent.com/assets/4551508/6760731/d8249a32-cf08-11e4-8d12-1ecab97db657.png)

[2015-03-20 21:20] picciano commented on #1029
Fixed with #1016

[2015-03-20 21:20] #1029 closed

[2015-03-20 21:56] bleege commented on #1033
Mapbox Events iOS is now integrated and has successfully sent a batch of events to the Mapbox API.  The Opt Out functionality now needs to be added.

[2015-03-20 22:13] mb12 commented on #1003
I think the issue that I've reported and the one @robipresotto  is referring to are different issues.
I can try the latest master tomorrow morning or on Monday but I don't think the issue is fixed since its related to UIViewController lifecycle.

1.) From MBXViewController, push/present an new UIViewController.
2.) Tap on "Back".

The MapScreen turns black unless touched / re-rendered. I am able t

[2015-03-20 22:57] 1ec5 opened #1041 "User location tracking is rough"
User location tracking for is functional #756 but rough compared to MapKit’s implementation. In MapKit, the user dot crawls continuously and the map pans just as smoothly. Our implementation jerks forward every time the GPS location changes. Since the panning motion is animated, the map always trails the user dot. Instead, perhaps it could lead the user dot, by overshooting it based on its _n_ pre

[2015-03-20 23:06] 1ec5 commented on #964
@peterqliu I take it you have Emerald loading by default on your local checkout of this project, right? Once mapbox/mapbox-gl-styles#42 goes in, can you file a PR for that change?

[2015-03-20 23:42] 1ec5 commented on #1014
I don’t think this is necessary for beta 1 if we’re going forward with #1031. The crash doesn’t occur if you just let the init method choose the default style for you.

[2015-03-21 01:32] peterqliu commented on #964
@1ec5 https://github.com/mapbox/mapbox-gl-native/commit/a1a7ab62e176afb354109ba23360c668f84771e8

[2015-03-21 04:52] friedbunny commented on #1039
Labels seem to rotate without any issues as of `master` a1a7ab62e176afb354109ba23360c668f84771e8 + cfbdbc9d0d24aa414391636e30314d5c28acdbb2 (latest styles submodule).

**iPhone 5**
[![screen-shot-2015-03-20-at-9 40 07-pm_sm](https://cloud.githubusercontent.com/assets/1198851/6763786/e1bf3e12-cf49-11e4-8ae7-9abcaa141790.png)](https://cloud.githubusercontent.com/assets/1198851/6763784/de35f2cc-cf49-

[2015-03-21 06:01] 1ec5 commented on #964
Thanks @peterqliu. I forgot to mention that mapbox/mapbox-gl-native is pegged to a specific commit in mapbox/mapbox-gl-styles, so we have to update that submodule each time you revise Emerald. I did that this time in 9ee8bac1fe420076772918a25ca24504fef798ff, but here’s how to do it in the future:

[code]

#1043 makes Emerald the default style. (Turns out a1a7ab62e176afb354109ba23360c668f84771e8 on

[2015-03-21 06:07] friedbunny opened #1044 "iPhone 5 particularly sluggish with Emerald style"
When trying out the Emerald style on my iPhone 5, rendering is super sluggish (and occasionally never finishes).

And now for the most boring GIF you'll ever watch:

![1043-emerald-slow-2](https://cloud.githubusercontent.com/assets/1198851/6763997/fda7c2d8-cf54-11e4-9c08-2ff88c930c99.gif)

[2015-03-21 06:14] peterqliu commented on #964
thanks @1ec5 -- i see that commit changed the long string after `submodule commit`, but where did you get the string from?

[2015-03-21 06:20] peterqliu commented on #1044
experiencing this as well, if not slower. It may help when I [composite sources](https://github.com/mapbox/mapbox-gl-styles/blob/mb-pages/styles/emerald-v7.json#L24-L31), but not sure by how much.

[2015-03-21 06:27] friedbunny commented on #964
Git sees that the submodule commit changed and automatically pushes that to the host repo, which I think is pretty clever. @1ec5 shortened it to `git commit -a`, but you could also do `git add styles` and then `git commit`.

[2015-03-21 06:32] friedbunny commented on #1044
During such zooming, both CPU cores are pegged:

![screen shot 2015-03-20 at 11 22 11 pm](https://cloud.githubusercontent.com/assets/1198851/6764043/29fbf0c6-cf59-11e4-9051-988cf8c80497.png)

[2015-03-21 06:44] #964 closed

[2015-03-21 06:49] friedbunny commented on #1044
![screen shot 2015-03-20 at 11 43 56 pm](https://cloud.githubusercontent.com/assets/1198851/6764076/962abf6e-cf5b-11e4-8e0c-a7235d239a66.png)

... and then it's `detail::dispatcher` all the way down.

[2015-03-21 06:53] mb12 commented on #1044
@peterqliu
1.) What is the the source layer hillshade in mapbox://mapbox.mapbox-terrain-v2 for?   TileParser would create  fill buckets for both the street-v6 as well as terrain v2 sources.

2.) You can delete source mapbox://mapbox.mapbox-terrain-v1 since its not referenced anywhere in the style.

3.) In general when tile parsing is slow, look into reducing the size of your pbf files by simplifyi

[2015-03-21 10:52] thomas-huet commented on #944
I no longer have this problem with latest builds.

[2015-03-21 10:52] #944 closed

[2015-03-21 10:56] kkaefer commented on #1044
Did you compile in Release mode? Parsing in Debug mode is very slow because the code isn't optimized. In particular Boost's Rtree is at least an order of magnitude slower.

[2015-03-21 11:06] thomas-huet commented on #945
No more crashes when switching styles.

[2015-03-21 11:06] #945 closed

[2015-03-21 11:12] thomas-huet opened #1045 "Location marker not on right level on launch"
When launching app on android, the map is at zoom min but the location marker seems to be on a different zoom level. So when you move the map, the location marker doesn't move at the same speed as the map. The problem stop the first time you zoom in.

[2015-03-21 11:14] thomas-huet opened #1046 "Emerald style not available"
I have pulled the latest master (188331505e78ccacb8f010b91d549735062c69e6), ran `git submodule update` and `make android` but the emerald style is not available in the app.

[2015-03-21 11:19] thomas-huet opened #1047 "Pencil style is broken and breaks other styles too"
On android, the pencil style displays a black screen and when I switch back to other styles, they no longer display contours, just labels.

[2015-03-21 11:27] thomas-huet opened #1048 "Android app doesn't work offline"
The android app seems to cache tiles (the cache size used by the app increases as I explore new parts of the world) but doesn't seem to read from the cache (tiles are not displayed faster if they were already visited and are not accessible when offline).

[2015-03-21 11:30] thomas-huet opened #1049 "Switching styles freeze app when offline"
Switching styles when offline freezes the app (and android too).

[2015-03-21 15:54] friedbunny commented on #1044
Release does make a big difference — it's usable, but tiles still noticeably pop in and zooming several levels at once has a couple seconds delay. In profiling it looks to be about twice/thrice as fast as debug, which means the CPU is pegged for only one or two seconds at a time.

![1104-slow-2](https://cloud.githubusercontent.com/assets/1198851/6765618/d4f3d862-cfa5-11e4-8a67-1383c8551919.gif)

[2015-03-21 16:07] friedbunny commented on #1047
Dupe of #636, I'd say.

[2015-03-21 16:25] thomas-huet commented on #1047
Indeed, sorry.

[2015-03-21 16:25] #1047 closed

[2015-03-21 16:26] thomas-huet commented on #636
Pencil is broken but there is more: it also breaks other styles. When I switch back to other styles, they no longer display contours, just labels.

[2015-03-21 18:36] incanus commented on #1046
I don't think we've brought it to the Android app yet, just iOS and the `styles` subfolder.

[2015-03-21 19:05] incanus commented on #1048
Not sure if Android-specific — @thomas-huet can you try on Linux or OS X desktop? Or iOS?

[2015-03-21 19:07] incanus commented on #888
Yeah, I would assume this is a sprite/pattern fill issue.

[2015-03-21 19:21] robipresotto opened #1050 "Crash locking while map is panning — renderSync()"
Thread : Crashed: com.apple.main-thread
0  Embark                         0x000000010026d12c mbgl::Map::renderSync() (memory:2603)
1  Embark                         0x00000001002deff0 -[MGLMapView glkView:drawInRect:] (MGLMapView.mm:483)
2  Embark                         0x00000001002deff0 -[MGLMapView glkView:drawInRect:] (MGLMapView.mm:483)
3  GLKit                          0x00000001851373a4 -[

[2015-03-21 19:52] incanus commented on #1050
Under what kinds of conditions are you seeing this @robipresotto? Device(s)?

[2015-03-21 20:13] incanus opened #1051 "Emerald sprite showing up in Bright"
At least I think that's what that is. As of https://github.com/mapbox/mapbox-gl-native/commit/188331505e78ccacb8f010b91d549735062c69e6.

/cc @peterqliu

![ios simulator screen shot mar 21 2015 1 12 15 pm](https://cloud.githubusercontent.com/assets/17722/6766661/1f87d4ac-cfcc-11e4-99e7-93471178d7ee.png)

[2015-03-21 20:23] robipresotto commented on #1050
iPhone 6.0 - iOS 8.2
Custom style json

i will try catch more info soon

[2015-03-21 20:31] thomas-huet commented on #1048
I can't build it for linux. `./configure` fails (`${MASON_PLATFORM}` seems to be empty) and `make linux` fails too (missing `GLFW/glfw3.h`).

[2015-03-22 00:24] incanus opened #1052 "fail gracefully for bad sprites"
Currently we crash hard if unexpected types are encountered in sprite JSON:

https://github.com/mapbox/mapbox-gl-native/blob/188331505e78ccacb8f010b91d549735062c69e6/src/mbgl/map/sprite.cpp#L135

![screen shot 2015-03-21 at 5 12 52 pm](https://cloud.githubusercontent.com/assets/17722/6767474/1aca668c-cfef-11e4-8a91-28f41ec08c15.png)

![screen shot 2015-03-21 at 5 12 48 pm](https://cloud.githubuser

[2015-03-22 00:28] incanus commented on #988
Hitting this for b2, but this is how things look in the shipping style:

![ios simulator screen shot mar 21 2015 5 27 24 pm](https://cloud.githubusercontent.com/assets/17722/6767486/a17c5848-cfef-11e4-9c3d-a256cc5f932d.png)

[2015-03-22 03:59] 1ec5 commented on #1051
Yes, that’s a clipped Interstate shield coming through, and only Emerald has Interstate shields at the moment. Actually, I’m seeing a clipped U.S. Route shield in the same place instead.

[2015-03-22 04:00] 1ec5 commented on #1051
A different sprite shows up every time you relaunch the app.

[2015-03-22 06:29] incanus opened #1053 "create Cocoa umbrella header"
This isn't critical for b1, but should be a trivial lift. We should have a combined header much like MapKit now that we have not just `MGLMapView.h` but also `MGLAnnotation.h` for the annotation protocol (plus more in future). We should just include everything the developer needs in an `MapboxGL.h`.

Static library users will:

[code]

Dynamic framework (#828) and CocoaPods users will:

[code]

Or

[2015-03-22 06:48] 1ec5 opened #1054 "Audit headers for nullability (Swift support)"
Once we distribute a framework (#828), developers will be able to interface with `MGLMapView` and other classes in Swift. We’ll want to audit the headers for nullability so that developers don’t have to deal with a litany of implicitly unwrapped optionals like `NSString!`.

More information:
* https://developer.apple.com/swift/blog/?id=25
* http://nshipster.com/swift-1.2/#nullability-annotations

[2015-03-22 09:13] robipresotto commented on #1003
okay, can be! i can open a new issue.

[2015-03-22 09:33] robipresotto opened #1056 "MGLMapView initWith styleJSON"
I load my custom style from web (after download the json from web, the system serializes the data - see below)

NSData *jsonData = [NSJSONSerialization dataWithJSONObject:responseObject options:NSJSONWritingPrettyPrinted error:&error];
NSString *jsonString = [[NSString alloc] initWithData:jsonData encoding:[NSString defaultCStringEncoding]];

[[MGLMapView alloc] initWithFrame:self.view.bounds acce

[2015-03-22 09:54] robipresotto commented on #1056
if the json file is local, the map view works fine.

[[MGLMapView alloc] initWithFrame:self.view.bounds accessToken:"blablabla" mapBoxAccessToken] bundledStyleNamed:@"customJSON"];

[2015-03-22 15:41] tmpsantos opened #1057 "Crash at exit when running a debug build"
The uv::worker object on map.cpp is not being destroyed at the same thread it was created.

[code]

[2015-03-22 16:15] mb12 commented on #1057
This also happens on ios when switching styles. Most likely an issue with Map::stop/start logic.

[2015-03-22 17:28] incanus commented on #1056
Well that's interesting. Same exact style in both methods? Any way you could share it? Private is ok; let's keep the discussion here but feel free to email me `firstname` @mapbox.com.

[2015-03-22 17:51] incanus commented on #1040
Weird; have never seen this. Might be a regression of https://github.com/mapbox/mapbox-gl-native/issues/832 which was fixed in #957?

/cc @jfirebaugh

[2015-03-22 17:52] incanus commented on #1054
:+1:

[2015-03-22 17:54] incanus commented on #893
General note to catch up with `2.0.0` in general when we're back on this:

https://github.com/mapbox/geojson-vt#200-mar-20-2015

[2015-03-22 18:47] incanus commented on #756
iOS annotations API is in as of https://github.com/mapbox/mapbox-gl-native/commit/eded1d90aa4fa607bb5bd804a9da2cdc690aa16d. Not sure yet how to best reconcile this ticket's branch and that.

[2015-03-22 18:48] incanus commented on #894
Point annotations Cocoa API for gestures and selection state is in as of https://github.com/mapbox/mapbox-gl-native/commit/eded1d90aa4fa607bb5bd804a9da2cdc690aa16d. Working on this next to integrate.

[2015-03-22 18:49] bleege commented on #1033
Need to build:

1. Opt Out Checking
1. Disabled Metrics Checking

[2015-03-22 18:51] friedbunny commented on #1057
This crash also happens when switching back and forth from Xcode and a simulator window.

[code]

[2015-03-22 18:53] robipresotto opened #1058 "setStyleClasses"
How is it possible to reset the applied style classes? is it necessary to set the function to nil?
or maybe something like that is missing in function:

mbglMap->removeClass([appliedClass cStringUsingEncoding:[NSString defaultCStringEncoding]]);

the problem is when you set the style classes to night and after change to contrast the system sometimes inverts the styles.

[2015-03-22 19:04] friedbunny commented on #962
I can get `[ERROR] {0}{Map}[OpenGL]: stencil mask overflow` on Hybrid style by zooming into hills (~z15-18) with significant contours.

[2015-03-22 19:43] robipresotto commented on #1056
exactly the same - can be the encoding system? after the encoding the json sprite url changes to:
"sprite" : "http:\/\/

if you do something like that [jsonString stringByReplacingOccurrencesOfString:@"\\/" withString:@"/"] fix the url string, but maybe something else is missing...

i will write to you tomorrow :)

[2015-03-22 19:51] friedbunny commented on #962
When this happens you'll see zoom levels stacking on top of each other like this:

[![ios-simulator-screen-shot-mar-22 -2015 -12 45 32-pm](https://cloud.githubusercontent.com/assets/1198851/6771089/a829393e-d091-11e4-9353-a459f96c8084.png)](https://cloud.githubusercontent.com/assets/1198851/6771083/943c0e38-d091-11e4-948e-2e057f592280.png)

And also sometimes long, straight contour-colored lines w

[2015-03-22 20:06] #1053 closed

[2015-03-23 05:06] friedbunny opened #1064 "Compass/bearing snapping fails when also zooming"
If one rotates and then pinch zooms, the pinch gesture [cancels the map transition](https://github.com/mapbox/mapbox-gl-native/blob/9dd9bd6e9ddf40ae3ae1746b191ce7d0a8ea0842/platform/ios/MGLMapView.mm#L644) called by the fancy new snapping (#1059) but `bearing` still gets reset and becomes out of sync. :disappointed:

[code]
[![screen-shot-2015-03-22-at-9 20 17-pm](https://cloud.githubusercontent.c

[2015-03-23 05:12] incanus commented on #1064
Ok, I'll probably end up reverting the feature in `master` then if it's got complications. Can hit it after the first beta...

[2015-03-23 05:17] ljbade commented on #636
Yeah pencil style does mess up the other styles.

[2015-03-23 05:19] friedbunny commented on #1064
Yeah, unfortunately it's not quite there yet. I'll look into putting a `isSnapping` check or something in there.

[2015-03-23 06:17] friedbunny commented on #1064
I've got a fix ready to go for this (e94c7a305de7e0df6e02ee58089d1ac0e9f50a29) that essentially duplicates `animatingGesture` stuff elsewhere. Not sure that `userInteractionEnabled` needs to be disabled (didn't notice any difference), but I've left that there. Wait on the PR?

[2015-03-23 08:32] peterqliu commented on #1040
Not seeing this after downloading the app as of 3/21 -- @jfirebaugh feel free to close if you can't replicate

[2015-03-23 08:37] peterqliu commented on #1039
no longer seeing this

[2015-03-23 08:37] #1039 closed

[2015-03-23 11:11] kkaefer opened #1065 "Better separation between UI thread and Map thread"

[2015-03-23 11:19] kkaefer opened #1066 "Delete workers from the correct thread"
https://github.com/mapbox/mapbox-gl-native/pull/1016/files#diff-fd1625168ba48a6fb963e63343c0ac59L116 accidentally removed the deletion of the worker object. This now happens in the main thread when the Map object gets destructed and triggers an assert because they're now destructed in the wrong thread.

[2015-03-23 11:20] #1066 closed

[2015-03-23 14:17] DavidChouinard commented on #929
As user: this would be very useful!

[2015-03-23 14:23] DavidChouinard commented on #929
@1ec5 What do you mean by inspectable access token?

[2015-03-23 14:40] robipresotto commented on #1065
The app is crashing when the user goes out of the app and back to the app...
last build (https://github.com/mapbox/mapbox-gl-native/commit/4a4dd607e5)

[2015-03-23 14:41] robipresotto commented on #1065
but the setStyleClasses works better now...

[2015-03-23 14:46] robipresotto commented on #1057
Thread : Crashed: Map
0  Embark                         0x00000001002d31c8 mbgl::Painter::render(mbgl::Style const&, std::__1::set<mbgl::util::ptr<mbgl::StyleSource>, std::__1::less<mbgl::util::ptr<mbgl::StyleSource> >, std::__1::allocator<mbgl::util::ptr<mbgl::StyleSource> > > const&, mbgl::TransformState, std::__1::chrono::time_point<std::__1::chrono::steady_clock, std::__1::chrono::duration<lon

[2015-03-23 16:24] incanus commented on #1040
I have not seen this once since @jfirebaugh's tile-related fixes. Gonna close.

[2015-03-23 16:24] #1040 closed

[2015-03-23 16:31] incanus commented on #1038
I'm still seeing this as well.

![img_3181](https://cloud.githubusercontent.com/assets/17722/6784839/4e675030-d13f-11e4-95b9-a3bfa63c15a0.PNG)

[2015-03-23 16:32] kristfal opened #1067 "Broken polygon rendering"
Hello,

the native iOS client seem to have issues rendering certain polygons. We can't really identify why or under which circumstances it triggers, but it is a bug not found in the web client. Here are some screenshots, description below.

![ios simulator screen shot 20 mar 2015 18 00 35](https://cloud.githubusercontent.com/assets/5638107/6784317/4cca4e54-d17f-11e4-854f-e57176f92023.png)
![screen

[2015-03-23 16:50] 1ec5 commented on #929
`accessToken` doesn’t appear to be KVO-compliant at the moment. Additionally, if `accessToken` is unset, setting it should make the map use the default bundled style, just as `-initWithFrame:styleJSON:accessToken:` calls `-setStyleJSON:` with `nil` when there’s a token is specified.

[2015-03-23 16:50] incanus commented on #1056
I have your style via email; we'll post more soon.

[2015-03-23 17:58] 1ec5 opened #1068 "Standardize on an NSString encoding"
Several `MGLMapView` methods make use of `+[NSString defaultCStringEncoding]` when converting between `NSString` and `std::string`. The [`+defaultCStringEncoding` documentation](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/Foundation/Classes/NSString_Class/#//apple_ref/occ/clm/NSString/defaultCStringEncoding) makes clear that we should consider it a last resort. Relying on

[2015-03-23 18:00] robipresotto commented on #1068
:+1:

[2015-03-23 18:08] incanus commented on #1068
Good move. This was my bad; let's correct to UTF8.

[2015-03-23 18:18] incanus opened #1069 "make annotations API threadsafe"
Continuation of https://github.com/mapbox/mapbox-gl-native/pull/1022, which became solid general improvements that were worth merging. Going to figure out a threading strategy here.

/cc @kkaefer

[2015-03-23 18:20] 1ec5 commented on #1068
FYI we also need this for consistency with the string boxed expressions we’re using throughout (`@("")`), which [assume UTF-8](http://clang.llvm.org/docs/ObjectiveCLiterals.html).

[2015-03-23 18:35] robipresotto commented on #1057
the app crash when the user goes out of the app and back to the app. is something in setStyleClasses (after the last merge - friday to sunday)

[2015-03-23 18:45] jfirebaugh commented on #962
The "zoom levels stacking" is expected behavior and not related to stencil mask overflow. It happens because both raster and vector tiles are being rendered and the VTs are twice as big.

[2015-03-23 18:51] jfirebaugh commented on #1058
Call `setStyleClasses` with an empty array.

I don't understand what you're saying here. If you think there's a bug, please open a separate issue with steps to replicate. Thanks!

[2015-03-23 18:51] #1058 closed

[2015-03-23 18:56] friedbunny commented on #1058
@robipresotto Have a look at 4ddae7d1b75cc7d79b08d38a960559a05757d3dc, which does this for the demo app.

[2015-03-23 19:17] 1ec5 opened #1070 "Support XIBs and storyboards on iOS"
It’s relatively difficult to add an `MGLMapView` to a storyboard-based project. As expected, you can drag a `UIView` into a scene and set its custom class to “MGLMapView”. However, that just gets you a blank map. So you need to call `[mapView setAccessToken:@"…"]` at launch, and `[mapView setStyleJSON:nil]` sometime after that, but not too soon or you’ll hit #1014.

Basic support for XIBs and stor

[2015-03-23 19:33] incanus commented on #1069
The calls to `updateAnnotationTiles()`here:

https://github.com/mapbox/mapbox-gl-native/blob/9d30d4042c3311d02568adbb38dd13fb82faf75d/src/mbgl/map/map.cpp#L555-L571

Don't need to be synchronous. Both `Map::addPointAnnotations()` and `Map::removeAnnotations()` can return their results; the tile invalidation is merely a visual refresh that can come shortly afterwards. Can we simply safely set a cop

[2015-03-23 19:43] robipresotto commented on #1058
now works better, some days ago the function was jumping the classes many times

[2015-03-23 20:27] robipresotto commented on #582
if you dismiss the view with map view and reopen it the sql crash!
throw std::runtime_error("failed to run statement");
libc++abi.dylib: terminating with uncaught exception of type std::runtime_error: failed to run statement

[2015-03-23 20:31] jfirebaugh commented on #582
@robipresotto Can you please open a new issue? A comment on a closed issue such as this is likely to get lost.

[2015-03-23 20:36] robipresotto opened #1071 "Thread of sqlite is not safe!"
The app crashes if you dismiss the mapview in a modalview and reopen it...

SQL Cache (28) - sqlite3.cpp
libc++abi.dylib: terminating with uncaught exception of type std::runtime_error: failed to run statement

[2015-03-23 20:37] robipresotto commented on #582
Okay, here we go!!
https://github.com/mapbox/mapbox-gl-native/issues/1071

[2015-03-23 21:20] robipresotto commented on #1071
Thread : Crashed: SQLite Cache
0  libsystem_kernel.dylib         0x000000019582b270 __pthread_kill + 8
1  libsystem_pthread.dylib        0x00000001958c9170 pthread_kill + 112
2  libsystem_c.dylib              0x00000001957a2b18 abort + 112
3  libc++abi.dylib                0x0000000194861418 __cxa_bad_cast
4  libc++abi.dylib                0x0000000194880b74 default_terminate_handler() + 280
5  li

[2015-03-23 22:46] 1ec5 opened #1072 "Crash switching styles in iOS demo app"
#1022 introduced a serious regression. The iOS demo app now crashes every time you switch styles:

[code]

This assertion fails because `mode` is `Continuous`:

[code]

[2015-03-23 22:46] tmpsantos commented on #1072
I have a fix for this one I believe.

[2015-03-23 22:48] tmpsantos commented on #1072
Not sure if this one is related, but it is on the load style code path:
https://github.com/mapbox/mapbox-gl-native/tree/debug_crash

[2015-03-24 00:18] jfirebaugh commented on #964
Closing here, time to break out rendering issues in separate tickets.

#381 and #889 track the outline/seams issue.

[2015-03-24 01:53] incanus commented on #894
This last commit ^^ is feeling good on top of my nearly-merged annotation flexing in https://github.com/mapbox/mapbox-gl-native/pull/1061. We are close @1ec5!

[2015-03-24 04:39] 1ec5 commented on #1072
#1073 doesn’t fix this crash, unfortunately.

[2015-03-24 04:41] 1ec5 commented on #1072
I keep forgetting we’re planning on omitting style switching from beta 1 (#1031). So this goes on beta 2, I guess, but it’s quite severe nonetheless.

[2015-03-24 04:58] incanus commented on #1072
Pretty sure I got this in https://github.com/mapbox/mapbox-gl-native/pull/1077.

[2015-03-24 04:58] incanus commented on #1014
Think this is handled in https://github.com/mapbox/mapbox-gl-native/pull/1077.

[2015-03-24 04:59] incanus commented on #788
Check on https://github.com/mapbox/mapbox-gl-native/pull/1077. With that I am able to tap the style switcher as fast as possible many times and not get a crash.

[2015-03-24 05:09] incanus commented on #1051
I think this is related to having two styles with fill sprites in them, which we've only recently started to do.

[2015-03-24 05:17] incanus commented on #1051
Easiest test for this theory would be:

* Add any other style in which uses fill sprites.
* Select it first on start.
* Note its sprites used in Emerald & Bright.

Or just swap Bright & Emerald.

[2015-03-24 05:30] #788 closed

[2015-03-24 05:30] #1014 closed

[2015-03-24 05:30] #1072 closed

[2015-03-24 06:48] peterqliu opened #1078 "Labeling density and priority"
Labels are sparse, and out of sequence (minor cities appear before majors) -- is the latest labeling code part of gl-native yet?

Compare https://www.mapbox.com/bites/00108/#4.1/36.859/-75.362 with:

![img_1075](https://cloud.githubusercontent.com/assets/4551508/6796841/175ab35c-d1b7-11e4-9383-7a8450c14105.PNG)

cc/ @incanus @jfirebaugh

[2015-03-24 06:52] 1ec5 commented on #756
Current work, fully reconciled with the iOS annotations API, is in the [756-user-dot](https://github.com/mapbox/mapbox-gl-native/compare/756-user-dot) branch, which depends on #1074.

[2015-03-24 09:30] kkaefer commented on #1052
See #219, #308.

[2015-03-24 10:44] kkaefer commented on #1072
Issue here is that `MGLMapView setStyleURL:` calls `start`, which it shouldn't.

[2015-03-24 13:11] maciekish commented on #658
Hi, any news on this please? We are trying to figure out a time plan for migrating from mapbox-ios to mapbox-gl-native.

[2015-03-24 13:25] maciekish commented on #877
@incanus Is it possible to draw routes in the current version? We are using an RMAnnotation with an array of CLLocations at the moment.

[2015-03-24 15:03] bleege commented on #1033
Added logic to flush all remaining metric events in the event queue when the app enters the background.  This alleviates the need to persist them on the file system.

[2015-03-24 16:02] bleege commented on #1033
Screenshot of Settings.app for Mapbox GL showing Metrics Opt Out control.

![20150324-settings-mapbox-opt-out](https://cloud.githubusercontent.com/assets/989928/6806170/17a5ed1e-d215-11e4-8060-075a58d6d1e1.png)

[2015-03-24 16:03] bleege commented on #1033
Should also note that whenever the end user Opts Out of Mapbox Metrics, any events that may still be on the device but haven't been sent yet are immediately deleted.

[2015-03-24 16:36] bleege commented on #1033
Just built the Metrics Disabled UI in Settings.app and functionality to support it in the Events infrastructure.  The screenshot below is what it'll look like to end users.

![20150324-settings-mapbox-metrics-disabled](https://cloud.githubusercontent.com/assets/989928/6806979/ce151fa8-d219-11e4-9ddf-d94658c4a364.png)

[2015-03-24 16:56] jfirebaugh commented on #1078
No, it hasn't been ported.

[2015-03-24 17:34] incanus commented on #877
No, routes are coming later. Just points for now. Watch #893.

[2015-03-24 17:36] incanus commented on #658
No work on this in the current development cycle. We have some solid foundations for it on the JS side in https://github.com/mapbox/mapbox-gl-js/pull/1049 though.

[2015-03-24 17:36] incanus commented on #1072
Yep, this was outdated. Fixed in https://github.com/mapbox/mapbox-gl-native/commit/fb41d0cd4c5c526696e33390f2e65ea581809100.

[2015-03-24 17:37] incanus commented on #1052
Ok, closing in favor of #219.

[2015-03-24 17:37] #1052 closed

[2015-03-24 18:51] incanus opened #1080 "confirm animated/unanimated callbacks"
We should confirm that we are using `MapChangeRegionDidChangeAnimated` properly, for example here, this is not an animated change:

https://github.com/mapbox/mapbox-gl-native/blob/2990f388240e6de586de6ebf20258503e68dad6a/platform/ios/MGLMapView.mm#L667

[2015-03-24 18:58] friedbunny opened #1081 "Dashed lines aren't consistent with GL-JS"
![screen-shot-2015-03-24-at-11 39 37-am](https://cloud.githubusercontent.com/assets/1198851/6810119/09e45f7e-d21c-11e4-97f5-45a341123efd.png)
![ios-simulator-screen-shot-mar-24 -2015 -11 40 00-am](https://cloud.githubusercontent.com/assets/1198851/6810118/09e4507e-d21c-11e4-9acb-aee099ce39ff.png)

Those are both z9 [outdoors-v7](https://github.com/mapbox/mapbox-gl-styles/blob/3e72c66af32e6223e0285

[2015-03-24 19:00] incanus commented on #1080
To clarify, `animated:YES` should indicate a programmatic change that received an `animated:YES` argument.

[2015-03-24 19:55] bleege commented on #1033
Everything is built.  Will start merging into `master` next.

[2015-03-24 20:05] mikemorris opened #1083 "Expose SourceInfo on Map object"
Need some way to grab `center`, `bounds` and similar keys from [`SourceInfo`](https://github.com/mapbox/mapbox-gl-native/blob/master/src/mbgl/style/style_source.hpp#L18-L26) to build a `getInfo` [Tilelive API](https://github.com/mapbox/tilelive.js/blob/master/API.md) method similar to [`Vector.prototype.getInfo`](https://github.com/mapbox/tilelive-vector/blob/master/index.js#L226-L263).

[2015-03-24 20:20] jfirebaugh commented on #1083
I think this wants the `center` and `zoom` from the style (https://github.com/mapbox/mapbox-gl-style-spec/issues/247, not implemented yet). Grabbing it from the source is weird because there can be multiple sources.

[2015-03-24 20:27] jfirebaugh commented on #756
Now that we've got a PR for iOS, I'm removing this from the milestone and untagging iOS, but keeping the bug open to track the Android implementation.

[2015-03-24 20:27] jfirebaugh commented on #894
Now that we've got a PR for iOS, I'm removing this from the milestone and untagging iOS, but keeping the bug open to track the Android implementation.

[2015-03-24 20:37] freenerd commented on #1033
Could the _Mapbox Metrics_ screen have a one-sentence explanation of what it means? Grey text like screenshot below:

![2015-03-24 at 21 34](https://cloud.githubusercontent.com/assets/25713/6812239/d60b294c-d26d-11e4-8689-26a40686ee79.png)

Text like

[2015-03-24 20:59] 1ec5 commented on #1033
For gray text, I think you want [`PSTitleValueSpecifier`](https://developer.apple.com/library/ios/documentation/PreferenceSettings/Conceptual/SettingsApplicationSchemaReference/Articles/PSTitleValueSpecifier.html#//apple_ref/doc/uid/TP40007015-SW1).

[2015-03-24 21:14] mikemorris commented on #1083
Yea, looking at Mapnik this info seems to be [tied directly to the XML stylesheet](https://github.com/mapbox/tilelive-vector/blob/master/test/fixtures/a.xml#L6-L12). I was thinking that we would somehow composite the parameters from multiple sources together, but implementing this on the style itself would be much simpler.

[2015-03-24 21:18] ansis commented on #1081
This is caused by -native and -js having different default values for the `base` property in functions.

https://github.com/mapbox/mapbox-gl-native/pull/1085 would fix this.

[2015-03-24 22:07] bleege commented on #1033
Just merged in #1036.

[2015-03-24 22:07] #1033 closed

[2015-03-24 23:31] #1081 closed

[2015-03-24 23:42] ansis commented on #1038
What is the dpi on the devices that you're seeing this on?

[2015-03-24 23:44] incanus commented on #1038
Mine was an iPhone 5s, so 326ppi.

[2015-03-24 23:45] ansis commented on #1038
Sorry, I meant dppx. It looks like it's 2 for the 5s. hmm

[2015-03-24 23:51] peterqliu commented on #1038
@ansis mine is iPhone 5

[2015-03-25 01:28] incanus opened #1087 "reduce verbosity of metrics"
Pinged in chat, but the verbosity needs to go down. Right now it's impacting performance during pans and zooms.

![screen shot 2015-03-24 at 6 27 46 pm](https://cloud.githubusercontent.com/assets/17722/6816662/804751ee-d253-11e4-9479-bf77575ebfdd.png)

[2015-03-25 01:39] incanus commented on #1056
Still haven't had a chance to get to this, but @robipresotto are you still seeing this after the fix in #1077?

[2015-03-25 01:58] incanus opened #1089 "adjust iOS callout offsets for screen edges"
Background in https://github.com/mapbox/mapbox-gl-native/pull/1074#issuecomment-85766309. This needs to account both for would-be offscreen callouts with `SMCalloutView`'s repositioning delay, as well as would-be obscured callouts with navigation and/or toolbars on a view controller via `constrainedInsets`.

[2015-03-25 04:26] incanus opened #1090 "clean up iOS umbrella header"
We can take the container & color categories and the outdated styling API stuff out of `MapboxGL.h` to tidy it up a bit.

[2015-03-25 04:40] incanus opened #1091 "reduce LOC for metrics in MGLMapView.mm"
When things settle down a bit, we could cleanup quite a bit of the code in `MGLMapView.mm` around metrics.

Example:

[code]

Could be merely:

[code]

Then, `ptInView` can be deduced from `pan` internally, as well as converted using the public `[MGLMapView convertPoint:toCoordinateFromView:]`, and the metrics engine can deduce all the stuff that gets put into the dictionary now.

Similarly we cou

[2015-03-25 04:44] incanus opened #1092 "allow region-based viewport setting"
https://github.com/mapbox/mapbox-gl-native/pull/1082 and user location display on the map introduces `-zoomToSouthWestCoordinate:northEastCoordinate:animated:` brought over from the iOS SDK. We should settle on whether we will use this approach or a more singular structure like MapKit's `MKRegion`. Then, we should expose these methods publicly for general use as well for things like zooming to an

[2015-03-25 05:04] incanus opened #1093 "navigation bar user location tracking mode button"
Either port `RMUserTrackingBarButtonItem` from the iOS SDK or otherwise meet the capabilities of `MKUserTrackingBarButtonItem` such as pairing with a map view, automatic state update using KVO off of the map view, and in-progress animations.

[2015-03-25 09:08] robipresotto opened #1095 "Could not find Settings.bundle"
The static build not find the settings.bundles

[2015-03-25 09:22] robipresotto commented on #1071
the last build now crashes (Map(26) exc_bad_access) because the map lost the references for:

#ifndef _LIBCPP_HAS_NO_RVALUE_REFERENCES
        operator=(unique_ptr<_Yp, _Dp>&& __r);
#else  // _LIBCPP_HAS_NO_RVALUE_REFERENCES
        operator=(unique_ptr<_Yp, _Dp> __r);
#endif

    void swap(shared_ptr& __r) _NOEXCEPT;
    void reset() _NOEXCEPT;
    template<class _Yp>
        typename enable_if

[2015-03-25 13:55] bleege commented on #1087
Resolved in https://github.com/mapbox/mapbox-gl-native/pull/1086.

[2015-03-25 13:55] #1087 closed

[2015-03-25 13:58] robipresotto commented on #1056
the app crash on

#ifndef _LIBCPP_HAS_NO_RVALUE_REFERENCES
operator=(unique_ptr<_Yp, _Dp>&& __r);
#else // _LIBCPP_HAS_NO_RVALUE_REFERENCES
operator=(unique_ptr<_Yp, _Dp> __r);
#endif

void swap(shared_ptr& __r) _NOEXCEPT;
void reset() _NOEXCEPT;
template<class _Yp>
    typename enable_if
    <
        is_convertible<_Yp*, element_type*>::value,
        void

    reset(_Yp* __p);
template<class _Y

[2015-03-25 15:05] picciano commented on #1095
Did you re-run git submodule update? There is a new style added to the styles submodule and it is set as the new default map style.

[2015-03-25 15:10] picciano commented on #1044
Let me add this valuable comment: "me too"

:+1:

[2015-03-25 15:10] robipresotto commented on #1095
yes, i did

[2015-03-25 16:07] bleege commented on #1095
@robipresotto Can you tell us more about the Settings.bundle file not being found?  Are you seeing the `Could not find Settings.bundle` console message when the app is run?

[2015-03-25 16:16] peterqliu commented on #1044
@mb12 sorry i missed your comment-- I've since composited terrain and streets into once source, and removed terrain-v1 :+1:

[2015-03-25 16:21] robipresotto commented on #1095
exactly

[2015-03-25 16:48] robipresotto opened #1096 "Painter Render Crash"
Close the app, open the app!

Thread : Crashed: Map
0  Embark                         0x00000001002ab214 mbgl::Painter::render(mbgl::Style const&, std::__1::set<mbgl::util::ptr<mbgl::StyleSource>, std::__1::less<mbgl::util::ptr<mbgl::StyleSource> >, std::__1::allocator<mbgl::util::ptr<mbgl::StyleSource> > > const&, mbgl::TransformState, std::__1::chrono::time_point<std::__1::chrono::steady_clock,

[2015-03-25 16:49] bleege commented on #1095
Thanks for clarifying @robipresotto.  Did you do a `make clean` or `make iproj` after updating to the latest code from Github?

[2015-03-25 17:02] mb12 commented on #446
@kkaefer
1.) Is it possible to add support for tessellation to the following mapbox projects?
https://github.com/mapbox/mapnik-vector-tile
https://github.com/mapnik/node-mapnik

[2015-03-25 17:05] kkaefer commented on #90
Bogus close

[2015-03-25 17:34] robipresotto commented on #1095
after make clean, make iproj still the same problem... and nothing on app settings...
![ios simulator screen shot 25 mar 2015 18 33 54](https://cloud.githubusercontent.com/assets/3818948/6830936/87a67436-d31d-11e4-90eb-f6a1ba148252.png)

[2015-03-25 17:34] bleege commented on #1095
I think I've found an answer.  While I was able to get `Settings.bundle` to work after creating a `make clean` and `make iproj` I did notice that `Settings.bundle` wasn't being included in the project generation process.  Once it passes the CI test i'll merge it in.

[2015-03-25 17:35] bleege commented on #1095
Thanks for the screenshot @robipresotto.  How's that for timing though with the posts?  :-)

[2015-03-25 17:47] robipresotto commented on #1095
hehe after the merging still the same :/

[2015-03-25 17:48] friedbunny commented on #1096
@robipresotto Just a small GitHub style suggestion: Even for crashes, using the wrapping the text in a [code block](https://help.github.com/articles/github-flavored-markdown/#fenced-code-blocks) can help make it easier to read. :neckbeard:

[2015-03-25 17:51] robipresotto commented on #1096
aha! much better now!! +1:

[2015-03-25 18:34] incanus opened #1099 "pare down iOS platform gyp reqs"
We can cut down this list a bit:

https://github.com/mapbox/mapbox-gl-native/blob/a0060a894d70719a77118106f19fb1a74fc00154/gyp/platform-ios.gypi#L50-L59

Over in the [`podspec`](https://github.com/mapbox/mapbox-gl-native/blob/a0060a894d70719a77118106f19fb1a74fc00154/ios/MapboxGL.podspec#L25-L27) we were able to specify fewer, and keeping these in sync could make maintenance easier and less error-p

[2015-03-25 18:50] ansis opened #1100 "android test app crashes on startup"
I installed the android stuff following the readme.
I ran `make android` and `open -a "Android Studio"`.
In Android Studio I hit the green play button and selected my 4.4.4 device.

It crashes with a bunch of different errors:
https://gist.github.com/ansis/4e43d3c146798191d804
https://gist.github.com/ansis/578f86a81e41e3d8841c
https://gist.github.com/ansis/3df989249dd27fa7555b
https://gist.github.

[2015-03-25 19:01] bleege commented on #1095
Just merged it in to the `master` branch of the project.

As for the specific situation that you describe @robipresotto, did you run `make iproj` after you merged?

[2015-03-25 19:16] friedbunny opened #1101 "3x tiled sprites sometimes have borders"
Per @andreasviglakis in https://github.com/mapbox/mapbox-gl-styles/issues/50#issuecomment-86159351, Emerald on iPhone 6 Plus is drawn with white borders around the water sprites.

[![ios-simulator-screen-shot-mar-25 -2015 -12 11 00-pm](https://cloud.githubusercontent.com/assets/1198851/6833151/2759a100-d2e8-11e4-8544-07b928c9d4b0.png)](https://cloud.githubusercontent.com/assets/1198851/6833043/6e0

[2015-03-25 19:19] robipresotto commented on #1095
i did make iproj after merged and still the same :/

[2015-03-25 19:24] friedbunny commented on #1095
Xcode ⇧⌘K clean after a `make iproj` and merging worked for me.

[2015-03-25 19:49] jonathanduty opened #1102 "Multiple Maps cause SQLLite cache(22): SIGBART error"
Setup:
I modified the left and right navbar buttons to either push a new MBXViewController or pop it using the UINavigationController.  I wanted to test navigating from one map to another using push/pop UINavigation controller.

Bug One:
Open the App.  Let the map fully load.  Then push right nav button and navigate to next map.  Start dragging quickly.  You will eventually get a SQLLite cache(22)

[2015-03-25 19:50] jonathanduty opened #1103 "Multiple Maps EXEC_BAD_ACCESS TransformState::getLatLng()"
setup:
I modified the left and right navbar buttons to either push a new MBXViewController or pop it using the UINavigationController.  I wanted to test navigating from one map to another using push/pop UINavigation controller.

Steps:
Open app.  Let first map fully load.    Hit right bar button to navigate to new map.  Hit left button to navigate back to first map.  Touch the screen, you get a EX

[2015-03-25 19:55] incanus commented on #1103
@bleege want to investigate?

[2015-03-25 19:55] bleege commented on #1102
/cc @kkaefer

[2015-03-25 20:24] #1038 closed

[2015-03-25 20:27] jonathanduty commented on #1103
At first glance following variables are declared in global scope in MGLMapView:

mbgl::Map *mbglMap = nullptr;
MBGLView *mbglView = nullptr;
mbgl::SQLiteCache *mbglFileCache = nullptr;
mbgl::DefaultFileSource *mbglFileSource = nullptr;

When the second MGLMapView is dealloced, they are set to null giving the first MGLMapView zombie pointers.

[2015-03-25 20:41] 1ec5 commented on #1099
Oddly, the framework list in the .gypi file is as short as it can get without causing linker errors. CocoaPods must be linking in UIKit, CoreGraphics, etc., but I’m not sure how.

[2015-03-25 20:46] incanus commented on #1099
This is sort of a longstanding thing I've seen across projects. I've never really had to link CoreGraphics before. Also, it could be part of `@import` vs. `#include`, or related to modules?

[2015-03-25 21:02] incanus commented on #1044
I still see a noticeable pop between layers coming in on iPhone 5**s** in _Release_. Emerald is the first style I've seen perf issues with.

[2015-03-25 21:18] robipresotto commented on #1096
Probably related issue,
'''ruby
Thread : Crashed: com.apple.main-thread
0  Embark                         0x000000010026d12c mbgl::Map::renderSync() (memory:2603)
1  Embark                         0x00000001002deff0 -[MGLMapView glkView:drawInRect:] (MGLMapView.mm:483)
2  Embark                         0x00000001002deff0 -[MGLMapView glkView:drawInRect:] (MGLMapView.mm:483)
3  GLKit

[2015-03-25 21:22] robipresotto opened #1104 "HTTPRequest handleResponse"
Turn off the connection and scroll around on map,

[code]

[2015-03-25 21:30] picciano commented on #1099
According to http://stackoverflow.com/questions/24181062/default-frameworks-missing-in-xcode-6-beta

In Xcode 6, the default for new projects is to use the module system (introduced in Xcode 5) to automatically link any frameworks you reference in code via import (Swift) or @import/#import statements (ObjC). Because the project template contains code that imports Foundation and UIKit (and a test c

[2015-03-25 21:45] 1ec5 commented on #1099
Ah, yes, forgot to update this ticket. We need to enable `CLANG_ENABLE_MODULES` in either platform-ios.gypi or mapboxgl-app.gyp.

[2015-03-25 22:15] lxbarth opened #1106 "Loading slow"
Using Mapbox GL latest.

Map loads very slow to the point where in the first 15 seconds I am wondering whether the app is dead (I see only grey). Entirely possible my network is slow, but the impression is brokenness as nothing indicates to me that loading is in progress.

[2015-03-25 22:20] 1ec5 commented on #1106
What phone and iOS version are you using?

[2015-03-25 22:22] lxbarth commented on #1106
Sry, iOS8.1 iPhone6.

[2015-03-25 22:40] #1068 closed

[2015-03-25 23:36] tatsvc opened #1108 "Language support"
How will language support work in the new SDK? Will this be the country's language by default, or can you set it to the language of the OS (this is what Apple Maps does, they have a toggle to always have it in English)? Just something to think about.

cc. @incanus @1ec5 @peterqliu

[2015-03-26 00:39] incanus opened #1109 "release build exposes metrics lag"
I am seeing a pretty considerable lag with the three main gestures now due to metrics.

![screen shot 2015-03-25 at 5 36 01 pm](https://cloud.githubusercontent.com/assets/17722/6838386/db2c51aa-d315-11e4-995e-4f1cbc93da82.png)

This is showing the gesture metrics for pan, pinch, and rotate taking 10-20x longer than the actual move, zoom, and bearing commands. It's impacting the framerate.

* Pan:

[2015-03-26 00:57] incanus commented on #1109
I am seeing this both in `master` and the about-to-be-merged https://github.com/mapbox/mapbox-gl-native/pull/1110. It's unusable a lot of the time :-(

Is it just my setup? Seeing it on two devices.

[2015-03-26 02:09] bleege commented on #1109
Just wrapped the gesture events in an async concurrent background thread so that they're as far away from the main UI thread as possible.  Also wrapped the pushEvent and flush methods in serial background queues so things stay in order, but if there's a lag it won't impact the UI.

[2015-03-26 02:20] incanus commented on #1109
Hmm, I am still seeing all activity on `DISPATCH_QUEUE_PRIORITY_BACKGROUND`, which isn't serial.

[2015-03-26 02:54] bleege commented on #1109
Thanks for the GCD education @incanus!  Now they should be serial queues.

[2015-03-26 03:27] bleege commented on #1103
This may be related to #1109.

[2015-03-26 03:52] incanus commented on #1109
I should clarify in my original post that those were CPU time totals for the actions.

Going to check this out shortly.

[2015-03-26 04:46] incanus commented on #1109
Fixed in https://github.com/mapbox/mapbox-gl-native/pull/1112.

[2015-03-26 04:46] #1109 closed

[2015-03-26 04:56] incanus opened #1113 "allow for iOS tap gesture"
Right now our manual marker hit-testing tap gesture interferes with a single-tap the user might want to attach to the map. We need to indicate internally when a tap happens off of a marker while also no markers are selected, and pass it on.

[2015-03-26 06:19] friedbunny commented on #1103
Got this just now on the latest `master`, including the #1112 merge (552522ea94d0297b7ad10d1923e9d3b9aa9b8482).

In [[MGLMapView trackGestureEvent:forRecognizer:]](https://github.com/mapbox/mapbox-gl-native/blob/552522ea94d0297b7ad10d1923e9d3b9aa9b8482/platform/ios/MGLMapView.mm#L1037) at:

[code]

[2015-03-26 08:14] robipresotto commented on #1095
still the same

[2015-03-26 13:22] robipresotto commented on #1096
[code]

[2015-03-26 13:24] kristfal commented on #1067
Update, managed to find a workaround.

The initial data is "tiled" like this:

![mapbox data](https://cloud.githubusercontent.com/assets/5638107/6846925/8aad3dd6-d3c2-11e4-8f67-97c5e533e545.JPG)

Which in turn causes the native client to completely drop rendering certain polygons:

![unnamed](https://cloud.githubusercontent.com/assets/5638107/6846933/98aa8812-d3c2-11e4-9d6a-758f9d2374d6.png)

We t

[2015-03-26 13:51] robipresotto commented on #1113
'''
Thread : Crashed: com.apple.root.background-qos
0  libobjc.A.dylib                0x0000000193bdbbd0 objc_msgSend + 16
1  CoreFoundation                 0x0000000182be9e7c __NSFastEnumerationMutationHandler + 36
2  UIKit                          0x00000001875fba40 -[UIGestureRecognizer locationInView:] + 268
3  Embark                         0x00000001002476c0 __46-[MGLMapView trackGestureEven

[2015-03-26 13:55] robipresotto commented on #1096
[code]

[2015-03-26 13:57] kkaefer commented on #1096
Investigating this now.

[2015-03-26 14:21] kkaefer commented on #1067
I'd be interested in the sample material. Can you please send them to konstantin (at) mapbox.com? The JS renderer uses different approach to polygon rendering which doesn't involve tessellation. However, that will change soon since rendering is faster with properly tessellated polygons.

[2015-03-26 15:45] bleege commented on #1103
@friedbunny good catch ^^.  In the light of day that shouldn't be too surprising as it's doing math with UI objects.  I'll move it outside the background thread.

[2015-03-26 16:18] friedbunny commented on #1101
Fixed by #1111

[2015-03-26 16:18] #1101 closed

[2015-03-26 17:00] incanus commented on #1095
@robipresotto Can you double-check your build product in Xcode (open the bundle) and see if the Setting.bundle is inside?

[2015-03-26 17:04] 1ec5 commented on #1069
See also https://github.com/mapbox/mapbox-gl-native/commit/10a30daed66ac1795ee9a0097e8aeb2e735e8968#commitcomment-10408334.

[2015-03-26 17:05] robipresotto commented on #1095
![by robitto 2015-03-26 at 18 05 20](https://cloud.githubusercontent.com/assets/3818948/6852028/baed89a4-d3e2-11e4-9ae8-558aa83db765.png)

[2015-03-26 17:24] bleege commented on #1095
Thanks for the screenshot @robipresotto.  It looks like the `MapboxGL.bundle` that's in the source is missing a `.plist`.  See below for example:

![screen shot 2015-03-26 at 12 22 59 pm](https://cloud.githubusercontent.com/assets/989928/6852506/05a458cc-d3b3-11e4-8d35-ea4a24649565.png)

[2015-03-26 17:24] incanus commented on #1095
I mean like here @robipresotto:

![screen shot 2015-03-26 at 10 24 16 am](https://cloud.githubusercontent.com/assets/17722/6852514/4ea493b8-d3a2-11e4-9785-a58ec37a17ad.png)

[2015-03-26 17:30] incanus opened #1116 "crash in metrics gesture tracking"
Crashes are occurring inside of `-[MGLMapView trackGestureEvent:forRecognizer:]`, probably compounded the extreme rapid-fire nature of them during pans and zooms.

This ticket tracks crashes related to mutation of objects during iteration.

* https://rink.hockeyapp.net/manage/apps/163490/app_versions/2/crash_reasons/31107650
* https://rink.hockeyapp.net/manage/apps/163490/app_versions/2/crash_reas

[2015-03-26 17:34] incanus commented on #1116
There are other lingering crashes in `-[MGLMapView trackGestureEvent:forRecognizer:]` as well, but let's knock out the above, which looks to me like a clear sing of non-threadsafety, first.

[2015-03-26 17:35] incanus commented on #1103
@friedbunny @bleege The gesture tracking is unrelated to @jonathanduty's original report, which is about 2+ maps in an app and global variable naming collision. Gesture discussion over in https://github.com/mapbox/mapbox-gl-native/issues/1116.

[2015-03-26 17:35] #1099 closed

[2015-03-26 17:36] incanus commented on #1103
@jonathanduty Question here: is this two issues or one? i.e. having two maps in the same app, is the problem with view controllers related or another issue?

[2015-03-26 17:42] robipresotto commented on #1095
![by robitto 2015-03-26 at 18 42 07](https://cloud.githubusercontent.com/assets/3818948/6852892/dbdd6d1e-d3e7-11e4-8d57-724529bd78a1.png)

[2015-03-26 17:44] incanus opened #1117 "isRegisteredForRemoteNotifications is iOS 8+"
We are getting a crash as this selector is iOS 8+ and we support down to iOS 7.

https://rink.hockeyapp.net/manage/apps/163490/app_versions/2/crash_reasons/31138656

[2015-03-26 17:47] jonathanduty commented on #1103
@incanus both of these are related to having 2 maps in the same app, however both do not need to be visible at the same time for either of these bugs to happen.

1) One appears to be due to scope collision when a map is destroyed before the others. I think this is a bug with how the variables are defined in the view controller.
2)  the second occurs when you have multiple maps and try to scroll on

[2015-03-26 18:40] jonathanduty opened #1119 "Backgroud/relaunch ios app causes crash"
On a ios device, run the app.  Move the app around or zoom in.   Then background it, the relaunch.  May have to do this a few times.  Eventually the app will crash.

[code]

[2015-03-26 18:41] incanus commented on #1119
I believe @kkaefer is working on a fix for this.

[2015-03-26 18:42] kkaefer commented on #1119
Dupe of #1096, which is already in master.

[2015-03-26 18:42] #1119 closed

[2015-03-26 18:43] incanus commented on #1119
P.S. @jonathanduty We'll typically hit tags, but for inline code or stack traces, mind wrapping in \`\`\` lines? See https://guides.github.com/features/mastering-markdown/ for more info. I've been updating some of your tickets.

[2015-03-26 18:44] jonathanduty commented on #1119
@incanus Ahh, looks much better.  Will do from now on.  Thank!

[2015-03-26 19:05] picciano opened #1120 "MBGLMapView getRawStyle returns nil"
When using a bundled style, the getRawStyle method returns nil. Expected behavior: it would return an NSDictionary representation of the current style.

However, after setting a map style with setRawStyle:, the getRawStyle works as expected.

[2015-03-26 19:09] incanus commented on #1120
This API will likely go away in favor of just style URL setting, externally via a passed `NSURL` (local or remote) or internally during setup. Also we'll probably lose the bundled style name-based API.

[2015-03-26 19:09] picciano opened #1121 "Sprite location appears to move when map is zoomed in and out"
The default marker has a visual indication of a pointer, however the sprite is centered above the annotations location. Because of this, the marker appears to point to different locations as the map is zoomed in and out. Possible solution, the sprite data should contain an offset location to indicate the "visual" center of the image.

[2015-03-26 19:10] incanus commented on #1121
The default marker, like our [markers API](https://www.mapbox.com/developers/api/static/#images), uses a partially-transparent image where the point of the pin is actually at the image center. So this shouldn't be happening?

[2015-03-26 19:11] picciano opened #1122 "Feature request: Allow client app to add additional sprite sheets to existing style"
I realize that annotations is a work in progress, but this would allow the app to add custom marker without the need to duplicate an existing style just to modify its sprite sheet.

The "sprite" dictionary key for a style currently only support a single string. If this were modified to accept either a string or array of string, the user could add custom markers to an existing style.

[2015-03-26 19:15] picciano opened #1123 "Feature request: Allow file URLs for the "sprite" property of styles"
Currently only http:// and https:// URLs appear to be supported as URLs in the "sprite" property of a style. It would be very useful to also allow file:/// URLs so that spite JSON and PNG files could be bundled with the app rather than hosted externally.

[2015-03-26 19:16] incanus commented on #1122
Yep, that's the next milestone for annotations. However, we don't have a good ticket capturing that plan, so here it is :-)

* Now: sprite sheet prebundled
* Next: Runtime raster imagery from Cocoa-side
* Eventual: synced `UIView` objects atop map like user dot & callout are now

[2015-03-26 19:17] incanus commented on #1122
Ah, here it is: https://github.com/mapbox/mapbox-gl-native/issues/941

[2015-03-26 19:17] #1122 closed

[2015-03-26 19:19] incanus commented on #1069
Preview work in [`1069-annotations-threadsafe`](https://github.com/mapbox/mapbox-gl-native/compare/1069-annotations-threadsafe) looks :+1: to me.

[2015-03-26 19:25] picciano commented on #1121
Here is a quick example. The marker is at a fixed lat/lon, only the map zoom is changed. As you can see, the marker sometime appears to point north of the road when zoomed in, but south of the road when zoomed out. Obviously, the more extreme the zooming, the more obvious the discrepancy.

But I do agree with your reasoning that this should not be happening.

![ios simulator screen shot mar 26 201

[2015-03-26 19:30] incanus commented on #1121
Hmm, weird. This is in GL, so it shouldn't be a sync or screen conversion issue. Will check on the sprite centering etc.

[2015-03-26 19:30] picciano commented on #1121
I suspect it may be an @2x issue when calculation the image size or center point.

[2015-03-26 19:34] ansis commented on #888
@ljbade I'll assume this is fixed. Re-open if it isn't.

[2015-03-26 19:34] #888 closed

[2015-03-26 19:35] picciano commented on #1122
Very good. Sorry I missed seeing that one.

[2015-03-26 19:36] ansis commented on #889
I think https://github.com/mapbox/mapbox-gl-native/pull/381 might have fixed this. Can you check?

[2015-03-26 19:36] ansis commented on #810
Assume this was fixed by https://github.com/mapbox/mapbox-gl-native/pull/843. @ljbade re-open if it wasn't.

[2015-03-26 19:36] #810 closed

[2015-03-26 20:12] bleege commented on #1116
The first 2 crash reports from HockeyApp both give the following as the crash point:

The final 3 crash reports all report:

[2015-03-26 20:19] incanus commented on #1116
This just sounds like UI access not on the main thread to me.

[2015-03-26 20:20] bleege commented on #1116
Yep.  https://github.com/mapbox/mapbox-gl-native/pull/1115/files#r27249748

[2015-03-26 21:17] bleege opened #1124 "Break anonid Into Two"
`anonid` currently records either Advertiser Id (IDFA) or Vendor Id (IDFV) depending [on availability of IDFA](https://github.com/mapbox/mapbox-gl-native/blob/501f9701cd25c004b496dbdf96c8ac45845718be/platform/ios/MGLMapboxEvents.m#L74-L90).  `anonid` should be split into `advertiserId` and `vendorId`.  `advertiserId` should be collected when available using the same logic as is currently in use, a

[2015-03-26 21:26] incanus opened #1125 "improve synced view tracking"
General ticket for improvement of "sticking" native, Cocoa-side views to the panning, zooming GL render view.

This relates to the user dot now, later to callouts and annotation views. Let's keep a ticket around until we are 100% satisfied with the behavior here, but we can move it along milestones as we make staged improvements.

[2015-03-26 21:54] bleege commented on #1124
Just spilt `anonid` into `advertiserId` and `vendorId`.  If IDFA is not available then `advertiserId` returns the value of "NONE".

[2015-03-26 21:59] mikemorris commented on #1124
`"NONE"` seems like a strange response, as that string will evaluate to true in JavaScript conditionals checking `if (advertiserid)`, while `""` or `null` would both eval to false.

[2015-03-26 22:02] bleege commented on #1124
Agreed, but @camilleanne is already making us of it [for WiFi](https://github.com/mapbox/mapbox-gl-native/blob/7cd8daf5a7df41aa8a998a393d10ee7c9215594b/platform/ios/MGLMapboxEvents.m#L337) so I did this for consistency.  Should we change?

[2015-03-26 22:21] bleege commented on #1124
Just changed `advertiserId`, `cellularNetworkType` and `wifi` to use empty string for data consistency.

[2015-03-26 23:01] bleege commented on #1124
Upon further discussion with @camilleanne and @edenh it was decided that "NONE" is actually a "legitimate description" of state and should be used where appropriate.  In this case that's `cellularNetworkType` and `wifi`.

[2015-03-26 23:02] bleege commented on #1124
Restored.

[2015-03-26 23:15] bleege opened #1128 "Convert Boolean To Strings"
Convert all metrics to use `true` or `false` strings instead of boolean values.

/cc @camilleanne @edenh @mick

[2015-03-27 00:51] incanus commented on #1116
Just about through with a large refactor here. The main cause of crashes here is that we are crossing access to `_queue` from both of our custom serial queues as well as the main UI thread.

[2015-03-27 01:21] ljbade commented on #1100
Hmm, I have not seen any startup crashes for a while.

The first one looks like a empty style URL is being set on the map. This might happen the first time the app is run on a device before the UI has fully loaded and selected the Bright style. Probably just need to set the style URL to a default value in the UI XML files.

The second and fourth ones are crashes somewhere in the C++ side so need t

[2015-03-27 01:31] bleege commented on #1116
![keep-calm-and-don-t-cross-the-streams-6](https://cloud.githubusercontent.com/assets/989928/6860501/0e48908a-d3f7-11e4-9a10-26856d4875ec.png)

[2015-03-27 05:10] #1117 closed

[2015-03-27 05:48] incanus commented on #1104
I have seen this too a few times even when online. /cc @kkaefer

[2015-03-27 06:20] #1116 closed

[2015-03-27 06:52] incanus opened #1134 "mail metrics erroneously reports false"
If `MFMailComposeViewController` is not found, mail setup status can't be checked. It might not be found because its framework isn't linked in, but email could still be setup. The `canSendMail` method is only meant to check that mail is setup before attempting to send.

/cc @bleege

[2015-03-27 11:15] kkaefer commented on #1123
This works by specifying `asset://`, which is relative to Resource bundle of the application. We intentionally didn't use `file://` since `asset://` isn't directly mapped to the file system: on some systems like Android, it refers to the APK bundle (which is a zip file). Does this work for you?

[2015-03-27 15:58] bleege commented on #1128
Going with #1135 as it's setup for Post Metrics Refactoring.  Restarted build in Travis to get signoff and then will merge.

/cc @incanus

[2015-03-27 16:06] bleege commented on #1124
Reopening to make this work with the massive refactor ing #1132.  Should just need to re-implement the following commit: 7cd8daf5a7df41aa8a998a393d10ee7c9215594b

[2015-03-27 16:34] bleege commented on #1124
Just waiting on Travis now for merge approval.  https://travis-ci.org/mapbox/mapbox-gl-native/builds/56117796

[2015-03-27 16:57] ansis opened #1139 "port new labeling to -native"
https://github.com/mapbox/mapbox-gl-js/pull/1079

[2015-03-27 16:58] ansis opened #1140 "port perspective view to -native"
https://github.com/mapbox/mapbox-gl-js/pull/1049
and
https://github.com/mapbox/mapbox-gl-js/pull/1114

[2015-03-27 17:00] mikemorris commented on #1139
Oooh, will be great to get this into native!

[2015-03-27 17:47] #1128 closed

[2015-03-27 17:49] bleege commented on #1124
Travis approved!

[2015-03-27 17:49] #1124 closed

[2015-03-27 17:55] incanus commented on #1095
We just can't reproduce this @robipresotto. Can you try again and if you are able to, post here and I'll reach out to you by email for a sample project?

[2015-03-27 17:55] #1095 closed

[2015-03-27 18:02] ansis commented on #1100
@ljbade can you make the change or point me to the right file?

I'll hold off on digging into the other ones until that's fixed, because they might be related. https://github.com/mapbox/mapbox-gl-native/wiki/Android-debugging-with-remote-GDB is well documented, but still a bit intimidating

[2015-03-27 18:35] robipresotto opened #1142 "Rapidjson MemoryPoolAllocator"
I'm not sure how to reproduce it,
probably the system is trying to update the jsonstyle in background...

[code]

[2015-03-27 18:41] incanus commented on #1106
Cool, let's try a new build tonight and see how it lands.

[2015-03-27 18:41] #1106 closed

[2015-03-27 19:19] bleege opened #1144 "Go Back To Boolean"
The internal metrics engine issues that prompted #1128 have now been resolved.  Boolean values no longer need to be wrapped as Strings.

/cc @willwhite @camilleanne @edenh @mick @incanus @1ec5

[2015-03-27 19:28] 1ec5 opened #1145 "Unable to turn on user location tracking immediately at startup"
Currently it doesn’t seem possible for an app to turn on `MGLUserTrackingModeFollowWithHeading` at startup, because `-[MGLMapView setUserTrackingMode:animated:]` goes and resets the mode to `MGLUserTrackingModeNone` if `self.userLocation.coordinate` is invalid. The coordinate is invalid from startup until we receive the first location update. And setting `MGLUserTrackingModeFollow` at startup does

[2015-03-27 19:35] 1ec5 commented on #1145
The workaround is to first set a valid center coordinate. That’s a pretty sensible workaround, so I don’t think this bug is important for beta 1.

[2015-03-27 21:16] 1ec5 opened #1147 "Crash on launch without access token — mbgl::Style::loadJSON()"
Every time I launch the iOS demo app in various older iOS simulators (e.g., iPhone 4s or iPad 2 with iOS 8.2), I get the following crash:

[code]

`Map::data` is completely empty at this point: no `json` and no `base`. Those values wouldn’t be filled in until `-[MGLMapView initWithFrame::accessToken:styleJSON:]` calls `-setStyleJSON:` later on.

[2015-03-27 21:16] incanus commented on #1125
I'm feeling pretty good about the current state of tracking, especially after the above commit which avoids invalid `CLLocationCoordinate2D`-based updates during `TransformState` "will change" events (and just catches the "did change").

The one issue I'm seeing which I'd like to clean up is the dot disappearing during e.g. a double-tap animated zoom. It doesn't show up again until the next `CLLoc

[2015-03-27 21:21] incanus commented on #1147
Can't seem to find it now, but I had flagged an issue for @peter related to `float` values in the half-sized `1x` sprite JSON. Looks very similar.

[2015-03-27 21:21] incanus commented on #1147
P.S. Isn't 4s retina?

[2015-03-27 21:23] 1ec5 commented on #1147
Whoops, you’re right, forgot to edit that part.

[2015-03-27 21:23] incanus commented on #1147
https://github.com/mapbox/mapbox-gl-styles/pull/43#issuecomment-84480098

[2015-03-27 21:24] 1ec5 commented on #1147
I’m not sure that’s related. What I’m seeing here is that the JSON is never set by the time the Map thread tries to parse it.

[2015-03-27 21:29] incanus commented on #1125
Another lead that confirms the above: pan the map until the dot is >150px off screen, then hit the user locate button. The map pans back into view (meaning the map centering to the valid user location is of course working) but the dot doesn't show up until the next CL update post-animation. During the animation it's still residing at the offscreen value, so it's hidden.

[2015-03-27 21:30] 1ec5 commented on #1147
This is where `StyleInfo` is set on the iPhone 6 simulator:

[code]

The iPhone 4s simulator never gets here before the Map thread tries to parse JSON out of the `StyleInfo`.

[2015-03-27 22:00] 1ec5 commented on #1147
And just like that, it no longer reproduces.

[2015-03-27 22:05] 1ec5 commented on #1147
Doesn’t reproduce if I put in my access token.

[2015-03-27 22:23] 1ec5 commented on #1121
Here’s an interesting experiment: place the pin directly atop a label, such that the visual tip of the pin pierces the label. Then zoom out slowly. The pin and label are in sync as they both begin to drift. Below, the label “Emerald” should be near the center of the station building, but as you zoom out it wanders onto the tracks:

![drift](https://cloud.githubusercontent.com/assets/1231218/687804

[2015-03-27 22:40] incanus commented on #1121
Well, that's interesting. I don't know offhand how labels' anchor points are specified, but it would seem that whatever is wrong affects them both. I'm not sure if it's problematic for labels, but it definitely proves the bug for points.

/cc @ansis

[2015-03-27 23:00] ansis commented on #1121
What is the style for this point's layer? the point and icon are in gl-land right?

[2015-03-27 23:11] kristfal commented on #1067
@kkaefer We fixed this in the data by running ST_ForceRHR on the polys. That should probably narrow your search ;)

[2015-03-27 23:21] 1ec5 commented on #1147
I also get this crash now when I put an `MGLMapView` in a storyboard (#1070) and set its `accessToken` as a user-defined runtime attribute instead of setting it in code.

[2015-03-27 23:24] incanus commented on #1121
@ansis It's made on the fly here:

https://github.com/mapbox/mapbox-gl-native/blob/5c6809fc367416268794be0445ae17f23bb2cb8f/src/mbgl/style/style_parser.cpp#L34-L63

[2015-03-27 23:37] #1144 closed

[2015-03-27 23:46] 1ec5 commented on #1003
Doesn’t currently seem to reproduce with push or show segues in storyboards. Let’s see if it reproduces programmatically…

[2015-03-28 00:20] bleege commented on #1134
Discussed with @camilleanne @edenh @incanus this afternoon and decided to pull the `enabled.mail` metric for now as the current setup "only tells us if the app is using email sending at all, not if email is setup on the device".

[2015-03-28 00:54] bleege commented on #1134
Removed and merged!

[2015-03-28 00:54] #1134 closed

[2015-03-28 02:41] incanus commented on #1125
Tracking is pretty good right now. Only outstanding issue I'd like to hit for the beta is the dot disappearing briefly during animated zooms (but coming back at least, now). I'm nearing some completion on this but don't want to hold up a build tonight so I'll work on that a bit over the weekend.

Going to squash & merge a few commits now with improvements thus far.

[2015-03-28 02:48] incanus commented on #1125
First batch of improvements in https://github.com/mapbox/mapbox-gl-native/pull/1151.

[2015-03-28 03:25] incanus commented on #1147
@kkaefer Want to take a peek?

[2015-03-28 13:49] picciano commented on #1123
It does. I will confirm it's working Monday. Thank you.

[2015-03-28 18:40] friedbunny commented on #1108
As another point of comparison, Google Maps (iOS app and SDK) defaults to device language with no exposed setting or API for switching. Labels in "foreign" places will display both your device language (where available) and the appropriate local name.

![screen shot 2015-03-28 at 11 04 16 am](https://cloud.githubusercontent.com/assets/1198851/6882211/4f1b2ec6-d53a-11e4-88d8-460cbc79f7a2.png)

Mean

[2015-03-30 11:01] kkaefer opened #1152 "Move Sprite loading outside of Sprite object"
We're currently constructing the Sprite object with a URL. Instead, the Sprite object should be unaware of those concerns and be initialized with the already-loaded image/JSON. This allows us to make the Sprite object all-`const`. This will make it easier to test the Sprite object and its parsing of the Sprite JSON files.

[2015-03-30 11:15] kkaefer commented on #1152
Depends on https://github.com/mapbox/mapbox-gl-native/issues/925

[2015-03-30 11:49] kkaefer opened #1153 "Merge all gyp projects"
We currently have several gyp projects for a platform, on OS X they are `macosx/mapboxgl-app.gyp`, `linux/mabpoxgl-app.gyp`, `test/test.gyp`, and `bin/render.gyp`. We should convert them to includes and merge them into one umbrella objects so we can share build caches between them. Currently, you'll have to create separate projects to run the tests and execute the sample app, and they can't be ope

[2015-03-30 12:44] kkaefer opened #1154 "Don't reload/reparse tiles after app gets backgrounded"
We're currently reloading and reparsing the tiles once the app gets backgrounded on iOS (and Android for that matter). This is because the `Style` object gets deleted, which clears out all loaded tiles. While the vector tile itself is most likely cached, we still have the overhead of reparsing all of the tiles.

Instead, we should hold on to the parsed buffers as long as possible (and possibly rel

[2015-03-30 13:04] kkaefer opened #1155 "Only run Style::updateProperties when required"
We're currently running `Style::updateProperties` too often; whenever anything about the transform changes. However, we only need to run it on zoom, or when adding/removing classes.

[2015-03-30 13:23] kkaefer commented on #434
VAO deletion is now coalesced as of https://github.com/mapbox/mapbox-gl-native/commit/61fa43619334ac68c66d45d38aaf681f2a21fa96

To coalesce creation, we'll have to uncouple data buffer creation and OpenGL object creation.

[2015-03-30 13:40] kkaefer opened #1156 "Normalize font names"
To avert issues like https://github.com/mapbox/mapbox-gl-styles/issues/57, we should normalize the font stack names (split on comma, then trim, then join).

Refs https://github.com/mapbox/mapbox-gl-style-spec/issues/257

[2015-03-30 16:22] picciano commented on #1123
Works for now. I can get the path of the sprite resources, strip off the extension, then load the style dictionary and set the "sprite" attribute to "asset://" + absolute runtime path to resource. Much better than loading from a URL.

p.s. Just in case you don't hear it often enough, you guys are doing a great job with this project!

[2015-03-30 16:22] #1123 closed

[2015-03-30 17:15] kkaefer commented on #1123
If there's anything that you think should change about the API, please create a ticket.

[2015-03-30 17:21] kkaefer opened #1157 "Retain parsed buffers when tile goes out of view"
We should retain buffers of parsed tiles even when they go out of view. While we don't need them immediately, we could use them again in the future in case the user pans/zooms back to the original location (or after the app got backgrounded). However, we should also release these resources when we get a low memory warning from the operating system (e.g. iOS) or when they are really old (other oper

[2015-03-30 17:39] picciano commented on #1123
I think there are already some open issues that capture this, but I think splitting out the sprite sheet from the style would improve things a lot. One of the most typical uses of the map would be to use an existing style, but add custom annotations. Either the style needs to be able to support multiple sprite asset sheets, or there needs to be a way to set display properties to the annotation its

[2015-03-30 17:46] 1ec5 opened #1158 "Aggressively cancel requests when zooming and panning"
A typical app will set the viewport to a specific location or the world map on launch (perhaps as a workaround for #1145) and will immediately pan and zoom to the user location. In the iOS demo app, this happens if you had user tracking enabled the last time you closed the app.

From testing the demo app on an iPhone 4s running iOS 7.1 on a cellular connection – pretty much our worse-case scenario

[2015-03-30 17:57] ansis commented on #1158
In -js we abort network requests but we don't have a way of aborting parsing. I'm guessing that native is the same. This could be huge.

[2015-03-30 18:05] incanus commented on #1152
Possibly at odds with https://github.com/mapbox/mapbox-gl-native/issues/941, depending on approach.

[2015-03-30 18:12] 1ec5 commented on #1070
We plan to distribute Mapbox GL via CocoaPods (#1030), which handles repackaging the library as a dynamic framework when `use_frameworks!` is specified (required for Swift usage). That unblocks #929, so we could in principle ship with an inspectable and designable `MGLMapView` today. However, we need `accessToken` to be KVO-compliant and trigger a refresh (without hitting #1147) in order to provid

[2015-03-30 18:16] jfirebaugh commented on #1158
I'll take a look at this.

[2015-03-30 18:31] incanus opened #1159 "higher-level pre-made styles API"
Summarizing voice with @samanpwbb about making tighter the connection between styles online and styles in the mobile app.

Whether the user pre-bundles styles with an app as local assets or wants to refer to hosted styles, the interactions should be at the **map ID** level. Currently we've been doing this not at this level:

1. C++: At the [style URL level](https://github.com/mapbox/mapbox-gl-nati

[2015-03-30 18:43] jfirebaugh commented on #1159
Agree. #892 covers the C++ side of this (supporting `mapbox://<style ID>` URLs).

[2015-03-30 18:58] incanus opened #1160 "coordinate conversion incorrect during animated zooms"
Discovered in https://github.com/mapbox/mapbox-gl-native/issues/1125, when the map is zooming animated (like say after a double-tap zoom in), the geo-to-viewport conversions are vastly out of range, leading to a disappearing user dot until the animation is complete.

You can confirm this with the following [patch](https://gist.github.com/incanus/742ddb29a13b60335641) against https://github.com/map

[2015-03-30 18:58] incanus commented on #1125
Main blocker here now captured in the more general https://github.com/mapbox/mapbox-gl-native/issues/1160 bug with projection conversion.

[2015-03-30 18:59] bleege commented on #892
Tagging for notifications @bleege @incanus

[2015-03-30 19:01] incanus commented on #892
I'm going to take a look at this.

[2015-03-30 20:13] 1ec5 commented on #1003
@mb12, I still can’t reproduce the issue on master (iOS 8.3 iPhone 6 Simulator, iOS 8.2 iPhone 5 Simulator, iOS 8.2 iPhone 6):

![push](https://cloud.githubusercontent.com/assets/1231218/6905618/136db5a6-d6de-11e4-9f8f-e27722796842.gif)

Can you share the code you’re working with?

[2015-03-30 20:33] mb12 commented on #1003
I've the following code in the UIViewController:

- (void)viewDidAppear:(BOOL)animated {
     [_mglMapView triggerUpdate];
}

triggerUpdate is just a wrapper around Map::triggerUpdate in MGLMapView.

-(void) triggerUpdate {
    if(mbglMap) {
        mbglMap->triggerUpdate();
    }
}

[2015-03-30 20:43] mb12 commented on #1003
This bug is fixed in the latest repo. Latest MGLMapView uses drawInRect to call renderSync from drawInRect:.
I've an old repo where the bug reproduces because renderSync in missing from drawInRect:.

Thank you very much for following up on this and fixing it properly.

[2015-03-30 20:44] 1ec5 commented on #1003
Good to hear it’s working now!

[2015-03-30 20:44] #1003 closed

[2015-03-30 21:45] 1ec5 commented on #1070
This is definitely blocked on #1147.

[2015-03-30 22:49] bleege opened #1162 "Record App Bundle Identifier"
Add `appBundleIdentifier` to Metrics data model.

cc @willwhite @mikemorris

[2015-03-30 23:00] jfirebaugh commented on #1158
It looks like we do have a mechanism to cancel requests (`Environment::cancelRequest`). One of routes where it gets called starts [here](https://github.com/mapbox/mapbox-gl-native/blob/3ed1e7a695491120020e00ff3dc7926dba71834e/src/mbgl/map/source.cpp#L366), but in my tests that's essentially dead code. The referent `TileData`s of the `weak_ptr`s in the `tile_data` map are always gone by the time th

[2015-03-30 23:23] mb12 commented on #1158
Does Envirnoment::cancelRequest cancel both of the following:
1.) Network request
2.) Tile Parsing. (The individual bucket creation code needs to have tileParser.obsolete() check embedded for this to be cancelled). It only happens at the very end in createXXXXBucket. It needs to happen within the guts of this logic.

Can you add a debug log  that prints the following times (Maybe its already there

[2015-03-30 23:44] #892 closed

[2015-03-31 00:27] mb12 commented on #1158
@jfirebaugh Can you please also review the code to reason how the following scenario is handled?

1.) More than 4 tiles are loaded from sqlite cache and get enqueued for parsing.
2.) These tiles than become obsolete due to zoom/pan.
3.) The work requests for obsolete tiles should either not run or get off the work queue fast.

[2015-03-31 00:41] jfirebaugh commented on #1158
Yeah, there is no mechanism for canceling a queued or in-progress tile parse right now. I'm looking into that next.

[2015-03-31 06:57] incanus commented on #1159
We have C++ support in https://github.com/mapbox/mapbox-gl-native/pull/1161 and Cocoa API support in https://github.com/mapbox/mapbox-gl-native/pull/1163. This whole API area is still a bit soft, so let's close for until we shore up which ways we'll set styles and which ways we'll cut, then port that to Android.

[2015-03-31 06:57] #1159 closed

[2015-03-31 12:27] kkaefer opened #1164 "Fix tile parsing performance regression"
50b5c1565366e223bf657d68ddac70b25ad13bcf introduced a performance regression for tile parsing, which slowed down parsing by ~50%. More information in https://github.com/mapbox/mapbox-gl-native/commit/50b5c1565366e223bf657d68ddac70b25ad13bcf#commitcomment-10491046

[2015-03-31 15:24] bleege commented on #1162
Travis Approved!

[2015-03-31 15:24] #1162 closed

[2015-03-31 16:26] incanus commented on #1123
Yeah, https://github.com/mapbox/mapbox-gl-native/issues/941 is the canonical spot for user-provided sprite imagery at runtime. It wasn't yet on my radar to think about vectors, just bitmaps, but stay tuned as we build that out.

[2015-03-31 16:55] 1ec5 commented on #1147
#1163 just compounds the fact that we have too many ways to populate `MGLMapView` with a style:

* `accessToken` → default bundled style
* `styleJSON`
* Bundled style name
* `accessToken` + `styleURL` (in two flavors)
* and we’ll need a separate `styleID` for IB users to input Mapbox style IDs, since you can’t have a user-defined runtime attribute of type `NSURL`

Each of these ways complicates my

[2015-03-31 16:59] incanus commented on #1147
We are getting rid of:

* Passing style JSON
* Naming a bundled style

And I think we should keep the IB interaction to just map ID for simplicity & not have to cover every use case.

[2015-03-31 17:00] 1ec5 commented on #1147
OK, since my refactoring mucks around with both APIs, I’m going to tackle removing them along the way.

[2015-03-31 18:19] jfirebaugh commented on #1164
Is something like 8ab423f5cf4a64f16393e22630f680a46afbf352 too simplistic? Before we were caching a `std::map<std::string, Value>` once the feature passed the filter, but it could be that a linear search through a contiguous pbf buffer is plenty fast.

[2015-03-31 19:12] incanus opened #1166 "check out NSURLSession for metrics"
We use `NSURLConnection` for metrics now, but we should check out `NSURLSession`, which is what we use for [all the other](https://github.com/mapbox/mapbox-gl-native/blob/1bb04ce65b4bb070b5df9e860e85123634a41184/platform/darwin/http_request_nsurl.mm#L95-L100) Darwin (OS X / iOS) HTTP requests. Sessions give you the ability to intelligently manage groups of connections, so settings things like user

[2015-03-31 21:03] incanus commented on #1090
https://github.com/mapbox/mapbox-gl-native/commit/32aa865f14ed2a3ac66168cbf860b2c02f3da2fa#diff-f81f76925d5de55e6fccd785368ac9e4 caught this.

[2015-03-31 21:03] #1090 closed

[2015-03-31 21:05] incanus commented on #107
Obsolete.

[2015-03-31 21:05] #107 closed

[2015-03-31 21:10] incanus commented on #658
Canonical spot for this is now https://github.com/mapbox/mapbox-gl-native/issues/1140.

[2015-03-31 21:10] #658 closed

[2015-03-31 21:10] incanus commented on #173
Old.

[2015-03-31 21:10] #173 closed

[2015-03-31 21:11] incanus commented on #154
We have this, right @kkaefer @mikemorris?

[2015-03-31 21:11] jfirebaugh commented on #1158
There is actually a mechanism for canceling tile parsing, but only at certain points (once per layer in the style).

There's a lot of refactoring that should happen here, but I don't see any easy wins. Going to jump off this for now.

[2015-03-31 21:17] incanus commented on #1023
I think this is obsolete now with the recent `MapData` work bringing stability to style switching.

[2015-03-31 21:17] #1023 closed

[2015-03-31 21:22] incanus commented on #1051
Confirmed this isn't happening anymore.

[2015-03-31 21:22] #1051 closed

[2015-03-31 21:24] incanus commented on #1017
This was done in https://github.com/mapbox/mapbox-gl-native/commit/af0c89c2aaad85268af88bfa15a61e27352e1295.

[2015-03-31 21:24] #1017 closed

[2015-03-31 21:25] incanus commented on #830
Related: https://github.com/mapbox/mapbox-gl-native/issues/880

[2015-03-31 21:26] incanus commented on #900
Yes, this API now supports both regular HTTP URLs as well as `mapbox://user.style` map IDs.

[2015-03-31 21:36] mikemorris commented on #900
What I was asking is if it supports the refactored `FileSource` interface @incanus, such that when used with Node.js bindings I can plug in a custom `FileSource` rather than having something like `curl` baked in.

[2015-03-31 21:39] mikemorris commented on #154
Yea, but now we want to merge Static and Continuous mode.

[2015-03-31 21:39] #154 closed

[2015-03-31 21:57] jfirebaugh commented on #1078
⇢ #1139.

[2015-03-31 21:57] #1078 closed

[2015-03-31 22:06] 1ec5 commented on #1023
Yes, it was fixed by that work.

[2015-04-01 00:38] incanus commented on #830
Woo, the return of iOS tests!

![anigif-1427848638](https://cloud.githubusercontent.com/assets/17722/6932327/980da9f8-d7cc-11e4-8d94-a3bf4862b46e.gif)

[2015-04-01 08:53] kristfal opened #1169 "iOS API equivalents of -js APIs"
Hello,

probably more of a question rather than an issue, feel free to close it if it's in the wrong place.

Been working with the -js client for a while (which is really awesome), and has just started looking at the native iOS client.

Do the native client support altering layers on the fly in a [similar fashion to the -js](https://github.com/mapbox/mapbox-gl-js/blob/617e590c833040407508606b9dbda

[2015-04-01 10:02] martinnormark commented on #1169
I have successfully added layers using a recent version of master using the [style methods](https://github.com/mapbox/mapbox-gl-native/blob/2b6afe6a549284a862d0231653d2183d57a5b496/platform/ios/MGLMapView.mm#L928-L940).

You have to be familiar with the [style spec](https://www.mapbox.com/mapbox-gl-style-spec/) and first add your map ID to [`sources`](https://github.com/mapbox/mapbox-gl-styles/blo

[2015-04-01 10:06] kkaefer commented on #1164
This seems to completely fix the performance regression.

[2015-04-01 10:14] kkaefer commented on #1169
We'll add an explicit API for altering styles eventually. Duplicate of #837.

[2015-04-01 10:14] #1169 closed

[2015-04-01 10:19] kkaefer commented on #1125
FWIW, I think we should get rid of overlaying iOS views onto the Map and instead render everything ourselves. Apple recommends against doing this as well: https://developer.apple.com/library/ios/documentation/3DDrawing/Conceptual/OpenGLES_ProgrammingGuide/Performance/Performance.html#//apple_ref/doc/uid/TP40008793-CH105-SW8

[2015-04-01 13:38] kkaefer opened #1170 "Remove usage of stringstream for line dash atlas"
The current implementation of `LineAtlas::getDashPosition` uses STL stringstream to build a string of the float land/gap values to use as a lookup key. This is really slow on iOS. This patch changes the key from a string to a cumulative hash of all floats.

Before (10 seconds of forced rendering):

![instruments 2015-04-01 15-34-36](https://cloud.githubusercontent.com/assets/52399/6942006/a124bbb8

[2015-04-01 14:42] kkaefer opened #1171 "Use more auto"
In some locations, our iterators created copies of the iterated elements since the loop variable type didn't match the iterator value type. This patch replaces them with `auto` so they're deduced automatically. It also changes lots of other occurrences that had the correct type.

[2015-04-01 15:55] kkaefer opened #1172 "Use hash instead of string key when merging lines"
In the vein of #1170, but for `merge_lines.cpp`.

[2015-04-01 16:27] incanus commented on #1125
Right, but I direct your attention back to https://github.com/incanus/AniAnnoDemo and what needs to happen to make this work :-) The thing I'm most uncertain about is syncing frames of animation from native views into GL. Maybe it's not as terrible as I'm imagining though.

[2015-04-01 16:44] mb12 opened #1173 "icon-rotate incorrectly added as both layout and paint property."
It looks like icon-rotate is incorrectly added as a paint property in style_parser.cpp.  If it is supposed to be a paint property as well, can you please clarify what its intended to do at rendering time? The paint part is NYI.

Also is it safe to use the same PropertyKey for layout and symbol properties (in this case Key::IconRotate)?

[2015-04-01 22:05] incanus commented on #1121
Ha, this was a sprite size specification miscomm between @peterqliu and I. Check out old vs. new, where new specifies that the marker was twice as tall, encompassing the blank space at the bottom like Maki markers do, so that the point of the marker is in the image center:

![anigif-1427925807](https://cloud.githubusercontent.com/assets/17722/6953766/5bf987fc-d880-11e4-9c43-70671882d1aa.gif)

The

[2015-04-01 22:07] incanus commented on #1121
Slider quick-zooming test code for later: https://gist.github.com/incanus/5638f2466416b9c4ed57

[2015-04-01 22:47] jfirebaugh commented on #1121
Hmm, are you saying that we changed the marker image to contain blank space at the bottom? Let's not do that -- it was a mistake in our markers API / mapbox.js that we shouldn't repeat.

[2015-04-01 22:50] incanus commented on #1121
We then need to communicate a marker offset in the sprite JSON back to the code so that it knows how to place the marker — its style is created [on-the-fly in code](https://github.com/mapbox/mapbox-gl-native/blob/6d1f5aa68ca1dcef05678313404861178e92854a/src/mbgl/style/style_parser.cpp#L40-L69) and we shouldn't require the user to specify an offset at runtime when they specify an image. It makes an

[2015-04-01 23:01] 1ec5 commented on #929
![untokenized](https://cloud.githubusercontent.com/assets/1231218/6954590/4a364d4a-d888-11e4-840b-4801c497a924.png)
![tokenized](https://cloud.githubusercontent.com/assets/1231218/6954592/4c7b42ae-d888-11e4-85f6-b8530969556c.png)

[2015-04-01 23:36] jfirebaugh commented on #1121
I don't think a sprite JSON property is required -- the intended way to do this type of relative positioning of symbol icons is via the style properties `icon-translate` and `icon-translate-anchor: viewport`. Can you ticket this as a post-beta 1 issue?

[2015-04-01 23:54] incanus commented on #1121
My point is twofold:

1. Specifying style properties at runtime for each marker is awkward when the imagery is already put into the sprite sheet statically before runtime. For b1 we are telling the user to add a marker and specify e.g. `default_marker` as the marker to use at runtime. We don't also want them to have to know anything in code about the translation properties of this image and/or pas

[2015-04-01 23:57] friedbunny commented on #929
Very nice. :metal:

[2015-04-02 00:04] jfirebaugh commented on #1121
:+1:, makes sense. Thanks for the explanation.

[2015-04-02 00:23] incanus commented on #1121
Fixed in @peterqliu's Emerald sprite update in 523295af7eb591b364fa721191cd96a031106914.

[2015-04-02 00:23] #1121 closed

[2015-04-02 00:29] mb12 commented on #1125
@incanus Perhaps, we should try posting the synchronization problem to Apple developer forums and/or use the 3  incidents that Apple includes in developer support. Apple is already doing this for Mapkit. Its a problem that they have already solved. It would make writing all kind of Map overlays super easy.

https://developer.apple.com/devforums/

[2015-04-02 00:48] incanus commented on #1125
http://stackoverflow.com/a/17096916/977220

I'm intending to dig deep when the time comes for this, but right now the user dot is syncing well and we just need the bug fix in https://github.com/mapbox/mapbox-gl-native/issues/1160 for a workable version right now.

From the POV of annotations, after shapes, this will be my next priority.

[2015-04-02 00:52] incanus commented on #1160
@jfirebaugh This could use some :eyes: if you've any bandwidth.

[2015-04-02 15:26] bleege opened #1178 "Fix "location" Metric"
`location` accidentally got changed to `Location` in the [metrics code](https://github.com/mapbox/mapbox-gl-native/blob/4518743bd6143d20640b1bdb3c16876372a2f4c3/platform/ios/MGLMapboxEvents.m#L18).  Let's change it back.

cc @camilleanne

[2015-04-02 15:43] kkaefer opened #1180 "Make responses and response data shared"
In preparation for #896

[2015-04-02 16:21] bleege commented on #1178
All done and merged @camilleanne and @mick!

[2015-04-02 16:21] #1178 closed

[2015-04-02 16:57] 1ec5 opened #1181 "Cannot set zoom immediately after setting center coordinate"
The following code takes you to the lovely town of Emerald, Victoria, Australia:

[code]

![vic](https://cloud.githubusercontent.com/assets/1231218/6968788/3978b16e-d91e-11e4-9dba-1d2c2d28de3b.png)

But reverse the two calls and you wind up off the coast of Papua New Guinea:

[code]

![png](https://cloud.githubusercontent.com/assets/1231218/6968792/3d8289f6-d91e-11e4-9415-6084003b92b2.png)

`-[MGL

[2015-04-02 17:03] incanus commented on #1181
Yep, we had this problem in the iOS SDK and I've been seeing it in testing.

[2015-04-02 17:27] picciano opened #1182 "iOS: Heading from delegate method is always 0"
In my implementation of the delegate method:

 `- (void)mapView:(MGLMapView *)mapView didUpdateUserLocation:(MGLUserLocation *)userLocation`

`userLocation.heading.trueHeading` is always `0.00000` no matter which direction the phone is moving.

[2015-04-02 17:29] picciano opened #1183 "iOS: Follow With Heading tracking mode is being reset after next location update"
I am setting the `userTackingMode` to `MGLUserTrackingModeFollowWithHeading`

After the first location update, the tracking mode is being reset to `MGLUserTrackingModeNone` and the map no longer tracks to the user's location.

[2015-04-02 17:30] incanus commented on #1182
Weird, the code looks hooked up. Will confirm.

[2015-04-02 17:31] 1ec5 commented on #1183
Dupe of #1145. The workaround is to set a valid coordinate before setting the user tracking mode.

[2015-04-02 17:33] picciano commented on #1182
Could be related to #1183. When using MGLUserTrackingModeFollowWithHeading, the tracking mode is getting reset.

[2015-04-02 17:41] picciano commented on #1183
This might be little different. I am not doing this at startup and I am setting a center location for the map. I will reword the title to make more sense.

[2015-04-02 19:21] friedbunny commented on #1181
(Your description is clear, but the code example isn't actually reversed.)

[2015-04-02 19:59] bleege opened #1185 "Add Events True Query String Variable To Requests"
Append `events=true` query string variable to all HTTP Tile Requests if metrics are being recorded in the app.

cc @mick @willwhite @mapbox/mobile

[2015-04-02 20:00] picciano opened #1186 "iOS Crash MGLMapView.mm line 554"
Version.txt is reporting version 9dae9cf06e
Unfortunately, I cannot detect a specific action causing this.

![screen shot 2015-04-02 at 1 57 26 pm](https://cloud.githubusercontent.com/assets/417933/6972352/731d1410-d940-11e4-891d-d783c6214d6f.png)

[2015-04-02 20:26] robipresotto commented on #1186
i got it everyday too

[code]

[2015-04-02 20:36] ansis commented on #1139
Large parts of this are ported: https://github.com/mapbox/mapbox-gl-native/tree/new-labelling

It's working (without rotation).

- [ ] redo placement when map rotates
- [ ] optimize getGlyphQuads in -js and then port that
- [ ] reparse overscaled tiles to get better density at high zooms https://github.com/mapbox/mapbox-gl-native/issues/912
- [ ] port tests

Redoing placement when map rotates look

[2015-04-02 20:45] 1ec5 commented on #1181
Nice catch, @friedbunny! Fixed.

[2015-04-02 21:57] bleege commented on #1185
Merged!

[2015-04-02 21:57] #1185 closed

[2015-04-02 22:09] incanus opened #1189 "enable auto-upload of CocoaPods-ready build to S3"
Since we have a `MapboxGL.podspec` again which is [looking on S3 for a download](https://github.com/mapbox/mapbox-gl-native/blob/7c05f941a8c001ad770a79fc2ae59093d0dcdcd2/ios/MapboxGL.podspec#L14), we should have Travis stick something up there for it on each commit.

Over in https://github.com/mapbox/mapbox-gl-native/pull/1168 I am next working on uploading test failure screenshots to S3 for perus

[2015-04-02 22:19] 1ec5 commented on #828
We already have Swift support because CocoaPods repackages the static library inside a framework.

[2015-04-02 22:20] incanus commented on #828
Good clarification.

[2015-04-02 22:59] friedbunny opened #1190 "Metrics: Location anonymization on-device"
My proposal is to do as much anonymization as possible on-device, only sending the least intrusive (but still viable) location data to Mapbox servers.

Doing this on-device would have privacy benefits for the user and would demonstrate in the open (i.e., source) what steps Mapbox is taking to that end. The metrics platform hasn't launched and I'm sure there have been reams of internal discussion a

[2015-04-02 23:37] jfirebaugh opened #1191 "use setGestureInProgress()"
Android SDK should call `setGestureInProgress(true)` when a gesture begins and `setGestureInProgress(false)` when it ends. This is used to enable/disable texture interpolation:

Without `setGestureInProgress()`:

![](http://g.recordit.co/l1av82ToiD.gif)

With `setGestureInProgress()`:

![](http://g.recordit.co/7pJwpozCL6.gif)

Note how the icon doesn't jump between pixels but rather moves graduall

[2015-04-02 23:38] #79 closed

[2015-04-02 23:38] #126 closed

[2015-04-03 00:10] jfirebaugh commented on #490
Stale.

[2015-04-03 00:10] #490 closed

[2015-04-03 00:11] jfirebaugh commented on #535
Haven't seen this issue recently.

[2015-04-03 00:11] #535 closed

[2015-04-03 00:13] jfirebaugh commented on #637
This should be fixed by #1155.

[2015-04-03 00:13] #637 closed

[2015-04-03 00:14] #825 closed

[2015-04-03 00:16] jfirebaugh commented on #850
Done in #1175.

[2015-04-03 00:16] #850 closed

[2015-04-03 00:19] #181 closed

[2015-04-03 00:30] ansis commented on #248
removed in https://github.com/mapbox/mapbox-gl-native/pull/769

[2015-04-03 00:30] #248 closed

[2015-04-03 00:31] ansis commented on #247
removed in https://github.com/mapbox/mapbox-gl-native/pull/769

[2015-04-03 00:31] #247 closed

[2015-04-03 15:20] bleege opened #1195 "Add Speed And Course To Location Event Metric"
Add [`speed`](https://developer.apple.com/library/ios/documentation/CoreLocation/Reference/CLLocation_Class/index.html#//apple_ref/occ/instp/CLLocation/speed) and [`course`](https://developer.apple.com/library/ios/documentation/CoreLocation/Reference/CLLocation_Class/index.html#//apple_ref/occ/instp/CLLocation/course) as attributes to `location` event.

cc @sbma44

[2015-04-03 16:02] 1ec5 commented on #1041
Looks like `-[CLLocation speed]` and `-[CLLocation course]` will be of use here.

[2015-04-03 16:16] robipresotto commented on #1071
+1 (4G connection)

[code]

[2015-04-03 16:20] mikemorris commented on #1041
Perfect opportunity for implementation of techniques from video games here. Valve has published some great work on this. [I've previously implemented entity interpolation in JavaScript](https://github.com/nclud/2013.beercamp.com/blob/master/game/core/types/Entity.js#L185-L241) (mostly transliterating from Valve's C++ examples) and would be happy to help with this if needed.
- https://developer.val

[2015-04-03 16:26] mikemorris commented on #1041
There are two different ways to implement this:
- "dead reckoning"
  - Optimistically assume that an entity will continue traveling on it's current trajectory and velocity, retroactively correcting as necessary.
  - This works well for bullets, does not work well for less predictable actions like player movement (can cause "lag skipping" all over the screen in high latency conditions).
- "entity i

[2015-04-03 16:31] picciano opened #1197 "iOS Crash going into background"
I am seeing a few crashes when the app goes into background mode.

![screen shot 2015-04-03 at 10 29 29 am](https://cloud.githubusercontent.com/assets/417933/6985085/9015e6c6-d9ec-11e4-8c7e-c20bc183f513.png)

[2015-04-03 16:37] bleege commented on #1195
Merged @camilleanne @mick @edenh

[2015-04-03 16:37] #1195 closed

[2015-04-03 16:38] #1181 closed

[2015-04-03 17:48] mb12 opened #1198 "Crash while scrolling in presentRenderbuffer"
I don't have the exact steps to reproduce this crash. The following may/may not be useful:

1.) I never  moved the app to background when this crash occured.  So this has nothing to do with mbgl::Map::stop.
2.) I see this randomly while scrolling on an iPhone 5s (running OS 8.xxx).
3.) I've never seen this on iPhone 4S(running 7.xxxx)

[code]

[2015-04-03 18:29] friedbunny opened #1199 "Heading-tracking mode takes the long way around"
When using `MGLUserTrackingModeFollowWithHeading`, rotating the device several degrees around due south causes the map to go the wrong way to get there.

![rotation-bug](https://cloud.githubusercontent.com/assets/1198851/6986644/27ee0436-d9f4-11e4-9f96-e475bf6e038b.gif)

[2015-04-03 18:53] friedbunny commented on #1199
The headings from [`[MGLMapView locationManager:didUpdateHeading:]`](https://github.com/mapbox/mapbox-gl-native/blob/c253232473b82c5e3ae2fcb937301581c89bab50/platform/ios/MGLMapView.mm#L1870) are good.

[code]

[2015-04-03 20:22] #929 closed

[2015-04-03 20:22] #1070 closed

[2015-04-03 20:22] #1147 closed

[2015-04-03 20:42] friedbunny commented on #1199
[`Transform::_setAngle`](https://github.com/mapbox/mapbox-gl-native/blob/12c07b916b106272ba68f0fc85a10b774fd07a50/src/mbgl/map/transform.cpp#L326-L360) is trying to interpolate between negative and positive angles, where headings > 180º become negative angles.

[code]

[2015-04-03 20:53] jfirebaugh commented on #1160
Is it possible this was caused by the same issue as #1181?

[2015-04-03 20:54] incanus commented on #1160
I tested this morning after merge just to be sure, and no.

[2015-04-03 21:23] incanus commented on #836
Related to this, with the recent addition of `-[MGLMapView setMapID:]`, folks will probably expect SDK-style raster layers to work easily.

[2015-04-03 22:18] ansis opened #1202 "less sequential bucket parsing"
From what I can tell -native parses all buckets in order. It only finds out it needs glyphs when it starts parsing the bucket that needs them. While loading glyphs it blocks all other buckets.

In -js bucket parsing is less sequential:
- it starts downloading missing glyphs asap instead of waiting to reach the bucket
- it can parse other buckets while waiting for glyphs to download

https://github

[2015-04-03 22:20] mb12 opened #1203 "open gl error when moving back from UIViewController while scrolling is on."
The following steps reproduce this error reasonably consistently.

1. Flick to start an animated scroll.
2. Switch/Push a  new UIViewController.
3. Tap on back button before scroll finishes.

It doesn't happen if one lets the scroll finish before pressing back button. Is the error happening because:

- Map thread is still animating (doing gl Calls)
- UI Thread calling renderbufferStorageFromDrawab

[2015-04-03 22:30] mb12 commented on #1202
@ansis  What is wrong with this approach? For western languages this would just mean a single request for range 0-255.  After that no requests will be made.
Does js start rendering fill and line buckets even before all symbol buckets are ready?

[2015-04-03 23:05] ansis commented on #1202
@mb12 You're right that it might not be that significant. The benefits might not be worth the complexity this would add. If it isn't worth it, we should change -js to more sequential parsing.

Yes, but areas with glyphs in many ranges often need to download new glyph ranges for new tiles. Since the ranges are cached, less sequential loading would only help the first time.

No, but if it can downlo

[2015-04-04 00:06] mb12 commented on #1203
The issue is that transitions/animations do not conform to the setNeedsDisplay -> drawInRect  -> triggerSync cycle.

If any transitions are left, render schedules another update -> render cycle and unblocks the main thread.   To fix it properly transitions need to go through setNeedsDisplay -> drawInRect  -> triggerSync cycle. Otherwise this will create random crashes because main thread can poten

[2015-04-04 17:03] friedbunny commented on #1182
As long as `MGLUserTrackingModeFollowWithHeading` is enabled (which, as you said, is not entirely reliable yet) I see all the expected heading information in the delegate method:

[code]

[2015-04-04 18:26] friedbunny commented on #1183
@picciano In what order are you setting everything and at what base zoom level? There are a lot of landmines in the various `setZoomLevel` or `setCenterCoordinate` methods that will reset to `MGLUserTrackingModeNone`.

One bug that I consistently see is when any `MGLUserTrackingMode` is enabled and the user zooms beyond [`round(self.zoomLevel) >= 10`](https://github.com/mapbox/mapbox-gl-native/blo

[2015-04-06 03:22] springmeyer opened #1205 "Crash on first request"
I'm testing loading tiles into mapbox-gl-native via a http request to mapbox-studio. I'm probably doing something wrong, but reporting here because:

1) mbgl still should not crash even if an endpoint for vtiles is not responding correctly
2) I'm uncertain what the problem is, so open to idea of anyone who might have suggestions of ways to debug

I had this working for a time but now I'm getting a

[2015-04-06 03:26] springmeyer opened #1206 "Running "make run-linux" gives "KeyError: 'mbgl.gyp:headless-glx#target'""
Hitting this build error I've not seen before:

[code]

[2015-04-06 15:07] springmeyer commented on #1206
Looks like a potential fix is:

[code]

This raises the question: is it still intended that you can test the linux app on OS X? (/cc @kkaefer). For context: the reason I'm trying to run the linux app is to workaround #1205.

[2015-04-06 15:40] incanus commented on #1120
This API has gone away.

[2015-04-06 15:40] #1120 closed

[2015-04-06 15:41] incanus commented on #1091
We are in a good state with this after https://github.com/mapbox/mapbox-gl-native/pull/1132.

[2015-04-06 15:41] #1091 closed

[2015-04-06 15:48] incanus commented on #1190
Cool, thanks for the feedback. FWIW we are shooting for using the significant change API and not "normal mode", which is where `desiredAccuracy` and `distanceFilter` factor in. Still some testing to be done there but FYI.

[2015-04-06 15:50] incanus commented on #1031
We did this.

[2015-04-06 15:50] #1031 closed

[2015-04-06 15:50] incanus commented on #1049
Still seeing this @thomas-huet?

[2015-04-06 15:50] incanus commented on #1145
Pretty sure this is obsolete, but needs testing.

[2015-04-06 15:54] picciano opened #1208 "iOS: No longer able to load local Sprite resources"
I am setting a custom style in my app, as follows:

    NSString *jsonFile = [[NSBundle mainBundle] pathForResource:@"tallygo-v7" ofType:@"json"];
    NSURL *styleURL = [NSURL URLWithString:[NSString stringWithFormat:@"asset://%@", jsonFile]];
    [self.mapView setStyleURL:styleURL];

However, the sprite sheet (in the app bundle) is no longer loading. This URL was working in previous versions by i

[2015-04-06 15:54] 1ec5 commented on #1145
Still reproduces. Without setting a center coordinate, set the user tracking mode. Nothing happens.

[2015-04-06 15:56] 1ec5 commented on #1208
The asset: URL scheme looks inside MapboxGL.bundle due to #1012. To point inside your app’s main bundle, you should be able to pass in a relative or absolute path to it. Does that work for you?

[2015-04-06 15:57] picciano commented on #1208
I have tried that and it no longer seems to be working. Note that I am referring to the Sprite assets, not the style JSON. The style is loading, however, the Sprite assets are not.

[2015-04-06 16:21] incanus commented on #1125
On this front, I've been thinking about looking into routes for capture a view's layer's `presentationLayer` at a given point in time and rasterizing it to a GL render layer. That is, all tracked views atop the GL view will actually get rasterized into a single "layer" in the GL. I have no idea how feasible this is, but is the sort of approach I've been mulling over researching.

[2015-04-06 16:24] incanus commented on #706
We are also doing `SMCalloutView` (for iOS callouts) and, in the https://github.com/mapbox/mapbox-gl-native/pull/1168 PR, `KIF` for integration testing. Once the latter lands, we should just [consolidate all of these](https://github.com/mapbox/mapbox-gl-native/blob/62d780103b4bc6fe78bd754f7fb9141ead1a0dd6/Makefile#L25-L32).

[2015-04-06 16:46] incanus commented on #1108
Proper support here, including RTL and complex text shaping is a bit out of scope, so moving off of b2 milestone for now.

[2015-04-06 17:07] mb12 commented on #1190
@incanus A better way to derive this metric would be to parse tile server access logs.

[2015-04-06 17:38] picciano commented on #1183
At startup:

    // Create the map view...
    self.mapView = [[MGLMapView alloc] initWithFrame:self.view.bounds accessToken:kMapboxPublicAccessToken];
    self.mapView.showsUserLocation = YES;
    self.mapView.userTrackingMode = MGLUserTrackingModeNone;
    self.mapView.rotateEnabled = NO;
    self.mapView.delegate = self;
    [self setTallyGoStyle];
    [self.view insertSubview:self.mapView atIn

[2015-04-06 17:41] picciano commented on #1183
@friedbunny So, yes the zoom level is at 12 (set by code). MGLUserTrackingModeFollow works fine. MGLUserTrackingModeFollowWithHeading resets to MGLUserTrackingModeNone.

[2015-04-06 17:48] 1ec5 opened #1209 "Pinch in short segment of road"
Howard at Washburn, around the corner from the Mapbox SF office, is reduced to one lane on iOS but [not on mapbox-gl-js](https://www.mapbox.com/mapbox-gl-styles/#19/37.77459/-122.41369):

![road_narrows](https://cloud.githubusercontent.com/assets/1231218/7008728/16394da6-dc4a-11e4-9c07-b1c620e3a0d9.PNG)

I looked but couldn’t find a sign like this:

![](http://upload.wikimedia.org/wikipedia/common

[2015-04-06 17:55] incanus commented on #1209
![article-2458073-18b7e4f800000578-183_634x460](https://cloud.githubusercontent.com/assets/17722/7008923/7505b120-dc4b-11e4-980b-add753b67334.jpg)

[2015-04-06 18:11] 1ec5 opened #1210 "Placeholder for still-loading tile is always land"
When you pan or zoom, tiles that haven’t loaded are represented by solid land-colored tiles:

![straight-edge](https://cloud.githubusercontent.com/assets/1231218/7009133/f17c7652-dc4c-11e4-9ef2-87ca2216a09a.PNG)

This behavior makes sense on land, but not as much when you’re panning around in the ocean or in an archipelago. It would be nice if GL could know that the entire screen edge is all water

[2015-04-06 18:27] incanus commented on #1210
I think #119 probably covers this better and in a more expected way? The color BTW is `background` in the style.

[2015-04-06 18:38] 1ec5 commented on #1210
Agreed.

[2015-04-06 18:38] #1210 closed

[2015-04-06 18:40] mb12 commented on #1209
You can check if the pinch happens only for Emerald style or other styles as well. If it only happens on Emerald, then its a client rendering issue and not a data issue.

[2015-04-06 18:43] 1ec5 commented on #1209
Good point. Moved to mapbox/mapbox-gl-styles#89.

[2015-04-06 18:43] #1209 closed

[2015-04-06 19:19] bleege opened #1212 "Update LocationManager Properties"
Rely on iOS defaults for `desiredAccuracy` and `pausesLocationUpdatesAutomatically` and set `distanceFilter` to 10 meters.

/cc @mapbox/mobile @sbma44 @TheMarex

[2015-04-06 19:46] bleege commented on #1212
Tested and Merged.

[2015-04-06 19:46] #1212 closed

[2015-04-06 20:13] bleege opened #1215 "Support SSID's Named "NONE""
`wifi` and `cellularNetworkType` currently return values of "NONE" for when either have do not have a connection at event recording time.  This could lead to confusion with SSIDs or Cellular Companies named "NONE".

Solve this by adding separate boolean metric for each to indicate connection status and return empty strings for when no data is known.

/cc @camilleanne @willwhite @sbma44 @mikemorris